# Query Sequence Analysis (RFC)

This notebook focuses on sequence analysis, when presented with a workload schedule / sequence of queries. In an average day to day work activity, particular query patterns can be discerned. This pattern distinction allows us to discern which queries will be susceptible to execution over time, allowing us to know ahead of time which queries will be executed against the database.

## Data Preprocessing

### Module Installation and Importing Libraries

In [32]:
# scipy
import scipy as sc
print('scipy: %s' % sc.__version__)
# numpy
import numpy as np
print('numpy: %s' % np.__version__)
# matplotlib
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot
# pandas
import pandas as pd
print('pandas: %s' % pd.__version__)
# scikit-learn
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score
import sklearn as sk
print('sklearn: %s' % sk.__version__)
import math

scipy: 1.1.0
numpy: 1.15.2
pandas: 0.23.4
sklearn: 0.19.0

### Configuration Cell

Tweak parametric changes from this cell to influence outcome of experiment. 
NB: This experiment demonstrates at time  step = 1 (1 minute in advance). Further down in experiment, other timestep results are also featured and evaluated.

In [33]:
#
# Experiment Config
tpcds='TPCDS1' # Schema upon which to operate test
lag=3 # Time Series shift / Lag Step. Each lag value equates to 1 minute. Cannot be less than 1
if lag < 1:
    raise ValueError('Lag value must be greater than 1!')
#
test_split=.2 # Denotes which Data Split to operate under when it comes to training / validation
#
# Forest Config
parallel_degree = 4
n_estimators = 500
max_depth = 7
criterion='gini'

### Read data from file into Pandas Dataframes

In [34]:
#
# Open Data
rep_hist_snapshot_path = 'C:/Users/gabriel.sammut/University/Data_ICS5200/Schedule/' + tpcds + '/v2/rep_hist_snapshot.csv'
#rep_hist_snapshot_path = 'D:/Projects/Datagenerated_ICS5200/Schedule/' + tpcds + '/v2/rep_hist_snapshot.csv'
#
rep_hist_snapshot_df = pd.read_csv(rep_hist_snapshot_path)
#
def prettify_header(headers):
    """
    Cleans header list from unwated character strings
    """
    header_list = []
    [header_list.append(header.replace("(","").replace(")","").replace("'","").replace(",","")) for header in headers]
    return header_list
#
rep_hist_snapshot_df.columns = prettify_header(rep_hist_snapshot_df.columns.values)
#
print(rep_hist_snapshot_df.columns.values)

['SNAP_ID' 'DBID' 'INSTANCE_NUMBER' 'SQL_ID' 'PLAN_HASH_VALUE'
 'OPTIMIZER_COST' 'OPTIMIZER_MODE' 'OPTIMIZER_ENV_HASH_VALUE'
 'SHARABLE_MEM' 'LOADED_VERSIONS' 'VERSION_COUNT' 'MODULE' 'ACTION'
 'SQL_PROFILE' 'FORCE_MATCHING_SIGNATURE' 'PARSING_SCHEMA_ID'
 'PARSING_SCHEMA_NAME' 'PARSING_USER_ID' 'FETCHES_TOTAL' 'FETCHES_DELTA'
 'END_OF_FETCH_COUNT_TOTAL' 'END_OF_FETCH_COUNT_DELTA' 'SORTS_TOTAL'
 'SORTS_DELTA' 'EXECUTIONS_TOTAL' 'EXECUTIONS_DELTA'
 'PX_SERVERS_EXECS_TOTAL' 'PX_SERVERS_EXECS_DELTA' 'LOADS_TOTAL'
 'LOADS_DELTA' 'INVALIDATIONS_TOTAL' 'INVALIDATIONS_DELTA'
 'PARSE_CALLS_TOTAL' 'PARSE_CALLS_DELTA' 'DISK_READS_TOTAL'
 'DISK_READS_DELTA' 'BUFFER_GETS_TOTAL' 'BUFFER_GETS_DELTA'
 'ROWS_PROCESSED_TOTAL' 'ROWS_PROCESSED_DELTA' 'CPU_TIME_TOTAL'
 'CPU_TIME_DELTA' 'ELAPSED_TIME_TOTAL' 'ELAPSED_TIME_DELTA' 'IOWAIT_TOTAL'
 'IOWAIT_DELTA' 'CLWAIT_TOTAL' 'CLWAIT_DELTA' 'APWAIT_TOTAL'
 'APWAIT_DELTA' 'CCWAIT_TOTAL' 'CCWAIT_DELTA' 'DIRECT_WRITES_TOTAL'
 'DIRECT_WRITES_DELTA' 'PLSEXEC_TIME_TOTAL' 'PLSEXEC_TIME_DELTA'
 'JAVEXEC_TIME_TOTAL' 'JAVEXEC_TIME_DELTA' 'IO_OFFLOAD_ELIG_BYTES_TOTAL'
 'IO_OFFLOAD_ELIG_BYTES_DELTA' 'IO_INTERCONNECT_BYTES_TOTAL'
 'IO_INTERCONNECT_BYTES_DELTA' 'PHYSICAL_READ_REQUESTS_TOTAL'
 'PHYSICAL_READ_REQUESTS_DELTA' 'PHYSICAL_READ_BYTES_TOTAL'
 'PHYSICAL_READ_BYTES_DELTA' 'PHYSICAL_WRITE_REQUESTS_TOTAL'
 'PHYSICAL_WRITE_REQUESTS_DELTA' 'PHYSICAL_WRITE_BYTES_TOTAL'
 'PHYSICAL_WRITE_BYTES_DELTA' 'OPTIMIZED_PHYSICAL_READS_TOTAL'
 'OPTIMIZED_PHYSICAL_READS_DELTA' 'CELL_UNCOMPRESSED_BYTES_TOTAL'
 'CELL_UNCOMPRESSED_BYTES_DELTA' 'IO_OFFLOAD_RETURN_BYTES_TOTAL'
 'IO_OFFLOAD_RETURN_BYTES_DELTA' 'BIND_DATA' 'FLAG' 'CON_DBID' 'CON_ID'
 'SQL_TEXT' 'COMMAND_TYPE' 'STARTUP_TIME' 'BEGIN_INTERVAL_TIME'
 'END_INTERVAL_TIME' 'FLUSH_ELAPSED' 'SNAP_LEVEL' 'ERROR_COUNT'
 'SNAP_FLAG' 'SNAP_TIMEZONE']

### Changing Matrix Shapes

Changes dataframe shape, in an attempt to drop all numeric data. Below's aggregated data is done so on:
* SNAP_ID
* INSTANCE_NUMBER
* DBID
* SQL_ID

In [35]:
print("Shape Before Aggregation: " + str(rep_hist_snapshot_df.shape))
#
# Group By Values by SNAP_ID , sum all metrics (for table REP_HIST_SNAPSHOT) and drop all numeric
df = rep_hist_snapshot_df.groupby(['SNAP_ID'])['SQL_ID'].apply(list).reset_index()
#
print("Shape After Aggregation: " + str(df.shape))
print(type(df))
print(df.head(100))

Shape Before Aggregation: (2230, 90)
Shape After Aggregation: (27, 2)
<class 'pandas.core.frame.DataFrame'>
    SNAP_ID                                             SQL_ID
0     37137  [03ggjrmy0wa1w, 0aq14dznn91rg, 0f60bzgt9127c, ...
1     37138  [06dymzb481vnd, 13a9r2xkx1bxb, 14f5ngrj3cc5h, ...
2     37139  [01d5n1nm17r2h, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
3     37140  [04kug40zbu4dm, 06g9mhm5ba7tt, 0y080mnfaqk3u, ...
4     37141  [06dymzb481vnd, 0y080mnfaqk3u, 0y080mnfaqk3u, ...
5     37142  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
6     37143  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
7     37144  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
8     37145  [06g9mhm5ba7tt, 0kcbwucxmazcp, 0kkhhb2w93cx0, ...
9     37146  [06g9mhm5ba7tt, 0hhmdwwgxbw0r, 0kcbwucxmazcp, ...
10    37147  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
11    37148  [01tp87bk1t2zv, 06dymzb481vnd, 0a08ug2qc1j82, ...
12    37149  [01tp87bk1t2zv, 06dymzb481vnd, 0kcbwucxmazcp, ...
13    37150  [06g9mhm5ba7tt, 0kcbwucxmazcp, 0kkhhb2w93cx0, ...
14    37151  [06g9mhm5ba7tt, 09vrdx888wvvb, 0a7q9v9nd2qc1, ...
15    37152  [03ggjrmy0wa1w, 0aq14dznn91rg, 0f60bzgt9127c, ...
16    37153  [01tp87bk1t2zv, 06dymzb481vnd, 130r442w3nfny, ...
17    37154  [0qbzfjt00pbsx, 0w26sk6t6gq98, 0y080mnfaqk3u, ...
18    37155  [01tp87bk1t2zv, 06dymzb481vnd, 0jj0ct4x4gy27, ...
19    37156  [01tp87bk1t2zv, 06dymzb481vnd, 0y080mnfaqk3u, ...
20    37157  [01tp87bk1t2zv, 06dymzb481vnd, 0kcbwucxmazcp, ...
21    37158  [0kcbwucxmazcp, 0kkhhb2w93cx0, 0v3dvmc22qnam, ...
22    37159  [01d5n1nm17r2h, 0kkhhb2w93cx0, 0w26sk6t6gq98, ...
23    37160  [01tp87bk1t2zv, 04kug40zbu4dm, 06dymzb481vnd, ...
24    37161  [01d5n1nm17r2h, 01tp87bk1t2zv, 04kug40zbu4dm, ...
25    37162  [01tp87bk1t2zv, 04kug40zbu4dm, 06dymzb481vnd, ...
26    37163  [04kug40zbu4dm, 06dymzb481vnd, 0w26sk6t6gq98, ...

### Data Ordering

Sorting of datasets in order of SNAP_ID.

In [36]:
df.sort_index(ascending=True,inplace=True)
print(df.shape)
print(df.head(100))

(27, 2)
    SNAP_ID                                             SQL_ID
0     37137  [03ggjrmy0wa1w, 0aq14dznn91rg, 0f60bzgt9127c, ...
1     37138  [06dymzb481vnd, 13a9r2xkx1bxb, 14f5ngrj3cc5h, ...
2     37139  [01d5n1nm17r2h, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
3     37140  [04kug40zbu4dm, 06g9mhm5ba7tt, 0y080mnfaqk3u, ...
4     37141  [06dymzb481vnd, 0y080mnfaqk3u, 0y080mnfaqk3u, ...
5     37142  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
6     37143  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
7     37144  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
8     37145  [06g9mhm5ba7tt, 0kcbwucxmazcp, 0kkhhb2w93cx0, ...
9     37146  [06g9mhm5ba7tt, 0hhmdwwgxbw0r, 0kcbwucxmazcp, ...
10    37147  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
11    37148  [01tp87bk1t2zv, 06dymzb481vnd, 0a08ug2qc1j82, ...
12    37149  [01tp87bk1t2zv, 06dymzb481vnd, 0kcbwucxmazcp, ...
13    37150  [06g9mhm5ba7tt, 0kcbwucxmazcp, 0kkhhb2w93cx0, ...
14    37151  [06g9mhm5ba7tt, 09vrdx888wvvb, 0a7q9v9nd2qc1, ...
15    37152  [03ggjrmy0wa1w, 0aq14dznn91rg, 0f60bzgt9127c, ...
16    37153  [01tp87bk1t2zv, 06dymzb481vnd, 130r442w3nfny, ...
17    37154  [0qbzfjt00pbsx, 0w26sk6t6gq98, 0y080mnfaqk3u, ...
18    37155  [01tp87bk1t2zv, 06dymzb481vnd, 0jj0ct4x4gy27, ...
19    37156  [01tp87bk1t2zv, 06dymzb481vnd, 0y080mnfaqk3u, ...
20    37157  [01tp87bk1t2zv, 06dymzb481vnd, 0kcbwucxmazcp, ...
21    37158  [0kcbwucxmazcp, 0kkhhb2w93cx0, 0v3dvmc22qnam, ...
22    37159  [01d5n1nm17r2h, 0kkhhb2w93cx0, 0w26sk6t6gq98, ...
23    37160  [01tp87bk1t2zv, 04kug40zbu4dm, 06dymzb481vnd, ...
24    37161  [01d5n1nm17r2h, 01tp87bk1t2zv, 04kug40zbu4dm, ...
25    37162  [01tp87bk1t2zv, 04kug40zbu4dm, 06dymzb481vnd, ...
26    37163  [04kug40zbu4dm, 06dymzb481vnd, 0w26sk6t6gq98, ...

### Univariate Selection

This sextion treats the dataset as a univariate dataset. Therefore the SNAP_ID pertaining to each set of SQL_IDs is removed, with the intent of future classifiers training solely on past SQL executions

In [37]:
print(df.shape)
del df['SNAP_ID']
print(df.shape)

(27, 2)
(27, 1)

### Label Encoding

Since this experiment deals with prediction of upcoming SQL_IDs, respectice SQL_ID strings need to labelled as a numeric representation. Label Encoder will be used here to convert SQL_ID's into a numeric format, which are in turn used for training. Evaluation (achieved predictions) is done so also in numeric format, at which point the label encoder is eventually used to decode back the labels into the original, respetive SQL_ID representation.

This section of the experiment additionally converts the targetted label into a binarized version of the previous achieved categorical numeric values.

* https://machinelearningmastery.com/why-one-hot-encode-data-in-machine-learning/
* https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html
* https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelBinarizer.html

NB: Since this experiment is solely focussed on Random Forest Training, One-Hot Encoding will not be used as recommended below:
* https://machinelearningmastery.com/why-one-hot-encode-data-in-machine-learning/

In [38]:
class LabelEncoder:
    """
    Scikit Label Encoder was acting up with the following error whilst using the transform function, even though I tripled 
    checked that the passed data was exactly the same as the one used for training:
    
    * https://stackoverflow.com/questions/46288517/getting-valueerror-y-contains-new-labels-when-using-scikit-learns-labelencoder
    
    So I have rebuilt a similar functionality to categorize my data into numeric digits, as the LabelEncoder is supposed to do.
    """
    #
    def __init__(self):
        self.__class_map = {}
        self.__integer_counter = 0
    #
    def fit(self, X):
        """
        :param - X: python list
        """
        for val in X:
            if val not in self.__class_map:
                self.__class_map[val] = self.__integer_counter
                self.__integer_counter += 1
    #
    def transform(self, X):
        """
        param - X: python list
        """
        encoded_map = []
        for val in X:
            if val in self.__class_map:
                value = self.__class_map[val]
                encoded_map.append(value)
            else:
                raise ValueError('Label Mismatch - Encountered a label which was not trained on.')
        return encoded_map
    #
    def get_class_map(self):
        """
        Returns original classes as a list
        """
        class_map = []
        for key, value in self.__class_map.items():
            class_map.append(key)
        return class_map
    #
    def get_encoded_map(self):
        """
        Returns class encodings as a list
        """
        encoded_map = []
        for key, value in self.__class_map.items():
            encoded_map.append(value)
        return encoded_map

In [39]:
print(df.shape)
print(df.head(10))
le = LabelEncoder()
for index, row in df.iterrows():
    sql_id_list = row['SQL_ID']
    le.fit(sql_id_list)
for index, row in df.iterrows():
    sql_id_list = row['SQL_ID']
    transformed_list = le.transform(sql_id_list)
    df['SQL_ID'].iloc[index] = transformed_list 
#
print("\n----------------------------------\n\nAvailable Classes:")
print('Total SQL_ID Classes: ' + str(len(le.get_class_map())))
print(le.get_class_map()[:10])
print(df.shape)
print(df.head(10))

(27, 1)
                                              SQL_ID
0  [03ggjrmy0wa1w, 0aq14dznn91rg, 0f60bzgt9127c, ...
1  [06dymzb481vnd, 13a9r2xkx1bxb, 14f5ngrj3cc5h, ...
2  [01d5n1nm17r2h, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
3  [04kug40zbu4dm, 06g9mhm5ba7tt, 0y080mnfaqk3u, ...
4  [06dymzb481vnd, 0y080mnfaqk3u, 0y080mnfaqk3u, ...
5  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
6  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
7  [01tp87bk1t2zv, 01tp87bk1t2zv, 01tp87bk1t2zv, ...
8  [06g9mhm5ba7tt, 0kcbwucxmazcp, 0kkhhb2w93cx0, ...
9  [06g9mhm5ba7tt, 0hhmdwwgxbw0r, 0kcbwucxmazcp, ...

----------------------------------

Available Classes:
Total SQL_ID Classes: 379
['03ggjrmy0wa1w', '0aq14dznn91rg', '0f60bzgt9127c', '0ga8vk4nftz45', '0hdquu87pydzk', '1jhyrdp21f2q6', '1p5grz1gs7fjq', '1r7b985mxqj71', '29mjaymwt5p6d', '2hnpu9m861609']
(27, 1)
                                              SQL_ID
0  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1  [47, 48, 49, 6, 50, 51, 52, 53, 54, 55, 56, 57...
2  [91, 92, 92, 92, 93, 94, 95, 96, 97, 6, 98, 99...
3  [93, 94, 161, 161, 161, 162, 6, 163, 164, 98, ...
4  [47, 161, 161, 161, 96, 97, 162, 6, 98, 166, 1...
5  [92, 92, 92, 47, 161, 161, 161, 96, 213, 97, 1...
6  [92, 92, 92, 47, 161, 161, 161, 96, 97, 162, 6...
7  [92, 92, 92, 220, 221, 222, 161, 161, 161, 223...
8  [94, 245, 220, 222, 246, 247, 6, 248, 249, 167...
9  [94, 280, 245, 220, 222, 281, 6, 282, 249, 283...

### Data Normalization

A note regarding normalization. Normalization for this experiment was purposely skipped, since value dimensionality & size is not as important for RandomForest based models. The purity split  does not benefit greatly from such a process:

* https://stats.stackexchange.com/questions/57010/is-it-essential-to-do-normalization-for-svm-and-random-forest
* https://stackoverflow.com/questions/8961586/do-i-need-to-normalize-or-scale-data-for-randomforest-r-package
* https://bmcbioinformatics.biomedcentral.com/track/pdf/10.1186/1471-2105-8-25

### Feature Padding

Since there isn't a fixed number of SQL_ID's per SNAP_ID, each set of SQL_IDs need to be padded so as to assume an equal number if SQL_IDs for the purpose of model fitting.

In [40]:
print("Length at index 0: " + str(len(df['SQL_ID'].iloc[0])))
print(df['SQL_ID'].iloc[0])
print("Length at index 1: " + str(len(df['SQL_ID'].iloc[1])))
print(df['SQL_ID'].iloc[1])
print("Length at index 2: " + str(len(df['SQL_ID'].iloc[2])))
print(df['SQL_ID'].iloc[2])
#
# Retrieve largest length
def pad_datamatrix(df):
    """
    Iterates over dataframe and pads SQL_ID lists accordingly with -1 values
    """
    row_sizes = []
    for index, row in df.iterrows():
        row_sizes.append(len(row['SQL_ID']))
    max_row_size = max(row_sizes)
    #
    # Pad Dataframe Values
    i = 0
    for index, row in df.iterrows():
        length = len(row['SQL_ID'])
        diff = max_row_size - length
        if diff != 0:
            for j in range(length, max_row_size):
                df['SQL_ID'].iloc[i] = np.append(df['SQL_ID'].iloc[i], -1) # Appends -1 to padded values
        # print("Length at index " + str(i) + ": " + str(df['SQL_ID'].iloc[i].size))
        i += 1
    return df
#
df = pad_datamatrix(df)
#
print('\n\n------------------------------------------\n\n')
print("Length at index 0: " + str(len(df['SQL_ID'].iloc[0])))
print(df['SQL_ID'].iloc[0])
print("Length at index 1: " + str(len(df['SQL_ID'].iloc[1])))
print(df['SQL_ID'].iloc[1])
print("Length at index 2: " + str(len(df['SQL_ID'].iloc[2])))
print(df['SQL_ID'].iloc[2])

Length at index 0: 47
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46]
Length at index 1: 55
[47, 48, 49, 6, 50, 51, 52, 53, 54, 55, 56, 57, 11, 58, 59, 13, 60, 61, 62, 19, 63, 64, 65, 22, 66, 67, 24, 68, 69, 70, 71, 26, 72, 73, 29, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 39, 86, 87, 88, 42, 43, 89, 90]
Length at index 2: 98
[91, 92, 92, 92, 93, 94, 95, 96, 97, 6, 98, 99, 99, 99, 100, 101, 102, 103, 104, 105, 13, 106, 107, 108, 108, 109, 110, 111, 112, 113, 114, 115, 116, 19, 117, 118, 118, 119, 120, 121, 122, 22, 123, 124, 24, 125, 126, 26, 127, 128, 29, 129, 130, 130, 131, 131, 132, 133, 134, 135, 136, 136, 137, 138, 139, 140, 141, 142, 143, 144, 144, 145, 146, 147, 148, 149, 149, 149, 149, 150, 151, 151, 151, 152, 39, 153, 154, 155, 40, 156, 157, 158, 43, 159, 159, 159, 159, 160]


------------------------------------------


Length at index 0: 104
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1]
Length at index 1: 104
[47 48 49  6 50 51 52 53 54 55 56 57 11 58 59 13 60 61 62 19 63 64 65 22
 66 67 24 68 69 70 71 26 72 73 29 74 75 76 77 78 79 80 81 82 83 84 85 39
 86 87 88 42 43 89 90 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1]
Length at index 2: 104
[ 91  92  92  92  93  94  95  96  97   6  98  99  99  99 100 101 102 103
 104 105  13 106 107 108 108 109 110 111 112 113 114 115 116  19 117 118
 118 119 120 121 122  22 123 124  24 125 126  26 127 128  29 129 130 130
 131 131 132 133 134 135 136 136 137 138 139 140 141 142 143 144 144 145
 146 147 148 149 149 149 149 150 151 151 151 152  39 153 154 155  40 156
 157 158  43 159 159 159 159 160  -1  -1  -1  -1  -1  -1]

### Time Series Shifting

Shifting the datasets N lag minutes, in order to transform the problem into a supervised dataset. Each Lag Shift equates to 60 seconds (due to the way design of the data capturing tool). For each denoted lag amount, the same number of feature vectors will be stripped away at the beginning.

Features and Labels are separated into seperate dataframes at this point.

https://machinelearningmastery.com/convert-time-series-supervised-learning-problem-python/

In [41]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    """
    Frame a time series as a supervised learning dataset.
    Arguments:
        data: Sequence of observations as a list or NumPy array.
        n_in: Number of lag observations as input (X).
        n_out: Number of observations as output (y).
        dropnan: Boolean whether or not to drop rows with NaN values.
    Returns:
        Pandas DataFrame of series framed for supervised learning.
    """
    n_vars = 1 if type(data) is list else data.shape[1]
    df = data
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    if n_in != 0:
        for i in range(n_in, 0, -1):
            cols.append(df.shift(i))
            names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    n_out += 1
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg
#
def remove_n_time_steps(data, n=1):
    if n == 0:
        return data
    df = data
    headers = df.columns
    dropped_headers = []
    #
    for i in range(1,n+1):
        for header in headers:
            if "(t+"+str(i)+")" in header:
                dropped_headers.append(str(header))
    #
    return df.drop(dropped_headers, axis=1) 
#
# Frame as supervised learning set
shifted_df = series_to_supervised(df, lag, lag)
#
# Seperate labels from features
y_row = []
for i in range(lag+1,(lag*2)+2):
    y_df_column_names = shifted_df.columns[len(df.columns)*i:len(df.columns)*i + 1]
    y_row.append(y_df_column_names)
y_df_column_names = []   
for row in y_row:
    for val in row:
        y_df_column_names.append(val)
#
# y_df_column_names = shifted_df.columns[len(df.columns)*lag:len(df.columns)*lag + len(y_label)]
y_df = shifted_df[y_df_column_names]
X_df = shifted_df.drop(columns=y_df_column_names)
print('\n-------------\nFeatures')
print(X_df.columns)
print(X_df.shape)
print('\n-------------\nLabels')
print(y_df.columns)
print(y_df.shape)
#
# Delete middle timesteps
X_df = remove_n_time_steps(data=X_df, n=lag)
print('\n-------------\nFeatures After Time Shift')
print(X_df.columns)
print(X_df.shape)
# y_df = remove_n_time_steps(data=y_df, n=lag)
print('\n-------------\nLabels After Time Shift')
print(y_df.columns)
print(y_df.shape)

-------------
Features
Index(['var1(t-3)', 'var1(t-2)', 'var1(t-1)', 'var1(t)'], dtype='object')
(21, 4)

-------------
Labels
Index(['var1(t+1)', 'var1(t+2)', 'var1(t+3)'], dtype='object')
(21, 3)

-------------
Features After Time Shift
Index(['var1(t-3)', 'var1(t-2)', 'var1(t-1)', 'var1(t)'], dtype='object')
(21, 4)

-------------
Labels After Time Shift
Index(['var1(t+1)', 'var1(t+2)', 'var1(t+3)'], dtype='object')
(21, 3)

### Expand Feature Lists

Expand Feature Lists, where in each list element is represented as it's own features. Total feature count here equates as follows:

* Features = (lag * SQL_ID per SNAP_ID count) + SQL_ID per SNAP_ID count
* Labels = lag * SQL_ID per SNAP_ID count

In [42]:
def sequence2features(df):
    """
    Converts pandas sequences into full fledged columns/features
    """
    feature_count = len(df[df.columns[0]].iloc[0])
    for column_name in df.columns:
        data_matrix = []
        new_values = df[column_name].values
        #
        new_values = np.stack(new_values, axis=0 )
        #
        for i in range(1,feature_count+1):
            new_column_name = column_name + "_"+str(i)
            df[new_column_name] = new_values[:,i-1]
        #
        # Drop original list columns
        df.drop(column_name, inplace=True, axis=1)
    return df
#
print('Features')
print('Before: ' + str(X_df.shape))
X_df = sequence2features(df=X_df)
print('After: ' + str(X_df.shape))
#
print('Labels')
print('Before: ' + str(y_df.shape))
y_df = sequence2features(df=y_df)
print('After: ' + str(y_df.shape))

Features
Before: (21, 4)
After: (21, 416)
Labels
Before: (21, 3)
After: (21, 312)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Feature Selection

Removing Null Columns - this check is redundant, but it double checks that there are no useless/flatline columns

In [43]:
print('Before: ' + str(df.shape))
#
def drop_flatline_columns(df):
    columns = df.columns
    flatline_features = []
    for i in range(len(columns)):
        try:
            std = df[columns[i]].std()
            if std == 0:
                flatline_features.append(columns[i])
        except:
            pass
    #
    #print('Features which are considered flatline:\n')
    #for col in flatline_features:
    #    print(col)
    print('\nShape before changes: [' + str(df.shape) + ']')
    df = df.drop(columns=flatline_features)
    print('Shape after changes: [' + str(df.shape) + ']')
    print('Dropped a total [' + str(len(flatline_features)) + ']')
    return df
#
df = drop_flatline_columns(df=df)
print('After: ' + str(df.shape))

Before: (27, 1)

Shape before changes: [(27, 1)]
Shape after changes: [(27, 1)]
Dropped a total [0]
After: (27, 1)

## Tree Based Model (Many to Many Approach)

### RandomForest Classification (Many To Many)

Classification attemps using RFC - https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

Model Input - Takes training data in the form of past SQL_ID sequences, and trains on a number of past sequence histories, determined by the lag value

Model Output - Outpus future SQL_ID sequences, determined by the lag output

In [44]:
#
# Random Forest
class RandomForest:
    """
    Random Forest Class (Regression + Classification)
    """
    #
    def __init__(self, n_estimators, max_depth=None, criterion='gini', parallel_degree=1):
        self.n_estimators = n_estimators
        self.max_depth = max_depth
        self.parallel_degree=parallel_degree
        self.criterion = criterion
        self.model = RandomForestClassifier(max_depth=self.max_depth,
                                            n_estimators=self.n_estimators,
                                            criterion=self.criterion,
                                            n_jobs=self.parallel_degree)
    #
    def fit_model(self, X, y):
        """
        Fits training data to target labels
        """
        self.model.fit(X,y)
        print(self.model)
    #
    def predict(self, X):
        yhat = self.model.predict(X)
        return yhat
    #
    def predict_and_evaluate(self, X, y, lag, plot=False):
        """
        Runs test data through previously trained model, and evaluate differently depending if a regression of classification model
        """
        yhat = self.predict(X)
        #
        # F1-Score Evaluation
        feature_count = int(y.shape[1] / lag)
        acc_score, f_score = .0,.0
        counter = 1
        for i in range(y.shape[1]):
            acc = accuracy_score(y[:,i], yhat[:,i], normalize=True)
            acc_score += acc
            f1 = f1_score(y[:,i], yhat[:,i], average='micro') 
            f_score += f1
            if i % (feature_count-1) == 0 and i != 0:
                acc_score = acc_score/feature_count # Averaging accuracy accross total sql_ids for that particular timestep
                f_score = f_score/feature_count # Averaging f-score accross total sql_ids for that particular timestep
                print('Test Accuracy LAG value [' + str(counter) + ']: ' +  str(acc_score))
                print('Test FScore LAG value [' + str(counter) + ']: ' +  str(f_score) + "\n")
                acc_score, f_score = .0,.0
                counter += 1
    #
    @staticmethod
    def write_results_to_disk(path, iteration, lag, test_split, estimator, score, time_train):
        file_exists = os.path.isfile(path)
        with open(path, 'a') as csvfile:
            headers = ['iteration', 'lag', 'test_split', 'estimator', 'score', 'time_train']
            writer = csv.DictWriter(csvfile, delimiter=',', lineterminator='\n', fieldnames=headers)
            if not file_exists:
                writer.writeheader()  # file doesn't exist yet, write a header
            writer.writerow({'iteration': iteration,
                             'lag': lag,
                             'test_split': test_split,
                             'estimator': estimator,
                             'score': score,
                             'time_train': time_train})

In [45]:
%%time
X_train, X_validate, y_train, y_validate = train_test_split(X_df, y_df, test_size=test_split)
X_train = X_train.values
y_train = y_train.values
#
print("X_train shape [" + str(X_train.shape) + "] Type - " + str(type(X_train)))
print("y_train shape [" + str(y_train.shape) + "] Type - " + str(type(y_train)))
#
X_validate, X_test, y_validate, y_test = train_test_split(X_validate, y_validate, test_size=.5)
#
X_validate = X_validate.values
y_validate = y_validate.values
print("X_validate shape [" + str(X_validate.shape) + "] Type - " + str(type(X_validate)))
print("y_validate shape [" + str(y_validate.shape) + "] Type - " + str(type(y_validate)))
#
X_test = X_test.values
y_test = y_test.values
print("X_test shape [" + str(X_test.shape) + "] Type - " + str(type(X_test)))
print("y_test shape [" + str(y_test.shape) + "] Type - " + str(type(y_test)) + "\n------------------------------")
#
print(X_train[0:5])
print(y_train[0:5])
print('------------------------------------------------------------')
print(X_validate[0:5])
print(y_validate[0:5])
print('------------------------------------------------------------')
print(X_test[0:5])
print(y_test[0:5])
#
# Deletes pandas frames to conserve RAM space.
del X_df, y_df 
#
# Train on discrete data (Train > Validation)
print('Training + Validation')
model = RandomForest(n_estimators=n_estimators,
                     max_depth=max_depth,
                     criterion=criterion,
                     parallel_degree=parallel_degree)
model.fit_model(X=X_train,
                y=y_train)
model.predict_and_evaluate(X=X_validate,
                           y=y_validate,
                           lag=lag,
                           plot=True)
#
# Train on discrete data (Train + Validation > Test)
print('\n\nTraining + Testing')
model.fit_model(X=X_validate,
                y=y_validate)
model.predict_and_evaluate(X=X_test,
                           y=y_test,
                           lag=lag,
                           plot=True)

X_train shape [(16, 416)] Type - <class 'numpy.ndarray'>
y_train shape [(16, 312)] Type - <class 'numpy.ndarray'>
X_validate shape [(2, 416)] Type - <class 'numpy.ndarray'>
y_validate shape [(2, 312)] Type - <class 'numpy.ndarray'>
X_test shape [(3, 416)] Type - <class 'numpy.ndarray'>
y_test shape [(3, 312)] Type - <class 'numpy.ndarray'>
------------------------------
[[ 93  94 161 ...  -1  -1  -1]
 [ 92  47 319 ...  -1  -1  -1]
 [ 92  92  92 ...  -1  -1  -1]
 [344 222 161 ...  -1  -1  -1]
 [ 47 161 161 ...  -1  -1  -1]]
[[ 92  92  92 ...  -1  -1  -1]
 [  0   1   2 ...  -1  -1  -1]
 [ 92  47 319 ...  -1  -1  -1]
 [245 220 221 ...  -1  -1  -1]
 [ 94 245 220 ...  -1  -1  -1]]
------------------------------------------------------------
[[ 94 280 245 220 222 281   6 282 249 283 284 285 286 287 288 169 289 290
  105  13 106 291 292 293 116 294 295  19 175 296 297 298  22 299 300 301
  258 302 259  24 125 261 303  26 128 304 266  29 234 129 305 306 137 139
  307 308 309 273 274 310 311 275 238 312  37 313 239  39 153 314 242  43
  315 243 244  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  92  92  92  47
  316 316 161 161 161  96  97 162   6  98 166 166 100 105  13 107 108 108
  109 173 111 114 174 174 115 116  19 117 177 120 121 201  65 317  22 123
  180 124 202  24 125 126  26 182 204 205 318  29 206 206 129 130 130 132
  137 138 139 209 144 144 145 210 146 211 211 211 211 148 149 149 149 149
   37 151 151 151 152  39 153  87 242 195 195  40 196 197 158  43 159 159
  159 159  -1  -1  -1  -1  -1  -1  -1  -1  92  47 319 319 161 161 161  96
   97 162   6 164  98 166 166 100 102 217 105  13 107 108 108 109 173 111
  114 174 174 115 116  19 117 177 120 201  65  22 123 180 124  24 125 214
  214 214 215  26 182 183 205  29 129 130 130 132 137 138 139 143 209 144
  144 145 210 146 320 148 149 149 149 149  37 151 151 151 152  39 153 154
   87 196 197 158  43 159 159 159 159  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  92  47 245 220 161 161 161  96  97 162   6  98
  225 166 166 100 102 217 105  13 107 108 108 111 254 114 174 174 115 116
   19 117 119 201  65 232 257  22 123 180  24 125 261  26 182 183 205  29
  206 206 234 129 130 130 132 137 138 139 143 209 236 144 144 275 145 210
  146 238 148 149 149 149 149 151 151 151 239 152  39 153 154  87 195 195
  197 158  43 243 159 159 159 159 244  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1]
 [ 92  47 161 161 161  96  97 162   6 164  98  99  99  99 166 166 100 102
  217 105  13 107 108 108 109 173 111 114 174 174 115 116  19 117 177 120
  201  65  22 123 180 180 124  24 125 214 214 214  26 182 204 183 205 185
   29 129 130 130 132 137 138 139 143 209 144 144 145 210 146 148 149 149
  149 149  37 151 151 151 152  39 153 154  87 195 195 196 197 158  43 159
  159 159 159  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  92  47 245 220
  161 161 161 223  96  97 162   6  98 225 226 166 166 100 102 230 105  13
  107 108 108 111 254 114 174 174 115 116  19 117 119 201  65 232 257  22
  123 233 180 180  24 125  26 182 204 183 205  29 206 206 234 129 130 130
  268 132 137 138 139 143 209 236 144 144 275 145 146 238 148  37 151 151
  151 239 152  39 153 154  87 195 195 197 158  43 243 159 159 159 159 244
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1 245 220 221 222 356   6 224 248
  249 332 321 284 169 228 229 289 102 250 105  13 231 106 323 357 254 116
  256  19 175 232 257  22 233 258 259  24 125 261  26 262 128 266  29 358
  129 268 271 235 137 139 273 142 359 237 339 275 360  37  39 153 154 314
  276 242 277  43  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  91 220 222 345 162   6 225  99  99  99 285 100
  361 287 216 104 105 362  13 172 110 291 292 115 363 116  19 117 119 122
  298  22 364 123 300 301 351 259  24 125 261 303  26 182 128 204 205 318
  266  29 234 129 130 130 132 135 137 139 309 209 275 145 146 238 148  37
  151 151 151 239 152  39 153 242 195 195 340 158  43 243 244  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1]]
[[ 94 245 220   6 248 249 321 322 226 286 167 227 169 229 102 250 217 230
  105  13 106 251 252 323 254 255 116 256 324 294  19 175 232 257  22 325
  233 259  24 125 261 326  26 262 128 327 266  29 129 268 269 328 270 271
  137 139 142 237 275  39 153 154 276 277 329  43  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  94 330 331 280
  220 281   6 249 283 332 333 284 334 286 287 335 288 169 289 290 250 105
  336  13 106 252 291 292 293 337 116  19 175 298  22 299 300 301 302 259
   24 125 261 303  26 128 327 265 304 318 266  29 234 129 270 305 306 137
  338 139 307 309 274 339 310 311 275 238 239  39 153 276 340  43 243 244
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1   0   1   2   3  48 341   5   6
   50   7  52   8   9  54  55  56  57  11  12  13  14  15  16  61  17  18
   19  20  21  22  23  24  69  70  25  71  26  27  28  29  30  75  76  31
   32 137  33  79  34  82  83  36  85  38  39  88  41  42  43  44  45  46
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1]
 [ 92  93  47 161 161 161 223  96  97 162   6  98 166 166 100 103 105  13
  107 108 108 109 173 111 114 174 174 115 116  19 117 118 118 177 120 201
  365 365  65 123 180 180 124  24 125 126 203 182 127 205 206 206 129 130
  130 366 366 132 367 207 135 368 137 138 139 143 209 144 144 145 210 146
  148 149 149 149 149 151 151 151 152 153  87 195 195  40 197 369 158 159
  159 159 159  29  22  26  39  43  -1  -1  -1  -1  -1  -1  91  92  93  47
  319 319 161 161 161 223  96  97 162   6 164  98 166 166 100 102 217 105
   13 107 108 108 109 173 111 114 174 174 115 116  19 117 118 118 177 120
  201 365 365  65  22 123 180 180  24 125 214 214 214 215  26 182 183 205
   29 129 130 130 366 366 132 135 137 138 139 143 209 144 144 145 210 146
  148 149 149 149 149 151 151 151 152  39 153 154  87 195 195  40 196 197
  158  43 159 159 159 159 160  -1  -1  -1  92  93  47 370 222 161 161 161
  223  96  97 162   6  98 225 166 166 100 102 217 103 104 105  13 107 108
  108 109 110 111 114 174 174 115 116  19 117 118 118 119 176 120 201 365
  365  65  22 123 180 180  24 125  26 182 127 183 205  29 206 219 129 130
  130 366 366 132 367 135 137 138 139 143 209 144 144 145 146 148 149 149
  149 149  37 151 151 151 152  39 153 154  87 242 195 195 196 371 197 158
   43 159 159 159 159 160]]
------------------------------------------------------------
[[ 92  47  96 ...  -1  -1  -1]
 [ 94 245 220 ...  -1  -1  -1]
 [ 94 245 220 ...  -1  -1  -1]]
[[ 92  47 245 220 161 161 161 223  96  97 162   6  98 225 226 166 166 100
  102 230 105  13 107 108 108 111 254 114 174 174 115 116  19 117 119 201
   65 232 257  22 123 233 180 180  24 125  26 182 204 183 205  29 206 206
  234 129 130 130 268 132 137 138 139 143 209 236 144 144 275 145 146 238
  148  37 151 151 151 239 152  39 153 154  87 195 195 197 158  43 243 159
  159 159 159 244  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1 245 220 221 222
  356   6 224 248 249 332 321 284 169 228 229 289 102 250 105  13 231 106
  323 357 254 116 256  19 175 232 257  22 233 258 259  24 125 261  26 262
  128 266  29 358 129 268 271 235 137 139 273 142 359 237 339 275 360  37
   39 153 154 314 276 242 277  43  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  91 220 222 345 162   6 225  99
   99  99 285 100 361 287 216 104 105 362  13 172 110 291 292 115 363 116
   19 117 119 122 298  22 364 123 300 301 351 259  24 125 261 303  26 182
  128 204 205 318 266  29 234 129 130 130 132 135 137 139 309 209 275 145
  146 238 148  37 151 151 151 239 152  39 153 242 195 195 340 158  43 243
  244  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1]
 [ 92  47 245 220 161 161 161  96  97 162   6  98 225 166 166 100 102 217
  105  13 107 108 108 111 254 114 174 174 115 116  19 117 119 201  65 232
  257  22 123 180  24 125 261  26 182 183 205  29 206 206 234 129 130 130
  132 137 138 139 143 209 236 144 144 275 145 210 146 238 148 149 149 149
  149 151 151 151 239 152  39 153 154  87 195 195 197 158  43 243 159 159
  159 159 244  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  94 245 220   6
  248 249 321 322 226 286 167 227 169 229 102 250 217 230 105  13 106 251
  252 323 254 255 116 256 324 294  19 175 232 257  22 325 233 259  24 125
  261 326  26 262 128 327 266  29 129 268 269 328 270 271 137 139 142 237
  275  39 153 154 276 277 329  43  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  94 330 331 280 220 281   6 249
  283 332 333 284 334 286 287 335 288 169 289 290 250 105 336  13 106 252
  291 292 293 337 116  19 175 298  22 299 300 301 302 259  24 125 261 303
   26 128 327 265 304 318 266  29 234 129 270 305 306 137 338 139 307 309
  274 339 310 311 275 238 239  39 153 276 340  43 243 244  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1]
 [344 222 161 161 161 223 345 346 347 162   6  98 348 225  99  99  99 349
  166 166 350 104 105  13 106 107 110 173 111 114 174 174 115 116  19 177
  120 201  22 123 180 180 351  24 125  26 182 128 183 264 205  29 206 206
  129 130 130 352 135 353 137 138 139 209 145 146 148  37 151 151 151 152
   39 153 242 194 195 195  40 196 197 354 158  43  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  92  47 316 316
  161 161 161  96  97 162   6  98 166 166 100 105  13 107 108 108 109 173
  111 114 174 174 115 116  19 117 177 120 121 201  65  22 123 180 180 124
  202  24 125 126  26 182 204 355 205  29 206 206 129 130 130 132 137 138
  139 209 144 144 145 210 146 148 149 149 149 149  37 151 151 151 152  39
  153  87 196 197 158  43 159 159 159 159  -1  -1  -1  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1  -1  -1  -1  -1  92  47 161 161 161  96  97 162
    6 164  98  99  99  99 166 166 100 102 217 105  13 107 108 108 109 173
  111 114 174 174 115 116  19 117 177 120 201  65  22 123 180 180 124  24
  125 214 214 214  26 182 204 183 205 185  29 129 130 130 132 137 138 139
  143 209 144 144 145 210 146 148 149 149 149 149  37 151 151 151 152  39
  153 154  87 195 195 196 197 158  43 159 159 159 159  -1  -1  -1  -1  -1
   -1  -1  -1  -1  -1  -1]]
Training + Validation

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=7, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=4,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
Test Accuracy LAG value [1]: 0.28365384615384615
Test FScore LAG value [1]: 0.28365384615384615

Test Accuracy LAG value [2]: 0.14423076923076922
Test FScore LAG value [2]: 0.14423076923076922

Test Accuracy LAG value [3]: 0.17307692307692307
Test FScore LAG value [3]: 0.17307692307692307



Training + Testing
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=7, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=4,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
Test Accuracy LAG value [1]: 0.1474358974358974
Test FScore LAG value [1]: 0.1474358974358974

Test Accuracy LAG value [2]: 0.2435897435897436
Test FScore LAG value [2]: 0.2435897435897436

Test Accuracy LAG value [3]: 0.19230769230769232
Test FScore LAG value [3]: 0.19230769230769232

Wall time: 23.4 s