# Schedule Access Plan Recommendation

This notebook is dedicated to model fitting in terms of database access plans.

In [66]:
# pandas
import pandas as pd
print('pandas: %s' % pd.__version__)
# numpy
import numpy as np
print('numpy: %s' % np.__version__)
# sklearn
import sklearn as sk
from sklearn import preprocessing
print('sklearn: %s' % sk.__version__)

pandas: 0.23.4
numpy: 1.15.2
sklearn: 0.20.0

In [67]:
#
# Experiment Config
tpcds='TPCDS1' # Schema upon which to operate test

### Read data from file into pandas dataframes

In [68]:
# rep_hist_snapshot_path = 'C:/Users/gabriel.sammut/University/Data_ICS5200/Schedule/' + tpcds + '/rep_hist_snapshot.csv'
# rep_vsql_plan_path = 'C:/Users/gabriel.sammut/University/Data_ICS5200/Schedule/' + tpcds + '/rep_vsql_plan.csv'
rep_hist_snapshot_path = 'D:/Projects/Datagenerated_ICS5200/Schedule/' + tpcds + '/rep_hist_snapshot.csv'
rep_vsql_plan_path = 'D:/Projects/Datagenerated_ICS5200/Schedule/' + tpcds + '/rep_vsql_plan.csv'
#
rep_hist_snapshot_df = pd.read_csv(rep_hist_snapshot_path)
rep_vsql_plan_df = pd.read_csv(rep_vsql_plan_path)
#
def prettify_header(headers):
    """
    Cleans header list from unwated character strings
    """
    header_list = []
    [header_list.append(header.replace("(","").replace(")","").replace("'","").replace(",","")) for header in headers]
    return header_list
#
rep_hist_snapshot_df.columns = prettify_header(rep_hist_snapshot_df.columns.values)
rep_vsql_plan_df.columns = prettify_header(rep_vsql_plan_df.columns.values)
print('------------------------------------------')
print(rep_hist_snapshot_df.columns)
print(rep_vsql_plan_df.columns)

------------------------------------------
Index(['SNAP_ID', 'DBID', 'INSTANCE_NUMBER', 'SQL_ID', 'PLAN_HASH_VALUE',
       'OPTIMIZER_COST', 'OPTIMIZER_MODE', 'OPTIMIZER_ENV_HASH_VALUE',
       'SHARABLE_MEM', 'LOADED_VERSIONS', 'VERSION_COUNT', 'MODULE', 'ACTION',
       'SQL_PROFILE', 'FORCE_MATCHING_SIGNATURE', 'PARSING_SCHEMA_ID',
       'PARSING_SCHEMA_NAME', 'PARSING_USER_ID', 'FETCHES_TOTAL',
       'FETCHES_DELTA', 'END_OF_FETCH_COUNT_TOTAL', 'END_OF_FETCH_COUNT_DELTA',
       'SORTS_TOTAL', 'SORTS_DELTA', 'EXECUTIONS_TOTAL', 'EXECUTIONS_DELTA',
       'PX_SERVERS_EXECS_TOTAL', 'PX_SERVERS_EXECS_DELTA', 'LOADS_TOTAL',
       'LOADS_DELTA', 'INVALIDATIONS_TOTAL', 'INVALIDATIONS_DELTA',
       'PARSE_CALLS_TOTAL', 'PARSE_CALLS_DELTA', 'DISK_READS_TOTAL',
       'DISK_READS_DELTA', 'BUFFER_GETS_TOTAL', 'BUFFER_GETS_DELTA',
       'ROWS_PROCESSED_TOTAL', 'ROWS_PROCESSED_DELTA', 'CPU_TIME_TOTAL',
       'CPU_TIME_DELTA', 'ELAPSED_TIME_TOTAL', 'ELAPSED_TIME_DELTA',
       'IOWAIT_TOTAL', 'IOWAIT_DELTA', 'CLWAIT_TOTAL', 'CLWAIT_DELTA',
       'APWAIT_TOTAL', 'APWAIT_DELTA', 'CCWAIT_TOTAL', 'CCWAIT_DELTA',
       'DIRECT_WRITES_TOTAL', 'DIRECT_WRITES_DELTA', 'PLSEXEC_TIME_TOTAL',
       'PLSEXEC_TIME_DELTA', 'JAVEXEC_TIME_TOTAL', 'JAVEXEC_TIME_DELTA',
       'IO_OFFLOAD_ELIG_BYTES_TOTAL', 'IO_OFFLOAD_ELIG_BYTES_DELTA',
       'IO_INTERCONNECT_BYTES_TOTAL', 'IO_INTERCONNECT_BYTES_DELTA',
       'PHYSICAL_READ_REQUESTS_TOTAL', 'PHYSICAL_READ_REQUESTS_DELTA',
       'PHYSICAL_READ_BYTES_TOTAL', 'PHYSICAL_READ_BYTES_DELTA',
       'PHYSICAL_WRITE_REQUESTS_TOTAL', 'PHYSICAL_WRITE_REQUESTS_DELTA',
       'PHYSICAL_WRITE_BYTES_TOTAL', 'PHYSICAL_WRITE_BYTES_DELTA',
       'OPTIMIZED_PHYSICAL_READS_TOTAL', 'OPTIMIZED_PHYSICAL_READS_DELTA',
       'CELL_UNCOMPRESSED_BYTES_TOTAL', 'CELL_UNCOMPRESSED_BYTES_DELTA',
       'IO_OFFLOAD_RETURN_BYTES_TOTAL', 'IO_OFFLOAD_RETURN_BYTES_DELTA',
       'BIND_DATA', 'FLAG', 'CON_DBID', 'CON_ID', 'SQL_TEXT', 'COMMAND_TYPE',
       'STARTUP_TIME', 'BEGIN_INTERVAL_TIME', 'END_INTERVAL_TIME',
       'FLUSH_ELAPSED', 'SNAP_LEVEL', 'ERROR_COUNT', 'SNAP_FLAG',
       'SNAP_TIMEZONE'],
      dtype='object')
Index(['DBID', 'SQL_ID', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS',
       'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION',
       'SEARCH_COLUMNS', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG',
       'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER',
       'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE',
       'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME',
       'QBLOCK_NAME', 'REMARKS', 'TIMESTAMP', 'OTHER_XML', 'CON_DBID',
       'CON_ID'],
      dtype='object')

### Dealing with empty values

In [69]:
def get_na_columns(df, headers):
    """
    Return columns which consist of NAN values
    """
    na_list = []
    for head in headers:
        if df[head].isnull().values.any():
            na_list.append(head)
    return na_list
#
print('N/A Columns\n')
print('\nREP_HIST_SNAPSHOT Features ' + str(len(rep_hist_snapshot_df.columns)) + ': ' + str(get_na_columns(df=rep_hist_snapshot_df,headers=rep_hist_snapshot_df.columns)) + "\n")
print('\nREP_VSQL_PLAN Features ' + str(len(rep_vsql_plan_df.columns)) + ': ' + str(get_na_columns(df=rep_vsql_plan_df,headers=rep_vsql_plan_df.columns)) + "\n")
#
def fill_na(df):
    """
    Replaces NA columns with 0s
    """
    return df.fillna(0)
#
# Populating NaN values with amount '0'
rep_hist_snapshot_df = fill_na(df=rep_hist_snapshot_df)
rep_vsql_plan_df = fill_na(df=rep_vsql_plan_df)

N/A Columns


REP_HIST_SNAPSHOT Features 90: ['OPTIMIZER_COST', 'OPTIMIZER_MODE', 'OPTIMIZER_ENV_HASH_VALUE', 'LOADED_VERSIONS', 'MODULE', 'ACTION', 'SQL_PROFILE', 'PARSING_SCHEMA_ID', 'PARSING_SCHEMA_NAME', 'PARSING_USER_ID', 'FETCHES_TOTAL', 'FETCHES_DELTA', 'END_OF_FETCH_COUNT_TOTAL', 'END_OF_FETCH_COUNT_DELTA', 'SORTS_TOTAL', 'SORTS_DELTA', 'EXECUTIONS_TOTAL', 'EXECUTIONS_DELTA', 'PX_SERVERS_EXECS_TOTAL', 'PX_SERVERS_EXECS_DELTA', 'LOADS_TOTAL', 'LOADS_DELTA', 'INVALIDATIONS_TOTAL', 'INVALIDATIONS_DELTA', 'PARSE_CALLS_TOTAL', 'DISK_READS_TOTAL', 'DISK_READS_DELTA', 'BUFFER_GETS_TOTAL', 'BUFFER_GETS_DELTA', 'ROWS_PROCESSED_TOTAL', 'ROWS_PROCESSED_DELTA', 'CPU_TIME_TOTAL', 'ELAPSED_TIME_TOTAL', 'IOWAIT_TOTAL', 'IOWAIT_DELTA', 'CLWAIT_TOTAL', 'CLWAIT_DELTA', 'APWAIT_TOTAL', 'APWAIT_DELTA', 'CCWAIT_TOTAL', 'CCWAIT_DELTA', 'DIRECT_WRITES_TOTAL', 'DIRECT_WRITES_DELTA', 'PLSEXEC_TIME_TOTAL', 'PLSEXEC_TIME_DELTA', 'JAVEXEC_TIME_TOTAL', 'JAVEXEC_TIME_DELTA', 'IO_OFFLOAD_ELIG_BYTES_TOTAL', 'IO_OFFLOAD_ELIG_BYTES_DELTA', 'IO_INTERCONNECT_BYTES_TOTAL', 'IO_INTERCONNECT_BYTES_DELTA', 'PHYSICAL_READ_REQUESTS_TOTAL', 'PHYSICAL_READ_REQUESTS_DELTA', 'PHYSICAL_READ_BYTES_TOTAL', 'PHYSICAL_READ_BYTES_DELTA', 'PHYSICAL_WRITE_REQUESTS_TOTAL', 'PHYSICAL_WRITE_REQUESTS_DELTA', 'PHYSICAL_WRITE_BYTES_TOTAL', 'PHYSICAL_WRITE_BYTES_DELTA', 'OPTIMIZED_PHYSICAL_READS_TOTAL', 'OPTIMIZED_PHYSICAL_READS_DELTA', 'CELL_UNCOMPRESSED_BYTES_TOTAL', 'CELL_UNCOMPRESSED_BYTES_DELTA', 'IO_OFFLOAD_RETURN_BYTES_TOTAL', 'IO_OFFLOAD_RETURN_BYTES_DELTA', 'BIND_DATA', 'FLAG']


REP_VSQL_PLAN Features 39: ['OPTIONS', 'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'POSITION', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME', 'QBLOCK_NAME', 'REMARKS', 'OTHER_XML']

### TPC-DS Filtering & Merging

Exclude all queries but those pertaining to TPC-DS.
This part also merges the field 'SQL_TEXT' from data matrix REP_HIST_SNAPSHOT with data matrix 'REP_VSQL_PLAN'.

In [70]:
# #
# # Segregating those SQL_IDs which utilize TPC-DS owned objects
# # rep_vsql_plan_series = rep_vsql_plan_df['SQL_ID'].loc[rep_vsql_plan_df['OBJECT_OWNER'] == tpcds]
# rep_vsql_plan_series = rep_vsql_plan_df['SQL_ID'].loc[rep_vsql_plan_df['OBJECT_OWNER'].str.contains([tpcds,'SYS'])]
# tpc_sql_ids = rep_vsql_plan_series.unique()
# print('Total SQL_IDs [' + str(len(tpc_sql_ids)) + ']')
# print('Unique ' + tpcds + ' IDs: ' + str(tpc_sql_ids))
# #
# # Retrieves data matrix rows pertaining to SQL_IDs using TPC-DS owned objects
# print("\nREP_HIST_SNAPSHOT Shape before: " + str(rep_hist_snapshot_df.shape))
# rep_hist_snapshot_df = rep_hist_snapshot_df.loc[rep_hist_snapshot_df['SQL_ID'].isin(tpc_sql_ids)]
# print("REP_HIST_SNAPSHOT after: " + str(rep_hist_snapshot_df.shape))
# #
# print("\nREP_VSQL_PLAN Shape before: " + str(rep_vsql_plan_df.shape))
# rep_vsql_plan_df = rep_vsql_plan_df.loc[rep_vsql_plan_df['SQL_ID'].isin(tpc_sql_ids)]
# print("REP_VSQL_PLAN Shape after: " + str(rep_vsql_plan_df.shape))
# #
# # Group By Values by SNAP_ID, PLAN_HASH_VALUE , sum all metrics (for matrix REP_HIST_SNAPSHOT)
# rep_hist_snapshot_df = rep_hist_snapshot_df.groupby(['SQL_TEXT','SQL_ID','PLAN_HASH_VALUE']).sum()
# rep_hist_snapshot_df.reset_index(inplace=True)
# #
# # Merging data matrixes
# df = pd.merge(rep_hist_snapshot_df, rep_vsql_plan_df, how='inner', on=['SQL_ID','PLAN_HASH_VALUE','DBID'])
# #
# # Dropping / Renaming transformed columns as a result of merge
# df.drop(columns=['CON_DBID_x','CON_ID_x'],inplace=True)
# df.rename(index=str, columns={"SQL_ID_y": "SQL_ID", 
#                               "DBID_y": "DBID", 
#                               "CON_DBID_y":"CON_DBID",
#                               "CON_ID_y":"CON_ID"},inplace=True)
# print("\nMerged Dataframe: " + str(df.shape))
# print("Columns: ")
# print(df.columns.values)
# print(df.head(100))
# #print(df[['SQL_TEXT','OPERATION','OPTIONS','ID']].head(20))

In [71]:
#
# Creating a dataframe consisting of a mapping library, composed of SQL_IDs & SQL_TEXTs
sql_id_map = rep_hist_snapshot_df[['SQL_ID','SQL_TEXT']]
print(sql_id_map.shape)
#
# Drop duplicate combinations from map
sql_id_map.drop_duplicates(subset = sql_id_map.columns, 
                           keep = False,
                           inplace = True)
print(sql_id_map.shape)
#
# Merge SQL_TEXT with Access Plan table
df = pd.merge(sql_id_map, rep_vsql_plan_df, how='inner', on=['SQL_ID'])
print('Plan table shape: ' + str(rep_vsql_plan_df.shape))
print("Merged matrix shape: " + str(df.shape) + "\n\n--------------------------------------------------------\n\n")
print(df.head())

(1609154, 2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

(2216, 2)
Plan table shape: (155850, 39)
Merged matrix shape: (11054, 40)

--------------------------------------------------------


          SQL_ID                                           SQL_TEXT  \
0  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
1  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
2  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
3  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
4  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...

         DBID  PLAN_HASH_VALUE  ID         OPERATION      OPTIONS OBJECT_NODE  \
0  2634225673        332270376   0  SELECT STATEMENT            0           0
1  2634225673        332270376   1              SORT    AGGREGATE           0
2  2634225673        332270376   2    PX COORDINATOR            0           0
3  2634225673        332270376   3           PX SEND  QC (RANDOM)      :Q1000
4  2634225673        332270376   4              SORT    AGGREGATE      :Q1000

   OBJECT# OBJECT_OWNER   ...   ACCESS_PREDICATES FILTER_PREDICATES  \
0      0.0            0   ...                 0.0               0.0
1      0.0            0   ...                 0.0               0.0
2      0.0            0   ...                 0.0               0.0
3      0.0          SYS   ...                 0.0               0.0
4      0.0            0   ...                 0.0               0.0

  PROJECTION TIME  QBLOCK_NAME  REMARKS            TIMESTAMP  \
0        0.0  0.0            0      0.0  2018-10-08 15:52:39
1        0.0  0.0        SEL$1      0.0  2018-10-08 15:52:39
2        0.0  0.0            0      0.0  2018-10-08 15:52:39
3        0.0  0.0            0      0.0  2018-10-08 15:52:39
4        0.0  0.0            0      0.0  2018-10-08 15:52:39

                                           OTHER_XML    CON_DBID  CON_ID
0                                                  0  2634225673       0
1  <other_xml><info type="derived_cpu_dop" id="1"...  2634225673       0
2                                                  0  2634225673       0
3                                                  0  2634225673       0
4                                                  0  2634225673       0

[5 rows x 40 columns]

### Feature Selection

In this step, redundant features are dropped. Features are considered redundant if exhibit a standard devaition of 0 (meaning no change in value).

In [72]:
def drop_flatline_columns(df):
    columns = df.columns
    flatline_features = []
    for i in range(len(columns)):
        try:
            std = df[columns[i]].std()
            if std == 0:
                flatline_features.append(columns[i])
        except:
            pass
    #
    #print('Features which are considered flatline:\n')
    #for col in flatline_features:
    #    print(col)
    print('\nShape before changes: [' + str(df.shape) + ']')
    df = df.drop(columns=flatline_features)
    print('Shape after changes: [' + str(df.shape) + ']')
    print('Dropped a total [' + str(len(flatline_features)) + ']')
    return df
#
df = drop_flatline_columns(df=df)
print('\nAfter flatline column drop:')
print(df.shape)
print(df.columns)

Shape before changes: [(11054, 40)]
Shape after changes: [(11054, 32)]
Dropped a total [8]

After flatline column drop:
(11054, 32)
Index(['SQL_ID', 'SQL_TEXT', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS',
       'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION',
       'SEARCH_COLUMNS', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG',
       'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'DISTRIBUTION',
       'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'TIME', 'QBLOCK_NAME', 'TIMESTAMP',
       'OTHER_XML'],
      dtype='object')

### Data Ordering

Sorting of datasets in order of 
* SNAP_ID
* SQL_ID
* ID

In [73]:
df.sort_values(by=['TIMESTAMP','SQL_ID','ID'], ascending=True, inplace=True)
print(df.head())

          SQL_ID                                           SQL_TEXT  \
0  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
1  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
2  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
3  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
4  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...

   PLAN_HASH_VALUE  ID         OPERATION      OPTIONS OBJECT_NODE  OBJECT#  \
0        332270376   0  SELECT STATEMENT            0           0      0.0
1        332270376   1              SORT    AGGREGATE           0      0.0
2        332270376   2    PX COORDINATOR            0           0      0.0
3        332270376   3           PX SEND  QC (RANDOM)      :Q1000      0.0
4        332270376   4              SORT    AGGREGATE      :Q1000      0.0

  OBJECT_OWNER OBJECT_NAME                        ...                          \
0            0           0                        ...
1            0           0                        ...
2            0           0                        ...
3          SYS    :TQ10000                        ...
4            0           0                        ...

  PARTITION_STOP PARTITION_ID DISTRIBUTION  CPU_COST  IO_COST  TEMP_SPACE  \
0              0          0.0            0                0.0         0.0
1              0          0.0            0                0.0         0.0
2              0          0.0            0                0.0         0.0
3              0          0.0  QC (RANDOM)                0.0         0.0
4              0          0.0            0                0.0         0.0

   TIME  QBLOCK_NAME            TIMESTAMP  \
0   0.0            0  2018-10-08 15:52:39
1   0.0        SEL$1  2018-10-08 15:52:39
2   0.0            0  2018-10-08 15:52:39
3   0.0            0  2018-10-08 15:52:39
4   0.0            0  2018-10-08 15:52:39

                                           OTHER_XML
0                                                  0
1  <other_xml><info type="derived_cpu_dop" id="1"...
2                                                  0
3                                                  0
4                                                  0

[5 rows x 32 columns]

### Label Encoding

Converting labels/features into numerical representations

In [74]:
def encode(df, encoded_labels):
    for col in df.columns:
        if col in encoded_labels:
            le = preprocessing.LabelEncoder()
            df[col] = le.fit_transform(df[col].astype(str))
    return df
#
#print(rep_vsql_plan_df.head())
encoded_labels = ['OPERATION','OPTIONS','OBJECT_OWNER','OBJECT_NAME','OBJECT_ALIAS','OBJECT_TYPE','OPTIMIZER','OTHER_TAG','DISTRIBUTION','QBLOCK_NAME']
df = encode(df=df, encoded_labels=encoded_labels)
print('Encoded labels:\n' + str(encoded_labels) + "\n\n----------------------------------------------\n\n")
print(df.head())

Encoded labels:
['OPERATION', 'OPTIONS', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_TYPE', 'OPTIMIZER', 'OTHER_TAG', 'DISTRIBUTION', 'QBLOCK_NAME']

----------------------------------------------


          SQL_ID                                           SQL_TEXT  \
0  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
1  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
2  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
3  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
4  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...

   PLAN_HASH_VALUE  ID  OPERATION  OPTIONS OBJECT_NODE  OBJECT#  OBJECT_OWNER  \
0        332270376   0         32        0           0      0.0             0
1        332270376   1         34        1           0      0.0             0
2        332270376   2         29        0           0      0.0             0
3        332270376   3         30       27      :Q1000      0.0             3
4        332270376   4         34        1      :Q1000      0.0             0

   OBJECT_NAME                        ...                          \
0            0                        ...
1            0                        ...
2            0                        ...
3           27                        ...
4            0                        ...

   PARTITION_STOP  PARTITION_ID  DISTRIBUTION  CPU_COST  IO_COST  TEMP_SPACE  \
0               0           0.0             0                0.0         0.0
1               0           0.0             0                0.0         0.0
2               0           0.0             0                0.0         0.0
3               0           0.0             1                0.0         0.0
4               0           0.0             0                0.0         0.0

   TIME  QBLOCK_NAME            TIMESTAMP  \
0   0.0            0  2018-10-08 15:52:39
1   0.0           23  2018-10-08 15:52:39
2   0.0            0  2018-10-08 15:52:39
3   0.0            0  2018-10-08 15:52:39
4   0.0            0  2018-10-08 15:52:39

                                           OTHER_XML
0                                                  0
1  <other_xml><info type="derived_cpu_dop" id="1"...
2                                                  0
3                                                  0
4                                                  0

[5 rows x 32 columns]

### TPC_DS Queries Under Test

Displaying (TPC-DS) queries filtered for upcoming use.

In [75]:
#
# Query Distribution Test
print(df)

              SQL_ID                                           SQL_TEXT  \
0      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
1      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
2      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
3      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
4      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
5      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
6      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
7      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
8      0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9      0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10     0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11     0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12     0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13     0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
15     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
16     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
17     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
18     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
19     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
20     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
21     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
22     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
23     6dzrtbvx64ff5  SELECT /*+ opt_param('parallel_execution_enabl...
24     6dzrtbvx64ff5  SELECT /*+ opt_param('parallel_execution_enabl...
25     6dzrtbvx64ff5  SELECT /*+ opt_param('parallel_execution_enabl...
26     6trq48ndnv72p  SELECT count(*) FROM sys.wri$_adv_executions e...
27     6trq48ndnv72p  SELECT count(*) FROM sys.wri$_adv_executions e...
28     6trq48ndnv72p  SELECT count(*) FROM sys.wri$_adv_executions e...
29     3qr84p3818vfj  SELECT count(*) FROM sys.wri$_adv_executions e...
...              ...                                                ...
11022  gzs81jusursxn  SELECT count(*) FROM sys.wri$_adv_executions e...
11025  4tggkb4xttjt7  SELECT * FROM gv$sql_plan where sql_id = '26jd...
11026  4tggkb4xttjt7  SELECT * FROM gv$sql_plan where sql_id = '26jd...
11030  71fu00knvk67d  SELECT /*+ opt_param('parallel_execution_enabl...
11031  71fu00knvk67d  SELECT /*+ opt_param('parallel_execution_enabl...
11032  71fu00knvk67d  SELECT /*+ opt_param('parallel_execution_enabl...
11027  9mrx3dw8qpdpz  SELECT /*+ opt_param('parallel_execution_enabl...
11028  9mrx3dw8qpdpz  SELECT /*+ opt_param('parallel_execution_enabl...
11029  9mrx3dw8qpdpz  SELECT /*+ opt_param('parallel_execution_enabl...
11033  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11034  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11035  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11036  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11037  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11038  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11039  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11040  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11041  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11042  4j03x0ckv7gtw  SELECT count(*) FROM sys.wri$_adv_executions e...
11043  4j03x0ckv7gtw  SELECT count(*) FROM sys.wri$_adv_executions e...
11044  4j03x0ckv7gtw  SELECT count(*) FROM sys.wri$_adv_executions e...
11045  d6rz0fdspzr71  SELECT count(*) FROM sys.wri$_adv_executions e...
11046  d6rz0fdspzr71  SELECT count(*) FROM sys.wri$_adv_executions e...
11047  d6rz0fdspzr71  SELECT count(*) FROM sys.wri$_adv_executions e...
11048  3y5g4s6fr61y7  SELECT count(*) FROM sys.wri$_adv_executions e...
11049  3y5g4s6fr61y7  SELECT count(*) FROM sys.wri$_adv_executions e...
11050  3y5g4s6fr61y7  SELECT count(*) FROM sys.wri$_adv_executions e...
11051  d2h1mz2r7utka  SELECT /*+ opt_param('parallel_execution_enabl...
11052  d2h1mz2r7utka  SELECT /*+ opt_param('parallel_execution_enabl...
11053  d2h1mz2r7utka  SELECT /*+ opt_param('parallel_execution_enabl...

       PLAN_HASH_VALUE  ID  OPERATION  OPTIONS OBJECT_NODE   OBJECT#  \
0            332270376   0         32        0           0       0.0
1            332270376   1         34        1           0       0.0
2            332270376   2         29        0           0       0.0
3            332270376   3         30       27      :Q1000       0.0
4            332270376   4         34        1      :Q1000       0.0
5            332270376   5         24        0      :Q1000       0.0
6            332270376   6         28       19      :Q1000       0.0
7            332270376   7         36       13      :Q1000  115442.0
8            785807998   0         32        0           0       0.0
9            785807998   1         31        0           0       0.0
10           785807998   2         34        1           0       0.0
11           785807998   3         23        0           0       0.0
12           785807998   4         36       13           0  114552.0
13           785807998   5         14       28           0  114627.0
14          1960839004   0         16        0           0       0.0
15          1960839004   1         19        0           0       0.0
16          1960839004   2         38        0           0       0.0
17          1960839004   3         29        0           0       0.0
18          1960839004   4         30       27      :Q1000       0.0
19          1960839004   5         28       19      :Q1000       0.0
20          1960839004   6         36       33      :Q1000  114592.0
21          1960839004   7          9        0           0       0.0
22          1960839004   8         36       13           0  116020.0
23           714757701   0         32        0           0       0.0
24           714757701   1         34       23           0       0.0
25           714757701   2         11       12           0       0.0
26           564703301   0         32        0           0       0.0
27           564703301   1         34        1           0       0.0
28           564703301   2         14       42           0    7710.0
29           564703301   0         32        0           0       0.0
...                ...  ..        ...      ...         ...       ...
11022        564703301   2         14       42           0    7710.0
11025       3515537046   0         32        0           0       0.0
11026       3515537046   1         11       12           0       0.0
11030        714757701   0         32        0           0       0.0
11031        714757701   1         34       23           0       0.0
11032        714757701   2         11       12           0       0.0
11027        714757701   0         32        0           0       0.0
11028        714757701   1         34       23           0       0.0
11029        714757701   2         11       12           0       0.0
11033       3114207269   0         16        0           0       0.0
11034       3114207269   1         19        0           0       0.0
11035       3114207269   2         38        0           0       0.0
11036       3114207269   3         29        0           0       0.0
11037       3114207269   4         30       27      :Q1000       0.0
11038       3114207269   5         28       19      :Q1000       0.0
11039       3114207269   6         36       33      :Q1000  114586.0
11040       3114207269   7          9        0           0       0.0
11041       3114207269   8         36       13           0  204124.0
11042        564703301   0         32        0           0       0.0
11043        564703301   1         34        1           0       0.0
11044        564703301   2         14       42           0    7710.0
11045        564703301   0         32        0           0       0.0
11046        564703301   1         34        1           0       0.0
11047        564703301   2         14       42           0    7710.0
11048        564703301   0         32        0           0       0.0
11049        564703301   1         34        1           0       0.0
11050        564703301   2         14       42           0    7710.0
11051        714757701   0         32        0           0       0.0
11052        714757701   1         34       23           0       0.0
11053        714757701   2         11       12           0       0.0

       OBJECT_OWNER  OBJECT_NAME  \
0                 0            0
1                 0            0
2                 0            0
3                 3           27
4                 0            0
5                 0            0
6                 0            0
7                 5          286
8                 0            0
9                 0          530
10                0            0
11                0            0
12                5           73
13                5           65
14                0            0
15                0            0
16                0            0
17                0            0
18                3           27
19                0            0
20                5           32
21                0            0
22                3          147
23                0            0
24                0            0
25                3          491
26                0            0
27                0            0
28                3          385
29                0            0
...             ...          ...
11022             3          385
11025             0            0
11026             3          491
11030             0            0
11031             0            0
11032             3          491
11027             0            0
11028             0            0
11029             3          491
11033             0            0
11034             0            0
11035             0            0
11036             0            0
11037             3           27
11038             0            0
11039             5           31
11040             0            0
11041             3          181
11042             0            0
11043             0            0
11044             3          385
11045             0            0
11046             0            0
11047             3          385
11048             0            0
11049             0            0
11050             3          385
11051             0            0
11052             0            0
11053             3          491

                             ...                          PARTITION_STOP  \
0                            ...                                       0
1                            ...                                       0
2                            ...                                       0
3                            ...                                       0
4                            ...                                       0
5                            ...                                       0
6                            ...                                       0
7                            ...                                       0
8                            ...                                       0
9                            ...                                       0
10                           ...                                       0
11                           ...                                       0
12                           ...                                       0
13                           ...                                       0
14                           ...                                       0
15                           ...                                       0
16                           ...                                       0
17                           ...                                       0
18                           ...                                       0
19                           ...                                       0
20                           ...                                       0
21                           ...                                       0
22                           ...                                       0
23                           ...                                       0
24                           ...                                       0
25                           ...                                       0
26                           ...                                       0
27                           ...                                       0
28                           ...                                       0
29                           ...                                       0
...                          ...                                     ...
11022                        ...                                       0
11025                        ...                                       0
11026                        ...                                       0
11030                        ...                                       0
11031                        ...                                       0
11032                        ...                                       0
11027                        ...                                       0
11028                        ...                                       0
11029                        ...                                       0
11033                        ...                                       0
11034                        ...                                       0
11035                        ...                                       0
11036                        ...                                       0
11037                        ...                                       0
11038                        ...                                       0
11039                        ...                                       0
11040                        ...                                       0
11041                        ...                                       0
11042                        ...                                       0
11043                        ...                                       0
11044                        ...                                       0
11045                        ...                                       0
11046                        ...                                       0
11047                        ...                                       0
11048                        ...                                       0
11049                        ...                                       0
11050                        ...                                       0
11051                        ...                                       0
11052                        ...                                       0
11053                        ...                                       0

       PARTITION_ID  DISTRIBUTION     CPU_COST  IO_COST  TEMP_SPACE  TIME  \
0               0.0             0                   0.0         0.0   0.0
1               0.0             0                   0.0         0.0   0.0
2               0.0             0                   0.0         0.0   0.0
3               0.0             1                   0.0         0.0   0.0
4               0.0             0                   0.0         0.0   0.0
5               0.0             0      1283333     13.0         0.0   1.0
6               0.0             0      1283333     13.0         0.0   1.0
7               0.0             0      1283333     13.0         0.0   1.0
8               0.0             0                   0.0         0.0   0.0
9               0.0             0                   0.0         0.0   0.0
10              0.0             0                   0.0         0.0   0.0
11              0.0             0     31332033    411.0         0.0   1.0
12              0.0             0     29174261    375.0         0.0   1.0
13              0.0             0       179814      3.0         0.0   1.0
14              0.0             0                   0.0         0.0   0.0
15              0.0             0                   0.0         0.0   0.0
16              0.0             0                   0.0         0.0   0.0
17              0.0             0                   0.0         0.0   0.0
18              0.0             1      3540005    159.0         0.0   1.0
19              0.0             0      3540005    159.0         0.0   1.0
20              0.0             0      3540005    159.0         0.0   1.0
21              0.0             0                   0.0         0.0   0.0
22              0.0             0      4551104     29.0         0.0   1.0
23              0.0             0                   0.0         0.0   0.0
24              0.0             0     32104599      0.0         0.0   1.0
25              0.0             0        24845      0.0         0.0   0.0
26              0.0             0                   0.0         0.0   0.0
27              0.0             0                   0.0         0.0   0.0
28              0.0             0         8171      1.0         0.0   1.0
29              0.0             0                   0.0         0.0   0.0
...             ...           ...          ...      ...         ...   ...
11022           0.0             0         8171      1.0         0.0   1.0
11025           0.0             0            0      0.0         0.0   0.0
11026           0.0             0        24845      0.0         0.0   0.0
11030           0.0             0            0      0.0         0.0   0.0
11031           0.0             0  3.21046e+07      0.0         0.0   1.0
11032           0.0             0        24845      0.0         0.0   0.0
11027           0.0             0            0      0.0         0.0   0.0
11028           0.0             0  3.21046e+07      0.0         0.0   1.0
11029           0.0             0        24845      0.0         0.0   0.0
11033           0.0             0            0      0.0         0.0   0.0
11034           0.0             0            0      0.0         0.0   0.0
11035           0.0             0            0      0.0         0.0   0.0
11036           0.0             0            0      0.0         0.0   0.0
11037           0.0             1       386320     13.0         0.0   1.0
11038           0.0             0       386320     13.0         0.0   1.0
11039           0.0             0       386320     13.0         0.0   1.0
11040           0.0             0            0      0.0         0.0   0.0
11041           0.0             0  3.08086e+06     29.0         0.0   1.0
11042           0.0             0            0      0.0         0.0   0.0
11043           0.0             0            0      0.0         0.0   0.0
11044           0.0             0         8171      1.0         0.0   1.0
11045           0.0             0            0      0.0         0.0   0.0
11046           0.0             0            0      0.0         0.0   0.0
11047           0.0             0         8171      1.0         0.0   1.0
11048           0.0             0            0      0.0         0.0   0.0
11049           0.0             0            0      0.0         0.0   0.0
11050           0.0             0         8171      1.0         0.0   1.0
11051           0.0             0            0      0.0         0.0   0.0
11052           0.0             0  3.21046e+07      0.0         0.0   1.0
11053           0.0             0        24845      0.0         0.0   0.0

       QBLOCK_NAME            TIMESTAMP  \

### Access Plan Resource Aggregation

This method attempts to tackle the problem of access plan anomolies by aggregating resources per explain plan. Notable resources which are being considered are as follows:

* COST
* CARDINALITY
* BYTES
* PARTITION_DELTA (Partition End - Partition Start)
* CPU_COST
* IO_COST
* TEMP_SPACE
* TIME

The reasoning behind these fields in particular is mainly because these columns can be aggregated together.

In [83]:
df_aggregate = df.groupby(['SQL_TEXT','PLAN_HASH_VALUE']).sum()
df_aggregate.reset_index(inplace=True)
print(df_aggregate.columns)
print(df_aggregate.shape)
# for index, row in df_aggregate.iterrows():
#     print(row['SQL_TEXT'])

Index(['SQL_TEXT', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS', 'OBJECT#',
       'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_TYPE',
       'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION', 'SEARCH_COLUMNS', 'COST',
       'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_ID', 'DISTRIBUTION',
       'IO_COST', 'TEMP_SPACE', 'TIME', 'QBLOCK_NAME'],
      dtype='object')
(2104, 25)
 SELECT  count(*) as cnt ,         a.SQL_ID, a.CON_DBID,         a.CURRENT_OBJ#,         sum(case when a.event_id in (:e0, :e1, :e2, :e3, :e4, :e5, :e6, :e7) then 1 else 0 end) as full_scan  FROM  WRH$_ACTIVE_SESSION_HISTORY a     ,  WRH$_EVENT_NAME en  WHERE  a.dbid = :dbid  AND a.instance_number = :inst  AND a.snap_id > :bid AND a.snap_id <= :eid  AND  a.sql_id in (:sqlid0, :sqlid1, :sqlid2, :sqlid3, :sqlid4, :sqlid5, :sqlid6, :sqlid7, :sqlid8, :sqlid9)   AND  en.dbid = :dbid   AND  en.event_id = a.event_id    AND  en.wait_class in ('Cluster', 'User I/O')    AND  a.CURRENT_OBJ# > 0  AND a.sql_id is NOT NULL  AND a.session_type = 1  GROUP BY a.SQL_ID, a.CON_DBID, a.CURRENT_OBJ#  HAVING count(*) >= :rowcnt ORDER BY count(*) DESC, a.CURRENT_OBJ# ASC
 SELECT endsn.filetype_id as filetype_id,                                       max(filetypename.filetype_name) as filetype_name,                       endsn.function_id as function_id,                                       max(funcname.function_name) as function_name,                           sum(endsn.small_read_megabytes   -                                          nvl(startsn.small_read_megabytes, 0))  as small_read_megs,          sum(endsn.small_write_megabytes  -                                          nvl(startsn.small_write_megabytes, 0)) as small_write_megs,         sum(endsn.large_read_megabytes   -                                          nvl(startsn.large_read_megabytes, 0))  as large_read_megs,          sum(endsn.large_write_megabytes  -                                          nvl(startsn.large_write_megabytes, 0)) as large_write_megs,         sum(endsn.small_read_reqs        -                                          nvl(startsn.small_read_reqs, 0))       as small_read_reqs,          sum(endsn.small_write_reqs       -                                          nvl(startsn.small_write_reqs, 0))      as small_write_reqs,         sum(endsn.large_read_reqs        -                                          nvl(startsn.large_read_reqs, 0))       as large_read_reqs,          sum(endsn.large_write_reqs       -                                          nvl(startsn.large_write_reqs, 0))      as large_write_reqs,         sum(endsn.number_of_waits        -                                          nvl(startsn.number_of_waits, 0))       as num_waits,                sum(endsn.wait_time              -                                          nvl(startsn.wait_time, 0))             as wait_time          FROM   WRH$_IOSTAT_DETAIL    endsn,         WRH$_IOSTAT_DETAIL    startsn,         WRH$_IOSTAT_FUNCTION_NAME    funcname,         WRH$_IOSTAT_FILETYPE_NAME    filetypename  WHERE startsn.filetype_id(+)         =   endsn.filetype_id  AND  startsn.function_id(+)         =   endsn.function_id  AND  endsn.dbid                     =   funcname.dbid  AND  endsn.function_id              =   funcname.function_id  AND  endsn.dbid                     =   filetypename.dbid  AND  endsn.filetype_id              =   filetypename.filetype_id  AND  endsn.dbid = :dbid  AND endsn.instance_number = :inst  AND endsn.snap_id = :eid  AND startsn.dbid(+) = :dbid AND startsn.instance_number(+) = endsn.instance_number AND startsn.snap_id(+) = :bid  GROUP BY endsn.filetype_id, endsn.function_id  ORDER BY endsn.filetype_id ASC, endsn.function_id ASC
 delete from s_item where item_item_id in (select ITEM_ITEM_ID from (select ITEM_ITEM_ID ,count(*) cnt from s_item group by ITEM_ITEM_ID) where cnt > 1)
 select count(*) from s_catalog_page
 with adj_snapshot AS (
        select snap_id, instance_number,
               case when startup_time = begin_interval_time
                 then snap_id
                 else lag(snap_id) over
                        (partition by dbid, instance_number, startup_time
                             order by snap_id)
                end                                           prev_snap_id,
               end_interval_time,
               case when startup_time = begin_interval_time
                 then begin_interval_time
                 else lag(end_interval_time) over
                        (partition by dbid, instance_number, startup_time
                             order by snap_id)
                end                                adj_begin_interval_time
          from dba_hist_snapshot
         where dbid            = :m_dbid
          and end_interval_time <= :m_max_time
          and instance_number member of :l_inst_list)
      select min(begin_snap_id)
        from (select instance_number, min(prev_snap_id) begin_snap_id
                from adj_snapshot
               where (adj_begin_interval_time <= :m_min_time
                 and :m_min_time              <= end_interval_time)
                  or (:m_min_time             <= end_interval_time)
               group by instance_number)
/* SQL Analyze(0) */ select /*+  full(t)    no_parallel(t) no_parallel_index(t) dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  */to_char(count("CC_CALL_CENTER_ID")),substrb(dump(min("CC_CALL_CENTER_ID"),16,0,64),1,240),substrb(dump(max("CC_CALL_CENTER_ID"),16,0,64),1,240),to_char(count("CC_REC_START_DATE")),substrb(dump(min("CC_REC_START_DATE"),16,0,64),1,240),substrb(dump(max("CC_REC_START_DATE"),16,0,64),1,240),to_char(count("CC_REC_END_DATE")),substrb(dump(min("CC_REC_END_DATE"),16,0,64),1,240),substrb(dump(max("CC_REC_END_DATE"),16,0,64),1,240),to_char(count("CC_CLOSED_DATE_SK")),substrb(dump(min("CC_CLOSED_DATE_SK"),16,0,64),1,240),substrb(dump(max("CC_CLOSED_DATE_SK"),16,0,64),1,240),to_char(count("CC_OPEN_DATE_SK")),substrb(dump(min("CC_OPEN_DATE_SK"),16,0,64),1,240),substrb(dump(max("CC_OPEN_DATE_SK"),16,0,64),1,240),to_char(count("CC_NAME")),substrb(dump(min("CC_NAME"),16,0,64),1,240),substrb(dump(max("CC_NAME"),16,0,64),1,240),to_char(count("CC_CLASS")),substrb(dump(min("CC_CLASS"),16,0,64),1,240),substrb(dump(max("CC_CLASS"),16,0,64),1,240),to_char(count("CC_EMPLOYEES")),substrb(dump(min("CC_EMPLOYEES"),16,0,64),1,240),substrb(dump(max("CC_EMPLOYEES"),16,0,64),1,240),to_char(count("CC_SQ_FT")),substrb(dump(min("CC_SQ_FT"),16,0,64),1,240),substrb(dump(max("CC_SQ_FT"),16,0,64),1,240),to_char(count("CC_HOURS")),substrb(dump(min("CC_HOURS"),16,0,64),1,240),substrb(dump(max("CC_HOURS"),16,0,64),1,240),to_char(count("CC_MANAGER")),substrb(dump(min("CC_MANAGER"),16,0,64),1,240),substrb(dump(max("CC_MANAGER"),16,0,64),1,240),to_char(count("CC_MKT_ID")),substrb(dump(min("CC_MKT_ID"),16,0,64),1,240),substrb(dump(max("CC_MKT_ID"),16,0,64),1,240),to_char(count("CC_MKT_CLASS")),substrb(dump(min("CC_MKT_CLASS"),16,0,64),1,240),substrb(dump(max("CC_MKT_CLASS"),16,0,64),1,240),to_char(count("CC_MKT_DESC")),substrb(dump(min("CC_MKT_DESC"),16,0,64),1,240),substrb(dump(max("CC_MKT_DESC"),16,0,64),1,240),to_char(count("CC_MARKET_MANAGER")),substrb(dump(min("CC_MARKET_MANAGER"),16,0,64),1,240),substrb(dump(max("CC_MARKET_MANAGER"),16,0,64),1,240),to_char(count("CC_DIVISION")),substrb(dump(min("CC_DIVISION"),16,0,64),1,240),substrb(dump(max("CC_DIVISION"),16,0,64),1,240),to_char(count("CC_DIVISION_NAME")),substrb(dump(min("CC_DIVISION_NAME"),16,0,64),1,240),substrb(dump(max("CC_DIVISION_NAME"),16,0,64),1,240),to_char(count("CC_COMPANY")),substrb(dump(min("CC_COMPANY"),16,0,64),1,240),substrb(dump(max("CC_COMPANY"),16,0,64),1,240),to_char(count("CC_COMPANY_NAME")),substrb(dump(min("CC_COMPANY_NAME"),16,0,64),1,240),substrb(dump(max("CC_COMPANY_NAME"),16,0,64),1,240),to_char(count("CC_STREET_NUMBER")),substrb(dump(min("CC_STREET_NUMBER"),16,0,64),1,240),substrb(dump(max("CC_STREET_NUMBER"),16,0,64),1,240),to_char(count("CC_STREET_NAME")),substrb(dump(min("CC_STREET_NAME"),16,0,64),1,240),substrb(dump(max("CC_STREET_NAME"),16,0,64),1,240),to_char(count("CC_STREET_TYPE")),substrb(dump(min("CC_STREET_TYPE"),16,0,64),1,240),substrb(dump(max("CC_STREET_TYPE"),16,0,64),1,240),to_char(count("CC_SUITE_NUMBER")),substrb(dump(min("CC_SUITE_NUMBER"),16,0,64),1,240),substrb(dump(max("CC_SUITE_NUMBER"),16,0,64),1,240),to_char(count("CC_CITY")),substrb(dump(min("CC_CITY"),16,0,64),1,240),substrb(dump(max("CC_CITY"),16,0,64),1,240),to_char(count("CC_COUNTY")),substrb(dump(min("CC_COUNTY"),16,0,64),1,240),substrb(dump(max("CC_COUNTY"),16,0,64),1,240),to_char(count("CC_STATE")),substrb(dump(min("CC_STATE"),16,0,64),1,240),substrb(dump(max("CC_STATE"),16,0,64),1,240),to_char(count("CC_ZIP")),substrb(dump(min("CC_ZIP"),16,0,64),1,240),substrb(dump(max("CC_ZIP"),16,0,64),1,240),to_char(count("CC_COUNTRY")),substrb(dump(min("CC_COUNTRY"),16,0,64),1,240),substrb(dump(max("CC_COUNTRY"),16,0,64),1,240),to_char(count("CC_GMT_OFFSET")),substrb(dump(min("CC_GMT_OFFSET"),16,0,64),1,240),substrb(dump(max("CC_GMT_OFFSET"),16,0,64),1,240),to_char(count("CC_TAX_PERCENTAGE")),substrb(dump(min("CC_TAX_PERCENTAGE"),16,0,64),1,240),substrb(dump(max("CC_TAX_PERCENTAGE"),16,0,64),1,240),to_char(count("CC_CALL_CENTER_SK")),substrb(dump(min("CC_CALL_CENTER_SK"),16,0,64),1,240),substrb(dump(max("CC_CALL_CENTER_SK"),16,0,64),1,240) from "TPCDS1"."CCV" t  /* NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL*/
/* SQL Analyze(0) */ select /*+  full(t)    no_parallel(t) no_parallel_index(t) dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  */to_char(count("CR_NET_LOSS")),substrb(dump(min("CR_NET_LOSS"),16,0,64),1,240),substrb(dump(max("CR_NET_LOSS"),16,0,64),1,240),to_char(count("CR_RETURN_DATE_SK")),substrb(dump(min("CR_RETURN_DATE_SK"),16,0,64),1,240),substrb(dump(max("CR_RETURN_DATE_SK"),16,0,64),1,240),to_char(count("CR_RETURN_TIME_SK")),substrb(dump(min("CR_RETURN_TIME_SK"),16,0,64),1,240),substrb(dump(max("CR_RETURN_TIME_SK"),16,0,64),1,240),to_char(count("CR_SHIP_DATE_SK")),substrb(dump(min("CR_SHIP_DATE_SK"),16,0,64),1,240),substrb(dump(max("CR_SHIP_DATE_SK"),16,0,64),1,240),to_char(count("CR_ITEM_SK")),substrb(dump(min("CR_ITEM_SK"),16,0,64),1,240),substrb(dump(max("CR_ITEM_SK"),16,0,64),1,240),to_char(count("CR_REFUNDED_CUSTOMER_SK")),substrb(dump(min("CR_REFUNDED_CUSTOMER_SK"),16,0,64),1,240),substrb(dump(max("CR_REFUNDED_CUSTOMER_SK"),16,0,64),1,240),to_char(count("CR_REFUNDED_CDEMO_SK")),substrb(dump(min("CR_REFUNDED_CDEMO_SK"),16,0,64),1,240),substrb(dump(max("CR_REFUNDED_CDEMO_SK"),16,0,64),1,240),to_char(count("CR_REFUNDED_HDEMO_SK")),substrb(dump(min("CR_REFUNDED_HDEMO_SK"),16,0,64),1,240),substrb(dump(max("CR_REFUNDED_HDEMO_SK"),16,0,64),1,240),to_char(count("CR_REFUNDED_ADDR_SK")),substrb(dump(min("CR_REFUNDED_ADDR_SK"),16,0,64),1,240),substrb(dump(max("CR_REFUNDED_ADDR_SK"),16,0,64),1,240),to_char(count("CR_RETURNING_CUSTOMER_SK")),substrb(dump(min("CR_RETURNING_CUSTOMER_SK"),16,0,64),1,240),substrb(dump(max("CR_RETURNING_CUSTOMER_SK"),16,0,64),1,240),to_char(count("CR_RETURNING_CDEMO_SK")),substrb(dump(min("CR_RETURNING_CDEMO_SK"),16,0,64),1,240),substrb(dump(max("CR_RETURNING_CDEMO_SK"),16,0,64),1,240),to_char(count("CR_RETURNING_HDEMO_SK")),substrb(dump(min("CR_RETURNING_HDEMO_SK"),16,0,64),1,240),substrb(dump(max("CR_RETURNING_HDEMO_SK"),16,0,64),1,240),to_char(count("CR_RETURING_ADDR_SK")),substrb(dump(min("CR_RETURING_ADDR_SK"),16,0,64),1,240),substrb(dump(max("CR_RETURING_ADDR_SK"),16,0,64),1,240),to_char(count("CR_CATALOG_PAGE_SK")),substrb(dump(min("CR_CATALOG_PAGE_SK"),16,0,64),1,240),substrb(dump(max("CR_CATALOG_PAGE_SK"),16,0,64),1,240),to_char(count("CR_SHIP_MODE_SK")),substrb(dump(min("CR_SHIP_MODE_SK"),16,0,64),1,240),substrb(dump(max("CR_SHIP_MODE_SK"),16,0,64),1,240),to_char(count("CR_WAREHOUSE_SK")),substrb(dump(min("CR_WAREHOUSE_SK"),16,0,64),1,240),substrb(dump(max("CR_WAREHOUSE_SK"),16,0,64),1,240),to_char(count("CR_REASON_SK")),substrb(dump(min("CR_REASON_SK"),16,0,64),1,240),substrb(dump(max("CR_REASON_SK"),16,0,64),1,240),to_char(count("CR_ORDER_NUMBER")),substrb(dump(min("CR_ORDER_NUMBER"),16,0,64),1,240),substrb(dump(max("CR_ORDER_NUMBER"),16,0,64),1,240),to_char(count("CR_RETURN_QUANTITY")),substrb(dump(min("CR_RETURN_QUANTITY"),16,0,64),1,240),substrb(dump(max("CR_RETURN_QUANTITY"),16,0,64),1,240),to_char(count("CR_RETURN_AMT")),substrb(dump(min("CR_RETURN_AMT"),16,0,64),1,240),substrb(dump(max("CR_RETURN_AMT"),16,0,64),1,240),to_char(count("CR_RETURN_TAX")),substrb(dump(min("CR_RETURN_TAX"),16,0,64),1,240),substrb(dump(max("CR_RETURN_TAX"),16,0,64),1,240),to_char(count("CR_RETURN_AMT_INC_TAX")),substrb(dump(min("CR_RETURN_AMT_INC_TAX"),16,0,64),1,240),substrb(dump(max("CR_RETURN_AMT_INC_TAX"),16,0,64),1,240),to_char(count("CR_FEE")),substrb(dump(min("CR_FEE"),16,0,64),1,240),substrb(dump(max("CR_FEE"),16,0,64),1,240),to_char(count("CR_RETURN_SHIP_COST")),substrb(dump(min("CR_RETURN_SHIP_COST"),16,0,64),1,240),substrb(dump(max("CR_RETURN_SHIP_COST"),16,0,64),1,240),to_char(count("CR_REFUNDED_CASH")),substrb(dump(min("CR_REFUNDED_CASH"),16,0,64),1,240),substrb(dump(max("CR_REFUNDED_CASH"),16,0,64),1,240),to_char(count("CR_REVERSED_CHARDE")),substrb(dump(min("CR_REVERSED_CHARDE"),16,0,64),1,240),substrb(dump(max("CR_REVERSED_CHARDE"),16,0,64),1,240),to_char(count("CR_MERCHANT_CREDIT")),substrb(dump(min("CR_MERCHANT_CREDIT"),16,0,64),1,240),substrb(dump(max("CR_MERCHANT_CREDIT"),16,0,64),1,240) from "TPCDS1"."CRV" t  /* NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL*/
/* SQL Analyze(0) */ select /*+  full(t)    no_parallel(t) no_parallel_index(t) dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  */to_char(count("S_MANAGER")),substrb(dump(min("S_MANAGER"),16,0,64),1,240),substrb(dump(max("S_MANAGER"),16,0,64),1,240),to_char(count("S_MARKET_ID")),substrb(dump(min("S_MARKET_ID"),16,0,64),1,240),substrb(dump(max("S_MARKET_ID"),16,0,64),1,240),to_char(count("S_GEOGRAPHY_CLASS")),substrb(dump(min("S_GEOGRAPHY_CLASS"),16,0,64),1,240),substrb(dump(max("S_GEOGRAPHY_CLASS"),16,0,64),1,240),to_char(count("S_MARKET_DESC")),substrb(dump(min("S_MARKET_DESC"),16,0,64),1,240),substrb(dump(max("S_MARKET_DESC"),16,0,64),1,240),to_char(count("S_MARKET_MANAGER")),substrb(dump(min("S_MARKET_MANAGER"),16,0,64),1,240),substrb(dump(max("S_MARKET_MANAGER"),16,0,64),1,240),to_char(count("S_DIVISION_ID")),substrb(dump(min("S_DIVISION_ID"),16,0,64),1,240),substrb(dump(max("S_DIVISION_ID"),16,0,64),1,240),to_char(count("S_DIVISION_NAME")),substrb(dump(min("S_DIVISION_NAME"),16,0,64),1,240),substrb(dump(max("S_DIVISION_NAME"),16,0,64),1,240),to_char(count("S_COMPANY_ID")),substrb(dump(min("S_COMPANY_ID"),16,0,64),1,240),substrb(dump(max("S_COMPANY_ID"),16,0,64),1,240),to_char(count("S_COMPANY_NAME")),substrb(dump(min("S_COMPANY_NAME"),16,0,64),1,240),substrb(dump(max("S_COMPANY_NAME"),16,0,64),1,240),to_char(count("S_STREET_NUMBER")),substrb(dump(min("S_STREET_NUMBER"),16,0,64),1,240),substrb(dump(max("S_STREET_NUMBER"),16,0,64),1,240),to_char(count("S_STREET_NAME")),substrb(dump(min("S_STREET_NAME"),16,0,64),1,240),substrb(dump(max("S_STREET_NAME"),16,0,64),1,240),to_char(count("S_STREET_TYPE")),substrb(dump(min("S_STREET_TYPE"),16,0,64),1,240),substrb(dump(max("S_STREET_TYPE"),16,0,64),1,240),to_char(count("S_SUITE_NUMBER")),substrb(dump(min("S_SUITE_NUMBER"),16,0,64),1,240),substrb(dump(max("S_SUITE_NUMBER"),16,0,64),1,240),to_char(count("S_CITY")),substrb(dump(min("S_CITY"),16,0,64),1,240),substrb(dump(max("S_CITY"),16,0,64),1,240),to_char(count("S_COUNTY")),substrb(dump(min("S_COUNTY"),16,0,64),1,240),substrb(dump(max("S_COUNTY"),16,0,64),1,240),to_char(count("S_STATE")),substrb(dump(min("S_STATE"),16,0,64),1,240),substrb(dump(max("S_STATE"),16,0,64),1,240),to_char(count("S_ZIP")),substrb(dump(min("S_ZIP"),16,0,64),1,240),substrb(dump(max("S_ZIP"),16,0,64),1,240),to_char(count("S_COUNTRY")),substrb(dump(min("S_COUNTRY"),16,0,64),1,240),substrb(dump(max("S_COUNTRY"),16,0,64),1,240),to_char(count("S_GMT_OFFSET")),substrb(dump(min("S_GMT_OFFSET"),16,0,64),1,240),substrb(dump(max("S_GMT_OFFSET"),16,0,64),1,240),to_char(count("S_TAX_PERCENTAGE")),substrb(dump(min("S_TAX_PERCENTAGE"),16,0,64),1,240),substrb(dump(max("S_TAX_PERCENTAGE"),16,0,64),1,240),to_char(count("S_STORE_SK")),substrb(dump(min("S_STORE_SK"),16,0,64),1,240),substrb(dump(max("S_STORE_SK"),16,0,64),1,240),to_char(count("S_STORE_ID")),substrb(dump(min("S_STORE_ID"),16,0,64),1,240),substrb(dump(max("S_STORE_ID"),16,0,64),1,240),to_char(count("S_REC_START_DATE")),substrb(dump(min("S_REC_START_DATE"),16,0,64),1,240),substrb(dump(max("S_REC_START_DATE"),16,0,64),1,240),to_char(count("S_REC_END_DATE")),substrb(dump(min("S_REC_END_DATE"),16,0,64),1,240),substrb(dump(max("S_REC_END_DATE"),16,0,64),1,240),to_char(count("S_CLOSED_DATE_SK")),substrb(dump(min("S_CLOSED_DATE_SK"),16,0,64),1,240),substrb(dump(max("S_CLOSED_DATE_SK"),16,0,64),1,240),to_char(count("S_STORE_NAME")),substrb(dump(min("S_STORE_NAME"),16,0,64),1,240),substrb(dump(max("S_STORE_NAME"),16,0,64),1,240),to_char(count("S_NUMBER_EMPLOYEES")),substrb(dump(min("S_NUMBER_EMPLOYEES"),16,0,64),1,240),substrb(dump(max("S_NUMBER_EMPLOYEES"),16,0,64),1,240),to_char(count("S_FLOOR_SPACE")),substrb(dump(min("S_FLOOR_SPACE"),16,0,64),1,240),substrb(dump(max("S_FLOOR_SPACE"),16,0,64),1,240),to_char(count("S_HOURS")),substrb(dump(min("S_HOURS"),16,0,64),1,240),substrb(dump(max("S_HOURS"),16,0,64),1,240),count(rowidtochar(rowid)) from "TPCDS1"."STORV" t  /* NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,TOPN,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,NDV,NIL,NIL,RWID,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254,U254U*/
/* SQL Analyze(0) */ select /*+  full(t)    parallel(t,60) parallel_index(t,60) dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  */to_char(count("INVN_DATE")),substrb(dump(min("INVN_DATE"),16,0,64),1,240),substrb(dump(max("INVN_DATE"),16,0,64),1,240),to_char(count("INVN_QTY_ON_HAND")),substrb(dump(min("INVN_QTY_ON_HAND"),16,0,64),1,240),substrb(dump(max("INVN_QTY_ON_HAND"),16,0,64),1,240),to_char(count("INVN_WAREHOUSE_ID")),substrb(dump(min("INVN_WAREHOUSE_ID"),16,0,64),1,240),substrb(dump(max("INVN_WAREHOUSE_ID"),16,0,64),1,240),to_char(count("INVN_ITEM_ID")),substrb(dump(min("INVN_ITEM_ID"),16,0,64),1,240),substrb(dump(max("INVN_ITEM_ID"),16,0,64),1,240),count(rowidtochar(rowid)) from "TPCDS1"."S_INVENTORY" t  /* TOPN,NIL,NIL,NDV,NIL,NIL,TOPN,NIL,NIL,TOPN,NIL,NIL,RWID,U254,U254,U254,U254U*/

SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17342
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17346
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17353
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17361
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17362
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17366
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17367
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17379
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17386
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17398
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17404
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17434
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17438
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17440
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17446
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17447
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17451
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17456
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17457
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17461
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17462
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17469
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17474
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17562
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17570
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17604
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17634
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17684
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17764
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17772
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17789
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 17796
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18180
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18211
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18230
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18306
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18318
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18324
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18325
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18337
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18388
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18395
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18419
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18432
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18519
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18593
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18645
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18646
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18647
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18648
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18649
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18650
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18651
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18652
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18657
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18658
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18666
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18671
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18672
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18684
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18696
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18718
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18735
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18768
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18772
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18773
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18774
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18783
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18788
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18796
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18797
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18801
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18802
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18809
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18814
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18822
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18827
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18828
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18849
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18861
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18866
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18867
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18874
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 18898
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19026
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19051
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19125
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19152
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19573
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19610
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19719
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19725
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19733
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19738
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19747
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19752
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19753
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19760
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19766
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19786
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19812
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19816
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19818
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19831
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19848
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19861
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19863
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19871
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19880
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19883
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19928
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19945
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19950
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19968
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19971
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 19982
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20048
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20072
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20084
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20085
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20086
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20141
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20160
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20194
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20217
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20318
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20336
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20339
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20340
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20341
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20345
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20349
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20353
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20354
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20361
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20369
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20372
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20374
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20379
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20392
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20427
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20434
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20437
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20453
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20462
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20469
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20472
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20490
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20506
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20588
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20632
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20828
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20836
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20905
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 20913
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21013
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21138
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21156
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21169
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21170
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21178
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21214
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21215
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21216
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21219
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21223
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21224
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21228
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21235
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21239
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21255
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21259
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21260
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21261
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21262
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21264
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21265
SELECT count(*) FROM sys.wri$_adv_executions e
                 WHERE e.name = :exec_name and e.task_id = 21267
SELECT count(*) FROM sys.wri$_adv_executions e

select /*+  no_parallel_index(t, "WRM$_SNAPSHOT_DETAILS_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index_ffs(t,"WRM$_SNAPSHOT_DETAILS_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(8696,'L',t.rowid)) as nlb,count(distinct hextoraw(sys_op_descend("SNAP_ID")||sys_op_descend("DBID")||sys_op_descend("INSTANCE_NUMBER")||sys_op_descend("TABLE_ID"))) as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "SYS"."WRM$_SNAPSHOT_DETAILS" sample block ( 16.9033254856,1)  t where "SNAP_ID" is not null or "DBID" is not null or "INSTANCE_NUMBER" is not null or "TABLE_ID" is not null
select /*+  no_parallel_index(t, "WRM$_SNAPSHOT_DETAILS_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index_ffs(t,"WRM$_SNAPSHOT_DETAILS_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(8696,'L',t.rowid)) as nlb,count(distinct hextoraw(sys_op_descend("SNAP_ID")||sys_op_descend("DBID")||sys_op_descend("INSTANCE_NUMBER")||sys_op_descend("TABLE_ID"))) as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "SYS"."WRM$_SNAPSHOT_DETAILS" sample block ( 21.7401589705,1)  t where "SNAP_ID" is not null or "DBID" is not null or "INSTANCE_NUMBER" is not null or "TABLE_ID" is not null
select /*+  no_parallel_index(t, "WRP$_REPORTS_DETAILS_IDX02")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WRP$_REPORTS_DETAILS_IDX02") */ count(*) as nrw,count(distinct sys_op_lbid(6457,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "SYS"."WRP$_REPORTS_DETAILS" t where ("GENERATION_TIME" is not null or "DBID" is not null or "REPORT_ID" is not null) and (TBL$OR$IDX$PART$NUM("SYS"."WRP$_REPORTS_DETAILS",0,4,0,"ROWID") = :objn)
select /*+  no_parallel_index(t, "WRP$_REPORTS_IDX02")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WRP$_REPORTS_IDX02") */ count(*) as nrw,count(distinct sys_op_lbid(6447,'L',t.rowid)) as nlb,count(distinct hextoraw(sys_op_descend("GENERATION_TIME")||sys_op_descend("DBID")||sys_op_descend("COMPONENT_NAME")||sys_op_descend("REPORT_ID"))) as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "SYS"."WRP$_REPORTS" t where "GENERATION_TIME" is not null or "DBID" is not null or "COMPONENT_NAME" is not null or "REPORT_ID" is not null
select /*+  no_parallel_index(t, "WR_ITEM_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_ITEM_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107713,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_ITEM_SK" is not null
select /*+  no_parallel_index(t, "WR_ORDER_NUMBER_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_ORDER_NUMBER_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107724,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_ORDER_NUMBER" is not null
select /*+  no_parallel_index(t, "WR_REASON_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_REASON_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107723,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_REASON_SK" is not null
select /*+  no_parallel_index(t, "WR_REFUNDED_ADDR_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_REFUNDED_ADDR_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107717,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_REFUNDED_ADDR_SK" is not null
select /*+  no_parallel_index(t, "WR_REFUNDED_CDEMO_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_REFUNDED_CDEMO_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107715,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_REFUNDED_CDEMO_SK" is not null
select /*+  no_parallel_index(t, "WR_REFUNDED_CUSTOMER_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_REFUNDED_CUSTOMER_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107714,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_REFUNDED_CUSTOMER_SK" is not null
select /*+  no_parallel_index(t, "WR_REFUNDED_HDEMO_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_REFUNDED_HDEMO_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107716,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_REFUNDED_HDEMO_SK" is not null
select /*+  no_parallel_index(t, "WR_RETURNED_DATE_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_RETURNED_DATE_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107711,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_RETURNED_DATE_SK" is not null
select /*+  no_parallel_index(t, "WR_RETURNED_TIME_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_RETURNED_TIME_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107712,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_RETURNED_TIME_SK" is not null
select /*+  no_parallel_index(t, "WR_RETURNING_ADDR_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_RETURNING_ADDR_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107721,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_RETURNING_ADDR_SK" is not null
select /*+  no_parallel_index(t, "WR_RETURNING_CDEMO_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_RETURNING_CDEMO_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107719,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_RETURNING_CDEMO_SK" is not null
select /*+  no_parallel_index(t, "WR_RETURNING_CUSTOMER_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_RETURNING_CUSTOMER_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107718,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_RETURNING_CUSTOMER_SK" is not null
select /*+  no_parallel_index(t, "WR_RETURNING_HDEMO_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_RETURNING_HDEMO_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107720,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_RETURNING_HDEMO_SK" is not null
select /*+  no_parallel_index(t, "WR_WEB_PAGE_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index(t,"WR_WEB_PAGE_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107722,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_RETURNS" t where "WR_WEB_PAGE_SK" is not null
select /*+  no_parallel_index(t, "WS_BILL_CDEMO_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index_ffs(t,"WS_BILL_CDEMO_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107698,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_SALES" sample block (  6.4827878104,1)  t where "WS_BILL_CDEMO_SK" is not null
select /*+  no_parallel_index(t, "WS_ORDER_NUMBER_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index_ffs(t,"WS_ORDER_NUMBER_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107710,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_SALES" sample block (  6.6263844024,1)  t where "WS_ORDER_NUMBER" is not null
select /*+  no_parallel_index(t, "WS_SHIP_CDEMO_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index_ffs(t,"WS_SHIP_CDEMO_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107702,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_SALES" sample block (  6.4420704352,1)  t where "WS_SHIP_CDEMO_SK" is not null
select /*+  no_parallel_index(t, "WS_SHIP_CUSTOMER_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index_ffs(t,"WS_SHIP_CUSTOMER_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107701,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_SALES" sample block (  6.6571047752,1)  t where "WS_SHIP_CUSTOMER_SK" is not null
select /*+  no_parallel_index(t, "WS_SHIP_HDEMO_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index_ffs(t,"WS_SHIP_HDEMO_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107703,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_SALES" sample block (  7.0980598122,1)  t where "WS_SHIP_HDEMO_SK" is not null
select /*+  no_parallel_index(t, "WS_SHIP_MODE_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index_ffs(t,"WS_SHIP_MODE_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107707,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_SALES" sample block (  7.5775065963,1)  t where "WS_SHIP_MODE_SK" is not null
select /*+  no_parallel_index(t, "WS_WAREHOUSE_SK_INDEX")  dbms_stats cursor_sharing_exact use_weak_name_resl dynamic_sampling(0) no_monitoring xmlindex_sel_idx_tbl no_substrb_pad  no_expand index_ffs(t,"WS_WAREHOUSE_SK_INDEX") */ count(*) as nrw,count(distinct sys_op_lbid(107708,'L',t.rowid)) as nlb,null as ndk,sys_op_countchg(substrb(t.rowid,1,15),1) as clf from "TPCDS10"."WEB_SALES" sample block (  7.5140633176,1)  t where "WS_WAREHOUSE_SK" is not null
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_ACTIVE_SESSION_HISTORY", 1) */ 1 from "SYS"."WRH$_ACTIVE_SESSION_HISTORY" PARTITION ("WRH$_ACTIVE_2634225673_12642")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 13343 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_ACTIVE_SESSION_HISTORY", 1) */ 1 from "SYS"."WRH$_ACTIVE_SESSION_HISTORY" PARTITION ("WRH$_ACTIVE_2634225673_9838")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 10539 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_CELL_DISK_SUMMARY", 1) */ 1 from "SYS"."WRH$_CELL_DISK_SUMMARY" PARTITION ("WRH$_CELL_D_2634225673_9838")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 10539 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_CELL_IOREASON", 1) */ 1 from "SYS"."WRH$_CELL_IOREASON" PARTITION ("WRH$_CELL_I_2634225673_18250")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 18951 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_CELL_OPEN_ALERTS", 1) */ 1 from "SYS"."WRH$_CELL_OPEN_ALERTS" PARTITION ("WRH$_CELL_O_2634225673_18250")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 18951 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_12642")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 13343 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_15446")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 16147 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_16147")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 16848 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_18250")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 18951 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_18951")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 19652 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_2264")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 2828 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_4931")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 5632 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_7034")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 7735 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_9137")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 9838 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_EVENT_HISTOGRAM", 1) */ 1 from "SYS"."WRH$_EVENT_HISTOGRAM" PARTITION ("WRH$_EVENT__2634225673_9838")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 10539 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH", 1) */ 1 from "SYS"."WRH$_LATCH" PARTITION ("WRH$_LATCH_2634225673_12642")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 13343 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH", 1) */ 1 from "SYS"."WRH$_LATCH" PARTITION ("WRH$_LATCH_2634225673_15446")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 16147 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH", 1) */ 1 from "SYS"."WRH$_LATCH" PARTITION ("WRH$_LATCH_2634225673_18250")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 18951 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH", 1) */ 1 from "SYS"."WRH$_LATCH" PARTITION ("WRH$_LATCH_2634225673_18951")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 19652 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH", 1) */ 1 from "SYS"."WRH$_LATCH" PARTITION ("WRH$_LATCH_2634225673_2264")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 2828 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH", 1) */ 1 from "SYS"."WRH$_LATCH" PARTITION ("WRH$_LATCH_2634225673_4931")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 5632 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH", 1) */ 1 from "SYS"."WRH$_LATCH" PARTITION ("WRH$_LATCH_2634225673_7034")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 7735 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH", 1) */ 1 from "SYS"."WRH$_LATCH" PARTITION ("WRH$_LATCH_2634225673_9137")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 9838 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH", 1) */ 1 from "SYS"."WRH$_LATCH" PARTITION ("WRH$_LATCH_2634225673_9838")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 10539 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH_MISSES_SUMMARY", 1) */ 1 from "SYS"."WRH$_LATCH_MISSES_SUMMARY" PARTITION ("WRH$_LATCH__2634225673_12642")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 13343 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH_MISSES_SUMMARY", 1) */ 1 from "SYS"."WRH$_LATCH_MISSES_SUMMARY" PARTITION ("WRH$_LATCH__2634225673_15446")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 16147 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH_MISSES_SUMMARY", 1) */ 1 from "SYS"."WRH$_LATCH_MISSES_SUMMARY" PARTITION ("WRH$_LATCH__2634225673_16147")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 16848 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH_MISSES_SUMMARY", 1) */ 1 from "SYS"."WRH$_LATCH_MISSES_SUMMARY" PARTITION ("WRH$_LATCH__2634225673_18951")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 19652 )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH_MISSES_SUMMARY", 1) */ 1 from "SYS"."WRH$_LATCH_MISSES_SUMMARY" PARTITION ("WRH$_LATCH__2634225673_4931")  where ( (  (  ( "DBID" > 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" >= 5632 OR "SNAP_ID" IS NULL  )  )  ) ) and rownum < 2
select /*+ FIRST_ROWS(1) PARALLEL("WRH$_LATCH_MISSES_SUMMARY", 1) */ 1 from "SYS"."WRH$_LATCH_MISSES_SUMMARY" PARTITION ("WRH$_LATCH__2634225673_7034")  where ( (  (  ( "DBID" < 2634225673 )  )  OR  ( "DBID" = 2634225673 AND  ( "SNAP_ID" < 7735 )  )  ) ) and rownum < 2