# Schedule Access Plan Recommendation

This notebook is dedicated to model fitting in terms of database access plans.

In [84]:
# pandas
import pandas as pd
print('pandas: %s' % pd.__version__)
# numpy
import numpy as np
print('numpy: %s' % np.__version__)
# sklearn
import sklearn as sk
from sklearn import preprocessing
print('sklearn: %s' % sk.__version__)

pandas: 0.23.4
numpy: 1.15.2
sklearn: 0.20.0

In [85]:
#
# Experiment Config
tpcds='TPCDS1' # Schema upon which to operate test

### Read data from file into pandas dataframes

In [86]:
# rep_hist_snapshot_path = 'C:/Users/gabriel.sammut/University/Data_ICS5200/Schedule/' + tpcds + '/rep_hist_snapshot.csv'
# rep_vsql_plan_path = 'C:/Users/gabriel.sammut/University/Data_ICS5200/Schedule/' + tpcds + '/rep_vsql_plan.csv'
rep_hist_snapshot_path = 'D:/Projects/Datagenerated_ICS5200/Schedule/' + tpcds + '/rep_hist_snapshot.csv'
rep_vsql_plan_path = 'D:/Projects/Datagenerated_ICS5200/Schedule/' + tpcds + '/rep_vsql_plan.csv'
#
rep_hist_snapshot_df = pd.read_csv(rep_hist_snapshot_path)
rep_vsql_plan_df = pd.read_csv(rep_vsql_plan_path)
#
def prettify_header(headers):
    """
    Cleans header list from unwated character strings
    """
    header_list = []
    [header_list.append(header.replace("(","").replace(")","").replace("'","").replace(",","")) for header in headers]
    return header_list
#
rep_hist_snapshot_df.columns = prettify_header(rep_hist_snapshot_df.columns.values)
rep_vsql_plan_df.columns = prettify_header(rep_vsql_plan_df.columns.values)
print('------------------------------------------')
print(rep_hist_snapshot_df.columns)
print(rep_vsql_plan_df.columns)

------------------------------------------
Index(['SNAP_ID', 'DBID', 'INSTANCE_NUMBER', 'SQL_ID', 'PLAN_HASH_VALUE',
       'OPTIMIZER_COST', 'OPTIMIZER_MODE', 'OPTIMIZER_ENV_HASH_VALUE',
       'SHARABLE_MEM', 'LOADED_VERSIONS', 'VERSION_COUNT', 'MODULE', 'ACTION',
       'SQL_PROFILE', 'FORCE_MATCHING_SIGNATURE', 'PARSING_SCHEMA_ID',
       'PARSING_SCHEMA_NAME', 'PARSING_USER_ID', 'FETCHES_TOTAL',
       'FETCHES_DELTA', 'END_OF_FETCH_COUNT_TOTAL', 'END_OF_FETCH_COUNT_DELTA',
       'SORTS_TOTAL', 'SORTS_DELTA', 'EXECUTIONS_TOTAL', 'EXECUTIONS_DELTA',
       'PX_SERVERS_EXECS_TOTAL', 'PX_SERVERS_EXECS_DELTA', 'LOADS_TOTAL',
       'LOADS_DELTA', 'INVALIDATIONS_TOTAL', 'INVALIDATIONS_DELTA',
       'PARSE_CALLS_TOTAL', 'PARSE_CALLS_DELTA', 'DISK_READS_TOTAL',
       'DISK_READS_DELTA', 'BUFFER_GETS_TOTAL', 'BUFFER_GETS_DELTA',
       'ROWS_PROCESSED_TOTAL', 'ROWS_PROCESSED_DELTA', 'CPU_TIME_TOTAL',
       'CPU_TIME_DELTA', 'ELAPSED_TIME_TOTAL', 'ELAPSED_TIME_DELTA',
       'IOWAIT_TOTAL', 'IOWAIT_DELTA', 'CLWAIT_TOTAL', 'CLWAIT_DELTA',
       'APWAIT_TOTAL', 'APWAIT_DELTA', 'CCWAIT_TOTAL', 'CCWAIT_DELTA',
       'DIRECT_WRITES_TOTAL', 'DIRECT_WRITES_DELTA', 'PLSEXEC_TIME_TOTAL',
       'PLSEXEC_TIME_DELTA', 'JAVEXEC_TIME_TOTAL', 'JAVEXEC_TIME_DELTA',
       'IO_OFFLOAD_ELIG_BYTES_TOTAL', 'IO_OFFLOAD_ELIG_BYTES_DELTA',
       'IO_INTERCONNECT_BYTES_TOTAL', 'IO_INTERCONNECT_BYTES_DELTA',
       'PHYSICAL_READ_REQUESTS_TOTAL', 'PHYSICAL_READ_REQUESTS_DELTA',
       'PHYSICAL_READ_BYTES_TOTAL', 'PHYSICAL_READ_BYTES_DELTA',
       'PHYSICAL_WRITE_REQUESTS_TOTAL', 'PHYSICAL_WRITE_REQUESTS_DELTA',
       'PHYSICAL_WRITE_BYTES_TOTAL', 'PHYSICAL_WRITE_BYTES_DELTA',
       'OPTIMIZED_PHYSICAL_READS_TOTAL', 'OPTIMIZED_PHYSICAL_READS_DELTA',
       'CELL_UNCOMPRESSED_BYTES_TOTAL', 'CELL_UNCOMPRESSED_BYTES_DELTA',
       'IO_OFFLOAD_RETURN_BYTES_TOTAL', 'IO_OFFLOAD_RETURN_BYTES_DELTA',
       'BIND_DATA', 'FLAG', 'CON_DBID', 'CON_ID', 'SQL_TEXT', 'COMMAND_TYPE',
       'STARTUP_TIME', 'BEGIN_INTERVAL_TIME', 'END_INTERVAL_TIME',
       'FLUSH_ELAPSED', 'SNAP_LEVEL', 'ERROR_COUNT', 'SNAP_FLAG',
       'SNAP_TIMEZONE'],
      dtype='object')
Index(['DBID', 'SQL_ID', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS',
       'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION',
       'SEARCH_COLUMNS', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG',
       'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER',
       'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE',
       'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME',
       'QBLOCK_NAME', 'REMARKS', 'TIMESTAMP', 'OTHER_XML', 'CON_DBID',
       'CON_ID'],
      dtype='object')

### Dealing with empty values

In [87]:
def get_na_columns(df, headers):
    """
    Return columns which consist of NAN values
    """
    na_list = []
    for head in headers:
        if df[head].isnull().values.any():
            na_list.append(head)
    return na_list
#
print('N/A Columns\n')
print('\nREP_HIST_SNAPSHOT Features ' + str(len(rep_hist_snapshot_df.columns)) + ': ' + str(get_na_columns(df=rep_hist_snapshot_df,headers=rep_hist_snapshot_df.columns)) + "\n")
print('\nREP_VSQL_PLAN Features ' + str(len(rep_vsql_plan_df.columns)) + ': ' + str(get_na_columns(df=rep_vsql_plan_df,headers=rep_vsql_plan_df.columns)) + "\n")
#
def fill_na(df):
    """
    Replaces NA columns with 0s
    """
    return df.fillna(0)
#
# Populating NaN values with amount '0'
rep_hist_snapshot_df = fill_na(df=rep_hist_snapshot_df)
rep_vsql_plan_df = fill_na(df=rep_vsql_plan_df)

N/A Columns


REP_HIST_SNAPSHOT Features 90: ['OPTIMIZER_COST', 'OPTIMIZER_MODE', 'OPTIMIZER_ENV_HASH_VALUE', 'LOADED_VERSIONS', 'MODULE', 'ACTION', 'SQL_PROFILE', 'PARSING_SCHEMA_ID', 'PARSING_SCHEMA_NAME', 'PARSING_USER_ID', 'FETCHES_TOTAL', 'FETCHES_DELTA', 'END_OF_FETCH_COUNT_TOTAL', 'END_OF_FETCH_COUNT_DELTA', 'SORTS_TOTAL', 'SORTS_DELTA', 'EXECUTIONS_TOTAL', 'EXECUTIONS_DELTA', 'PX_SERVERS_EXECS_TOTAL', 'PX_SERVERS_EXECS_DELTA', 'LOADS_TOTAL', 'LOADS_DELTA', 'INVALIDATIONS_TOTAL', 'INVALIDATIONS_DELTA', 'PARSE_CALLS_TOTAL', 'DISK_READS_TOTAL', 'DISK_READS_DELTA', 'BUFFER_GETS_TOTAL', 'BUFFER_GETS_DELTA', 'ROWS_PROCESSED_TOTAL', 'ROWS_PROCESSED_DELTA', 'CPU_TIME_TOTAL', 'ELAPSED_TIME_TOTAL', 'IOWAIT_TOTAL', 'IOWAIT_DELTA', 'CLWAIT_TOTAL', 'CLWAIT_DELTA', 'APWAIT_TOTAL', 'APWAIT_DELTA', 'CCWAIT_TOTAL', 'CCWAIT_DELTA', 'DIRECT_WRITES_TOTAL', 'DIRECT_WRITES_DELTA', 'PLSEXEC_TIME_TOTAL', 'PLSEXEC_TIME_DELTA', 'JAVEXEC_TIME_TOTAL', 'JAVEXEC_TIME_DELTA', 'IO_OFFLOAD_ELIG_BYTES_TOTAL', 'IO_OFFLOAD_ELIG_BYTES_DELTA', 'IO_INTERCONNECT_BYTES_TOTAL', 'IO_INTERCONNECT_BYTES_DELTA', 'PHYSICAL_READ_REQUESTS_TOTAL', 'PHYSICAL_READ_REQUESTS_DELTA', 'PHYSICAL_READ_BYTES_TOTAL', 'PHYSICAL_READ_BYTES_DELTA', 'PHYSICAL_WRITE_REQUESTS_TOTAL', 'PHYSICAL_WRITE_REQUESTS_DELTA', 'PHYSICAL_WRITE_BYTES_TOTAL', 'PHYSICAL_WRITE_BYTES_DELTA', 'OPTIMIZED_PHYSICAL_READS_TOTAL', 'OPTIMIZED_PHYSICAL_READS_DELTA', 'CELL_UNCOMPRESSED_BYTES_TOTAL', 'CELL_UNCOMPRESSED_BYTES_DELTA', 'IO_OFFLOAD_RETURN_BYTES_TOTAL', 'IO_OFFLOAD_RETURN_BYTES_DELTA', 'BIND_DATA', 'FLAG']


REP_VSQL_PLAN Features 39: ['OPTIONS', 'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'POSITION', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME', 'QBLOCK_NAME', 'REMARKS', 'OTHER_XML']

### TPC-DS Filtering & Merging

Exclude all queries but those pertaining to TPC-DS.
This part also merges the field 'SQL_TEXT' from data matrix REP_HIST_SNAPSHOT with data matrix 'REP_VSQL_PLAN'.

In [88]:
# #
# # Segregating those SQL_IDs which utilize TPC-DS owned objects
# # rep_vsql_plan_series = rep_vsql_plan_df['SQL_ID'].loc[rep_vsql_plan_df['OBJECT_OWNER'] == tpcds]
# rep_vsql_plan_series = rep_vsql_plan_df['SQL_ID'].loc[rep_vsql_plan_df['OBJECT_OWNER'].str.contains([tpcds,'SYS'])]
# tpc_sql_ids = rep_vsql_plan_series.unique()
# print('Total SQL_IDs [' + str(len(tpc_sql_ids)) + ']')
# print('Unique ' + tpcds + ' IDs: ' + str(tpc_sql_ids))
# #
# # Retrieves data matrix rows pertaining to SQL_IDs using TPC-DS owned objects
# print("\nREP_HIST_SNAPSHOT Shape before: " + str(rep_hist_snapshot_df.shape))
# rep_hist_snapshot_df = rep_hist_snapshot_df.loc[rep_hist_snapshot_df['SQL_ID'].isin(tpc_sql_ids)]
# print("REP_HIST_SNAPSHOT after: " + str(rep_hist_snapshot_df.shape))
# #
# print("\nREP_VSQL_PLAN Shape before: " + str(rep_vsql_plan_df.shape))
# rep_vsql_plan_df = rep_vsql_plan_df.loc[rep_vsql_plan_df['SQL_ID'].isin(tpc_sql_ids)]
# print("REP_VSQL_PLAN Shape after: " + str(rep_vsql_plan_df.shape))
# #
# # Group By Values by SNAP_ID, PLAN_HASH_VALUE , sum all metrics (for matrix REP_HIST_SNAPSHOT)
# rep_hist_snapshot_df = rep_hist_snapshot_df.groupby(['SQL_TEXT','SQL_ID','PLAN_HASH_VALUE']).sum()
# rep_hist_snapshot_df.reset_index(inplace=True)
# #
# # Merging data matrixes
# df = pd.merge(rep_hist_snapshot_df, rep_vsql_plan_df, how='inner', on=['SQL_ID','PLAN_HASH_VALUE','DBID'])
# #
# # Dropping / Renaming transformed columns as a result of merge
# df.drop(columns=['CON_DBID_x','CON_ID_x'],inplace=True)
# df.rename(index=str, columns={"SQL_ID_y": "SQL_ID", 
#                               "DBID_y": "DBID", 
#                               "CON_DBID_y":"CON_DBID",
#                               "CON_ID_y":"CON_ID"},inplace=True)
# print("\nMerged Dataframe: " + str(df.shape))
# print("Columns: ")
# print(df.columns.values)
# print(df.head(100))
# #print(df[['SQL_TEXT','OPERATION','OPTIONS','ID']].head(20))

In [89]:
#
# Creating a dataframe consisting of a mapping library, composed of SQL_IDs & SQL_TEXTs
sql_id_map = rep_hist_snapshot_df[['SQL_ID','SQL_TEXT']]
print(sql_id_map.shape)
#
# Drop duplicate combinations from map
sql_id_map.drop_duplicates(keep = False,
                           inplace = True)
print(sql_id_map.shape)
#
# Merge SQL_TEXT with Access Plan table
df = pd.merge(sql_id_map, rep_vsql_plan_df, how='inner', on=['SQL_ID'])
print('Plan table shape: ' + str(rep_vsql_plan_df.shape))
print("Merged matrix shape: " + str(df.shape) + "\n\n--------------------------------------------------------\n\n")
print(df.head())

(1609154, 2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(2216, 2)
Plan table shape: (155850, 39)
Merged matrix shape: (11054, 40)

--------------------------------------------------------


          SQL_ID                                           SQL_TEXT  \
0  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
1  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
2  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
3  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
4  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...

         DBID  PLAN_HASH_VALUE  ID         OPERATION      OPTIONS OBJECT_NODE  \
0  2634225673        332270376   0  SELECT STATEMENT            0           0
1  2634225673        332270376   1              SORT    AGGREGATE           0
2  2634225673        332270376   2    PX COORDINATOR            0           0
3  2634225673        332270376   3           PX SEND  QC (RANDOM)      :Q1000
4  2634225673        332270376   4              SORT    AGGREGATE      :Q1000

   OBJECT# OBJECT_OWNER   ...   ACCESS_PREDICATES FILTER_PREDICATES  \
0      0.0            0   ...                 0.0               0.0
1      0.0            0   ...                 0.0               0.0
2      0.0            0   ...                 0.0               0.0
3      0.0          SYS   ...                 0.0               0.0
4      0.0            0   ...                 0.0               0.0

  PROJECTION TIME  QBLOCK_NAME  REMARKS            TIMESTAMP  \
0        0.0  0.0            0      0.0  2018-10-08 15:52:39
1        0.0  0.0        SEL$1      0.0  2018-10-08 15:52:39
2        0.0  0.0            0      0.0  2018-10-08 15:52:39
3        0.0  0.0            0      0.0  2018-10-08 15:52:39
4        0.0  0.0            0      0.0  2018-10-08 15:52:39

                                           OTHER_XML    CON_DBID  CON_ID
0                                                  0  2634225673       0
1  <other_xml><info type="derived_cpu_dop" id="1"...  2634225673       0
2                                                  0  2634225673       0
3                                                  0  2634225673       0
4                                                  0  2634225673       0

[5 rows x 40 columns]

### Feature Selection

In this step, redundant features are dropped. Features are considered redundant if exhibit a standard devaition of 0 (meaning no change in value).

In [90]:
def drop_flatline_columns(df):
    columns = df.columns
    flatline_features = []
    for i in range(len(columns)):
        try:
            std = df[columns[i]].std()
            if std == 0:
                flatline_features.append(columns[i])
        except:
            pass
    #
    #print('Features which are considered flatline:\n')
    #for col in flatline_features:
    #    print(col)
    print('\nShape before changes: [' + str(df.shape) + ']')
    df = df.drop(columns=flatline_features)
    print('Shape after changes: [' + str(df.shape) + ']')
    print('Dropped a total [' + str(len(flatline_features)) + ']')
    return df
#
df = drop_flatline_columns(df=df)
print('\nAfter flatline column drop:')
print(df.shape)
print(df.columns)

Shape before changes: [(11054, 40)]
Shape after changes: [(11054, 32)]
Dropped a total [8]

After flatline column drop:
(11054, 32)
Index(['SQL_ID', 'SQL_TEXT', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS',
       'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION',
       'SEARCH_COLUMNS', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG',
       'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'DISTRIBUTION',
       'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'TIME', 'QBLOCK_NAME', 'TIMESTAMP',
       'OTHER_XML'],
      dtype='object')

### Data Ordering

Sorting of datasets in order of 
* SNAP_ID
* SQL_ID
* ID

In [91]:
df.sort_values(by=['TIMESTAMP','SQL_ID','ID'], ascending=True, inplace=True)
print(df.head())

          SQL_ID                                           SQL_TEXT  \
0  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
1  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
2  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
3  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
4  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...

   PLAN_HASH_VALUE  ID         OPERATION      OPTIONS OBJECT_NODE  OBJECT#  \
0        332270376   0  SELECT STATEMENT            0           0      0.0
1        332270376   1              SORT    AGGREGATE           0      0.0
2        332270376   2    PX COORDINATOR            0           0      0.0
3        332270376   3           PX SEND  QC (RANDOM)      :Q1000      0.0
4        332270376   4              SORT    AGGREGATE      :Q1000      0.0

  OBJECT_OWNER OBJECT_NAME                        ...                          \
0            0           0                        ...
1            0           0                        ...
2            0           0                        ...
3          SYS    :TQ10000                        ...
4            0           0                        ...

  PARTITION_STOP PARTITION_ID DISTRIBUTION  CPU_COST  IO_COST  TEMP_SPACE  \
0              0          0.0            0                0.0         0.0
1              0          0.0            0                0.0         0.0
2              0          0.0            0                0.0         0.0
3              0          0.0  QC (RANDOM)                0.0         0.0
4              0          0.0            0                0.0         0.0

   TIME  QBLOCK_NAME            TIMESTAMP  \
0   0.0            0  2018-10-08 15:52:39
1   0.0        SEL$1  2018-10-08 15:52:39
2   0.0            0  2018-10-08 15:52:39
3   0.0            0  2018-10-08 15:52:39
4   0.0            0  2018-10-08 15:52:39

                                           OTHER_XML
0                                                  0
1  <other_xml><info type="derived_cpu_dop" id="1"...
2                                                  0
3                                                  0
4                                                  0

[5 rows x 32 columns]

### Label Encoding

Converting labels/features into numerical representations

In [92]:
def encode(df, encoded_labels):
    for col in df.columns:
        if col in encoded_labels:
            le = preprocessing.LabelEncoder()
            df[col] = le.fit_transform(df[col].astype(str))
    return df
#
#print(rep_vsql_plan_df.head())
encoded_labels = ['OPERATION','OPTIONS','OBJECT_OWNER','OBJECT_NAME','OBJECT_ALIAS','OBJECT_TYPE','OPTIMIZER','OTHER_TAG','DISTRIBUTION','QBLOCK_NAME']
df = encode(df=df, encoded_labels=encoded_labels)
print('Encoded labels:\n' + str(encoded_labels) + "\n\n----------------------------------------------\n\n")
print(df.head())

Encoded labels:
['OPERATION', 'OPTIONS', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_TYPE', 'OPTIMIZER', 'OTHER_TAG', 'DISTRIBUTION', 'QBLOCK_NAME']

----------------------------------------------


          SQL_ID                                           SQL_TEXT  \
0  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
1  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
2  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
3  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
4  9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...

   PLAN_HASH_VALUE  ID  OPERATION  OPTIONS OBJECT_NODE  OBJECT#  OBJECT_OWNER  \
0        332270376   0         32        0           0      0.0             0
1        332270376   1         34        1           0      0.0             0
2        332270376   2         29        0           0      0.0             0
3        332270376   3         30       27      :Q1000      0.0             3
4        332270376   4         34        1      :Q1000      0.0             0

   OBJECT_NAME                        ...                          \
0            0                        ...
1            0                        ...
2            0                        ...
3           27                        ...
4            0                        ...

   PARTITION_STOP  PARTITION_ID  DISTRIBUTION  CPU_COST  IO_COST  TEMP_SPACE  \
0               0           0.0             0                0.0         0.0
1               0           0.0             0                0.0         0.0
2               0           0.0             0                0.0         0.0
3               0           0.0             1                0.0         0.0
4               0           0.0             0                0.0         0.0

   TIME  QBLOCK_NAME            TIMESTAMP  \
0   0.0            0  2018-10-08 15:52:39
1   0.0           23  2018-10-08 15:52:39
2   0.0            0  2018-10-08 15:52:39
3   0.0            0  2018-10-08 15:52:39
4   0.0            0  2018-10-08 15:52:39

                                           OTHER_XML
0                                                  0
1  <other_xml><info type="derived_cpu_dop" id="1"...
2                                                  0
3                                                  0
4                                                  0

[5 rows x 32 columns]

### TPC_DS Queries Under Test

Displaying (TPC-DS) queries filtered for upcoming use.

In [93]:
#
# Query Distribution Test
print(df)

              SQL_ID                                           SQL_TEXT  \
0      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
1      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
2      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
3      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
4      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
5      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
6      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
7      9nzkptun0hjwu  /* SQL Analyze(0) */ select /*+  full(t)    pa...
8      0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9      0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10     0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11     0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12     0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13     0cs8gqsjwxxkq  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
15     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
16     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
17     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
18     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
19     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
20     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
21     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
22     ct08q649zt7zq  insert /*+ append */ into sys.ora_temp_1_ds_18...
23     6dzrtbvx64ff5  SELECT /*+ opt_param('parallel_execution_enabl...
24     6dzrtbvx64ff5  SELECT /*+ opt_param('parallel_execution_enabl...
25     6dzrtbvx64ff5  SELECT /*+ opt_param('parallel_execution_enabl...
26     6trq48ndnv72p  SELECT count(*) FROM sys.wri$_adv_executions e...
27     6trq48ndnv72p  SELECT count(*) FROM sys.wri$_adv_executions e...
28     6trq48ndnv72p  SELECT count(*) FROM sys.wri$_adv_executions e...
29     3qr84p3818vfj  SELECT count(*) FROM sys.wri$_adv_executions e...
...              ...                                                ...
11022  gzs81jusursxn  SELECT count(*) FROM sys.wri$_adv_executions e...
11025  4tggkb4xttjt7  SELECT * FROM gv$sql_plan where sql_id = '26jd...
11026  4tggkb4xttjt7  SELECT * FROM gv$sql_plan where sql_id = '26jd...
11030  71fu00knvk67d  SELECT /*+ opt_param('parallel_execution_enabl...
11031  71fu00knvk67d  SELECT /*+ opt_param('parallel_execution_enabl...
11032  71fu00knvk67d  SELECT /*+ opt_param('parallel_execution_enabl...
11027  9mrx3dw8qpdpz  SELECT /*+ opt_param('parallel_execution_enabl...
11028  9mrx3dw8qpdpz  SELECT /*+ opt_param('parallel_execution_enabl...
11029  9mrx3dw8qpdpz  SELECT /*+ opt_param('parallel_execution_enabl...
11033  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11034  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11035  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11036  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11037  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11038  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11039  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11040  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11041  3m7cv0pjrzfad  insert /*+ append */ into sys.ora_temp_1_ds_24...
11042  4j03x0ckv7gtw  SELECT count(*) FROM sys.wri$_adv_executions e...
11043  4j03x0ckv7gtw  SELECT count(*) FROM sys.wri$_adv_executions e...
11044  4j03x0ckv7gtw  SELECT count(*) FROM sys.wri$_adv_executions e...
11045  d6rz0fdspzr71  SELECT count(*) FROM sys.wri$_adv_executions e...
11046  d6rz0fdspzr71  SELECT count(*) FROM sys.wri$_adv_executions e...
11047  d6rz0fdspzr71  SELECT count(*) FROM sys.wri$_adv_executions e...
11048  3y5g4s6fr61y7  SELECT count(*) FROM sys.wri$_adv_executions e...
11049  3y5g4s6fr61y7  SELECT count(*) FROM sys.wri$_adv_executions e...
11050  3y5g4s6fr61y7  SELECT count(*) FROM sys.wri$_adv_executions e...
11051  d2h1mz2r7utka  SELECT /*+ opt_param('parallel_execution_enabl...
11052  d2h1mz2r7utka  SELECT /*+ opt_param('parallel_execution_enabl...
11053  d2h1mz2r7utka  SELECT /*+ opt_param('parallel_execution_enabl...

       PLAN_HASH_VALUE  ID  OPERATION  OPTIONS OBJECT_NODE   OBJECT#  \
0            332270376   0         32        0           0       0.0
1            332270376   1         34        1           0       0.0
2            332270376   2         29        0           0       0.0
3            332270376   3         30       27      :Q1000       0.0
4            332270376   4         34        1      :Q1000       0.0
5            332270376   5         24        0      :Q1000       0.0
6            332270376   6         28       19      :Q1000       0.0
7            332270376   7         36       13      :Q1000  115442.0
8            785807998   0         32        0           0       0.0
9            785807998   1         31        0           0       0.0
10           785807998   2         34        1           0       0.0
11           785807998   3         23        0           0       0.0
12           785807998   4         36       13           0  114552.0
13           785807998   5         14       28           0  114627.0
14          1960839004   0         16        0           0       0.0
15          1960839004   1         19        0           0       0.0
16          1960839004   2         38        0           0       0.0
17          1960839004   3         29        0           0       0.0
18          1960839004   4         30       27      :Q1000       0.0
19          1960839004   5         28       19      :Q1000       0.0
20          1960839004   6         36       33      :Q1000  114592.0
21          1960839004   7          9        0           0       0.0
22          1960839004   8         36       13           0  116020.0
23           714757701   0         32        0           0       0.0
24           714757701   1         34       23           0       0.0
25           714757701   2         11       12           0       0.0
26           564703301   0         32        0           0       0.0
27           564703301   1         34        1           0       0.0
28           564703301   2         14       42           0    7710.0
29           564703301   0         32        0           0       0.0
...                ...  ..        ...      ...         ...       ...
11022        564703301   2         14       42           0    7710.0
11025       3515537046   0         32        0           0       0.0
11026       3515537046   1         11       12           0       0.0
11030        714757701   0         32        0           0       0.0
11031        714757701   1         34       23           0       0.0
11032        714757701   2         11       12           0       0.0
11027        714757701   0         32        0           0       0.0
11028        714757701   1         34       23           0       0.0
11029        714757701   2         11       12           0       0.0
11033       3114207269   0         16        0           0       0.0
11034       3114207269   1         19        0           0       0.0
11035       3114207269   2         38        0           0       0.0
11036       3114207269   3         29        0           0       0.0
11037       3114207269   4         30       27      :Q1000       0.0
11038       3114207269   5         28       19      :Q1000       0.0
11039       3114207269   6         36       33      :Q1000  114586.0
11040       3114207269   7          9        0           0       0.0
11041       3114207269   8         36       13           0  204124.0
11042        564703301   0         32        0           0       0.0
11043        564703301   1         34        1           0       0.0
11044        564703301   2         14       42           0    7710.0
11045        564703301   0         32        0           0       0.0
11046        564703301   1         34        1           0       0.0
11047        564703301   2         14       42           0    7710.0
11048        564703301   0         32        0           0       0.0
11049        564703301   1         34        1           0       0.0
11050        564703301   2         14       42           0    7710.0
11051        714757701   0         32        0           0       0.0
11052        714757701   1         34       23           0       0.0
11053        714757701   2         11       12           0       0.0

       OBJECT_OWNER  OBJECT_NAME  \
0                 0            0
1                 0            0
2                 0            0
3                 3           27
4                 0            0
5                 0            0
6                 0            0
7                 5          286
8                 0            0
9                 0          530
10                0            0
11                0            0
12                5           73
13                5           65
14                0            0
15                0            0
16                0            0
17                0            0
18                3           27
19                0            0
20                5           32
21                0            0
22                3          147
23                0            0
24                0            0
25                3          491
26                0            0
27                0            0
28                3          385
29                0            0
...             ...          ...
11022             3          385
11025             0            0
11026             3          491
11030             0            0
11031             0            0
11032             3          491
11027             0            0
11028             0            0
11029             3          491
11033             0            0
11034             0            0
11035             0            0
11036             0            0
11037             3           27
11038             0            0
11039             5           31
11040             0            0
11041             3          181
11042             0            0
11043             0            0
11044             3          385
11045             0            0
11046             0            0
11047             3          385
11048             0            0
11049             0            0
11050             3          385
11051             0            0
11052             0            0
11053             3          491

                             ...                          PARTITION_STOP  \
0                            ...                                       0
1                            ...                                       0
2                            ...                                       0
3                            ...                                       0
4                            ...                                       0
5                            ...                                       0
6                            ...                                       0
7                            ...                                       0
8                            ...                                       0
9                            ...                                       0
10                           ...                                       0
11                           ...                                       0
12                           ...                                       0
13                           ...                                       0
14                           ...                                       0
15                           ...                                       0
16                           ...                                       0
17                           ...                                       0
18                           ...                                       0
19                           ...                                       0
20                           ...                                       0
21                           ...                                       0
22                           ...                                       0
23                           ...                                       0
24                           ...                                       0
25                           ...                                       0
26                           ...                                       0
27                           ...                                       0
28                           ...                                       0
29                           ...                                       0
...                          ...                                     ...
11022                        ...                                       0
11025                        ...                                       0
11026                        ...                                       0
11030                        ...                                       0
11031                        ...                                       0
11032                        ...                                       0
11027                        ...                                       0
11028                        ...                                       0
11029                        ...                                       0
11033                        ...                                       0
11034                        ...                                       0
11035                        ...                                       0
11036                        ...                                       0
11037                        ...                                       0
11038                        ...                                       0
11039                        ...                                       0
11040                        ...                                       0
11041                        ...                                       0
11042                        ...                                       0
11043                        ...                                       0
11044                        ...                                       0
11045                        ...                                       0
11046                        ...                                       0
11047                        ...                                       0
11048                        ...                                       0
11049                        ...                                       0
11050                        ...                                       0
11051                        ...                                       0
11052                        ...                                       0
11053                        ...                                       0

       PARTITION_ID  DISTRIBUTION     CPU_COST  IO_COST  TEMP_SPACE  TIME  \
0               0.0             0                   0.0         0.0   0.0
1               0.0             0                   0.0         0.0   0.0
2               0.0             0                   0.0         0.0   0.0
3               0.0             1                   0.0         0.0   0.0
4               0.0             0                   0.0         0.0   0.0
5               0.0             0      1283333     13.0         0.0   1.0
6               0.0             0      1283333     13.0         0.0   1.0
7               0.0             0      1283333     13.0         0.0   1.0
8               0.0             0                   0.0         0.0   0.0
9               0.0             0                   0.0         0.0   0.0
10              0.0             0                   0.0         0.0   0.0
11              0.0             0     31332033    411.0         0.0   1.0
12              0.0             0     29174261    375.0         0.0   1.0
13              0.0             0       179814      3.0         0.0   1.0
14              0.0             0                   0.0         0.0   0.0
15              0.0             0                   0.0         0.0   0.0
16              0.0             0                   0.0         0.0   0.0
17              0.0             0                   0.0         0.0   0.0
18              0.0             1      3540005    159.0         0.0   1.0
19              0.0             0      3540005    159.0         0.0   1.0
20              0.0             0      3540005    159.0         0.0   1.0
21              0.0             0                   0.0         0.0   0.0
22              0.0             0      4551104     29.0         0.0   1.0
23              0.0             0                   0.0         0.0   0.0
24              0.0             0     32104599      0.0         0.0   1.0
25              0.0             0        24845      0.0         0.0   0.0
26              0.0             0                   0.0         0.0   0.0
27              0.0             0                   0.0         0.0   0.0
28              0.0             0         8171      1.0         0.0   1.0
29              0.0             0                   0.0         0.0   0.0
...             ...           ...          ...      ...         ...   ...
11022           0.0             0         8171      1.0         0.0   1.0
11025           0.0             0            0      0.0         0.0   0.0
11026           0.0             0        24845      0.0         0.0   0.0
11030           0.0             0            0      0.0         0.0   0.0
11031           0.0             0  3.21046e+07      0.0         0.0   1.0
11032           0.0             0        24845      0.0         0.0   0.0
11027           0.0             0            0      0.0         0.0   0.0
11028           0.0             0  3.21046e+07      0.0         0.0   1.0
11029           0.0             0        24845      0.0         0.0   0.0
11033           0.0             0            0      0.0         0.0   0.0
11034           0.0             0            0      0.0         0.0   0.0
11035           0.0             0            0      0.0         0.0   0.0
11036           0.0             0            0      0.0         0.0   0.0
11037           0.0             1       386320     13.0         0.0   1.0
11038           0.0             0       386320     13.0         0.0   1.0
11039           0.0             0       386320     13.0         0.0   1.0
11040           0.0             0            0      0.0         0.0   0.0
11041           0.0             0  3.08086e+06     29.0         0.0   1.0
11042           0.0             0            0      0.0         0.0   0.0
11043           0.0             0            0      0.0         0.0   0.0
11044           0.0             0         8171      1.0         0.0   1.0
11045           0.0             0            0      0.0         0.0   0.0
11046           0.0             0            0      0.0         0.0   0.0
11047           0.0             0         8171      1.0         0.0   1.0
11048           0.0             0            0      0.0         0.0   0.0
11049           0.0             0            0      0.0         0.0   0.0
11050           0.0             0         8171      1.0         0.0   1.0
11051           0.0             0            0      0.0         0.0   0.0
11052           0.0             0  3.21046e+07      0.0         0.0   1.0
11053           0.0             0        24845      0.0         0.0   0.0

       QBLOCK_NAME            TIMESTAMP  \

### Access Plan Resource Aggregation

This method attempts to tackle the problem of access plan anomolies by aggregating resources per explain plan. Notable resources which are being considered are as follows:

* COST
* CARDINALITY
* BYTES
* PARTITION_DELTA (Partition End - Partition Start)
* CPU_COST
* IO_COST
* TEMP_SPACE
* TIME

The reasoning behind these fields in particular is mainly because these columns can be aggregated together.

In [94]:
df_aggregate = df.groupby(['SQL_TEXT','PLAN_HASH_VALUE']).sum()
df_aggregate.reset_index(inplace=True)
print(df_aggregate.columns)
print(df_aggregate.shape)
# for index, row in df_aggregate.iterrows():
#     print(row['SQL_TEXT'])

Index(['SQL_TEXT', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS', 'OBJECT#',
       'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_TYPE',
       'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION', 'SEARCH_COLUMNS', 'COST',
       'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_ID', 'DISTRIBUTION',
       'IO_COST', 'TEMP_SPACE', 'TIME', 'QBLOCK_NAME'],
      dtype='object')
(2104, 25)