# Schedule

This notebook contains work pertatining to pattern learning / identification for a database workload schedule.

In [1]:
#
# Module Import
import pandas as pd
import matplotlib.pyplot as plt
#
# Open Data
rep_hist_snapshot_path = 'C:/Users/gabriel.sammut/University/Data_ICS5200/Schedule/tpcds1/rep_hist_snapshot.csv'
rep_vsql_plan_path = 'C:/Users/gabriel.sammut/University/Data_ICS5200/Schedule/tpcds1/rep_vsql_plan.csv'
#
rep_hist_snapshot_df = pd.read_csv(rep_hist_snapshot_path)
rep_vsql_plan_df = pd.read_csv(rep_vsql_plan_path)
#
print(rep_hist_snapshot_df.head())
print("---------------------------------------------------------------------------------")
print(rep_vsql_plan_df.head())

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10,24,25,30,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   608  2634225673  1  gyqkrz4r79a2t    82777415  1.1  ALL_ROWS  2537082850  \
0  608  2634225673  1  gx4mv66pvj3xz  4120883053  2.0    CHOOSE  2075687385
1  608  2634225673  1  gx4mv66pvj3xz  2570921597  2.0    CHOOSE  1633746601
2  608  2634225673  1  gwg69nz9j8vvb  3102754926  1.0  ALL_ROWS  2537082850
3  608  2634225673  1  grzuvf0hjxt1f   108095504  2.0    CHOOSE  1633746601
4  608  2634225673  1  grwydz59pu6mc  3684871272  1.0    CHOOSE  2035934494

   77200  1.2   ...     2634225673.1 0.32  2018-09-16 18:11:16  \
0  29121    1   ...       2634225673    0  2018-09-16 18:11:16
1  29121    1   ...       2634225673    0  2018-09-16 18:11:16
2  40073    1   ...       2634225673    0  2018-09-16 18:11:16
3  37106    2   ...       2634225673    0  2018-09-16 18:11:16
4  29030    2   ...       2634225673    0  2018-09-16 18:11:16

   2018-09-16 18:11:16.1  2018-09-16 18:11:17.032000  0:00:00.100000 1.16  \
0    2018-09-16 18:11:16  2018-09-16 18:11:17.032000  0:00:00.100000    1
1    2018-09-16 18:11:16  2018-09-16 18:11:17.032000  0:00:00.100000    1
2    2018-09-16 18:11:16  2018-09-16 18:11:17.032000  0:00:00.100000    1
3    2018-09-16 18:11:16  2018-09-16 18:11:17.032000  0:00:00.100000    1
4    2018-09-16 18:11:16  2018-09-16 18:11:17.032000  0:00:00.100000    1

   0.33  1.17  2:00:00
0     0     1  2:00:00
1     0     1  2:00:00
2     0     1  2:00:00
3     0     1  2:00:00
4     0     1  2:00:00

[5 rows x 88 columns]
---------------------------------------------------------------------------------
   b'\x00\x00\x00\x01>\xfe\xa9\xd0'  1052578227  04kug40zbu4dm  4006480256  \
0  b'\x00\x00\x00\x01>\xfe\xa9\xd0'  1052578227  04kug40zbu4dm  4006480256
1  b'\x00\x00\x00\x01D\xf0\x9d\xa8'  1837016517  0gx3b09qrx9f5  1964104430
2  b'\x00\x00\x00\x01D\xf0\x9d\xa8'  1837016517  0gx3b09qrx9f5  1964104430
3  b'\x00\x00\x00\x01D\xf0\x9d\xa8'  1837016517  0gx3b09qrx9f5  1964104430
4  b'\x00\x00\x00\x01D\xf0\x9d\xa8'  1837016517  0gx3b09qrx9f5  1964104430

   3207538813  b'\x00\x00\x00\x01>\xfe\x950'  0  2018-09-16 18:11:16  \
0  3207538813  b'\x00\x00\x00\x01>\xfe\x950'  0  2018-09-16 18:11:16
1  1254914732  b'\x00\x00\x00\x01D\xdcU\xc0'  1  2018-09-16 18:11:17
2  1254914732  b'\x00\x00\x00\x01D\xf0\x8b8'  0  2018-09-16 18:11:17
3  1254914732  b'\x00\x00\x00\x01D\xdcU\xc0'  1  2018-09-16 18:11:17
4  1254914732  b'\x00\x00\x00\x01D\xf0\x8b8'  0  2018-09-16 18:11:17

   SELECT STATEMENT      Unnamed: 9 ...  Unnamed: 32  Unnamed: 33 Unnamed: 34  \
0      TABLE ACCESS            FULL ...          2.0                      NaN
1  SELECT STATEMENT             NaN ...          NaN                      NaN
2  SELECT STATEMENT             NaN ...          NaN                      NaN
3      TABLE ACCESS  BY INDEX ROWID ...          2.0                      NaN
4      TABLE ACCESS  BY INDEX ROWID ...          2.0                      NaN

                   Unnamed: 35                                    Unnamed: 36  \
0  ("OBJECT#"=:1 AND "TYPE"=2)  "POLICY#"[NUMBER,22], "ACTION#"[VARCHAR2,100]
1                          NaN                                            NaN
2                          NaN                                            NaN
3                          NaN         "OBJ#"[NUMBER,22], "INDEX#"[NUMBER,22]
4                          NaN         "OBJ#"[NUMBER,22], "INDEX#"[NUMBER,22]

  Unnamed: 37 Unnamed: 38  Unnamed: 39  \
0         1.0       SEL$1          NaN
1         NaN         NaN          NaN
2         NaN         NaN          NaN
3         1.0       SEL$1          NaN
4         1.0       SEL$1          NaN

                                         Unnamed: 40  0.4
0  <other_xml><info type="db_version">12.1.0.2</i...    0
1                                                NaN    0
2                                                NaN    0
3  <other_xml><info type="db_version">12.1.0.2</i...    0
4  <other_xml><info type="db_version">12.1.0.2</i...    0

[5 rows x 42 columns]

# Dataset Description


Statistical calculations:
* Column Names
* Dataframe Row Counts
* Mean (were applicable)
* Standard Dev (were applicable)
* Quartile Percentile
* Min / Max

In [17]:
print('\n-----------------------------------------------------------\nDataframe Row Count: HIST_SNAPSHOT - ' + str(len(rep_hist_snapshot_df)))
print('Dataframe Row Count: VSQL_PLAN - ' + str(len(rep_vsql_plan_df)) + '\n-----------------------------------------------------------\n')
#
print('HIST_SNAPSHOT:')
print(rep_hist_snapshot_df.describe())
print('\n\nVSQL_PLAN:')
print(rep_vsql_plan_df.describe())

-----------------------------------------------------------
Dataframe Row Count: HIST_SNAPSHOT - 117203
Dataframe Row Count: VSQL_PLAN - 837426
-----------------------------------------------------------

HIST_SNAPSHOT:
                 608    2634225673         1      82777415           1.1  \
count  117203.000000  1.172030e+05  117203.0  1.172030e+05  1.160330e+05
mean      675.243364  2.634226e+09       1.0  2.028085e+09  2.013779e+10
std        40.179568  0.000000e+00       0.0  1.396291e+09  6.036180e+11
min       608.000000  2.634226e+09       1.0  0.000000e+00  0.000000e+00
25%       640.000000  2.634226e+09       1.0  8.152299e+08  1.000000e+00
50%       675.000000  2.634226e+09       1.0  1.935745e+09  2.000000e+00
75%       710.000000  2.634226e+09       1.0  3.373258e+09  6.000000e+00
max       745.000000  2.634226e+09       1.0  4.286179e+09  1.811331e+13

         2537082850         77200            1.2            1.3  Unnamed: 13  \
count  1.172030e+05  1.172030e+05  117203.000000  117203.000000          0.0
mean   2.463720e+09  8.567105e+04       1.249686       1.471720          NaN
std    5.201165e+08  4.043017e+05       0.646917       0.991108          NaN
min    1.724721e+08  7.203000e+03       0.000000       1.000000          NaN
25%    2.075687e+09  3.128300e+04       1.000000       1.000000          NaN
50%    2.537083e+09  4.415900e+04       1.000000       1.000000          NaN
75%    2.537083e+09  7.737400e+04       1.000000       2.000000          NaN
max    4.074711e+09  1.094940e+07       6.000000      11.000000          NaN

         ...         0.28      0.29           0.30      0.31  Unnamed: 77  \
count    ...     117203.0  117203.0  117203.000000  117203.0          0.0
mean     ...          0.0       0.0      -3.914166       0.0          NaN
std      ...          0.0       0.0     179.024582       0.0          NaN
min      ...          0.0       0.0   -8192.000000       0.0          NaN
25%      ...          0.0       0.0       0.000000       0.0          NaN
50%      ...          0.0       0.0       0.000000       0.0          NaN
75%      ...          0.0       0.0       0.000000       0.0          NaN
max      ...          0.0       0.0       0.000000       0.0          NaN

       2634225673.1      0.32      1.16      0.33      1.17
count  1.172030e+05  117203.0  117203.0  117203.0  117203.0
mean   2.634226e+09       0.0       1.0       0.0       1.0
std    0.000000e+00       0.0       0.0       0.0       0.0
min    2.634226e+09       0.0       1.0       0.0       1.0
25%    2.634226e+09       0.0       1.0       0.0       1.0
50%    2.634226e+09       0.0       1.0       0.0       1.0
75%    2.634226e+09       0.0       1.0       0.0       1.0
max    2.634226e+09       0.0       1.0       0.0       1.0

[8 rows x 77 columns]


VSQL_PLAN:
         1052578227    4006480256    3207538813              0   Unnamed: 11  \
count  8.374260e+05  8.374260e+05  8.374260e+05  837426.000000  2.838840e+05
mean   2.080232e+09  1.938505e+09  2.359884e+09       0.394148  2.314496e+08
std    1.254610e+09  1.233357e+09  1.290855e+09       0.743742  9.683682e+08
min    1.228832e+06  0.000000e+00  7.222229e+06       0.000000  3.000000e+00
25%    1.037926e+09  1.017615e+09  1.192062e+09       0.000000  7.500000e+01
50%    1.785439e+09  1.345232e+09  2.481429e+09       0.000000  7.734000e+03
75%    3.287960e+09  3.091660e+09  3.690179e+09       1.000000  8.693000e+03
max    4.290981e+09  4.286179e+09  4.289897e+09      10.000000  4.294953e+09

                 0.1    Unnamed: 18            0.2             2  \
count  837426.000000  745474.000000  837426.000000  8.362400e+05
mean       24.832899      24.213704       5.946155  2.382683e+09
std        54.779490      56.188278       6.680999  2.077305e+11
min         0.000000       0.000000       0.000000  1.000000e+00
25%         2.000000       1.000000       2.000000  1.000000e+00
50%         6.000000       5.000000       4.000000  1.000000e+00
75%        21.000000      18.000000       8.000000  2.000000e+00
max       382.000000     381.000000      51.000000  1.811331e+13

                 0.3           2.1   Unnamed: 23   Unnamed: 28  Unnamed: 29  \
count  837426.000000  6.956960e+05  6.444570e+05  22248.000000          0.0
mean        0.238568  7.026679e+09  4.355687e+13     11.043959          NaN
std         0.704097  3.375067e+11  2.333122e+15      4.387750          NaN
min         0.000000  0.000000e+00  1.000000e+00      2.000000          NaN
25%         0.000000  1.000000e+00  1.000000e+00      7.000000          NaN
50%         0.000000  2.000000e+00  1.000000e+00     12.000000          NaN
75%         0.000000  5.000000e+00  6.000000e+00     15.000000          NaN
max         6.000000  1.811331e+13  1.262860e+17     18.000000          NaN

        Unnamed: 32   Unnamed: 37  Unnamed: 39       0.4
count  6.049300e+05  4.373760e+05          0.0  837426.0
mean   6.657235e+06  2.586402e+05          NaN       0.0
std    2.440680e+08  1.227256e+07          NaN       0.0
min    0.000000e+00  1.000000e+00          NaN       0.0
25%    0.000000e+00  1.000000e+00          NaN       0.0
50%    1.000000e+00  1.000000e+00          NaN       0.0
75%    4.000000e+00  1.000000e+00          NaN       0.0
max    1.193413e+10  7.075468e+08          NaN       0.0

# Data Visualization