# Schedule Access Plan Recommendation

This notebook is dedicated to model fitting in terms of database access plans.

In [74]:
# pandas
import pandas as pd
print('pandas: %s' % pd.__version__)
# numpy
import numpy as np
print('numpy: %s' % np.__version__)
# sklearn
import sklearn as sk
from sklearn import preprocessing
print('sklearn: %s' % sk.__version__)

pandas: 0.23.4
numpy: 1.15.2
sklearn: 0.20.0

In [75]:
#
# Experiment Config
tpcds='TPCDS1' # Schema upon which to operate test

### Read data from file into pandas dataframes

In [76]:
#rep_hist_snapshot_path = 'C:/Users/gabriel.sammut/University/Data_ICS5200/Schedule/' + tpcds + '/rep_hist_snapshot.csv'
# rep_vsql_plan_path = 'C:/Users/gabriel.sammut/University/Data_ICS5200/Schedule/' + tpcds + '/rep_vsql_plan.csv'
rep_hist_snapshot_path = 'D:/Projects/Datagenerated_ICS5200/Schedule/' + tpcds + '/rep_hist_snapshot.csv'
rep_vsql_plan_path = 'D:/Projects/Datagenerated_ICS5200/Schedule/' + tpcds + '/rep_vsql_plan.csv'
#
rep_hist_snapshot_df = pd.read_csv(rep_hist_snapshot_path)
rep_vsql_plan_df = pd.read_csv(rep_vsql_plan_path)
#
def prettify_header(headers):
    """
    Cleans header list from unwated character strings
    """
    header_list = []
    [header_list.append(header.replace("(","").replace(")","").replace("'","").replace(",","")) for header in headers]
    return header_list
#
rep_hist_snapshot_df.columns = prettify_header(rep_hist_snapshot_df.columns.values)
rep_vsql_plan_df.columns = prettify_header(rep_vsql_plan_df.columns.values)
print('------------------------------------------')
print(rep_hist_snapshot_df.columns)
print(rep_vsql_plan_df.columns)

------------------------------------------
Index(['SNAP_ID', 'DBID', 'INSTANCE_NUMBER', 'SQL_ID', 'PLAN_HASH_VALUE',
       'OPTIMIZER_COST', 'OPTIMIZER_MODE', 'OPTIMIZER_ENV_HASH_VALUE',
       'SHARABLE_MEM', 'LOADED_VERSIONS', 'VERSION_COUNT', 'MODULE', 'ACTION',
       'SQL_PROFILE', 'FORCE_MATCHING_SIGNATURE', 'PARSING_SCHEMA_ID',
       'PARSING_SCHEMA_NAME', 'PARSING_USER_ID', 'FETCHES_TOTAL',
       'FETCHES_DELTA', 'END_OF_FETCH_COUNT_TOTAL', 'END_OF_FETCH_COUNT_DELTA',
       'SORTS_TOTAL', 'SORTS_DELTA', 'EXECUTIONS_TOTAL', 'EXECUTIONS_DELTA',
       'PX_SERVERS_EXECS_TOTAL', 'PX_SERVERS_EXECS_DELTA', 'LOADS_TOTAL',
       'LOADS_DELTA', 'INVALIDATIONS_TOTAL', 'INVALIDATIONS_DELTA',
       'PARSE_CALLS_TOTAL', 'PARSE_CALLS_DELTA', 'DISK_READS_TOTAL',
       'DISK_READS_DELTA', 'BUFFER_GETS_TOTAL', 'BUFFER_GETS_DELTA',
       'ROWS_PROCESSED_TOTAL', 'ROWS_PROCESSED_DELTA', 'CPU_TIME_TOTAL',
       'CPU_TIME_DELTA', 'ELAPSED_TIME_TOTAL', 'ELAPSED_TIME_DELTA',
       'IOWAIT_TOTAL', 'IOWAIT_DELTA', 'CLWAIT_TOTAL', 'CLWAIT_DELTA',
       'APWAIT_TOTAL', 'APWAIT_DELTA', 'CCWAIT_TOTAL', 'CCWAIT_DELTA',
       'DIRECT_WRITES_TOTAL', 'DIRECT_WRITES_DELTA', 'PLSEXEC_TIME_TOTAL',
       'PLSEXEC_TIME_DELTA', 'JAVEXEC_TIME_TOTAL', 'JAVEXEC_TIME_DELTA',
       'IO_OFFLOAD_ELIG_BYTES_TOTAL', 'IO_OFFLOAD_ELIG_BYTES_DELTA',
       'IO_INTERCONNECT_BYTES_TOTAL', 'IO_INTERCONNECT_BYTES_DELTA',
       'PHYSICAL_READ_REQUESTS_TOTAL', 'PHYSICAL_READ_REQUESTS_DELTA',
       'PHYSICAL_READ_BYTES_TOTAL', 'PHYSICAL_READ_BYTES_DELTA',
       'PHYSICAL_WRITE_REQUESTS_TOTAL', 'PHYSICAL_WRITE_REQUESTS_DELTA',
       'PHYSICAL_WRITE_BYTES_TOTAL', 'PHYSICAL_WRITE_BYTES_DELTA',
       'OPTIMIZED_PHYSICAL_READS_TOTAL', 'OPTIMIZED_PHYSICAL_READS_DELTA',
       'CELL_UNCOMPRESSED_BYTES_TOTAL', 'CELL_UNCOMPRESSED_BYTES_DELTA',
       'IO_OFFLOAD_RETURN_BYTES_TOTAL', 'IO_OFFLOAD_RETURN_BYTES_DELTA',
       'BIND_DATA', 'FLAG', 'CON_DBID', 'CON_ID', 'SQL_TEXT', 'COMMAND_TYPE',
       'STARTUP_TIME', 'BEGIN_INTERVAL_TIME', 'END_INTERVAL_TIME',
       'FLUSH_ELAPSED', 'SNAP_LEVEL', 'ERROR_COUNT', 'SNAP_FLAG',
       'SNAP_TIMEZONE'],
      dtype='object')
Index(['DBID', 'SQL_ID', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS',
       'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION',
       'SEARCH_COLUMNS', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG',
       'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER',
       'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE',
       'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME',
       'QBLOCK_NAME', 'REMARKS', 'TIMESTAMP', 'OTHER_XML', 'CON_DBID',
       'CON_ID'],
      dtype='object')

### Dealing with empty values

In [77]:
def get_na_columns(df, headers):
    """
    Return columns which consist of NAN values
    """
    na_list = []
    for head in headers:
        if df[head].isnull().values.any():
            na_list.append(head)
    return na_list
#
print('N/A Columns\n')
print('\nREP_HIST_SNAPSHOT Features ' + str(len(rep_hist_snapshot_df.columns)) + ': ' + str(get_na_columns(df=rep_hist_snapshot_df,headers=rep_hist_snapshot_df.columns)) + "\n")
print('\nREP_VSQL_PLAN Features ' + str(len(rep_vsql_plan_df.columns)) + ': ' + str(get_na_columns(df=rep_vsql_plan_df,headers=rep_vsql_plan_df.columns)) + "\n")
#
def fill_na(df):
    """
    Replaces NA columns with 0s
    """
    return df.fillna(0)
#
# Populating NaN values with amount '0'
rep_hist_snapshot_df = fill_na(df=rep_hist_snapshot_df)
rep_vsql_plan_df = fill_na(df=rep_vsql_plan_df)

N/A Columns


REP_HIST_SNAPSHOT Features 90: ['OPTIMIZER_COST', 'OPTIMIZER_MODE', 'OPTIMIZER_ENV_HASH_VALUE', 'LOADED_VERSIONS', 'MODULE', 'ACTION', 'SQL_PROFILE', 'PARSING_SCHEMA_ID', 'PARSING_SCHEMA_NAME', 'PARSING_USER_ID', 'FETCHES_TOTAL', 'FETCHES_DELTA', 'END_OF_FETCH_COUNT_TOTAL', 'END_OF_FETCH_COUNT_DELTA', 'SORTS_TOTAL', 'SORTS_DELTA', 'EXECUTIONS_TOTAL', 'EXECUTIONS_DELTA', 'PX_SERVERS_EXECS_TOTAL', 'PX_SERVERS_EXECS_DELTA', 'LOADS_TOTAL', 'LOADS_DELTA', 'INVALIDATIONS_TOTAL', 'INVALIDATIONS_DELTA', 'PARSE_CALLS_TOTAL', 'DISK_READS_TOTAL', 'DISK_READS_DELTA', 'BUFFER_GETS_TOTAL', 'BUFFER_GETS_DELTA', 'ROWS_PROCESSED_TOTAL', 'ROWS_PROCESSED_DELTA', 'CPU_TIME_TOTAL', 'ELAPSED_TIME_TOTAL', 'IOWAIT_TOTAL', 'IOWAIT_DELTA', 'CLWAIT_TOTAL', 'CLWAIT_DELTA', 'APWAIT_TOTAL', 'APWAIT_DELTA', 'CCWAIT_TOTAL', 'CCWAIT_DELTA', 'DIRECT_WRITES_TOTAL', 'DIRECT_WRITES_DELTA', 'PLSEXEC_TIME_TOTAL', 'PLSEXEC_TIME_DELTA', 'JAVEXEC_TIME_TOTAL', 'JAVEXEC_TIME_DELTA', 'IO_OFFLOAD_ELIG_BYTES_TOTAL', 'IO_OFFLOAD_ELIG_BYTES_DELTA', 'IO_INTERCONNECT_BYTES_TOTAL', 'IO_INTERCONNECT_BYTES_DELTA', 'PHYSICAL_READ_REQUESTS_TOTAL', 'PHYSICAL_READ_REQUESTS_DELTA', 'PHYSICAL_READ_BYTES_TOTAL', 'PHYSICAL_READ_BYTES_DELTA', 'PHYSICAL_WRITE_REQUESTS_TOTAL', 'PHYSICAL_WRITE_REQUESTS_DELTA', 'PHYSICAL_WRITE_BYTES_TOTAL', 'PHYSICAL_WRITE_BYTES_DELTA', 'OPTIMIZED_PHYSICAL_READS_TOTAL', 'OPTIMIZED_PHYSICAL_READS_DELTA', 'CELL_UNCOMPRESSED_BYTES_TOTAL', 'CELL_UNCOMPRESSED_BYTES_DELTA', 'IO_OFFLOAD_RETURN_BYTES_TOTAL', 'IO_OFFLOAD_RETURN_BYTES_DELTA', 'BIND_DATA', 'FLAG']


REP_VSQL_PLAN Features 39: ['OPTIONS', 'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'POSITION', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME', 'QBLOCK_NAME', 'REMARKS', 'OTHER_XML']

### TPC-DS Filtering & Merging

Exclude all queries but those pertaining to TPC-DS.
This part also merges the field 'SQL_TEXT' from data matrix REP_HIST_SNAPSHOT with data matrix 'REP_VSQL_PLAN'.

In [78]:
#
# Segregating those SQL_IDs which utilize TPC-DS owned objects
rep_vsql_plan_series = rep_vsql_plan_df['SQL_ID'].loc[rep_vsql_plan_df['OBJECT_OWNER'] == tpcds]
tpc_sql_ids = rep_vsql_plan_series.unique()
print('Unique ' + tpcds + ' IDs: ' + str(tpc_sql_ids))
#
# Retrieves data matrix rows pertaining to SQL_IDs using TPC-DS owned objects
print("\nREP_HIST_SNAPSHOT Shape before: " + str(rep_hist_snapshot_df.shape))
rep_hist_snapshot_df = rep_hist_snapshot_df.loc[rep_hist_snapshot_df['SQL_ID'].isin(tpc_sql_ids)]
print("REP_HIST_SNAPSHOT after: " + str(rep_hist_snapshot_df.shape))
#
print("\nREP_VSQL_PLAN Shape before: " + str(rep_vsql_plan_df.shape))
rep_vsql_plan_df = rep_vsql_plan_df.loc[rep_vsql_plan_df['SQL_ID'].isin(tpc_sql_ids)]
print("REP_VSQL_PLAN Shape after: " + str(rep_vsql_plan_df.shape))
#
# Group By Values by SNAP_ID, PLAN_HASH_VALUE , sum all metrics (for matrix REP_HIST_SNAPSHOT)
rep_hist_snapshot_df = rep_hist_snapshot_df.groupby(['SQL_TEXT','SQL_ID','PLAN_HASH_VALUE']).sum()
rep_hist_snapshot_df.reset_index(inplace=True)
#
# Merging data matrixes
df = pd.merge(rep_hist_snapshot_df, rep_vsql_plan_df, how='inner', on='PLAN_HASH_VALUE')
#
# Dropping / Renaming transformed columns as a result of merge
df.drop(columns=['SQL_ID_x', 'DBID_x','CON_DBID_x','CON_ID_x'],inplace=True)
df.rename(index=str, columns={"SQL_ID_y": "SQL_ID", 
                              "DBID_y": "DBID", 
                              "CON_DBID_y":"CON_DBID",
                              "CON_ID_y":"CON_ID"},inplace=True)
print("\nMerged Dataframe: " + str(df.shape))
print("Columns: ")
print(df.columns.values)
print(df.head(100))
#print(df[['SQL_TEXT','OPERATION','OPTIONS','ID']].head(20))

Unique TPCDS1 IDs: ['0ga8vk4nftz45' '54qdvyrqsg8m6' '8skndm0ag8dwu' '9nzkptun0hjwu'
 '8rv3y7yy1zny3' 'gu5x4z494njku' '785wb90xs3r0t' '2j5bk3tn2zt0g'
 'cfsnf5tz2q74a' 'au8ztarrm6vvs' 'cjq93m442uprp' 'gkjkxbzzptg00'
 'gh5w0gcyfaujs' '7m8xtjmn5zv0g' '3419gsthd5szh' 'bcbpkhm3cq424'
 'd134mqkq6kgbu' '9ua42c6f2qs7s' 'd7w1dugmzb9n9' '4g1u6kabran4u'
 '9x8gaksqvta15' '4cgbvpjc134nu' '8k0qd372mh9td' 'd5wzutxy2w8np'
 'bj5v9w48937nu' '9kum9s57rptk4' 'c277ysg385fby' 'gn7c56v4qdv0a'
 'gw5vg9fmj44kf' '0cs8gqsjwxxkq' '36zntmzb9nzbx' 'b8cjbq1au6kz8'
 '53w22dn4kt7us' 'ct08q649zt7zq' 'dqmnrkfw3n0hc' '3uqub29v7bm7k'
 '731j23kzchb46' '18kgfax58817q' '3z4t7h53vpq5j' 'g2kvb6h17ds7m'
 '34727gtyphqg0' '0axwf3djk6qhw' '3uvpfa36gkwa2' '6fn9107s176xp'
 '8hb1p1z9z4wfb' '9tasj8t3m8c9h' 'fx86bvbgy3k69' '5d1xymjjs040y'
 '8pyv1un0240hy' '1z9kdprccj203' 'g04ur4j6jn9av' '0a08ug2qc1j82'
 '5q9kqvuctxkvq' '0vx9985zy097p' '1aqmps4rb3nsn' '267gcwda3u6qf'
 'c71j8ycjcmgvk' 'dswqy60bkb6x5' '40tcb45hnv1wk' '2wtt22p5d7h8d'
 '6u93j5rud32dk' '846jscr96cytx' 'btyn4akvn7q06' '0nkr85xhdu4k1'
 '2wr5hmu538v0m' '4mmqayxa4hwb0' '6d0rbkgfab2xa' 'f4mjabdfzunkp'
 '8zrx3g9jq5ckd' 'cuvxgpyqq3dtt' '49dq0xrjy5fjq' 'bjysnk84b0gq6'
 '19ry84435qr7s' '9mvdubkgsb8kk' '3rz7xpr8mzz80' 'agb5cpzfwtq4h'
 'd8bn4gpadpwz8' '6qg2pcar5d08w' '193ncz0tf25hw' '7s64w7wcht44y'
 '98vnaj0nn42wp' '396mj9bd8j16n' '5ry53w1yug897' 'gdxhxvtrd1fk7'
 '5202s5f28dyv0' 'aa9rns4zjh1qc' '1y8wwnv35tjcq' 'cf0x2a0dspwh2'
 '4gg1xchywmt7x' '1r4kjczvthaqy' '11588h7f5237c' 'byyw00ky9dtdk'
 '64wct1dn3b771' '6qfs7dcjudu3c' '0pwjftjnst0qj' '51unqf2gzkqfd'
 '599ya44qbwzq7' 'g6t2r249d3uh0' '2wpsfm651sjth' '80whkpurg74j8'
 '3ja745d9jkpc8' '6ng69n69napfj' 'f5ku2va79q96y' '6bah2baa89p3q'
 '4t4gcz971c3g5' 'agm13xcgfst01' 'a6gvsdjda6n05' '7309p9gj220z9'
 '9bxp43zc6dxpy' '9tdgmsytk4c4t' 'ch0235uz12jtv' '50a53agrkafss'
 '20v00cpx35r8x' '3k1hx1grdqsxr' '5ana8d5m4d7rn' '83y8p7w5scqx7'
 'fgszx9ckxyg4x' '674tn8vctz1f1' '3vu2zb1fuxxb8' '24x3yjn39ycjs'
 'bbzgq5r63zbxh' '3bmwxjakz3ufw' '0rdgvhw9f16d3' '4ugtjwbzjnkd3'
 '4wf9hbusjxc2t' 'dxrhay2kz90nr' '38d3db26p680p' '6rz8cvnjqcsfk'
 'db453hyzt7xjz' '1480t2vk3001h' '6tw0shbdv2fwz' 'a0r8q4hjqysv6'
 '1a4wxw4cj8gah' 'bb701tdcha9q0' 'cj8v9njmm5rnd' 'cpb4uppzvqt9g'
 'gxu3xsj4rx3nu' '1u8bb26dx1s1f' '1dg306xj3bd2r' '5upkpzapa8v40'
 '603m11dtkkyj1' '1kt7v08snrqhh' 'f8hg1m74n21mc' '1wj0cn946b2d0'
 '5tdf40pj47ufs' '2sxfsfak67huv' 'd40x10vy0sjkq' '0588hk71dmq7g'
 '1xct60yk194zg' '41ncsfu26db1w' '4uqj2vcmrf071' '6c5gnkc6ntfkz'
 'fb99mv5kukxt0' '7uv1w7n13jr30' '4wgm7rywrufn9' '0hbvbmyk4rbpb'
 '3kjtgr2ukpv8m' 'g23t2xzhhufcf' 'gk5098kw0wd0p' '7kxzgmvu3ckw3'
 '1hzjstf7d8ydg' 'anfun8m6k4gkw' 'c8qkjbajmnzjw' 'fv9zrr2b2b61w'
 'ac717udu18a35' '4wwvhsc0rcjf6' 'ckf9vsgfkxuc2' '4vym5a5jcq88d'
 '051krh823kq4p' '76j881acw13d8' '9fu6mj9u5n47q' '2kujcd3399haf'
 '2znc7p3ndu0x5' '6pcbsb11yc14c' '2r8rn43z5qk72' '5zarnth2r41mq'
 '6am7w0aj6p6gj' 'a82v9s8m1z3ar' 'at28rm30dv891' 'fnkamwfrzuxsq'
 '9uardadmwwbka' '7fhawa72pansj' '0dsa2f4561ab9' 'g1k45umvracwj'
 '5hdwcnry31fyg' '350d18utrk6cu' '8cx2kbtd2w4dn' '8u7f38a16kc75'
 '8qcbvp45njtth' '9rvukkn3sh0w5' 'cxz6c3gvs6z6f' 'cfh4py33p5p6a'
 '10c4pwwmy69fy' '7tx0375fzw3y2' '19q52cgjgwa84' 'bva316gndrpx8'
 'drshf3mum6uh5' '58xd3u7n7r4s3' '84db5aurgd9ud' 'gwxn8anwds022'
 'gzznry618b6gg' '73uccp6417jg1' 'bj66798kd0x2q' '93pcxcrqpp7rm'
 '6fyy4ad03zqrx' 'g3kwz0gutr9kq' '3utsn0n0pwxka' 'c1ymt7kqb7c50'
 '87w30q11bq433' 'ax4c12s7sbkzd' '3qhsxv58utnvb' 'avxs74zk9b6sg'
 '34askd5ryvr23' '3hauqzcxhcaky' 'cfk18fw3fynvs' 'g57n4ymtqd882'
 'g3pr0m7mgbdqa' 'gchjnysns7zw4' '3726bqu4cgd5p' 'gdpzdd05jgjs0'
 'bd8srnvk99sn1' 'a69j1c8pt60vc' '2fsccs54x37bx' 'an2xtyy930nn0'
 '22xrvu87xq80w' '9a8kbd4417q7f' 'd2shau6p5ydnc' 'fuczpzukp4up4'
 '9nw7nmp8j39qq' 'd501dux25dzy1' 'cws42h8dn8wta' 'd6vqfmt62hypx'
 '7vmtr42vtu2zq' '3x78pzy0n6u4u' '3r5ftvxuay76g' '3wb48nvtv9947'
 'dpmsu77ty9z31' 'fnq0ssuuf84aw' '5dtmg8zxk161v' 'fqywn5pm31544'
 '4f8taagx0a2xd' '6gyddkh1gyc7d' 'cqr2bttvzq285' '1nbbmmcvv8r8w'
 'cq7uqkpgzjtm4' '3t09x6g3nf5jd' '5964x2nj4an6n' 'a2c5gg8d40qqr'
 'd7smdbm08hqta' '8x6qsrw9rpng5' '55u3mjpyxzv5g' '00fc14chrx44s'
 '7hwu5bz3tc50s' 'fgdxqp4bhxaf9' '0zhckhv9vtf1b' '72qas272yzqcu'
 '843vf07r460pr' 'fjp4cu98kmunw' 'g4zn03pmn7u5k' '92u1frf88n6nn'
 '37cjbxuhw7k0y' 'buxckgmq40dtg' 'aw18kf73ks6d2' '1cys079p24085'
 'bgvm6q7ahtmbd' 'fjf6ncg1ddvkg' 'g4xp7wqs1z4rw' 'c2tt2wkx50j0a'
 'crkf9phc5h8z0' '7vn4p2y2hj2ru' 'gazz6wjxp1drz' 'a38vp5fmzt05m'
 'cjkx3z3uvm4cb' '6yrzynjn79pyz' 'djbz0zb8nyhtr' '0th8uppmjd5v7'
 '24pax8q7zyjct' '53bud2c5zp415' '54dt52msym9d2' '77tpcmx7rr293'
 '90wfdq7fmhbqz' '917ys2tagrf6h' 'a2at5sz4kpp52' 'a69pm68zxcdfc'
 'bt9t9g7qvm1vd' 'ccmx6vrhn6fps' '187wjhtc5rd1a' '45psqdd4cmxwy'
 '59m2prh1k0nmn' '7ct5j58jdbwf0' '7qf9f1rak4548' 'az6mrgt2rncp6'
 'byhh3ythhp093' '47yrvskwust90' '5f2prqrs5s19j' '44pum4m9f238g'
 'ap4j109g8r2kq' '22b7qb06wqpwm' '3fvvb2ht8sykv' '6dh6d58n4mvkm'
 '7gz72t19abu6m' '7wmfbpyk1m8wf' '8mq4qatx2jj8t' 'apf2qurdm245h'
 'b64vq8yqrgy48' 'c9qbydfwz8nrx' 'cskzfqs98qh6p' 'dgbps07uhk00y'
 'dy71rtqmdy6w0' '0kgv07zrthbk9' '5ydpm9p96ujpd' '8pqnkmrtczb8w'
 '3j6kvdcy3ccqr' '6pan1a0v36k4n' '7t5k8tyg6n0p5' 'gwvgnstkw1nt7'
 '04nt58g4m56qd' '248suhpf1dbya' '5ng9stukgtr1u' '8f5tqp03jn028'
 'crdk91kgqqy4r' '9ggawtdzd5q3d' 'f9kmwqszp146y' '15w6b5ntk2gva'
 'g88m1162kp0uu' 'ccavhyrs7ma7r' '2zv6kvh9qddbb' '3cuvx4a8r1jty'
 'a65x1dfn099g0' 'a96jrqjr4u1f9' '4pa73zj5symud' '5b2uppj1zp48y'
 '7a189vvgn75wx' 'afmds1mshqh6r' '4yurnfpgbh5g0' '5km548518bdjm'
 'd7mzj3kzbf8y2' '1dr25663v4d1g' '1y3cqu8zfrjm5' '2jguhb9kvxxtr'
 '4p674vz40j32q' '71q439ssx3mbx' '8xykwhf159b0n' 'b356v5uwr64fg'
 'bv6jb52skxpy4' 'cgs77a7wfmd4y' 'fz64frzgrqqgh' 'gn9wnmtf3vbtq'
 '3k6s6rrq0tw1u' '4r1jj2nmjdxvv' '5zuqgqk2fzwwd' 'gx85vt946ab8y'
 'ag8mpuna7mzwf' 'fj8rz73m8jcd4' '2a1gwbru2n0qk' '4atx2g4bz9913'
 '9w2rfrktch7j9' '14y80sz3j1rhk' '19ghd7muy8h1w' '1g68b1baf7w6z'
 '44qyhv7jwq310' '54fmxyadm4f6r' '6805rzw97jvyp' '6a44zv9p7mpqp'
 '6q40f9mk5ywcn' '83b1gt21kudrg' '9ayvmcvr51d1c' 'a4hrn045uxz7s'
 'dk6bj2kc8qzgt' 'drdx92cdmgvaq' 'f1chknfhn70hb' 'g1kmg6bcaczq7'
 '59zt6d3nxky6n' '3v6gcxh20y5vu' '4qfccma8qduhq' 'avar4h6h0tyyg'
 'bftwc4vuhcjyg' 'c5tvvy9k1mhwc' '009gxqqa0ju8d' '2hbmj15x455sy'
 '2jmt8jgu1twmm' '4q8dpsw705x0s' '5vy84pvrcbxqb' '6bh7mufk9799m'
 '6ht6h5fzx5uu2' '7ku4yz76bh8k4' '8nknkdjga7k43' 'a1a7nghq1xpbq'
 'arz96wcmgmryv' 'd4qrdavcu78rk' 'd7046s3puxyff' 'dqkkg1gwappjs'
 'fqqbc4cvwrxtm' 'g9wzv2mat2022' 'gfhp3ctyc68z7' '412kust8qt2rp'
 '5j25j3gsjxstr' 'a3zrbhy7yjxsy' 'aw2dkhtptjpu9' '7cktm092knrcx'
 '8hbbq6x5xgb4q' '9qh4vv2zga1k7' 'cx3404kv3u04f' '07s56h5c8yda1'
 '554rnvyv9ttkg' 'cxkn04tpx4qzj' 'gcakghtp723kz' '3vs66bc40s906'
 '4jnu9httqssmg' '9shunhh5z0wfw' 'a837mp6ur7d0y' 'cxms262r37kyq'
 'a6fy23us0jz84' '6n0xqn35by6mr' 'a0z9021d1frav' 'dw8wf7ufd4qnk'
 '2u5cwvubw25nm' '6ntrg83pyxucz' '89r7gnaxqb9xu' '5wy060hvc9r66'
 'gnza5p8nwfdw5' '1qb9s3drm6zuz' 'fg7mrapxx50z6' '738dwjm6h16bb'
 '92mu7gt2cvcva' 'a8163dn31ympy' '4v69jmg5x7mvg' 'bzmbp4h0354rg'
 '78awag52y1dmf' '9uyph20302mmj' '7caa2r7rpwg0p' '9nmjb6pyyfh31'
 'bhspk26s9x87c' 'bptvc77yuwy88' '4f09ma62p2b9v' 'f6d6ytdgvwqgm'
 '53u9r3qzfyxjp' '1kkhhb9zbfzx3' '3an3typnggmtx' '8dyyz3s54vcsj'
 '8y6wg0b8xy5ws' 'dbj4appjasb2j' 'dhxgv3mtks79r' '341n7zhasrkhr'
 '6ccr6xx4tq5yy' '89ppymxvkd97x' 'fsm1q0647gq9w' '0pr4msvxcx8a3'
 '9gvrk96fpn474' '21cradvwxtfbp' 'dp5j8d8cpzfhu' '5vg12vrnu4ac0'
 '4b5p3gjuvv4z1' '97cdhqybtj9zu' '3m7cv0pjrzfad']

REP_HIST_SNAPSHOT Shape before: (1609154, 90)
REP_HIST_SNAPSHOT after: (208647, 90)

REP_VSQL_PLAN Shape before: (155850, 39)
REP_VSQL_PLAN Shape after: (43410, 39)

Merged Dataframe: (57587, 113)
Columns:
['SQL_TEXT' 'PLAN_HASH_VALUE' 'SNAP_ID' 'INSTANCE_NUMBER' 'OPTIMIZER_COST'
 'OPTIMIZER_ENV_HASH_VALUE' 'SHARABLE_MEM' 'LOADED_VERSIONS'
 'VERSION_COUNT' 'SQL_PROFILE' 'PARSING_SCHEMA_ID' 'PARSING_USER_ID'
 'FETCHES_TOTAL' 'FETCHES_DELTA' 'END_OF_FETCH_COUNT_TOTAL'
 'END_OF_FETCH_COUNT_DELTA' 'SORTS_TOTAL' 'SORTS_DELTA' 'EXECUTIONS_TOTAL'
 'EXECUTIONS_DELTA' 'PX_SERVERS_EXECS_TOTAL' 'PX_SERVERS_EXECS_DELTA'
 'LOADS_TOTAL' 'LOADS_DELTA' 'INVALIDATIONS_TOTAL' 'INVALIDATIONS_DELTA'
 'PARSE_CALLS_TOTAL' 'PARSE_CALLS_DELTA' 'DISK_READS_TOTAL'
 'DISK_READS_DELTA' 'BUFFER_GETS_TOTAL' 'BUFFER_GETS_DELTA'
 'ROWS_PROCESSED_TOTAL' 'ROWS_PROCESSED_DELTA' 'CPU_TIME_TOTAL'
 'CPU_TIME_DELTA' 'ELAPSED_TIME_TOTAL' 'ELAPSED_TIME_DELTA' 'IOWAIT_TOTAL'
 'IOWAIT_DELTA' 'CLWAIT_TOTAL' 'CLWAIT_DELTA' 'APWAIT_TOTAL'
 'APWAIT_DELTA' 'CCWAIT_TOTAL' 'CCWAIT_DELTA' 'DIRECT_WRITES_TOTAL'
 'DIRECT_WRITES_DELTA' 'PLSEXEC_TIME_TOTAL' 'PLSEXEC_TIME_DELTA'
 'JAVEXEC_TIME_TOTAL' 'JAVEXEC_TIME_DELTA' 'IO_OFFLOAD_ELIG_BYTES_TOTAL'
 'IO_OFFLOAD_ELIG_BYTES_DELTA' 'IO_INTERCONNECT_BYTES_TOTAL'
 'IO_INTERCONNECT_BYTES_DELTA' 'PHYSICAL_READ_REQUESTS_TOTAL'
 'PHYSICAL_READ_REQUESTS_DELTA' 'PHYSICAL_READ_BYTES_TOTAL'
 'PHYSICAL_READ_BYTES_DELTA' 'PHYSICAL_WRITE_REQUESTS_TOTAL'
 'PHYSICAL_WRITE_REQUESTS_DELTA' 'PHYSICAL_WRITE_BYTES_TOTAL'
 'PHYSICAL_WRITE_BYTES_DELTA' 'OPTIMIZED_PHYSICAL_READS_TOTAL'
 'OPTIMIZED_PHYSICAL_READS_DELTA' 'CELL_UNCOMPRESSED_BYTES_TOTAL'
 'CELL_UNCOMPRESSED_BYTES_DELTA' 'IO_OFFLOAD_RETURN_BYTES_TOTAL'
 'IO_OFFLOAD_RETURN_BYTES_DELTA' 'FLAG' 'COMMAND_TYPE' 'SNAP_LEVEL'
 'ERROR_COUNT' 'SNAP_FLAG' 'DBID' 'SQL_ID' 'ID' 'OPERATION' 'OPTIONS'
 'OBJECT_NODE' 'OBJECT#' 'OBJECT_OWNER' 'OBJECT_NAME' 'OBJECT_ALIAS'
 'OBJECT_TYPE' 'OPTIMIZER' 'PARENT_ID' 'DEPTH' 'POSITION' 'SEARCH_COLUMNS'
 'COST' 'CARDINALITY' 'BYTES' 'OTHER_TAG' 'PARTITION_START'
 'PARTITION_STOP' 'PARTITION_ID' 'OTHER' 'DISTRIBUTION' 'CPU_COST'
 'IO_COST' 'TEMP_SPACE' 'ACCESS_PREDICATES' 'FILTER_PREDICATES'
 'PROJECTION' 'TIME' 'QBLOCK_NAME' 'REMARKS' 'TIMESTAMP' 'OTHER_XML'
 'CON_DBID' 'CON_ID']
                                             SQL_TEXT  PLAN_HASH_VALUE  \
0                                 create table s_inve       3024566498
1                                 create table s_inve       3024566498
2                                 create table s_inve       3024566498
3                                 create table s_inve       3024566498
4                                 create table s_inve       3024566498
5                                 create table s_inve       3024566498
6                                 create table s_inve       3024566498
7                                 create table s_inve       3024566498
8                                 create table s_inve       3024566498
9                                 create table s_inve       3024566498
10   delete from s_item where item_item_id in (sel...       2463299996
11   delete from s_item where item_item_id in (sel...       2463299996
12   delete from s_item where item_item_id in (sel...       2463299996
13   delete from s_item where item_item_id in (sel...       2463299996
14   delete from s_item where item_item_id in (sel...       2463299996
15   delete from s_item where item_item_id in (sel...       2463299996
16   delete from s_item where item_item_id in (sel...       2463299996
17   delete from s_item where item_item_id in (sel...       2463299996
18             insert into item (select * from itemv)       2250266339
19             insert into item (select * from itemv)       2250266339
20             insert into item (select * from itemv)       2250266339
21            insert into store (select * from storv)       2865587368
22            insert into store (select * from storv)       2865587368
23            insert into store (select * from storv)       2865587368
24         insert into web_site (select * from websv)       3933767014
25         insert into web_site (select * from websv)       3933767014
26         insert into web_site (select * from websv)       3933767014
27                          select count(*) from catv        621412594
28                          select count(*) from catv        621412594
29                          select count(*) from catv        621412594
..                                                ...              ...
70  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
71  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
72  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
73  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
74  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
75  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
76  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
77  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
78  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
79  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
80  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
81  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
82  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
83  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
84  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
85  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
86  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
87  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
88  /* SQL Analyze(0) */ select /*+  full(t)    no...       2875642154
89  /* SQL Analyze(0) */ select /*+  full(t)    no...       1450321346
90  /* SQL Analyze(0) */ select /*+  full(t)    no...       1450321346
91  /* SQL Analyze(0) */ select /*+  full(t)    no...       1450321346
92  /* SQL Analyze(0) */ select /*+  full(t)    no...       1450321346
93  /* SQL Analyze(0) */ select /*+  full(t)    no...       3255376417
94  /* SQL Analyze(0) */ select /*+  full(t)    no...       3255376417
95  /* SQL Analyze(0) */ select /*+  full(t)    no...       3255376417
96  /* SQL Analyze(0) */ select /*+  full(t)    no...       3255376417
97  /* SQL Analyze(0) */ select /*+  full(t)    no...        879082452
98  /* SQL Analyze(0) */ select /*+  full(t)    no...        879082452
99  /* SQL Analyze(0) */ select /*+  full(t)    no...        879082452

    SNAP_ID  INSTANCE_NUMBER  OPTIMIZER_COST  OPTIMIZER_ENV_HASH_VALUE  \
0   8082281             1148      16393440.0              3.681986e+12
1   8082281             1148      16393440.0              3.681986e+12
2   8082281             1148      16393440.0              3.681986e+12
3   8082281             1148      16393440.0              3.681986e+12
4   8082281             1148      16393440.0              3.681986e+12
5   8082281             1148      16393440.0              3.681986e+12
6   8082281             1148      16393440.0              3.681986e+12
7   8082281             1148      16393440.0              3.681986e+12
8   8082281             1148      16393440.0              3.681986e+12
9   8082281             1148      16393440.0              3.681986e+12
10    16302                1            25.0              3.207305e+09
11    16302                1            25.0              3.207305e+09
12    16302                1            25.0              3.207305e+09
13    16302                1            25.0              3.207305e+09
14    16302                1            25.0              3.207305e+09
15    16302                1            25.0              3.207305e+09
16    16302                1            25.0              3.207305e+09
17    16302                1            25.0              3.207305e+09
18   535726               41           943.0              1.314995e+11
19   535726               41           943.0              1.314995e+11
20   535726               41           943.0              1.314995e+11
21    40444                2             6.0              6.414609e+09
22    40444                2             6.0              6.414609e+09
23    40444                2             6.0              6.414609e+09
24    31399                2             6.0              6.414609e+09
25    31399                2             6.0              6.414609e+09
26    31399                2             6.0              6.414609e+09
27    31123                2             4.0              6.414609e+09
28    31123                2             4.0              6.414609e+09
29    31123                2             4.0              6.414609e+09
..      ...              ...             ...                       ...
70    95327                6            18.0              8.010234e+09
71    95327                6            18.0              8.010234e+09
72    95327                6            18.0              8.010234e+09
73    95327                6            18.0              8.010234e+09
74    95327                6            18.0              8.010234e+09
75    95327                6            18.0              8.010234e+09
76    95327                6            18.0              8.010234e+09
77    95327                6            18.0              8.010234e+09
78    95327                6            18.0              8.010234e+09
79    95327                6            18.0              8.010234e+09
80    95327                6            18.0              8.010234e+09
81    95327                6            18.0              8.010234e+09
82    95327                6            18.0              8.010234e+09
83    95327                6            18.0              8.010234e+09
84    95327                6            18.0              8.010234e+09
85    95327                6            18.0              8.010234e+09
86    95327                6            18.0              8.010234e+09
87    95327                6            18.0              8.010234e+09
88    95327                6            18.0              8.010234e+09
89     8582                3          1131.0              4.005117e+09
90     8582                3          1131.0              4.005117e+09
91     8582                3          1131.0              4.005117e+09
92     8582                3          1131.0              4.005117e+09
93     5900                2           616.0              2.670078e+09
94     5900                2           616.0              2.670078e+09
95     5900                2           616.0              2.670078e+09
96     5900                2           616.0              2.670078e+09
97     2880                1             3.0              1.335039e+09
98     2880                1             3.0              1.335039e+09
99     2880                1             3.0              1.335039e+09

    SHARABLE_MEM  LOADED_VERSIONS  VERSION_COUNT  SQL_PROFILE   ...    \
0     7319853652          43938.0         147012          0.0   ...
1     7319853652          43938.0         147012          0.0   ...
2     7319853652          43938.0         147012          0.0   ...
3     7319853652          43938.0         147012          0.0   ...
4     7319853652          43938.0         147012          0.0   ...
5     7319853652          43938.0         147012          0.0   ...
6     7319853652          43938.0         147012          0.0   ...
7     7319853652          43938.0         147012          0.0   ...
8     7319853652          43938.0         147012          0.0   ...
9     7319853652          43938.0         147012          0.0   ...
10         25761              1.0              4          0.0   ...
11         25761              1.0              4          0.0   ...
12         25761              1.0              4          0.0   ...
13         25761              1.0              4          0.0   ...
14         25761              1.0              4          0.0   ...
15         25761              1.0              4          0.0   ...
16         25761              1.0              4          0.0   ...
17         25761              1.0              4          0.0   ...
18       1818280             41.0             76          0.0   ...
19       1818280             41.0             76          0.0   ...

### Feature Selection

In this step, redundant features are dropped. Features are considered redundant if exhibit a standard devaition of 0 (meaning no change in value).

In [79]:
def drop_flatline_columns(df):
    columns = df.columns
    flatline_features = []
    for i in range(len(columns)):
        try:
            std = df[columns[i]].std()
            if std == 0:
                flatline_features.append(columns[i])
        except:
            pass
    #
    #print('Features which are considered flatline:\n')
    #for col in flatline_features:
    #    print(col)
    print('\nShape before changes: [' + str(df.shape) + ']')
    df = df.drop(columns=flatline_features)
    print('Shape after changes: [' + str(df.shape) + ']')
    print('Dropped a total [' + str(len(flatline_features)) + ']')
    return df
#
print('Before column drop:')
print(df.shape)
df = drop_flatline_columns(df=df)
print('\nAfter flatline column drop:')
print(df.shape)
dropped_columns_df = [ 'PLAN_HASH_VALUE',
                       'OPTIMIZER_ENV_HASH_VALUE',
                       'LOADED_VERSIONS',
                       'VERSION_COUNT',
                       'PARSING_SCHEMA_ID',
                       'PARSING_USER_ID']
df.drop(columns=dropped_columns_df, inplace=True)
print('\nAfter additional column drop:')
print(df.shape)
print("Columns: ")
print(df.columns.values)

Before column drop:
(57587, 113)

Shape before changes: [(57587, 113)]
Shape after changes: [(57587, 89)]
Dropped a total [24]

After flatline column drop:
(57587, 89)

After additional column drop:
(57587, 83)
Columns:
['SQL_TEXT' 'SNAP_ID' 'INSTANCE_NUMBER' 'OPTIMIZER_COST' 'SHARABLE_MEM'
 'FETCHES_TOTAL' 'FETCHES_DELTA' 'END_OF_FETCH_COUNT_TOTAL'
 'END_OF_FETCH_COUNT_DELTA' 'SORTS_TOTAL' 'SORTS_DELTA' 'EXECUTIONS_TOTAL'
 'EXECUTIONS_DELTA' 'PX_SERVERS_EXECS_TOTAL' 'PX_SERVERS_EXECS_DELTA'
 'LOADS_TOTAL' 'LOADS_DELTA' 'INVALIDATIONS_TOTAL' 'INVALIDATIONS_DELTA'
 'PARSE_CALLS_TOTAL' 'PARSE_CALLS_DELTA' 'DISK_READS_TOTAL'
 'DISK_READS_DELTA' 'BUFFER_GETS_TOTAL' 'BUFFER_GETS_DELTA'
 'ROWS_PROCESSED_TOTAL' 'ROWS_PROCESSED_DELTA' 'CPU_TIME_TOTAL'
 'CPU_TIME_DELTA' 'ELAPSED_TIME_TOTAL' 'ELAPSED_TIME_DELTA' 'IOWAIT_TOTAL'
 'IOWAIT_DELTA' 'APWAIT_TOTAL' 'APWAIT_DELTA' 'CCWAIT_TOTAL'
 'CCWAIT_DELTA' 'DIRECT_WRITES_TOTAL' 'DIRECT_WRITES_DELTA'
 'PLSEXEC_TIME_TOTAL' 'PLSEXEC_TIME_DELTA' 'IO_INTERCONNECT_BYTES_TOTAL'
 'IO_INTERCONNECT_BYTES_DELTA' 'PHYSICAL_READ_REQUESTS_TOTAL'
 'PHYSICAL_READ_REQUESTS_DELTA' 'PHYSICAL_READ_BYTES_TOTAL'
 'PHYSICAL_READ_BYTES_DELTA' 'PHYSICAL_WRITE_REQUESTS_TOTAL'
 'PHYSICAL_WRITE_REQUESTS_DELTA' 'PHYSICAL_WRITE_BYTES_TOTAL'
 'PHYSICAL_WRITE_BYTES_DELTA' 'IO_OFFLOAD_RETURN_BYTES_TOTAL'
 'IO_OFFLOAD_RETURN_BYTES_DELTA' 'COMMAND_TYPE' 'SNAP_LEVEL' 'SNAP_FLAG'
 'SQL_ID' 'ID' 'OPERATION' 'OPTIONS' 'OBJECT_NODE' 'OBJECT#'
 'OBJECT_OWNER' 'OBJECT_NAME' 'OBJECT_ALIAS' 'OBJECT_TYPE' 'OPTIMIZER'
 'PARENT_ID' 'DEPTH' 'POSITION' 'SEARCH_COLUMNS' 'COST' 'CARDINALITY'
 'BYTES' 'OTHER_TAG' 'DISTRIBUTION' 'CPU_COST' 'IO_COST' 'TEMP_SPACE'
 'TIME' 'QBLOCK_NAME' 'TIMESTAMP' 'OTHER_XML']

### Data Ordering

Sorting of datasets in order of 
* SNAP_ID
* SQL_ID
* ID

In [80]:
df.sort_values(by=['SNAP_ID','SQL_ID','ID'], ascending=True, inplace=True)
print(df.head())

                                              SQL_TEXT  SNAP_ID  \
125  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367
126  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367
127  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367
128  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367
129  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367

     INSTANCE_NUMBER  OPTIMIZER_COST  SHARABLE_MEM  FETCHES_TOTAL  \
125                1            13.0         44557            1.0
126                1            13.0         44557            1.0
127                1            13.0         44557            1.0
128                1            13.0         44557            1.0
129                1            13.0         44557            1.0

     FETCHES_DELTA  END_OF_FETCH_COUNT_TOTAL  END_OF_FETCH_COUNT_DELTA  \
125            1.0                       1.0                       1.0
126            1.0                       1.0                       1.0
127            1.0                       1.0                       1.0
128            1.0                       1.0                       1.0
129            1.0                       1.0                       1.0

     SORTS_TOTAL                        ...                          BYTES  \
125          0.0                        ...                            0.0
126          0.0                        ...                           49.0
127          0.0                        ...                            0.0
128          0.0                        ...                           49.0
129          0.0                        ...                           49.0

                         OTHER_TAG  DISTRIBUTION  CPU_COST  IO_COST  \
125                              0             0                0.0
126                              0             0                0.0
127                              0             0                0.0
128             PARALLEL_TO_SERIAL   QC (RANDOM)                0.0
129  PARALLEL_COMBINED_WITH_PARENT             0                0.0

     TEMP_SPACE  TIME  QBLOCK_NAME            TIMESTAMP  \
125         0.0   0.0            0  2018-10-17 06:09:28
126         0.0   0.0        SEL$1  2018-10-17 06:09:28
127         0.0   0.0            0  2018-10-17 06:09:28
128         0.0   0.0            0  2018-10-17 06:09:28
129         0.0   0.0            0  2018-10-17 06:09:28

                                             OTHER_XML
125                                                  0
126  <other_xml><info type="derived_cpu_dop" id="1"...
127                                                  0
128                                                  0
129                                                  0

[5 rows x 83 columns]

### Label Encoding

Converting labels/features into numerical representations

In [81]:
def encode(df, encoded_labels):
    for col in df.columns:
        if col in encoded_labels:
            le = preprocessing.LabelEncoder()
            df[col] = le.fit_transform(df[col].astype(str))
    return df
#
#print(rep_vsql_plan_df.head())
encoded_labels = ['OPERATION','OPTIONS','OBJECT_OWNER','OBJECT_NAME','OBJECT_ALIAS','OBJECT_TYPE','OPTIMIZER','OTHER_TAG','DISTRIBUTION','QBLOCK_NAME']
df = encode(df=df, encoded_labels=encoded_labels)
print('Encoded labels:\n' + str(encoded_labels) + "\n\n----------------------------------------------\n\n")
print(df.head())

Encoded labels:
['OPERATION', 'OPTIONS', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_TYPE', 'OPTIMIZER', 'OTHER_TAG', 'DISTRIBUTION', 'QBLOCK_NAME']

----------------------------------------------


                                              SQL_TEXT  SNAP_ID  \
125  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367
126  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367
127  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367
128  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367
129  /* SQL Analyze(0) */ select /*+  full(t)    pa...     2367

     INSTANCE_NUMBER  OPTIMIZER_COST  SHARABLE_MEM  FETCHES_TOTAL  \
125                1            13.0         44557            1.0
126                1            13.0         44557            1.0
127                1            13.0         44557            1.0
128                1            13.0         44557            1.0
129                1            13.0         44557            1.0

     FETCHES_DELTA  END_OF_FETCH_COUNT_TOTAL  END_OF_FETCH_COUNT_DELTA  \
125            1.0                       1.0                       1.0
126            1.0                       1.0                       1.0
127            1.0                       1.0                       1.0
128            1.0                       1.0                       1.0
129            1.0                       1.0                       1.0

     SORTS_TOTAL                        ...                          BYTES  \
125          0.0                        ...                            0.0
126          0.0                        ...                           49.0
127          0.0                        ...                            0.0
128          0.0                        ...                           49.0
129          0.0                        ...                           49.0

     OTHER_TAG  DISTRIBUTION  CPU_COST  IO_COST  TEMP_SPACE  TIME  \
125          0             0                0.0         0.0   0.0
126          0             0                0.0         0.0   0.0
127          0             0                0.0         0.0   0.0
128          4             2                0.0         0.0   0.0
129          2             0                0.0         0.0   0.0

     QBLOCK_NAME            TIMESTAMP  \
125            0  2018-10-17 06:09:28
126           10  2018-10-17 06:09:28
127            0  2018-10-17 06:09:28
128            0  2018-10-17 06:09:28
129            0  2018-10-17 06:09:28

                                             OTHER_XML
125                                                  0
126  <other_xml><info type="derived_cpu_dop" id="1"...
127                                                  0
128                                                  0
129                                                  0

[5 rows x 83 columns]

### TPC_DS Queries Under Test

In [82]:
#
# Query Distribution Test
#print(df.tail())
for sql_id in tpc_sql_ids:
    print(df[['SQL_TEXT']].loc[df['SQL_ID'] == sql_id])

                                                SQL_TEXT
25227  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
25228  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
25229  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
25230  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
25231  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
25232  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
25233  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
25234  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
25235  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
25236  select /*+  parallel_index(t, "INV_WAREHOUSE_S...
                                                SQL_TEXT
25247  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
25248  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
25249  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
25250  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
25251  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
25252  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
25253  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
25254  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
25255  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
25256  select /*+  parallel_index(t, "SS_SOLD_DATE_SK...
                                                SQL_TEXT
25237  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
25238  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
25239  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
25240  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
25241  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
25242  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
25243  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
25244  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
25245  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
25246  select /*+  parallel_index(t, "SS_ITEM_SK_INDE...
                                              SQL_TEXT
109  /* SQL Analyze(0) */ select /*+  full(t)    pa...
110  /* SQL Analyze(0) */ select /*+  full(t)    pa...
111  /* SQL Analyze(0) */ select /*+  full(t)    pa...
112  /* SQL Analyze(0) */ select /*+  full(t)    pa...
113  /* SQL Analyze(0) */ select /*+  full(t)    pa...
114  /* SQL Analyze(0) */ select /*+  full(t)    pa...
115  /* SQL Analyze(0) */ select /*+  full(t)    pa...
116  /* SQL Analyze(0) */ select /*+  full(t)    pa...
133  /* SQL Analyze(0) */ select /*+  full(t)    pa...
134  /* SQL Analyze(0) */ select /*+  full(t)    pa...
135  /* SQL Analyze(0) */ select /*+  full(t)    pa...
136  /* SQL Analyze(0) */ select /*+  full(t)    pa...
137  /* SQL Analyze(0) */ select /*+  full(t)    pa...
138  /* SQL Analyze(0) */ select /*+  full(t)    pa...
139  /* SQL Analyze(0) */ select /*+  full(t)    pa...
140  /* SQL Analyze(0) */ select /*+  full(t)    pa...
157  /* SQL Analyze(0) */ select /*+  full(t)    pa...
158  /* SQL Analyze(0) */ select /*+  full(t)    pa...
159  /* SQL Analyze(0) */ select /*+  full(t)    pa...
160  /* SQL Analyze(0) */ select /*+  full(t)    pa...
161  /* SQL Analyze(0) */ select /*+  full(t)    pa...
162  /* SQL Analyze(0) */ select /*+  full(t)    pa...
163  /* SQL Analyze(0) */ select /*+  full(t)    pa...
164  /* SQL Analyze(0) */ select /*+  full(t)    pa...
                                               SQL_TEXT
9911  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9912  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9913  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9914  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9915  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9916  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9917  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9918  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9919  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9920  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9921  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9922  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9923  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9924  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9925  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9926  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9927  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9928  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9929  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9930  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9931  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9932  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9933  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9934  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9935  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9936  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9937  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9938  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9939  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9940  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
9947  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9948  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9949  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9950  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9951  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9952  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9953  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9954  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9955  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9956  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9957  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9958  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9959  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9960  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9961  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9962  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9963  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9964  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9965  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9966  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9967  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9968  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9969  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9970  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9971  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9972  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9973  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9974  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9975  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9976  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[66 rows x 1 columns]
                                               SQL_TEXT
2665  /* SQL Analyze(105,1) */ with ss as\n (select ...
2666  /* SQL Analyze(105,1) */ with ss as\n (select ...
2667  /* SQL Analyze(105,1) */ with ss as\n (select ...
2668  /* SQL Analyze(105,1) */ with ss as\n (select ...
2669  /* SQL Analyze(105,1) */ with ss as\n (select ...
2670  /* SQL Analyze(105,1) */ with ss as\n (select ...
2671  /* SQL Analyze(105,1) */ with ss as\n (select ...
2672  /* SQL Analyze(105,1) */ with ss as\n (select ...
2673  /* SQL Analyze(105,1) */ with ss as\n (select ...
2674  /* SQL Analyze(105,1) */ with ss as\n (select ...
2675  /* SQL Analyze(105,1) */ with ss as\n (select ...
2676  /* SQL Analyze(105,1) */ with ss as\n (select ...
2677  /* SQL Analyze(105,1) */ with ss as\n (select ...
2678  /* SQL Analyze(105,1) */ with ss as\n (select ...
2679  /* SQL Analyze(105,1) */ with ss as\n (select ...
2680  /* SQL Analyze(105,1) */ with ss as\n (select ...
2681  /* SQL Analyze(105,1) */ with ss as\n (select ...
2682  /* SQL Analyze(105,1) */ with ss as\n (select ...
2683  /* SQL Analyze(105,1) */ with ss as\n (select ...
2684  /* SQL Analyze(105,1) */ with ss as\n (select ...
2685  /* SQL Analyze(105,1) */ with ss as\n (select ...
2686  /* SQL Analyze(105,1) */ with ss as\n (select ...
2687  /* SQL Analyze(105,1) */ with ss as\n (select ...
2688  /* SQL Analyze(105,1) */ with ss as\n (select ...
2689  /* SQL Analyze(105,1) */ with ss as\n (select ...
2690  /* SQL Analyze(105,1) */ with ss as\n (select ...
2691  /* SQL Analyze(105,1) */ with ss as\n (select ...
2692  /* SQL Analyze(105,1) */ with ss as\n (select ...
2693  /* SQL Analyze(105,1) */ with ss as\n (select ...
2694  /* SQL Analyze(105,1) */ with ss as\n (select ...
...                                                 ...
2749  with ss as\n (select s_store_sk,\n         sum...
2750  with ss as\n (select s_store_sk,\n         sum...
2751  with ss as\n (select s_store_sk,\n         sum...
2752  with ss as\n (select s_store_sk,\n         sum...
2753  with ss as\n (select s_store_sk,\n         sum...
2754  with ss as\n (select s_store_sk,\n         sum...
2755  with ss as\n (select s_store_sk,\n         sum...
2756  with ss as\n (select s_store_sk,\n         sum...
2757  with ss as\n (select s_store_sk,\n         sum...
2758  with ss as\n (select s_store_sk,\n         sum...
2759  with ss as\n (select s_store_sk,\n         sum...
2760  with ss as\n (select s_store_sk,\n         sum...
2761  with ss as\n (select s_store_sk,\n         sum...
2762  with ss as\n (select s_store_sk,\n         sum...
2763  with ss as\n (select s_store_sk,\n         sum...
2764  with ss as\n (select s_store_sk,\n         sum...
2765  with ss as\n (select s_store_sk,\n         sum...
2766  with ss as\n (select s_store_sk,\n         sum...
2767  with ss as\n (select s_store_sk,\n         sum...
2768  with ss as\n (select s_store_sk,\n         sum...
2769  with ss as\n (select s_store_sk,\n         sum...
2770  with ss as\n (select s_store_sk,\n         sum...
2771  with ss as\n (select s_store_sk,\n         sum...
2772  with ss as\n (select s_store_sk,\n         sum...
2773  with ss as\n (select s_store_sk,\n         sum...
2774  with ss as\n (select s_store_sk,\n         sum...
2775  with ss as\n (select s_store_sk,\n         sum...
2776  with ss as\n (select s_store_sk,\n         sum...
2777  with ss as\n (select s_store_sk,\n         sum...
2778  with ss as\n (select s_store_sk,\n         sum...

[114 rows x 1 columns]
                                                SQL_TEXT
16018  select * from (select\n   w_state\n  ,i_item_i...
16034  select * from (select\n   w_state\n  ,i_item_i...
16050  select * from (select\n   w_state\n  ,i_item_i...
16019  select * from (select\n   w_state\n  ,i_item_i...
16035  select * from (select\n   w_state\n  ,i_item_i...
16051  select * from (select\n   w_state\n  ,i_item_i...
16020  select * from (select\n   w_state\n  ,i_item_i...
16036  select * from (select\n   w_state\n  ,i_item_i...
16052  select * from (select\n   w_state\n  ,i_item_i...
16021  select * from (select\n   w_state\n  ,i_item_i...
16037  select * from (select\n   w_state\n  ,i_item_i...
16053  select * from (select\n   w_state\n  ,i_item_i...
16022  select * from (select\n   w_state\n  ,i_item_i...
16038  select * from (select\n   w_state\n  ,i_item_i...
16054  select * from (select\n   w_state\n  ,i_item_i...
16023  select * from (select\n   w_state\n  ,i_item_i...
16039  select * from (select\n   w_state\n  ,i_item_i...
16055  select * from (select\n   w_state\n  ,i_item_i...
16024  select * from (select\n   w_state\n  ,i_item_i...
16040  select * from (select\n   w_state\n  ,i_item_i...
16056  select * from (select\n   w_state\n  ,i_item_i...
16025  select * from (select\n   w_state\n  ,i_item_i...
16041  select * from (select\n   w_state\n  ,i_item_i...
16057  select * from (select\n   w_state\n  ,i_item_i...
16026  select * from (select\n   w_state\n  ,i_item_i...
16042  select * from (select\n   w_state\n  ,i_item_i...
16058  select * from (select\n   w_state\n  ,i_item_i...
16027  select * from (select\n   w_state\n  ,i_item_i...
16043  select * from (select\n   w_state\n  ,i_item_i...
16059  select * from (select\n   w_state\n  ,i_item_i...
16028  select * from (select\n   w_state\n  ,i_item_i...
16044  select * from (select\n   w_state\n  ,i_item_i...
16060  select * from (select\n   w_state\n  ,i_item_i...
16029  select * from (select\n   w_state\n  ,i_item_i...
16045  select * from (select\n   w_state\n  ,i_item_i...
16061  select * from (select\n   w_state\n  ,i_item_i...
16030  select * from (select\n   w_state\n  ,i_item_i...
16046  select * from (select\n   w_state\n  ,i_item_i...
16062  select * from (select\n   w_state\n  ,i_item_i...
16031  select * from (select\n   w_state\n  ,i_item_i...
16047  select * from (select\n   w_state\n  ,i_item_i...
16063  select * from (select\n   w_state\n  ,i_item_i...
16032  select * from (select\n   w_state\n  ,i_item_i...
16048  select * from (select\n   w_state\n  ,i_item_i...
16064  select * from (select\n   w_state\n  ,i_item_i...
16033  select * from (select\n   w_state\n  ,i_item_i...
16049  select * from (select\n   w_state\n  ,i_item_i...
16065  select * from (select\n   w_state\n  ,i_item_i...
                                                SQL_TEXT
18784  select * from (select  i_item_desc\n      ,w_w...
18815  select * from (select  i_item_desc\n      ,w_w...
18785  select * from (select  i_item_desc\n      ,w_w...
18816  select * from (select  i_item_desc\n      ,w_w...
18786  select * from (select  i_item_desc\n      ,w_w...
18817  select * from (select  i_item_desc\n      ,w_w...
18787  select * from (select  i_item_desc\n      ,w_w...
18818  select * from (select  i_item_desc\n      ,w_w...
18788  select * from (select  i_item_desc\n      ,w_w...
18819  select * from (select  i_item_desc\n      ,w_w...
18789  select * from (select  i_item_desc\n      ,w_w...
18820  select * from (select  i_item_desc\n      ,w_w...
18790  select * from (select  i_item_desc\n      ,w_w...
18821  select * from (select  i_item_desc\n      ,w_w...
18791  select * from (select  i_item_desc\n      ,w_w...
18822  select * from (select  i_item_desc\n      ,w_w...
18792  select * from (select  i_item_desc\n      ,w_w...
18823  select * from (select  i_item_desc\n      ,w_w...
18793  select * from (select  i_item_desc\n      ,w_w...
18824  select * from (select  i_item_desc\n      ,w_w...
18794  select * from (select  i_item_desc\n      ,w_w...
18825  select * from (select  i_item_desc\n      ,w_w...
18795  select * from (select  i_item_desc\n      ,w_w...
18826  select * from (select  i_item_desc\n      ,w_w...
18796  select * from (select  i_item_desc\n      ,w_w...
18827  select * from (select  i_item_desc\n      ,w_w...
18797  select * from (select  i_item_desc\n      ,w_w...
18828  select * from (select  i_item_desc\n      ,w_w...
18798  select * from (select  i_item_desc\n      ,w_w...
18829  select * from (select  i_item_desc\n      ,w_w...
...                                                  ...
18854  select * from (select  i_item_desc\n      ,w_w...
18855  select * from (select  i_item_desc\n      ,w_w...
18856  select * from (select  i_item_desc\n      ,w_w...
18857  select * from (select  i_item_desc\n      ,w_w...
18858  select * from (select  i_item_desc\n      ,w_w...
18859  select * from (select  i_item_desc\n      ,w_w...
18860  select * from (select  i_item_desc\n      ,w_w...
18861  select * from (select  i_item_desc\n      ,w_w...
18862  select * from (select  i_item_desc\n      ,w_w...
18863  select * from (select  i_item_desc\n      ,w_w...
18864  select * from (select  i_item_desc\n      ,w_w...
18865  select * from (select  i_item_desc\n      ,w_w...
18866  select * from (select  i_item_desc\n      ,w_w...
18867  select * from (select  i_item_desc\n      ,w_w...
18868  select * from (select  i_item_desc\n      ,w_w...
18869  select * from (select  i_item_desc\n      ,w_w...
18870  select * from (select  i_item_desc\n      ,w_w...
18871  select * from (select  i_item_desc\n      ,w_w...
18872  select * from (select  i_item_desc\n      ,w_w...
18873  select * from (select  i_item_desc\n      ,w_w...
18874  select * from (select  i_item_desc\n      ,w_w...
18875  select * from (select  i_item_desc\n      ,w_w...
18876  select * from (select  i_item_desc\n      ,w_w...
18877  select * from (select  i_item_desc\n      ,w_w...
18878  select * from (select  i_item_desc\n      ,w_w...
18879  select * from (select  i_item_desc\n      ,w_w...
18880  select * from (select  i_item_desc\n      ,w_w...
18881  select * from (select  i_item_desc\n      ,w_w...
18882  select * from (select  i_item_desc\n      ,w_w...
18883  select * from (select  i_item_desc\n      ,w_w...

[100 rows x 1 columns]
               SQL_TEXT
0   create table s_inve
1   create table s_inve
2   create table s_inve
3   create table s_inve
4   create table s_inve
5   create table s_inve
6   create table s_inve
7   create table s_inve
8   create table s_inve
9   create table s_inve
                                              SQL_TEXT
909  /* SQL Analyze(0) */ select /*+  full(t)    pa...
910  /* SQL Analyze(0) */ select /*+  full(t)    pa...
911  /* SQL Analyze(0) */ select /*+  full(t)    pa...
912  /* SQL Analyze(0) */ select /*+  full(t)    pa...
913  /* SQL Analyze(0) */ select /*+  full(t)    pa...
914  /* SQL Analyze(0) */ select /*+  full(t)    pa...
915  /* SQL Analyze(0) */ select /*+  full(t)    pa...
916  /* SQL Analyze(0) */ select /*+  full(t)    pa...
                                              SQL_TEXT
949  /* SQL Analyze(0) */ select /*+  full(t)    pa...
950  /* SQL Analyze(0) */ select /*+  full(t)    pa...
951  /* SQL Analyze(0) */ select /*+  full(t)    pa...
952  /* SQL Analyze(0) */ select /*+  full(t)    pa...
953  /* SQL Analyze(0) */ select /*+  full(t)    pa...
954  /* SQL Analyze(0) */ select /*+  full(t)    pa...
955  /* SQL Analyze(0) */ select /*+  full(t)    pa...
956  /* SQL Analyze(0) */ select /*+  full(t)    pa...
                                                SQL_TEXT
25217  select /*+  parallel_index(t, "INV_DATE_SK_IND...
25218  select /*+  parallel_index(t, "INV_DATE_SK_IND...
25219  select /*+  parallel_index(t, "INV_DATE_SK_IND...
25220  select /*+  parallel_index(t, "INV_DATE_SK_IND...
25221  select /*+  parallel_index(t, "INV_DATE_SK_IND...
25222  select /*+  parallel_index(t, "INV_DATE_SK_IND...
25223  select /*+  parallel_index(t, "INV_DATE_SK_IND...
25224  select /*+  parallel_index(t, "INV_DATE_SK_IND...
25225  select /*+  parallel_index(t, "INV_DATE_SK_IND...
25226  select /*+  parallel_index(t, "INV_DATE_SK_IND...
                                                SQL_TEXT
18981  select * from (select  substr(r_reason_desc,1,...
18982  select * from (select  substr(r_reason_desc,1,...
18983  select * from (select  substr(r_reason_desc,1,...
18984  select * from (select  substr(r_reason_desc,1,...
18985  select * from (select  substr(r_reason_desc,1,...
18986  select * from (select  substr(r_reason_desc,1,...
18987  select * from (select  substr(r_reason_desc,1,...
18988  select * from (select  substr(r_reason_desc,1,...
18989  select * from (select  substr(r_reason_desc,1,...
18990  select * from (select  substr(r_reason_desc,1,...
18991  select * from (select  substr(r_reason_desc,1,...
18992  select * from (select  substr(r_reason_desc,1,...
18993  select * from (select  substr(r_reason_desc,1,...
18994  select * from (select  substr(r_reason_desc,1,...
18995  select * from (select  substr(r_reason_desc,1,...
18996  select * from (select  substr(r_reason_desc,1,...
18997  select * from (select  substr(r_reason_desc,1,...
18998  select * from (select  substr(r_reason_desc,1,...
18999  select * from (select  substr(r_reason_desc,1,...
19000  select * from (select  substr(r_reason_desc,1,...
19001  select * from (select  substr(r_reason_desc,1,...
19002  select * from (select  substr(r_reason_desc,1,...
19003  select * from (select  substr(r_reason_desc,1,...
19004  select * from (select  substr(r_reason_desc,1,...
19005  select * from (select  substr(r_reason_desc,1,...

                                               SQL_TEXT
9706  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9707  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9708  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9709  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9710  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9711  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9712  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9713  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9714  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9715  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9716  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9717  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9718  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9719  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9720  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9721  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9722  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9723  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9724  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9725  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9726  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9727  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9728  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9729  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
12671  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12672  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12673  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12674  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12675  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12676  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12659  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12660  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12661  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12662  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12663  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12664  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
12683  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12684  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12685  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12686  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12687  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12688  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
25267  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25397  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25527  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25657  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25787  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25917  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26047  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26177  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26307  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26437  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26567  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26697  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26827  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26957  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
27087  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
27217  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25268  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25398  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25528  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25658  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25788  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
25918  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26048  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26178  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26308  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26438  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26568  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26698  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26828  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
26958  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
...                                                  ...
30517  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30518  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30519  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30520  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30521  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30522  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30523  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30524  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30525  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30526  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30527  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30528  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30529  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30530  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30531  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30532  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30533  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30534  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30535  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30536  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30537  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30538  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30539  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30540  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30541  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30542  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30543  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30544  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30545  select avg(ss_quantity)\n       ,avg(ss_ext_sa...
30546  select avg(ss_quantity)\n       ,avg(ss_ext_sa...

[21944 rows x 1 columns]
                                               SQL_TEXT
1447  /* SQL Analyze(105,1) */ select * from (select...
1486  /* SQL Analyze(105,1) */ select * from (select...
1525  /* SQL Analyze(105,1) */ select * from (select...
1564  /* SQL Analyze(105,1) */ select * from (select...
1603  /* SQL Analyze(105,1) */ select * from (select...
1642  /* SQL Analyze(105,1) */ select * from (select...
1681  /* SQL Analyze(105,1) */ select * from (select...
1448  /* SQL Analyze(105,1) */ select * from (select...
1487  /* SQL Analyze(105,1) */ select * from (select...
1526  /* SQL Analyze(105,1) */ select * from (select...
1565  /* SQL Analyze(105,1) */ select * from (select...
1604  /* SQL Analyze(105,1) */ select * from (select...
1643  /* SQL Analyze(105,1) */ select * from (select...
1682  /* SQL Analyze(105,1) */ select * from (select...
1449  /* SQL Analyze(105,1) */ select * from (select...
1488  /* SQL Analyze(105,1) */ select * from (select...
1527  /* SQL Analyze(105,1) */ select * from (select...
1566  /* SQL Analyze(105,1) */ select * from (select...
1605  /* SQL Analyze(105,1) */ select * from (select...
1644  /* SQL Analyze(105,1) */ select * from (select...
1683  /* SQL Analyze(105,1) */ select * from (select...
1450  /* SQL Analyze(105,1) */ select * from (select...
1489  /* SQL Analyze(105,1) */ select * from (select...
1528  /* SQL Analyze(105,1) */ select * from (select...
1567  /* SQL Analyze(105,1) */ select * from (select...
1606  /* SQL Analyze(105,1) */ select * from (select...
1645  /* SQL Analyze(105,1) */ select * from (select...
1684  /* SQL Analyze(105,1) */ select * from (select...
1451  /* SQL Analyze(105,1) */ select * from (select...
1490  /* SQL Analyze(105,1) */ select * from (select...
...                                                 ...
1949  select * from (select\n  cd_gender,\n  cd_mari...
1988  select * from (select\n  cd_gender,\n  cd_mari...
1755  select * from (select\n  cd_gender,\n  cd_mari...
1794  select * from (select\n  cd_gender,\n  cd_mari...
1833  select * from (select\n  cd_gender,\n  cd_mari...
1872  select * from (select\n  cd_gender,\n  cd_mari...
1911  select * from (select\n  cd_gender,\n  cd_mari...
1950  select * from (select\n  cd_gender,\n  cd_mari...
1989  select * from (select\n  cd_gender,\n  cd_mari...
1756  select * from (select\n  cd_gender,\n  cd_mari...
1795  select * from (select\n  cd_gender,\n  cd_mari...
1834  select * from (select\n  cd_gender,\n  cd_mari...
1873  select * from (select\n  cd_gender,\n  cd_mari...
1912  select * from (select\n  cd_gender,\n  cd_mari...
1951  select * from (select\n  cd_gender,\n  cd_mari...
1990  select * from (select\n  cd_gender,\n  cd_mari...
1757  select * from (select\n  cd_gender,\n  cd_mari...
1796  select * from (select\n  cd_gender,\n  cd_mari...
1835  select * from (select\n  cd_gender,\n  cd_mari...
1874  select * from (select\n  cd_gender,\n  cd_mari...
1913  select * from (select\n  cd_gender,\n  cd_mari...
1952  select * from (select\n  cd_gender,\n  cd_mari...
1991  select * from (select\n  cd_gender,\n  cd_mari...
1758  select * from (select\n  cd_gender,\n  cd_mari...
1797  select * from (select\n  cd_gender,\n  cd_mari...
1836  select * from (select\n  cd_gender,\n  cd_mari...
1875  select * from (select\n  cd_gender,\n  cd_mari...
1914  select * from (select\n  cd_gender,\n  cd_mari...
1953  select * from (select\n  cd_gender,\n  cd_mari...
1992  select * from (select\n  cd_gender,\n  cd_mari...

[546 rows x 1 columns]
                                                SQL_TEXT
18655  select * from (select  ca_zip, ca_city, sum(ws...
18656  select * from (select  ca_zip, ca_city, sum(ws...
18657  select * from (select  ca_zip, ca_city, sum(ws...
18658  select * from (select  ca_zip, ca_city, sum(ws...
18659  select * from (select  ca_zip, ca_city, sum(ws...
18660  select * from (select  ca_zip, ca_city, sum(ws...
18661  select * from (select  ca_zip, ca_city, sum(ws...
18662  select * from (select  ca_zip, ca_city, sum(ws...
18663  select * from (select  ca_zip, ca_city, sum(ws...
18664  select * from (select  ca_zip, ca_city, sum(ws...
18665  select * from (select  ca_zip, ca_city, sum(ws...
18666  select * from (select  ca_zip, ca_city, sum(ws...
18667  select * from (select  ca_zip, ca_city, sum(ws...
18668  select * from (select  ca_zip, ca_city, sum(ws...
18669  select * from (select  ca_zip, ca_city, sum(ws...
18670  select * from (select  ca_zip, ca_city, sum(ws...
18671  select * from (select  ca_zip, ca_city, sum(ws...
18672  select * from (select  ca_zip, ca_city, sum(ws...
18673  select * from (select  ca_zip, ca_city, sum(ws...
18674  select * from (select  ca_zip, ca_city, sum(ws...
18675  select * from (select  ca_zip, ca_city, sum(ws...
18676  select * from (select  ca_zip, ca_city, sum(ws...
                                                SQL_TEXT
18607  select * from (select  ca_zip\n       ,sum(cs_...
18623  select * from (select  ca_zip\n       ,sum(cs_...
18608  select * from (select  ca_zip\n       ,sum(cs_...
18624  select * from (select  ca_zip\n       ,sum(cs_...
18609  select * from (select  ca_zip\n       ,sum(cs_...
18625  select * from (select  ca_zip\n       ,sum(cs_...
18610  select * from (select  ca_zip\n       ,sum(cs_...
18626  select * from (select  ca_zip\n       ,sum(cs_...
18611  select * from (select  ca_zip\n       ,sum(cs_...
18627  select * from (select  ca_zip\n       ,sum(cs_...
18612  select * from (select  ca_zip\n       ,sum(cs_...
18628  select * from (select  ca_zip\n       ,sum(cs_...
18613  select * from (select  ca_zip\n       ,sum(cs_...
18629  select * from (select  ca_zip\n       ,sum(cs_...
18614  select * from (select  ca_zip\n       ,sum(cs_...
18630  select * from (select  ca_zip\n       ,sum(cs_...
18615  select * from (select  ca_zip\n       ,sum(cs_...
18631  select * from (select  ca_zip\n       ,sum(cs_...
18616  select * from (select  ca_zip\n       ,sum(cs_...
18632  select * from (select  ca_zip\n       ,sum(cs_...
18617  select * from (select  ca_zip\n       ,sum(cs_...
18633  select * from (select  ca_zip\n       ,sum(cs_...
18618  select * from (select  ca_zip\n       ,sum(cs_...
18634  select * from (select  ca_zip\n       ,sum(cs_...
18619  select * from (select  ca_zip\n       ,sum(cs_...
18635  select * from (select  ca_zip\n       ,sum(cs_...
18620  select * from (select  ca_zip\n       ,sum(cs_...
18636  select * from (select  ca_zip\n       ,sum(cs_...
18621  select * from (select  ca_zip\n       ,sum(cs_...
18637  select * from (select  ca_zip\n       ,sum(cs_...
18622  select * from (select  ca_zip\n       ,sum(cs_...
18638  select * from (select  ca_zip\n       ,sum(cs_...
18639  select * from (select  ca_zip\n       ,sum(cs_...
18640  select * from (select  ca_zip\n       ,sum(cs_...
18641  select * from (select  ca_zip\n       ,sum(cs_...
18642  select * from (select  ca_zip\n       ,sum(cs_...
18643  select * from (select  ca_zip\n       ,sum(cs_...
18644  select * from (select  ca_zip\n       ,sum(cs_...
18645  select * from (select  ca_zip\n       ,sum(cs_...
18646  select * from (select  ca_zip\n       ,sum(cs_...
18647  select * from (select  ca_zip\n       ,sum(cs_...
18648  select * from (select  ca_zip\n       ,sum(cs_...
18649  select * from (select  ca_zip\n       ,sum(cs_...
18650  select * from (select  ca_zip\n       ,sum(cs_...
18651  select * from (select  ca_zip\n       ,sum(cs_...
18652  select * from (select  ca_zip\n       ,sum(cs_...
18653  select * from (select  ca_zip\n       ,sum(cs_...
18654  select * from (select  ca_zip\n       ,sum(cs_...
                                                SQL_TEXT
25207  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
25208  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
25209  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
25210  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
25211  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
25212  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
25213  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
25214  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
25215  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
25216  select /*+  parallel_index(t, "CS_SOLD_DATE_SK...
                                               SQL_TEXT
2934  /* SQL Analyze(105,1) */ with ss as (\n select...
2935  /* SQL Analyze(105,1) */ with ss as (\n select...
2936  /* SQL Analyze(105,1) */ with ss as (\n select...
2937  /* SQL Analyze(105,1) */ with ss as (\n select...
2938  /* SQL Analyze(105,1) */ with ss as (\n select...
2939  /* SQL Analyze(105,1) */ with ss as (\n select...
2940  /* SQL Analyze(105,1) */ with ss as (\n select...
2941  /* SQL Analyze(105,1) */ with ss as (\n select...
2942  /* SQL Analyze(105,1) */ with ss as (\n select...
2943  /* SQL Analyze(105,1) */ with ss as (\n select...
2944  /* SQL Analyze(105,1) */ with ss as (\n select...
2945  /* SQL Analyze(105,1) */ with ss as (\n select...
2946  /* SQL Analyze(105,1) */ with ss as (\n select...
2947  /* SQL Analyze(105,1) */ with ss as (\n select...
2948  /* SQL Analyze(105,1) */ with ss as (\n select...
2949  /* SQL Analyze(105,1) */ with ss as (\n select...
2950  /* SQL Analyze(105,1) */ with ss as (\n select...
2951  /* SQL Analyze(105,1) */ with ss as (\n select...
2952  /* SQL Analyze(105,1) */ with ss as (\n select...
2953  /* SQL Analyze(105,1) */ with ss as (\n select...
2954  /* SQL Analyze(105,1) */ with ss as (\n select...
2955  /* SQL Analyze(105,1) */ with ss as (\n select...
2956  /* SQL Analyze(105,1) */ with ss as (\n select...
2957  /* SQL Analyze(105,1) */ with ss as (\n select...
2958  /* SQL Analyze(105,1) */ with ss as (\n select...
2959  /* SQL Analyze(105,1) */ with ss as (\n select...
2960  /* SQL Analyze(105,1) */ with ss as (\n select...
2961  /* SQL Analyze(105,1) */ with ss as (\n select...
2962  /* SQL Analyze(105,1) */ with ss as (\n select...
2963  /* SQL Analyze(105,1) */ with ss as (\n select...
...                                                 ...
2990  with ss as (\n select\n          i_manufact_id...
2991  with ss as (\n select\n          i_manufact_id...
2992  with ss as (\n select\n          i_manufact_id...
2993  with ss as (\n select\n          i_manufact_id...
2994  with ss as (\n select\n          i_manufact_id...
2995  with ss as (\n select\n          i_manufact_id...
2996  with ss as (\n select\n          i_manufact_id...
2997  with ss as (\n select\n          i_manufact_id...
2998  with ss as (\n select\n          i_manufact_id...
2999  with ss as (\n select\n          i_manufact_id...
3000  with ss as (\n select\n          i_manufact_id...
3001  with ss as (\n select\n          i_manufact_id...
3002  with ss as (\n select\n          i_manufact_id...
3003  with ss as (\n select\n          i_manufact_id...
3004  with ss as (\n select\n          i_manufact_id...
3005  with ss as (\n select\n          i_manufact_id...
3006  with ss as (\n select\n          i_manufact_id...
3007  with ss as (\n select\n          i_manufact_id...
3008  with ss as (\n select\n          i_manufact_id...
3009  with ss as (\n select\n          i_manufact_id...
3010  with ss as (\n select\n          i_manufact_id...
3011  with ss as (\n select\n          i_manufact_id...
3012  with ss as (\n select\n          i_manufact_id...
3013  with ss as (\n select\n          i_manufact_id...
3014  with ss as (\n select\n          i_manufact_id...
3015  with ss as (\n select\n          i_manufact_id...
3016  with ss as (\n select\n          i_manufact_id...
3017  with ss as (\n select\n          i_manufact_id...
3018  with ss as (\n select\n          i_manufact_id...
3019  with ss as (\n select\n          i_manufact_id...

[86 rows x 1 columns]
                                                SQL_TEXT
15991  select * from (select\n   count(distinct ws_or...
15992  select * from (select\n   count(distinct ws_or...
15993  select * from (select\n   count(distinct ws_or...
15994  select * from (select\n   count(distinct ws_or...
15995  select * from (select\n   count(distinct ws_or...
15996  select * from (select\n   count(distinct ws_or...
15997  select * from (select\n   count(distinct ws_or...
15998  select * from (select\n   count(distinct ws_or...
15999  select * from (select\n   count(distinct ws_or...
16000  select * from (select\n   count(distinct ws_or...
16001  select * from (select\n   count(distinct ws_or...
16002  select * from (select\n   count(distinct ws_or...
16003  select * from (select\n   count(distinct ws_or...
16004  select * from (select\n   count(distinct ws_or...
16005  select * from (select\n   count(distinct ws_or...
16006  select * from (select\n   count(distinct ws_or...
16007  select * from (select\n   count(distinct ws_or...
16008  select * from (select\n   count(distinct ws_or...
16009  select * from (select\n   count(distinct ws_or...
16010  select * from (select\n   count(distinct ws_or...
16011  select * from (select\n   count(distinct ws_or...
16012  select * from (select\n   count(distinct ws_or...
16013  select * from (select\n   count(distinct ws_or...
16014  select * from (select\n   count(distinct ws_or...
16015  select * from (select\n   count(distinct ws_or...
16016  select * from (select\n   count(distinct ws_or...
16017  select * from (select\n   count(distinct ws_or...
                                                SQL_TEXT
56129  with cs_ui as\n (select cs_item_sk\n        ,s...
56192  with cs_ui as\n (select cs_item_sk\n        ,s...
56255  with cs_ui as\n (select cs_item_sk\n        ,s...
56318  with cs_ui as\n (select cs_item_sk\n        ,s...
56381  with cs_ui as\n (select cs_item_sk\n        ,s...
56130  with cs_ui as\n (select cs_item_sk\n        ,s...
56193  with cs_ui as\n (select cs_item_sk\n        ,s...
56256  with cs_ui as\n (select cs_item_sk\n        ,s...
56319  with cs_ui as\n (select cs_item_sk\n        ,s...

                                                SQL_TEXT
15781  insert /*+ append */ into sys.ora_temp_1_ds_18...
15782  insert /*+ append */ into sys.ora_temp_1_ds_18...
15783  insert /*+ append */ into sys.ora_temp_1_ds_18...
15784  insert /*+ append */ into sys.ora_temp_1_ds_18...
15785  insert /*+ append */ into sys.ora_temp_1_ds_18...
15786  insert /*+ append */ into sys.ora_temp_1_ds_18...
15787  insert /*+ append */ into sys.ora_temp_1_ds_18...
15788  insert /*+ append */ into sys.ora_temp_1_ds_18...
15789  insert /*+ append */ into sys.ora_temp_1_ds_18...
                                                SQL_TEXT
25069  select /*+  no_parallel_index(t, "CR_RETURNED_...
25070  select /*+  no_parallel_index(t, "CR_RETURNED_...
25071  select /*+  no_parallel_index(t, "CR_RETURNED_...
                                                SQL_TEXT
13281  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13365  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13282  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13366  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13283  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13367  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13284  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13368  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13285  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13369  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13286  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13370  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13113  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13114  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13115  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13116  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13117  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13118  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13197  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13198  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13199  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13200  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13201  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13202  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13449  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13450  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13451  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13452  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13453  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13454  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13029  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13030  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13031  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13032  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13033  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13034  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12861  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12862  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12863  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12864  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12865  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12866  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13617  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13618  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13619  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13620  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13621  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13622  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12777  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12778  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12779  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12780  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12781  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12782  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12693  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12694  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12695  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12696  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12697  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12698  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
18910  select * from (select  i_item_id\n      ,i_ite...
18911  select * from (select  i_item_id\n      ,i_ite...
18912  select * from (select  i_item_id\n      ,i_ite...
18913  select * from (select  i_item_id\n      ,i_ite...
18914  select * from (select  i_item_id\n      ,i_ite...
18915  select * from (select  i_item_id\n      ,i_ite...
18916  select * from (select  i_item_id\n      ,i_ite...
18917  select * from (select  i_item_id\n      ,i_ite...
18918  select * from (select  i_item_id\n      ,i_ite...
18919  select * from (select  i_item_id\n      ,i_ite...
18920  select * from (select  i_item_id\n      ,i_ite...
18921  select * from (select  i_item_id\n      ,i_ite...
18922  select * from (select  i_item_id\n      ,i_ite...
                                                SQL_TEXT
15964  select * from (select\n   count(distinct cs_or...
15965  select * from (select\n   count(distinct cs_or...
15966  select * from (select\n   count(distinct cs_or...
15967  select * from (select\n   count(distinct cs_or...
15968  select * from (select\n   count(distinct cs_or...
15969  select * from (select\n   count(distinct cs_or...
15970  select * from (select\n   count(distinct cs_or...
15971  select * from (select\n   count(distinct cs_or...
15972  select * from (select\n   count(distinct cs_or...
15973  select * from (select\n   count(distinct cs_or...
15974  select * from (select\n   count(distinct cs_or...
15975  select * from (select\n   count(distinct cs_or...
15976  select * from (select\n   count(distinct cs_or...
15977  select * from (select\n   count(distinct cs_or...
15978  select * from (select\n   count(distinct cs_or...
15979  select * from (select\n   count(distinct cs_or...
15980  select * from (select\n   count(distinct cs_or...
15981  select * from (select\n   count(distinct cs_or...
15982  select * from (select\n   count(distinct cs_or...
15983  select * from (select\n   count(distinct cs_or...
15984  select * from (select\n   count(distinct cs_or...
15985  select * from (select\n   count(distinct cs_or...
15986  select * from (select\n   count(distinct cs_or...
15987  select * from (select\n   count(distinct cs_or...
15988  select * from (select\n   count(distinct cs_or...
15989  select * from (select\n   count(distinct cs_or...
15990  select * from (select\n   count(distinct cs_or...
                                             SQL_TEXT
53  /* SQL Analyze(0) */ select /*+  full(t)    no...
54  /* SQL Analyze(0) */ select /*+  full(t)    no...
55  /* SQL Analyze(0) */ select /*+  full(t)    no...
56  /* SQL Analyze(0) */ select /*+  full(t)    no...
61  /* SQL Analyze(0) */ select /*+  full(t)    no...
62  /* SQL Analyze(0) */ select /*+  full(t)    no...
63  /* SQL Analyze(0) */ select /*+  full(t)    no...
64  /* SQL Analyze(0) */ select /*+  full(t)    no...
                                                SQL_TEXT
12511  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12512  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12513  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12514  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12295  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12296  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12297  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12298  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12547  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12548  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12549  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12550  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12331  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12332  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12333  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12334  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12439  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12440  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12441  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12442  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12367  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12368  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12369  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12370  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12583  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12584  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12585  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12586  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12403  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12404  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12405  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12406  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12475  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12476  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12477  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12478  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                              SQL_TEXT
917  /* SQL Analyze(0) */ select /*+  full(t)    pa...
918  /* SQL Analyze(0) */ select /*+  full(t)    pa...
919  /* SQL Analyze(0) */ select /*+  full(t)    pa...
920  /* SQL Analyze(0) */ select /*+  full(t)    pa...
921  /* SQL Analyze(0) */ select /*+  full(t)    pa...
922  /* SQL Analyze(0) */ select /*+  full(t)    pa...
923  /* SQL Analyze(0) */ select /*+  full(t)    pa...
924  /* SQL Analyze(0) */ select /*+  full(t)    pa...
933  /* SQL Analyze(0) */ select /*+  full(t)    pa...
934  /* SQL Analyze(0) */ select /*+  full(t)    pa...
935  /* SQL Analyze(0) */ select /*+  full(t)    pa...
936  /* SQL Analyze(0) */ select /*+  full(t)    pa...
937  /* SQL Analyze(0) */ select /*+  full(t)    pa...
938  /* SQL Analyze(0) */ select /*+  full(t)    pa...
939  /* SQL Analyze(0) */ select /*+  full(t)    pa...
940  /* SQL Analyze(0) */ select /*+  full(t)    pa...
                                               SQL_TEXT
9770  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9810  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9771  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9811  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9772  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9812  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9773  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9813  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9774  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9814  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9775  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9815  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9776  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9816  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9777  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9817  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9778  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9818  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9779  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9819  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9780  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9820  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9781  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9821  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9782  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9822  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9783  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9823  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9784  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9824  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9730  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9731  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9732  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9733  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9734  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9735  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9736  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9737  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9738  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9739  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9740  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9741  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9742  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9743  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9744  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
11383  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11384  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11385  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11386  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11387  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11388  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11479  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11480  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11481  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11482  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11483  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11484  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11623  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11624  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11625  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11626  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11627  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11628  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11527  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11528  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11529  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11530  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11531  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11532  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11431  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11432  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11433  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11434  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11435  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11436  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11287  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11288  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11289  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11290  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11291  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11292  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11575  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11576  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11577  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11578  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11579  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11580  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11335  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11336  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11337  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11338  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11339  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11340  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15603  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15604  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15605  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15606  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15607  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15608  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15483  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15484  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15485  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15486  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15487  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15488  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15543  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15544  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15545  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15546  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15547  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15548  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15573  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15574  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15575  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15576  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15577  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15578  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15513  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15514  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15515  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15516  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15517  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15518  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15609  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15610  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15611  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15612  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15613  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15614  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15489  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15490  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15492  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15493  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15494  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15549  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15550  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15551  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15552  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15553  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15554  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15579  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15580  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15581  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15582  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15583  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15584  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15519  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15520  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15521  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15522  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15523  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15524  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
25081  select /*+  no_parallel_index(t, "CR_SHIP_MODE...
25082  select /*+  no_parallel_index(t, "CR_SHIP_MODE...
25083  select /*+  no_parallel_index(t, "CR_SHIP_MODE...
                                                SQL_TEXT
25054  select /*+  no_parallel_index(t, "CR_CALL_CENT...
25055  select /*+  no_parallel_index(t, "CR_CALL_CENT...
25056  select /*+  no_parallel_index(t, "CR_CALL_CENT...
                                                SQL_TEXT
15225  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15226  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15227  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15228  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15229  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
15231  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15232  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15233  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15234  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15235  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15236  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15135  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15136  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15137  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15138  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15139  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15140  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15039  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15040  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15041  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15042  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15043  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15044  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14559  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14560  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14561  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14562  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14563  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14564  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14655  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14656  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14657  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14658  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14659  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14660  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14271  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14272  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14273  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14274  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14275  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14276  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14943  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14944  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14945  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14946  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14947  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14948  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14463  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14464  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14465  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14466  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14467  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14468  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13887  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13888  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13889  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13890  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13891  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13892  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13791  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13792  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13793  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13794  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13795  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13796  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                               SQL_TEXT
9785  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9825  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9786  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9826  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9787  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9827  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9788  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9828  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9789  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9829  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9790  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9830  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9791  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9831  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9792  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9832  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9793  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9833  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9794  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9834  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9795  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9835  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9796  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9836  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9797  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9837  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9798  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9838  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9799  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9839  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9745  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9746  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9747  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9748  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9749  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9750  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9751  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9752  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9753  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9754  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9755  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9756  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9757  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9758  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9759  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5187  /* SQL Analyze(176,1) */ with ss as\n (select ...
5188  /* SQL Analyze(176,1) */ with ss as\n (select ...
5189  /* SQL Analyze(176,1) */ with ss as\n (select ...
5190  /* SQL Analyze(176,1) */ with ss as\n (select ...
5191  /* SQL Analyze(176,1) */ with ss as\n (select ...
5192  /* SQL Analyze(176,1) */ with ss as\n (select ...
5193  /* SQL Analyze(176,1) */ with ss as\n (select ...
5194  /* SQL Analyze(176,1) */ with ss as\n (select ...
5195  /* SQL Analyze(176,1) */ with ss as\n (select ...
5196  /* SQL Analyze(176,1) */ with ss as\n (select ...
5197  /* SQL Analyze(176,1) */ with ss as\n (select ...
5198  /* SQL Analyze(176,1) */ with ss as\n (select ...
5199  /* SQL Analyze(176,1) */ with ss as\n (select ...
5200  /* SQL Analyze(176,1) */ with ss as\n (select ...
5201  /* SQL Analyze(176,1) */ with ss as\n (select ...
5202  /* SQL Analyze(176,1) */ with ss as\n (select ...
5203  /* SQL Analyze(176,1) */ with ss as\n (select ...
5204  /* SQL Analyze(176,1) */ with ss as\n (select ...
5205  /* SQL Analyze(176,1) */ with ss as\n (select ...
5206  /* SQL Analyze(176,1) */ with ss as\n (select ...
5207  /* SQL Analyze(176,1) */ with ss as\n (select ...
5208  /* SQL Analyze(176,1) */ with ss as\n (select ...
5209  /* SQL Analyze(176,1) */ with ss as\n (select ...
5210  /* SQL Analyze(176,1) */ with ss as\n (select ...
5211  /* SQL Analyze(176,1) */ with ss as\n (select ...
5212  /* SQL Analyze(176,1) */ with ss as\n (select ...
5213  /* SQL Analyze(176,1) */ with ss as\n (select ...
5214  /* SQL Analyze(176,1) */ with ss as\n (select ...
5215  /* SQL Analyze(176,1) */ with ss as\n (select ...
5216  /* SQL Analyze(176,1) */ with ss as\n (select ...
5217  /* SQL Analyze(176,1) */ with ss as\n (select ...
5218  /* SQL Analyze(176,1) */ with ss as\n (select ...
5219  /* SQL Analyze(176,1) */ with ss as\n (select ...
5220  /* SQL Analyze(176,1) */ with ss as\n (select ...
5221  /* SQL Analyze(176,1) */ with ss as\n (select ...
5222  /* SQL Analyze(176,1) */ with ss as\n (select ...
5223  /* SQL Analyze(176,1) */ with ss as\n (select ...
5224  /* SQL Analyze(176,1) */ with ss as\n (select ...
5225  /* SQL Analyze(176,1) */ with ss as\n (select ...
5226  /* SQL Analyze(176,1) */ with ss as\n (select ...
5227  /* SQL Analyze(176,1) */ with ss as\n (select ...
                                                SQL_TEXT
10043  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10044  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10045  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10046  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10047  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10048  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10049  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10050  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10051  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10052  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
9800  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9840  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9801  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9841  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9802  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9842  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9803  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9843  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9804  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9844  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9805  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9845  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9806  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9846  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9807  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9847  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9808  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9848  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9809  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9849  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9760  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9761  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9762  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9763  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9764  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9765  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9766  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9767  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9768  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9769  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                               SQL_TEXT
5331  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5332  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5333  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
25084  select /*+  no_parallel_index(t, "C_CURRENT_CD...
25085  select /*+  no_parallel_index(t, "C_CURRENT_CD...
25086  select /*+  no_parallel_index(t, "C_CURRENT_CD...
                                             SQL_TEXT
93  /* SQL Analyze(0) */ select /*+  full(t)    no...
94  /* SQL Analyze(0) */ select /*+  full(t)    no...
95  /* SQL Analyze(0) */ select /*+  full(t)    no...
96  /* SQL Analyze(0) */ select /*+  full(t)    no...
                                                SQL_TEXT
25087  select /*+  no_parallel_index(t, "C_CURRENT_HD...
25088  select /*+  no_parallel_index(t, "C_CURRENT_HD...
25089  select /*+  no_parallel_index(t, "C_CURRENT_HD...
                                             SQL_TEXT
57  /* SQL Analyze(0) */ select /*+  full(t)    no...
58  /* SQL Analyze(0) */ select /*+  full(t)    no...
59  /* SQL Analyze(0) */ select /*+  full(t)    no...
60  /* SQL Analyze(0) */ select /*+  full(t)    no...
65  /* SQL Analyze(0) */ select /*+  full(t)    no...
66  /* SQL Analyze(0) */ select /*+  full(t)    no...
67  /* SQL Analyze(0) */ select /*+  full(t)    no...
68  /* SQL Analyze(0) */ select /*+  full(t)    no...
                                              SQL_TEXT
97   /* SQL Analyze(0) */ select /*+  full(t)    no...
98   /* SQL Analyze(0) */ select /*+  full(t)    no...
99   /* SQL Analyze(0) */ select /*+  full(t)    no...
100  /* SQL Analyze(0) */ select /*+  full(t)    no...
                                                SQL_TEXT
15237  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15238  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15239  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15240  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15241  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15242  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15141  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15142  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15143  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15144  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15145  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15146  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15045  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15046  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15047  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15048  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15049  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15050  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14565  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14566  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14567  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14568  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14569  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14570  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14661  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14662  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14663  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14664  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14665  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14666  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14277  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14278  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14279  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14280  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14281  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14282  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14949  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14950  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14951  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14952  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14953  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14954  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14469  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14470  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14471  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14472  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14473  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14474  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13893  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13894  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13895  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13896  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13897  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13898  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13797  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13798  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13799  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13800  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13801  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13802  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                                SQL_TEXT
18700  select * from (select  dt.d_year\n       ,item...
18712  select * from (select  dt.d_year\n       ,item...
18724  select * from (select  dt.d_year\n       ,item...
18736  select * from (select  dt.d_year\n       ,item...
18748  select * from (select  dt.d_year\n       ,item...
18760  select * from (select  dt.d_year\n       ,item...
18772  select * from (select  dt.d_year\n       ,item...
18701  select * from (select  dt.d_year\n       ,item...
18713  select * from (select  dt.d_year\n       ,item...
18725  select * from (select  dt.d_year\n       ,item...
18737  select * from (select  dt.d_year\n       ,item...
18749  select * from (select  dt.d_year\n       ,item...
18761  select * from (select  dt.d_year\n       ,item...
18773  select * from (select  dt.d_year\n       ,item...
18702  select * from (select  dt.d_year\n       ,item...
18714  select * from (select  dt.d_year\n       ,item...
18726  select * from (select  dt.d_year\n       ,item...
18738  select * from (select  dt.d_year\n       ,item...
18750  select * from (select  dt.d_year\n       ,item...
18762  select * from (select  dt.d_year\n       ,item...
18774  select * from (select  dt.d_year\n       ,item...
18703  select * from (select  dt.d_year\n       ,item...
18715  select * from (select  dt.d_year\n       ,item...
18727  select * from (select  dt.d_year\n       ,item...
18739  select * from (select  dt.d_year\n       ,item...
18751  select * from (select  dt.d_year\n       ,item...
18763  select * from (select  dt.d_year\n       ,item...
18775  select * from (select  dt.d_year\n       ,item...
18704  select * from (select  dt.d_year\n       ,item...
18716  select * from (select  dt.d_year\n       ,item...
...                                                  ...
18745  select * from (select  dt.d_year\n       ,item...
18757  select * from (select  dt.d_year\n       ,item...
18769  select * from (select  dt.d_year\n       ,item...
18781  select * from (select  dt.d_year\n       ,item...
18710  select * from (select  dt.d_year\n       ,item...
18722  select * from (select  dt.d_year\n       ,item...
18734  select * from (select  dt.d_year\n       ,item...
18746  select * from (select  dt.d_year\n       ,item...
18758  select * from (select  dt.d_year\n       ,item...
18770  select * from (select  dt.d_year\n       ,item...
18782  select * from (select  dt.d_year\n       ,item...
18711  select * from (select  dt.d_year\n       ,item...
18723  select * from (select  dt.d_year\n       ,item...
18735  select * from (select  dt.d_year\n       ,item...
18747  select * from (select  dt.d_year\n       ,item...
18759  select * from (select  dt.d_year\n       ,item...
18771  select * from (select  dt.d_year\n       ,item...
18783  select * from (select  dt.d_year\n       ,item...
18688  select * from (select  dt.d_year\n       ,item...
18689  select * from (select  dt.d_year\n       ,item...
18690  select * from (select  dt.d_year\n       ,item...
18691  select * from (select  dt.d_year\n       ,item...
18692  select * from (select  dt.d_year\n       ,item...
18693  select * from (select  dt.d_year\n       ,item...
18694  select * from (select  dt.d_year\n       ,item...
18695  select * from (select  dt.d_year\n       ,item...
18696  select * from (select  dt.d_year\n       ,item...
18697  select * from (select  dt.d_year\n       ,item...
18698  select * from (select  dt.d_year\n       ,item...
18699  select * from (select  dt.d_year\n       ,item...

[96 rows x 1 columns]
                                   SQL_TEXT
18   insert into item (select * from itemv)
19   insert into item (select * from itemv)
20   insert into item (select * from itemv)
                                                SQL_TEXT
15243  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15244  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15245  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15246  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15247  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15248  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15147  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15148  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15149  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15150  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15151  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15152  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15051  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15052  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15053  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15054  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15055  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15056  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14571  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14572  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14573  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14574  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14575  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14576  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14667  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14668  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14669  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14670  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14671  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14672  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14283  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14284  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14285  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14286  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14287  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14288  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14955  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14956  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14957  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14958  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14959  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14960  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14475  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14476  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14477  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14478  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14479  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14480  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13899  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13900  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13901  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13902  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13903  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13904  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13803  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13804  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13805  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13806  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13807  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13808  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                             SQL_TEXT
49  /* SQL Analyze(0) */ select /*+  full(t)    no...
50  /* SQL Analyze(0) */ select /*+  full(t)    no...
51  /* SQL Analyze(0) */ select /*+  full(t)    no...
52  /* SQL Analyze(0) */ select /*+  full(t)    no...
                                              SQL_TEXT
901  /* SQL Analyze(0) */ select /*+  full(t)    pa...
902  /* SQL Analyze(0) */ select /*+  full(t)    pa...
903  /* SQL Analyze(0) */ select /*+  full(t)    pa...
904  /* SQL Analyze(0) */ select /*+  full(t)    pa...
905  /* SQL Analyze(0) */ select /*+  full(t)    pa...
906  /* SQL Analyze(0) */ select /*+  full(t)    pa...
907  /* SQL Analyze(0) */ select /*+  full(t)    pa...
908  /* SQL Analyze(0) */ select /*+  full(t)    pa...
                                              SQL_TEXT
261  /* SQL Analyze(0) */ select /*+  full(t)    pa...
325  /* SQL Analyze(0) */ select /*+  full(t)    pa...
262  /* SQL Analyze(0) */ select /*+  full(t)    pa...
326  /* SQL Analyze(0) */ select /*+  full(t)    pa...
263  /* SQL Analyze(0) */ select /*+  full(t)    pa...
327  /* SQL Analyze(0) */ select /*+  full(t)    pa...
264  /* SQL Analyze(0) */ select /*+  full(t)    pa...
328  /* SQL Analyze(0) */ select /*+  full(t)    pa...
265  /* SQL Analyze(0) */ select /*+  full(t)    pa...
329  /* SQL Analyze(0) */ select /*+  full(t)    pa...
266  /* SQL Analyze(0) */ select /*+  full(t)    pa...
330  /* SQL Analyze(0) */ select /*+  full(t)    pa...
267  /* SQL Analyze(0) */ select /*+  full(t)    pa...
331  /* SQL Analyze(0) */ select /*+  full(t)    pa...
268  /* SQL Analyze(0) */ select /*+  full(t)    pa...
332  /* SQL Analyze(0) */ select /*+  full(t)    pa...
581  /* SQL Analyze(0) */ select /*+  full(t)    pa...
645  /* SQL Analyze(0) */ select /*+  full(t)    pa...
582  /* SQL Analyze(0) */ select /*+  full(t)    pa...
646  /* SQL Analyze(0) */ select /*+  full(t)    pa...
583  /* SQL Analyze(0) */ select /*+  full(t)    pa...
647  /* SQL Analyze(0) */ select /*+  full(t)    pa...
584  /* SQL Analyze(0) */ select /*+  full(t)    pa...
648  /* SQL Analyze(0) */ select /*+  full(t)    pa...
585  /* SQL Analyze(0) */ select /*+  full(t)    pa...
649  /* SQL Analyze(0) */ select /*+  full(t)    pa...
586  /* SQL Analyze(0) */ select /*+  full(t)    pa...
650  /* SQL Analyze(0) */ select /*+  full(t)    pa...
587  /* SQL Analyze(0) */ select /*+  full(t)    pa...
651  /* SQL Analyze(0) */ select /*+  full(t)    pa...
..                                                 ...
502  /* SQL Analyze(0) */ select /*+  full(t)    pa...
566  /* SQL Analyze(0) */ select /*+  full(t)    pa...
503  /* SQL Analyze(0) */ select /*+  full(t)    pa...
567  /* SQL Analyze(0) */ select /*+  full(t)    pa...
504  /* SQL Analyze(0) */ select /*+  full(t)    pa...
568  /* SQL Analyze(0) */ select /*+  full(t)    pa...
505  /* SQL Analyze(0) */ select /*+  full(t)    pa...
569  /* SQL Analyze(0) */ select /*+  full(t)    pa...
506  /* SQL Analyze(0) */ select /*+  full(t)    pa...
570  /* SQL Analyze(0) */ select /*+  full(t)    pa...
507  /* SQL Analyze(0) */ select /*+  full(t)    pa...
571  /* SQL Analyze(0) */ select /*+  full(t)    pa...
508  /* SQL Analyze(0) */ select /*+  full(t)    pa...
572  /* SQL Analyze(0) */ select /*+  full(t)    pa...
181  /* SQL Analyze(0) */ select /*+  full(t)    pa...
245  /* SQL Analyze(0) */ select /*+  full(t)    pa...
182  /* SQL Analyze(0) */ select /*+  full(t)    pa...
246  /* SQL Analyze(0) */ select /*+  full(t)    pa...
183  /* SQL Analyze(0) */ select /*+  full(t)    pa...
247  /* SQL Analyze(0) */ select /*+  full(t)    pa...
184  /* SQL Analyze(0) */ select /*+  full(t)    pa...
248  /* SQL Analyze(0) */ select /*+  full(t)    pa...
185  /* SQL Analyze(0) */ select /*+  full(t)    pa...
249  /* SQL Analyze(0) */ select /*+  full(t)    pa...
186  /* SQL Analyze(0) */ select /*+  full(t)    pa...
250  /* SQL Analyze(0) */ select /*+  full(t)    pa...
187  /* SQL Analyze(0) */ select /*+  full(t)    pa...
251  /* SQL Analyze(0) */ select /*+  full(t)    pa...
188  /* SQL Analyze(0) */ select /*+  full(t)    pa...
252  /* SQL Analyze(0) */ select /*+  full(t)    pa...

[144 rows x 1 columns]

                                             SQL_TEXT
37  /* SQL Analyze(0) */ select /*+  full(t)    no...
38  /* SQL Analyze(0) */ select /*+  full(t)    no...
39  /* SQL Analyze(0) */ select /*+  full(t)    no...
40  /* SQL Analyze(0) */ select /*+  full(t)    no...
45  /* SQL Analyze(0) */ select /*+  full(t)    no...
46  /* SQL Analyze(0) */ select /*+  full(t)    no...
47  /* SQL Analyze(0) */ select /*+  full(t)    no...
48  /* SQL Analyze(0) */ select /*+  full(t)    no...
                                                SQL_TEXT
15249  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15250  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15251  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15252  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15253  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15254  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15153  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15154  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15155  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15156  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15157  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15158  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15057  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15058  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15059  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15060  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15061  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15062  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14577  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14578  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14579  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14580  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14581  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14582  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14673  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14674  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14675  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14676  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14677  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14678  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14289  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14290  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14291  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14292  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14293  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14294  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14961  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14962  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14963  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14964  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14965  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14966  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14481  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14482  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14483  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14484  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14485  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14486  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13905  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13906  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13907  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13908  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13909  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13910  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13809  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13810  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13811  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13812  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13813  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13814  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                                SQL_TEXT
13293  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13377  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13294  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13378  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13295  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13379  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13296  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13380  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13297  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13381  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13298  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13382  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13125  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13126  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13127  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13128  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13129  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13130  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13209  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13210  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13211  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13212  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13213  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13214  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13461  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13462  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13463  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13464  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13465  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13466  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13041  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13042  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13043  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13044  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13045  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13046  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12873  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12874  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12875  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12876  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12877  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12878  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13629  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13630  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13631  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13632  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13633  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13634  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12789  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12790  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12791  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12792  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12793  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12794  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12705  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12706  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12707  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12708  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12709  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12710  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
18677  select * from (select  distinct(i_product_name...
18678  select * from (select  distinct(i_product_name...
18679  select * from (select  distinct(i_product_name...
18680  select * from (select  distinct(i_product_name...
18681  select * from (select  distinct(i_product_name...
18682  select * from (select  distinct(i_product_name...
18683  select * from (select  distinct(i_product_name...
18684  select * from (select  distinct(i_product_name...
18685  select * from (select  distinct(i_product_name...
18686  select * from (select  distinct(i_product_name...
18687  select * from (select  distinct(i_product_name...
                                               SQL_TEXT
5895  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5899  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5903  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5896  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5900  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5904  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5897  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5901  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5905  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5898  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5902  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5906  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6335  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6339  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6343  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6336  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6340  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6344  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6337  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6341  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6345  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6338  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6342  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6346  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5785  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5789  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5793  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5786  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5790  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5794  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
5952  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5956  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5960  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5953  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5957  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5961  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6280  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6284  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6288  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6281  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6285  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6289  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6282  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6286  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6290  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6283  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6287  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6291  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6115  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6119  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6123  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6116  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6120  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6124  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6117  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6121  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6125  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6118  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6122  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6126  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[132 rows x 1 columns]
                                                SQL_TEXT
11389  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11390  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11391  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11392  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11393  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11394  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11485  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11486  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11487  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11488  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11489  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11490  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11629  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11630  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11631  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11632  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11633  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11634  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11533  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11534  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11535  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11536  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11537  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11538  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11437  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11438  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11439  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11440  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11441  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11442  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11293  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11294  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11295  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11296  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11297  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11298  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11581  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11582  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11583  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11584  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11585  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11586  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11341  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11342  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11343  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11344  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11345  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11346  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
11769  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11770  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11771  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11772  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11821  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11822  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11823  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11824  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12029  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12030  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12031  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12032  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11977  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11978  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11979  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11980  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12081  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12082  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12083  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12084  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12133  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12134  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12135  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12136  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11873  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11874  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11875  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11876  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11717  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11718  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11719  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11720  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12185  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12186  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12187  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12188  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11925  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11926  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11927  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11928  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11665  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11666  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11667  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11668  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12237  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12238  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12239  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

12240  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
18969  select * from (select  ss_customer_sk\n       ...
18970  select * from (select  ss_customer_sk\n       ...
18971  select * from (select  ss_customer_sk\n       ...
18972  select * from (select  ss_customer_sk\n       ...
18973  select * from (select  ss_customer_sk\n       ...
18974  select * from (select  ss_customer_sk\n       ...
18975  select * from (select  ss_customer_sk\n       ...
18976  select * from (select  ss_customer_sk\n       ...
18977  select * from (select  ss_customer_sk\n       ...
18978  select * from (select  ss_customer_sk\n       ...
18979  select * from (select  ss_customer_sk\n       ...
18980  select * from (select  ss_customer_sk\n       ...
                                                SQL_TEXT
11773  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11774  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11775  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11776  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11825  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11826  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11827  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11828  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12033  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12034  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12035  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12036  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11981  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11982  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11983  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11984  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12085  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12086  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12087  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12088  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12137  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12138  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12139  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12140  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11877  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11878  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11879  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11880  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11721  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11722  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11723  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11724  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12189  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12190  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12191  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12192  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11929  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11930  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11931  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11932  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11669  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11670  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11671  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11672  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12241  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12242  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12243  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12244  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
11777  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11778  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11779  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11780  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11829  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11830  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11831  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11832  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12037  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12038  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12039  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12040  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11985  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11986  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11987  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11988  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12089  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12090  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12091  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12092  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12141  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12142  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12143  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12144  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11881  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11882  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11883  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11884  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11725  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11726  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11727  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11728  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12193  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12194  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12195  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12196  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11933  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11934  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11935  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11936  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11673  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11674  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11675  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11676  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12245  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12246  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12247  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12248  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15255  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15256  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15257  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15258  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15259  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15260  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15159  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15160  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15161  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15162  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15163  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15164  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15063  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15064  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15065  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15066  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15067  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15068  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14583  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14584  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14585  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14586  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14587  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14588  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14679  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14680  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14681  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14682  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14683  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14684  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14295  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14296  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14297  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14298  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14299  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14300  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14967  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14968  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14969  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14970  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14971  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14972  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14487  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14488  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14489  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14490  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14492  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13911  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13912  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13913  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13914  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13915  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13916  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13815  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13816  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13817  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13818  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13819  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13820  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                                SQL_TEXT
18884  select * from (select  i_item_id\n       ,i_it...
18885  select * from (select  i_item_id\n       ,i_it...
18886  select * from (select  i_item_id\n       ,i_it...
18887  select * from (select  i_item_id\n       ,i_it...
18888  select * from (select  i_item_id\n       ,i_it...
18889  select * from (select  i_item_id\n       ,i_it...
18890  select * from (select  i_item_id\n       ,i_it...
18891  select * from (select  i_item_id\n       ,i_it...
18892  select * from (select  i_item_id\n       ,i_it...
18893  select * from (select  i_item_id\n       ,i_it...
18894  select * from (select  i_item_id\n       ,i_it...
18895  select * from (select  i_item_id\n       ,i_it...
18896  select * from (select  i_item_id\n       ,i_it...
                                                SQL_TEXT
19015  select * from (select  sum(cs_ext_discount_amt...
19016  select * from (select  sum(cs_ext_discount_amt...
19017  select * from (select  sum(cs_ext_discount_amt...
19018  select * from (select  sum(cs_ext_discount_amt...
19019  select * from (select  sum(cs_ext_discount_amt...
19020  select * from (select  sum(cs_ext_discount_amt...
19021  select * from (select  sum(cs_ext_discount_amt...
19022  select * from (select  sum(cs_ext_discount_amt...
19023  select * from (select  sum(cs_ext_discount_amt...
19024  select * from (select  sum(cs_ext_discount_amt...
19025  select * from (select  sum(cs_ext_discount_amt...
19026  select * from (select  sum(cs_ext_discount_amt...
19027  select * from (select  sum(cs_ext_discount_amt...
                                                SQL_TEXT
24364  select /*+  no_parallel(t) no_parallel_index(t...
24368  select /*+  no_parallel(t) no_parallel_index(t...
24365  select /*+  no_parallel(t) no_parallel_index(t...
24369  select /*+  no_parallel(t) no_parallel_index(t...
24366  select /*+  no_parallel(t) no_parallel_index(t...
24370  select /*+  no_parallel(t) no_parallel_index(t...
24367  select /*+  no_parallel(t) no_parallel_index(t...
24371  select /*+  no_parallel(t) no_parallel_index(t...
24420  select /*+  no_parallel(t) no_parallel_index(t...
24424  select /*+  no_parallel(t) no_parallel_index(t...
24421  select /*+  no_parallel(t) no_parallel_index(t...
24425  select /*+  no_parallel(t) no_parallel_index(t...
24422  select /*+  no_parallel(t) no_parallel_index(t...
24426  select /*+  no_parallel(t) no_parallel_index(t...
24423  select /*+  no_parallel(t) no_parallel_index(t...
24427  select /*+  no_parallel(t) no_parallel_index(t...
24392  select /*+  no_parallel(t) no_parallel_index(t...
24396  select /*+  no_parallel(t) no_parallel_index(t...
24393  select /*+  no_parallel(t) no_parallel_index(t...
24397  select /*+  no_parallel(t) no_parallel_index(t...
24394  select /*+  no_parallel(t) no_parallel_index(t...
24398  select /*+  no_parallel(t) no_parallel_index(t...
24395  select /*+  no_parallel(t) no_parallel_index(t...
24399  select /*+  no_parallel(t) no_parallel_index(t...
                                               SQL_TEXT
5907  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5935  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5908  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5936  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5909  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5937  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5910  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5938  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6347  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6375  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6348  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6376  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6349  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6377  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6350  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6378  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5797  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5825  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5798  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5826  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5799  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5827  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5800  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5828  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5852  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5880  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5853  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5881  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5854  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5882  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
6183  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6211  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6184  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6212  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6185  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6213  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5962  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5990  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5963  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5991  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5964  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5992  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5965  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5993  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6292  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6320  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6293  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6321  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6294  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6322  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6295  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6323  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6127  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6155  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6128  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6156  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6129  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6157  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6130  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6158  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[88 rows x 1 columns]
                                                SQL_TEXT
19076  select /*+  no_parallel(t) no_parallel_index(t...
19077  select /*+  no_parallel(t) no_parallel_index(t...
19078  select /*+  no_parallel(t) no_parallel_index(t...
19079  select /*+  no_parallel(t) no_parallel_index(t...
19028  select /*+  no_parallel(t) no_parallel_index(t...
19029  select /*+  no_parallel(t) no_parallel_index(t...
19030  select /*+  no_parallel(t) no_parallel_index(t...
19031  select /*+  no_parallel(t) no_parallel_index(t...
19124  select /*+  no_parallel(t) no_parallel_index(t...
19125  select /*+  no_parallel(t) no_parallel_index(t...
19126  select /*+  no_parallel(t) no_parallel_index(t...
19127  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
24856  select /*+  no_parallel(t) no_parallel_index(t...
24857  select /*+  no_parallel(t) no_parallel_index(t...
24858  select /*+  no_parallel(t) no_parallel_index(t...
24859  select /*+  no_parallel(t) no_parallel_index(t...
24672  select /*+  no_parallel(t) no_parallel_index(t...
24673  select /*+  no_parallel(t) no_parallel_index(t...
24674  select /*+  no_parallel(t) no_parallel_index(t...
24675  select /*+  no_parallel(t) no_parallel_index(t...
24948  select /*+  no_parallel(t) no_parallel_index(t...
24949  select /*+  no_parallel(t) no_parallel_index(t...
24950  select /*+  no_parallel(t) no_parallel_index(t...
24951  select /*+  no_parallel(t) no_parallel_index(t...
24764  select /*+  no_parallel(t) no_parallel_index(t...
24765  select /*+  no_parallel(t) no_parallel_index(t...
24766  select /*+  no_parallel(t) no_parallel_index(t...
24767  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
20704  select /*+  no_parallel(t) no_parallel_index(t...
20705  select /*+  no_parallel(t) no_parallel_index(t...
20706  select /*+  no_parallel(t) no_parallel_index(t...
20707  select /*+  no_parallel(t) no_parallel_index(t...
20736  select /*+  no_parallel(t) no_parallel_index(t...
20737  select /*+  no_parallel(t) no_parallel_index(t...
20738  select /*+  no_parallel(t) no_parallel_index(t...
20739  select /*+  no_parallel(t) no_parallel_index(t...
20768  select /*+  no_parallel(t) no_parallel_index(t...
20769  select /*+  no_parallel(t) no_parallel_index(t...
20770  select /*+  no_parallel(t) no_parallel_index(t...
20771  select /*+  no_parallel(t) no_parallel_index(t...

                                                SQL_TEXT
24372  select /*+  no_parallel(t) no_parallel_index(t...
24373  select /*+  no_parallel(t) no_parallel_index(t...
24374  select /*+  no_parallel(t) no_parallel_index(t...
24375  select /*+  no_parallel(t) no_parallel_index(t...
24428  select /*+  no_parallel(t) no_parallel_index(t...
24429  select /*+  no_parallel(t) no_parallel_index(t...
24430  select /*+  no_parallel(t) no_parallel_index(t...
24431  select /*+  no_parallel(t) no_parallel_index(t...
24400  select /*+  no_parallel(t) no_parallel_index(t...
24401  select /*+  no_parallel(t) no_parallel_index(t...
24402  select /*+  no_parallel(t) no_parallel_index(t...
24403  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
19080  select /*+  no_parallel(t) no_parallel_index(t...
19084  select /*+  no_parallel(t) no_parallel_index(t...
19088  select /*+  no_parallel(t) no_parallel_index(t...
19092  select /*+  no_parallel(t) no_parallel_index(t...
19096  select /*+  no_parallel(t) no_parallel_index(t...
19081  select /*+  no_parallel(t) no_parallel_index(t...
19085  select /*+  no_parallel(t) no_parallel_index(t...
19089  select /*+  no_parallel(t) no_parallel_index(t...
19093  select /*+  no_parallel(t) no_parallel_index(t...
19097  select /*+  no_parallel(t) no_parallel_index(t...
19082  select /*+  no_parallel(t) no_parallel_index(t...
19086  select /*+  no_parallel(t) no_parallel_index(t...
19090  select /*+  no_parallel(t) no_parallel_index(t...
19094  select /*+  no_parallel(t) no_parallel_index(t...
19098  select /*+  no_parallel(t) no_parallel_index(t...
19083  select /*+  no_parallel(t) no_parallel_index(t...
19087  select /*+  no_parallel(t) no_parallel_index(t...
19091  select /*+  no_parallel(t) no_parallel_index(t...
19095  select /*+  no_parallel(t) no_parallel_index(t...
19099  select /*+  no_parallel(t) no_parallel_index(t...
19032  select /*+  no_parallel(t) no_parallel_index(t...
19036  select /*+  no_parallel(t) no_parallel_index(t...
19040  select /*+  no_parallel(t) no_parallel_index(t...
19044  select /*+  no_parallel(t) no_parallel_index(t...
19048  select /*+  no_parallel(t) no_parallel_index(t...
19033  select /*+  no_parallel(t) no_parallel_index(t...
19037  select /*+  no_parallel(t) no_parallel_index(t...
19041  select /*+  no_parallel(t) no_parallel_index(t...
19045  select /*+  no_parallel(t) no_parallel_index(t...
19049  select /*+  no_parallel(t) no_parallel_index(t...
19034  select /*+  no_parallel(t) no_parallel_index(t...
19038  select /*+  no_parallel(t) no_parallel_index(t...
19042  select /*+  no_parallel(t) no_parallel_index(t...
19046  select /*+  no_parallel(t) no_parallel_index(t...
19050  select /*+  no_parallel(t) no_parallel_index(t...
19035  select /*+  no_parallel(t) no_parallel_index(t...
19039  select /*+  no_parallel(t) no_parallel_index(t...
19043  select /*+  no_parallel(t) no_parallel_index(t...
19047  select /*+  no_parallel(t) no_parallel_index(t...
19051  select /*+  no_parallel(t) no_parallel_index(t...
19128  select /*+  no_parallel(t) no_parallel_index(t...
19132  select /*+  no_parallel(t) no_parallel_index(t...
19136  select /*+  no_parallel(t) no_parallel_index(t...
19140  select /*+  no_parallel(t) no_parallel_index(t...
19144  select /*+  no_parallel(t) no_parallel_index(t...
19129  select /*+  no_parallel(t) no_parallel_index(t...
19133  select /*+  no_parallel(t) no_parallel_index(t...
19137  select /*+  no_parallel(t) no_parallel_index(t...
19141  select /*+  no_parallel(t) no_parallel_index(t...
19145  select /*+  no_parallel(t) no_parallel_index(t...
19130  select /*+  no_parallel(t) no_parallel_index(t...
19134  select /*+  no_parallel(t) no_parallel_index(t...
19138  select /*+  no_parallel(t) no_parallel_index(t...
19142  select /*+  no_parallel(t) no_parallel_index(t...
19146  select /*+  no_parallel(t) no_parallel_index(t...
19131  select /*+  no_parallel(t) no_parallel_index(t...
19135  select /*+  no_parallel(t) no_parallel_index(t...
19139  select /*+  no_parallel(t) no_parallel_index(t...
19143  select /*+  no_parallel(t) no_parallel_index(t...
19147  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
24188  select /*+  no_parallel(t) no_parallel_index(t...
24192  select /*+  no_parallel(t) no_parallel_index(t...
24189  select /*+  no_parallel(t) no_parallel_index(t...
24193  select /*+  no_parallel(t) no_parallel_index(t...
24190  select /*+  no_parallel(t) no_parallel_index(t...
24194  select /*+  no_parallel(t) no_parallel_index(t...
24191  select /*+  no_parallel(t) no_parallel_index(t...
24195  select /*+  no_parallel(t) no_parallel_index(t...
23660  select /*+  no_parallel(t) no_parallel_index(t...
23664  select /*+  no_parallel(t) no_parallel_index(t...
23661  select /*+  no_parallel(t) no_parallel_index(t...
23665  select /*+  no_parallel(t) no_parallel_index(t...
23662  select /*+  no_parallel(t) no_parallel_index(t...
23666  select /*+  no_parallel(t) no_parallel_index(t...
23663  select /*+  no_parallel(t) no_parallel_index(t...
23667  select /*+  no_parallel(t) no_parallel_index(t...
23836  select /*+  no_parallel(t) no_parallel_index(t...
23840  select /*+  no_parallel(t) no_parallel_index(t...
23837  select /*+  no_parallel(t) no_parallel_index(t...
23841  select /*+  no_parallel(t) no_parallel_index(t...
23838  select /*+  no_parallel(t) no_parallel_index(t...
23842  select /*+  no_parallel(t) no_parallel_index(t...
23839  select /*+  no_parallel(t) no_parallel_index(t...
23843  select /*+  no_parallel(t) no_parallel_index(t...
24012  select /*+  no_parallel(t) no_parallel_index(t...
24016  select /*+  no_parallel(t) no_parallel_index(t...
24013  select /*+  no_parallel(t) no_parallel_index(t...
24017  select /*+  no_parallel(t) no_parallel_index(t...
24014  select /*+  no_parallel(t) no_parallel_index(t...
24018  select /*+  no_parallel(t) no_parallel_index(t...
24015  select /*+  no_parallel(t) no_parallel_index(t...
24019  select /*+  no_parallel(t) no_parallel_index(t...
23308  select /*+  no_parallel(t) no_parallel_index(t...
23312  select /*+  no_parallel(t) no_parallel_index(t...
23309  select /*+  no_parallel(t) no_parallel_index(t...
23313  select /*+  no_parallel(t) no_parallel_index(t...
23310  select /*+  no_parallel(t) no_parallel_index(t...
23314  select /*+  no_parallel(t) no_parallel_index(t...
23311  select /*+  no_parallel(t) no_parallel_index(t...
23315  select /*+  no_parallel(t) no_parallel_index(t...
23484  select /*+  no_parallel(t) no_parallel_index(t...
23488  select /*+  no_parallel(t) no_parallel_index(t...
23485  select /*+  no_parallel(t) no_parallel_index(t...
23489  select /*+  no_parallel(t) no_parallel_index(t...
23486  select /*+  no_parallel(t) no_parallel_index(t...
23490  select /*+  no_parallel(t) no_parallel_index(t...
23487  select /*+  no_parallel(t) no_parallel_index(t...
23491  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
19952  select /*+  no_parallel(t) no_parallel_index(t...
19956  select /*+  no_parallel(t) no_parallel_index(t...
19960  select /*+  no_parallel(t) no_parallel_index(t...
19964  select /*+  no_parallel(t) no_parallel_index(t...
19968  select /*+  no_parallel(t) no_parallel_index(t...
19972  select /*+  no_parallel(t) no_parallel_index(t...
19953  select /*+  no_parallel(t) no_parallel_index(t...
19957  select /*+  no_parallel(t) no_parallel_index(t...
19961  select /*+  no_parallel(t) no_parallel_index(t...
19965  select /*+  no_parallel(t) no_parallel_index(t...
19969  select /*+  no_parallel(t) no_parallel_index(t...
19973  select /*+  no_parallel(t) no_parallel_index(t...
19954  select /*+  no_parallel(t) no_parallel_index(t...
19958  select /*+  no_parallel(t) no_parallel_index(t...
19962  select /*+  no_parallel(t) no_parallel_index(t...
19966  select /*+  no_parallel(t) no_parallel_index(t...
19970  select /*+  no_parallel(t) no_parallel_index(t...
19974  select /*+  no_parallel(t) no_parallel_index(t...
19955  select /*+  no_parallel(t) no_parallel_index(t...
19959  select /*+  no_parallel(t) no_parallel_index(t...
19963  select /*+  no_parallel(t) no_parallel_index(t...
19967  select /*+  no_parallel(t) no_parallel_index(t...
19971  select /*+  no_parallel(t) no_parallel_index(t...
19975  select /*+  no_parallel(t) no_parallel_index(t...
20516  select /*+  no_parallel(t) no_parallel_index(t...
20520  select /*+  no_parallel(t) no_parallel_index(t...
20524  select /*+  no_parallel(t) no_parallel_index(t...
20528  select /*+  no_parallel(t) no_parallel_index(t...
20532  select /*+  no_parallel(t) no_parallel_index(t...
20536  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
20143  select /*+  no_parallel(t) no_parallel_index(t...
20147  select /*+  no_parallel(t) no_parallel_index(t...
20151  select /*+  no_parallel(t) no_parallel_index(t...
20155  select /*+  no_parallel(t) no_parallel_index(t...
20159  select /*+  no_parallel(t) no_parallel_index(t...
20163  select /*+  no_parallel(t) no_parallel_index(t...
20328  select /*+  no_parallel(t) no_parallel_index(t...
20332  select /*+  no_parallel(t) no_parallel_index(t...
20336  select /*+  no_parallel(t) no_parallel_index(t...
20340  select /*+  no_parallel(t) no_parallel_index(t...
20344  select /*+  no_parallel(t) no_parallel_index(t...
20348  select /*+  no_parallel(t) no_parallel_index(t...
20329  select /*+  no_parallel(t) no_parallel_index(t...
20333  select /*+  no_parallel(t) no_parallel_index(t...
20337  select /*+  no_parallel(t) no_parallel_index(t...
20341  select /*+  no_parallel(t) no_parallel_index(t...
20345  select /*+  no_parallel(t) no_parallel_index(t...
20349  select /*+  no_parallel(t) no_parallel_index(t...
20330  select /*+  no_parallel(t) no_parallel_index(t...
20334  select /*+  no_parallel(t) no_parallel_index(t...
20338  select /*+  no_parallel(t) no_parallel_index(t...
20342  select /*+  no_parallel(t) no_parallel_index(t...
20346  select /*+  no_parallel(t) no_parallel_index(t...
20350  select /*+  no_parallel(t) no_parallel_index(t...
20331  select /*+  no_parallel(t) no_parallel_index(t...
20335  select /*+  no_parallel(t) no_parallel_index(t...
20339  select /*+  no_parallel(t) no_parallel_index(t...
20343  select /*+  no_parallel(t) no_parallel_index(t...
20347  select /*+  no_parallel(t) no_parallel_index(t...
20351  select /*+  no_parallel(t) no_parallel_index(t...

[120 rows x 1 columns]
                                                SQL_TEXT
23072  select /*+  no_parallel(t) no_parallel_index(t...
23073  select /*+  no_parallel(t) no_parallel_index(t...
23074  select /*+  no_parallel(t) no_parallel_index(t...
23075  select /*+  no_parallel(t) no_parallel_index(t...
23120  select /*+  no_parallel(t) no_parallel_index(t...
23121  select /*+  no_parallel(t) no_parallel_index(t...
23122  select /*+  no_parallel(t) no_parallel_index(t...
23123  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
15790  insert /*+ append */ into sys.ora_temp_1_ds_21...
15791  insert /*+ append */ into sys.ora_temp_1_ds_21...
15792  insert /*+ append */ into sys.ora_temp_1_ds_21...
15793  insert /*+ append */ into sys.ora_temp_1_ds_21...
15794  insert /*+ append */ into sys.ora_temp_1_ds_21...
15795  insert /*+ append */ into sys.ora_temp_1_ds_21...
15796  insert /*+ append */ into sys.ora_temp_1_ds_21...
15797  insert /*+ append */ into sys.ora_temp_1_ds_21...
15798  insert /*+ append */ into sys.ora_temp_1_ds_21...
                                                SQL_TEXT
25063  select /*+  no_parallel_index(t, "CR_ORDER_NUM...
25064  select /*+  no_parallel_index(t, "CR_ORDER_NUM...
25065  select /*+  no_parallel_index(t, "CR_ORDER_NUM...
                                                SQL_TEXT
15799  insert /*+ append */ into sys.ora_temp_1_ds_21...
15800  insert /*+ append */ into sys.ora_temp_1_ds_21...
15801  insert /*+ append */ into sys.ora_temp_1_ds_21...
15802  insert /*+ append */ into sys.ora_temp_1_ds_21...
15803  insert /*+ append */ into sys.ora_temp_1_ds_21...
15804  insert /*+ append */ into sys.ora_temp_1_ds_21...
15805  insert /*+ append */ into sys.ora_temp_1_ds_21...
15806  insert /*+ append */ into sys.ora_temp_1_ds_21...
15807  insert /*+ append */ into sys.ora_temp_1_ds_21...

                                                SQL_TEXT
21812  select /*+  no_parallel(t) no_parallel_index(t...
21816  select /*+  no_parallel(t) no_parallel_index(t...
21820  select /*+  no_parallel(t) no_parallel_index(t...
21824  select /*+  no_parallel(t) no_parallel_index(t...
21828  select /*+  no_parallel(t) no_parallel_index(t...
22000  select /*+  no_parallel(t) no_parallel_index(t...
22004  select /*+  no_parallel(t) no_parallel_index(t...
22008  select /*+  no_parallel(t) no_parallel_index(t...
21813  select /*+  no_parallel(t) no_parallel_index(t...
21817  select /*+  no_parallel(t) no_parallel_index(t...
21821  select /*+  no_parallel(t) no_parallel_index(t...
21825  select /*+  no_parallel(t) no_parallel_index(t...
21829  select /*+  no_parallel(t) no_parallel_index(t...
22001  select /*+  no_parallel(t) no_parallel_index(t...
22005  select /*+  no_parallel(t) no_parallel_index(t...
22009  select /*+  no_parallel(t) no_parallel_index(t...
21814  select /*+  no_parallel(t) no_parallel_index(t...
21818  select /*+  no_parallel(t) no_parallel_index(t...
21822  select /*+  no_parallel(t) no_parallel_index(t...
21826  select /*+  no_parallel(t) no_parallel_index(t...
21830  select /*+  no_parallel(t) no_parallel_index(t...
22002  select /*+  no_parallel(t) no_parallel_index(t...
22006  select /*+  no_parallel(t) no_parallel_index(t...
22010  select /*+  no_parallel(t) no_parallel_index(t...
21815  select /*+  no_parallel(t) no_parallel_index(t...
21819  select /*+  no_parallel(t) no_parallel_index(t...
21823  select /*+  no_parallel(t) no_parallel_index(t...
21827  select /*+  no_parallel(t) no_parallel_index(t...
21831  select /*+  no_parallel(t) no_parallel_index(t...
22003  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
21064  select /*+  no_parallel(t) no_parallel_index(t...
21068  select /*+  no_parallel(t) no_parallel_index(t...
21072  select /*+  no_parallel(t) no_parallel_index(t...
21244  select /*+  no_parallel(t) no_parallel_index(t...
21248  select /*+  no_parallel(t) no_parallel_index(t...
21252  select /*+  no_parallel(t) no_parallel_index(t...
21057  select /*+  no_parallel(t) no_parallel_index(t...
21061  select /*+  no_parallel(t) no_parallel_index(t...
21065  select /*+  no_parallel(t) no_parallel_index(t...
21069  select /*+  no_parallel(t) no_parallel_index(t...
21073  select /*+  no_parallel(t) no_parallel_index(t...
21245  select /*+  no_parallel(t) no_parallel_index(t...
21249  select /*+  no_parallel(t) no_parallel_index(t...
21253  select /*+  no_parallel(t) no_parallel_index(t...
21058  select /*+  no_parallel(t) no_parallel_index(t...
21062  select /*+  no_parallel(t) no_parallel_index(t...
21066  select /*+  no_parallel(t) no_parallel_index(t...
21070  select /*+  no_parallel(t) no_parallel_index(t...
21074  select /*+  no_parallel(t) no_parallel_index(t...
21246  select /*+  no_parallel(t) no_parallel_index(t...
21250  select /*+  no_parallel(t) no_parallel_index(t...
21254  select /*+  no_parallel(t) no_parallel_index(t...
21059  select /*+  no_parallel(t) no_parallel_index(t...
21063  select /*+  no_parallel(t) no_parallel_index(t...
21067  select /*+  no_parallel(t) no_parallel_index(t...
21071  select /*+  no_parallel(t) no_parallel_index(t...
21075  select /*+  no_parallel(t) no_parallel_index(t...
21247  select /*+  no_parallel(t) no_parallel_index(t...
21251  select /*+  no_parallel(t) no_parallel_index(t...
21255  select /*+  no_parallel(t) no_parallel_index(t...

[288 rows x 1 columns]
                                                SQL_TEXT
19172  select /*+  no_parallel(t) no_parallel_index(t...
19173  select /*+  no_parallel(t) no_parallel_index(t...
19174  select /*+  no_parallel(t) no_parallel_index(t...
19175  select /*+  no_parallel(t) no_parallel_index(t...
19180  select /*+  no_parallel(t) no_parallel_index(t...
19181  select /*+  no_parallel(t) no_parallel_index(t...
19182  select /*+  no_parallel(t) no_parallel_index(t...
19183  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
25093  select /*+  no_parallel_index(t, "SYS_C0021400...
25094  select /*+  no_parallel_index(t, "SYS_C0021400...
25095  select /*+  no_parallel_index(t, "SYS_C0021400...
                                               SQL_TEXT
9660  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9661  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9662  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9663  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9664  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9665  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9666  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9667  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9668  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9669  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9670  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9671  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9672  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9673  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9674  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9675  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9676  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9677  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9678  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9679  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9680  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9681  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9682  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9614  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9615  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9616  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9617  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9618  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9619  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9620  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9621  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9622  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9623  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9624  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9625  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9626  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9627  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9628  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9629  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9630  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9631  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9632  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9633  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9634  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9635  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9636  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
25040  select /*+  no_parallel(t) no_parallel_index(t...
25044  select /*+  no_parallel(t) no_parallel_index(t...
25041  select /*+  no_parallel(t) no_parallel_index(t...
25045  select /*+  no_parallel(t) no_parallel_index(t...
25042  select /*+  no_parallel(t) no_parallel_index(t...
25046  select /*+  no_parallel(t) no_parallel_index(t...
25043  select /*+  no_parallel(t) no_parallel_index(t...
25047  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
20800  select /*+  no_parallel(t) no_parallel_index(t...
20801  select /*+  no_parallel(t) no_parallel_index(t...
20802  select /*+  no_parallel(t) no_parallel_index(t...
20803  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
24376  select /*+  no_parallel(t) no_parallel_index(t...
24380  select /*+  no_parallel(t) no_parallel_index(t...
24384  select /*+  no_parallel(t) no_parallel_index(t...
24388  select /*+  no_parallel(t) no_parallel_index(t...
24377  select /*+  no_parallel(t) no_parallel_index(t...
24381  select /*+  no_parallel(t) no_parallel_index(t...
24385  select /*+  no_parallel(t) no_parallel_index(t...
24389  select /*+  no_parallel(t) no_parallel_index(t...
24378  select /*+  no_parallel(t) no_parallel_index(t...
24382  select /*+  no_parallel(t) no_parallel_index(t...
24386  select /*+  no_parallel(t) no_parallel_index(t...
24390  select /*+  no_parallel(t) no_parallel_index(t...
24379  select /*+  no_parallel(t) no_parallel_index(t...
24383  select /*+  no_parallel(t) no_parallel_index(t...
24387  select /*+  no_parallel(t) no_parallel_index(t...
24391  select /*+  no_parallel(t) no_parallel_index(t...
24432  select /*+  no_parallel(t) no_parallel_index(t...
24436  select /*+  no_parallel(t) no_parallel_index(t...
24440  select /*+  no_parallel(t) no_parallel_index(t...
24444  select /*+  no_parallel(t) no_parallel_index(t...
24433  select /*+  no_parallel(t) no_parallel_index(t...
24437  select /*+  no_parallel(t) no_parallel_index(t...
24441  select /*+  no_parallel(t) no_parallel_index(t...
24445  select /*+  no_parallel(t) no_parallel_index(t...
24434  select /*+  no_parallel(t) no_parallel_index(t...
24438  select /*+  no_parallel(t) no_parallel_index(t...
24442  select /*+  no_parallel(t) no_parallel_index(t...
24446  select /*+  no_parallel(t) no_parallel_index(t...
24435  select /*+  no_parallel(t) no_parallel_index(t...
24439  select /*+  no_parallel(t) no_parallel_index(t...
24443  select /*+  no_parallel(t) no_parallel_index(t...
24447  select /*+  no_parallel(t) no_parallel_index(t...
24404  select /*+  no_parallel(t) no_parallel_index(t...
24408  select /*+  no_parallel(t) no_parallel_index(t...
24412  select /*+  no_parallel(t) no_parallel_index(t...
24416  select /*+  no_parallel(t) no_parallel_index(t...
24405  select /*+  no_parallel(t) no_parallel_index(t...
24409  select /*+  no_parallel(t) no_parallel_index(t...
24413  select /*+  no_parallel(t) no_parallel_index(t...
24417  select /*+  no_parallel(t) no_parallel_index(t...
24406  select /*+  no_parallel(t) no_parallel_index(t...
24410  select /*+  no_parallel(t) no_parallel_index(t...
24414  select /*+  no_parallel(t) no_parallel_index(t...
24418  select /*+  no_parallel(t) no_parallel_index(t...
24407  select /*+  no_parallel(t) no_parallel_index(t...
24411  select /*+  no_parallel(t) no_parallel_index(t...
24415  select /*+  no_parallel(t) no_parallel_index(t...
24419  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
11781  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11782  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11783  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11784  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11833  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11834  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11835  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11836  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12041  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12042  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12043  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12044  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11989  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11990  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11991  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11992  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12093  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12094  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12095  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12096  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12145  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12146  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12147  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12148  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11885  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11886  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11887  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11888  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11729  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11730  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11731  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11732  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12197  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12198  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12199  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12200  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11937  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11938  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11939  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11940  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11677  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11678  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11679  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11680  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12249  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12250  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12251  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12252  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
24860  select /*+  no_parallel(t) no_parallel_index(t...
24864  select /*+  no_parallel(t) no_parallel_index(t...
24868  select /*+  no_parallel(t) no_parallel_index(t...
24872  select /*+  no_parallel(t) no_parallel_index(t...
24876  select /*+  no_parallel(t) no_parallel_index(t...
24880  select /*+  no_parallel(t) no_parallel_index(t...
24861  select /*+  no_parallel(t) no_parallel_index(t...
24865  select /*+  no_parallel(t) no_parallel_index(t...
24869  select /*+  no_parallel(t) no_parallel_index(t...
24873  select /*+  no_parallel(t) no_parallel_index(t...
24877  select /*+  no_parallel(t) no_parallel_index(t...
24881  select /*+  no_parallel(t) no_parallel_index(t...
24862  select /*+  no_parallel(t) no_parallel_index(t...
24866  select /*+  no_parallel(t) no_parallel_index(t...
24870  select /*+  no_parallel(t) no_parallel_index(t...
24874  select /*+  no_parallel(t) no_parallel_index(t...
24878  select /*+  no_parallel(t) no_parallel_index(t...
24882  select /*+  no_parallel(t) no_parallel_index(t...
24863  select /*+  no_parallel(t) no_parallel_index(t...
24867  select /*+  no_parallel(t) no_parallel_index(t...
24871  select /*+  no_parallel(t) no_parallel_index(t...
24875  select /*+  no_parallel(t) no_parallel_index(t...
24879  select /*+  no_parallel(t) no_parallel_index(t...
24883  select /*+  no_parallel(t) no_parallel_index(t...
24676  select /*+  no_parallel(t) no_parallel_index(t...
24680  select /*+  no_parallel(t) no_parallel_index(t...
24684  select /*+  no_parallel(t) no_parallel_index(t...
24688  select /*+  no_parallel(t) no_parallel_index(t...
24692  select /*+  no_parallel(t) no_parallel_index(t...
24696  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
24955  select /*+  no_parallel(t) no_parallel_index(t...
24959  select /*+  no_parallel(t) no_parallel_index(t...
24963  select /*+  no_parallel(t) no_parallel_index(t...
24967  select /*+  no_parallel(t) no_parallel_index(t...
24971  select /*+  no_parallel(t) no_parallel_index(t...
24975  select /*+  no_parallel(t) no_parallel_index(t...
24768  select /*+  no_parallel(t) no_parallel_index(t...
24772  select /*+  no_parallel(t) no_parallel_index(t...
24776  select /*+  no_parallel(t) no_parallel_index(t...
24780  select /*+  no_parallel(t) no_parallel_index(t...
24784  select /*+  no_parallel(t) no_parallel_index(t...
24788  select /*+  no_parallel(t) no_parallel_index(t...
24769  select /*+  no_parallel(t) no_parallel_index(t...
24773  select /*+  no_parallel(t) no_parallel_index(t...
24777  select /*+  no_parallel(t) no_parallel_index(t...
24781  select /*+  no_parallel(t) no_parallel_index(t...
24785  select /*+  no_parallel(t) no_parallel_index(t...
24789  select /*+  no_parallel(t) no_parallel_index(t...
24770  select /*+  no_parallel(t) no_parallel_index(t...
24774  select /*+  no_parallel(t) no_parallel_index(t...
24778  select /*+  no_parallel(t) no_parallel_index(t...
24782  select /*+  no_parallel(t) no_parallel_index(t...
24786  select /*+  no_parallel(t) no_parallel_index(t...
24790  select /*+  no_parallel(t) no_parallel_index(t...
24771  select /*+  no_parallel(t) no_parallel_index(t...
24775  select /*+  no_parallel(t) no_parallel_index(t...
24779  select /*+  no_parallel(t) no_parallel_index(t...
24783  select /*+  no_parallel(t) no_parallel_index(t...
24787  select /*+  no_parallel(t) no_parallel_index(t...
24791  select /*+  no_parallel(t) no_parallel_index(t...

[96 rows x 1 columns]
                                                SQL_TEXT
13299  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13305  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13383  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13389  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13300  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13306  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13384  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13390  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13301  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13307  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13385  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13391  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13302  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13308  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13386  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13392  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13303  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13309  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13387  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13393  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13304  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13310  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13388  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13394  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13131  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13137  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13132  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13138  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13133  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13139  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13638  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13644  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13639  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13645  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13640  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13646  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12795  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12801  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12796  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12802  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12797  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12803  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12798  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12804  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12799  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12805  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12800  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12806  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12711  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12717  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12712  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12718  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
12629  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12630  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12631  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12632  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12633  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12619  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12620  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12621  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12622  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12623  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
11785  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11786  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11787  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11788  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11837  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11838  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11839  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11840  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12045  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12046  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12047  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12048  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11993  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11994  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11995  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11996  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12097  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12098  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12099  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12100  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12149  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12150  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12151  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12152  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11889  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11890  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11891  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11892  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11733  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11734  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11735  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11736  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12201  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12202  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12203  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12204  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11941  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11942  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11943  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11944  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11681  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11682  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11683  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11684  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12253  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12254  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12255  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12256  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
19976  select /*+  no_parallel(t) no_parallel_index(t...
19977  select /*+  no_parallel(t) no_parallel_index(t...
19978  select /*+  no_parallel(t) no_parallel_index(t...
19979  select /*+  no_parallel(t) no_parallel_index(t...
20540  select /*+  no_parallel(t) no_parallel_index(t...
20541  select /*+  no_parallel(t) no_parallel_index(t...
20542  select /*+  no_parallel(t) no_parallel_index(t...
20543  select /*+  no_parallel(t) no_parallel_index(t...
19788  select /*+  no_parallel(t) no_parallel_index(t...
19789  select /*+  no_parallel(t) no_parallel_index(t...
19790  select /*+  no_parallel(t) no_parallel_index(t...
19791  select /*+  no_parallel(t) no_parallel_index(t...
20164  select /*+  no_parallel(t) no_parallel_index(t...
20165  select /*+  no_parallel(t) no_parallel_index(t...
20166  select /*+  no_parallel(t) no_parallel_index(t...
20167  select /*+  no_parallel(t) no_parallel_index(t...
20352  select /*+  no_parallel(t) no_parallel_index(t...
20353  select /*+  no_parallel(t) no_parallel_index(t...
20354  select /*+  no_parallel(t) no_parallel_index(t...
20355  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
12515  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12516  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12517  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12518  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12299  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12300  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12301  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12302  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12551  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12552  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12553  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12554  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12335  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12336  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12337  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12338  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12443  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12444  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12445  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12446  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12371  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12372  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12373  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12374  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12587  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12588  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12589  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12590  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12407  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12408  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12409  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12410  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12479  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12480  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12481  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12482  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
12519  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12520  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12521  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12522  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12303  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12304  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12305  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12306  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12555  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12556  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12557  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12558  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12339  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12340  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12341  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12342  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12447  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12448  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12449  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12450  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12375  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12376  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12377  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12378  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12591  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12592  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12593  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12594  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12411  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12412  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12413  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12414  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12483  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12484  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12485  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12486  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
11789  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11797  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11790  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11798  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11791  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11799  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11792  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11800  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11841  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11849  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11842  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11850  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11843  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11851  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11844  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11852  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12049  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12057  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12050  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12058  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12051  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12059  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12052  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12060  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11997  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12005  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11998  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12006  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11999  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12007  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
12206  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12214  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12207  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12215  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12208  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12216  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11945  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11953  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11946  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11954  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11947  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11955  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11948  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11956  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11685  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11693  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11686  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11694  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11687  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11695  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11688  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11696  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12257  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12265  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12258  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12266  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12259  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12267  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12260  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12268  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                                SQL_TEXT
12523  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12524  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12525  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12526  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12307  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12308  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12309  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12310  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12559  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12560  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12561  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12562  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12343  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12344  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12345  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12346  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12451  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12452  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12453  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12454  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12379  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12380  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12381  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12382  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12595  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12596  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12597  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12598  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12415  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12416  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12417  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12418  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12487  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12488  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12489  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12490  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
11793  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11794  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11795  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11796  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11845  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11846  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11847  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11848  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12053  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12054  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12055  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12056  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12001  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12002  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12003  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12004  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12105  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12106  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12107  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12108  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12157  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12158  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12159  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12160  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11897  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11898  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11899  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11900  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11741  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11742  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11743  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11744  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12209  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12210  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12211  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12212  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11949  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11950  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11951  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11952  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11689  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11690  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11691  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11692  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12261  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12262  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12263  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12264  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
20708  select /*+  no_parallel(t) no_parallel_index(t...
20709  select /*+  no_parallel(t) no_parallel_index(t...
20710  select /*+  no_parallel(t) no_parallel_index(t...
20711  select /*+  no_parallel(t) no_parallel_index(t...
20740  select /*+  no_parallel(t) no_parallel_index(t...
20741  select /*+  no_parallel(t) no_parallel_index(t...
20742  select /*+  no_parallel(t) no_parallel_index(t...
20743  select /*+  no_parallel(t) no_parallel_index(t...
20772  select /*+  no_parallel(t) no_parallel_index(t...
20773  select /*+  no_parallel(t) no_parallel_index(t...
20774  select /*+  no_parallel(t) no_parallel_index(t...
20775  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
19980  select /*+  no_parallel(t) no_parallel_index(t...
19984  select /*+  no_parallel(t) no_parallel_index(t...
19988  select /*+  no_parallel(t) no_parallel_index(t...
19992  select /*+  no_parallel(t) no_parallel_index(t...
19996  select /*+  no_parallel(t) no_parallel_index(t...
20000  select /*+  no_parallel(t) no_parallel_index(t...
20004  select /*+  no_parallel(t) no_parallel_index(t...
20008  select /*+  no_parallel(t) no_parallel_index(t...
20012  select /*+  no_parallel(t) no_parallel_index(t...
20016  select /*+  no_parallel(t) no_parallel_index(t...
19981  select /*+  no_parallel(t) no_parallel_index(t...
19985  select /*+  no_parallel(t) no_parallel_index(t...
19989  select /*+  no_parallel(t) no_parallel_index(t...
19993  select /*+  no_parallel(t) no_parallel_index(t...
19997  select /*+  no_parallel(t) no_parallel_index(t...
20001  select /*+  no_parallel(t) no_parallel_index(t...
20005  select /*+  no_parallel(t) no_parallel_index(t...
20009  select /*+  no_parallel(t) no_parallel_index(t...
20013  select /*+  no_parallel(t) no_parallel_index(t...
20017  select /*+  no_parallel(t) no_parallel_index(t...
19982  select /*+  no_parallel(t) no_parallel_index(t...
19986  select /*+  no_parallel(t) no_parallel_index(t...
19990  select /*+  no_parallel(t) no_parallel_index(t...
19994  select /*+  no_parallel(t) no_parallel_index(t...
19998  select /*+  no_parallel(t) no_parallel_index(t...
20002  select /*+  no_parallel(t) no_parallel_index(t...
20006  select /*+  no_parallel(t) no_parallel_index(t...
20010  select /*+  no_parallel(t) no_parallel_index(t...
20014  select /*+  no_parallel(t) no_parallel_index(t...
20018  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
20357  select /*+  no_parallel(t) no_parallel_index(t...
20361  select /*+  no_parallel(t) no_parallel_index(t...
20365  select /*+  no_parallel(t) no_parallel_index(t...
20369  select /*+  no_parallel(t) no_parallel_index(t...
20373  select /*+  no_parallel(t) no_parallel_index(t...
20377  select /*+  no_parallel(t) no_parallel_index(t...
20381  select /*+  no_parallel(t) no_parallel_index(t...
20385  select /*+  no_parallel(t) no_parallel_index(t...
20389  select /*+  no_parallel(t) no_parallel_index(t...
20393  select /*+  no_parallel(t) no_parallel_index(t...
20358  select /*+  no_parallel(t) no_parallel_index(t...
20362  select /*+  no_parallel(t) no_parallel_index(t...
20366  select /*+  no_parallel(t) no_parallel_index(t...
20370  select /*+  no_parallel(t) no_parallel_index(t...
20374  select /*+  no_parallel(t) no_parallel_index(t...
20378  select /*+  no_parallel(t) no_parallel_index(t...
20382  select /*+  no_parallel(t) no_parallel_index(t...
20386  select /*+  no_parallel(t) no_parallel_index(t...
20390  select /*+  no_parallel(t) no_parallel_index(t...
20394  select /*+  no_parallel(t) no_parallel_index(t...
20359  select /*+  no_parallel(t) no_parallel_index(t...
20363  select /*+  no_parallel(t) no_parallel_index(t...
20367  select /*+  no_parallel(t) no_parallel_index(t...
20371  select /*+  no_parallel(t) no_parallel_index(t...
20375  select /*+  no_parallel(t) no_parallel_index(t...
20379  select /*+  no_parallel(t) no_parallel_index(t...
20383  select /*+  no_parallel(t) no_parallel_index(t...
20387  select /*+  no_parallel(t) no_parallel_index(t...
20391  select /*+  no_parallel(t) no_parallel_index(t...
20395  select /*+  no_parallel(t) no_parallel_index(t...

[200 rows x 1 columns]
                                                SQL_TEXT
12654  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12655  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12656  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12657  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12658  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12644  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12645  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12646  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12647  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12648  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
12634  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12635  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12636  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12637  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12638  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12624  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12625  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12626  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12627  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12628  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5911  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5912  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5913  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5914  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6351  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6352  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6353  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6354  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5801  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5802  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5803  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5804  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5856  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5857  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5858  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5859  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6076  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6077  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6078  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6079  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6021  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6022  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6023  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6024  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6241  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6242  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6243  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6244  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6186  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6187  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6188  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6189  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5966  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5967  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5968  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5969  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6296  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6297  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6298  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6299  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6131  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6132  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6133  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6134  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
10651  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10652  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10653  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10654  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10655  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10656  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11101  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11102  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11103  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11104  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11105  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11106  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10471  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10472  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10473  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10474  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10475  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10476  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11191  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11192  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11193  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11194  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11195  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11196  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10741  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10742  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10743  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10744  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10745  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10746  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
10111  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10112  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10113  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10114  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10115  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10116  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10381  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10382  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10383  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10384  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10385  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10386  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10831  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10832  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10833  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10834  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10835  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10836  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10201  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10202  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10203  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10204  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10205  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10206  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11011  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11012  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11013  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11014  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11015  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11016  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
11395  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11396  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11397  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11398  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11399  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11400  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11492  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11493  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11494  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11495  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11496  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11635  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11636  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11637  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11638  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11639  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11640  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11539  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11540  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11541  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11542  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11543  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11544  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11443  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11444  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11445  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11446  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11447  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11448  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11299  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11300  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11301  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11302  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11303  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11304  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11587  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11588  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11589  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11590  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11591  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11592  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11347  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11348  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11349  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11350  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11351  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11352  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15808  insert /*+ append */ into sys.ora_temp_1_ds_21...
15809  insert /*+ append */ into sys.ora_temp_1_ds_21...
15810  insert /*+ append */ into sys.ora_temp_1_ds_21...
15811  insert /*+ append */ into sys.ora_temp_1_ds_21...
15812  insert /*+ append */ into sys.ora_temp_1_ds_21...
15813  insert /*+ append */ into sys.ora_temp_1_ds_21...
15814  insert /*+ append */ into sys.ora_temp_1_ds_21...
15815  insert /*+ append */ into sys.ora_temp_1_ds_21...
15816  insert /*+ append */ into sys.ora_temp_1_ds_21...
                                                SQL_TEXT
25060  select /*+  no_parallel_index(t, "CR_ITEM_SK_I...
25061  select /*+  no_parallel_index(t, "CR_ITEM_SK_I...
25062  select /*+  no_parallel_index(t, "CR_ITEM_SK_I...
                                                SQL_TEXT
11801  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11802  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11803  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11804  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11853  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11854  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11855  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11856  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12061  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12062  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12063  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12064  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12009  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12010  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12011  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12012  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12113  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12114  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12115  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12116  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12165  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12166  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12167  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12168  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11905  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11906  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11907  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11908  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11749  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11750  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11751  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11752  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12217  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
12527  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12528  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12529  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12530  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12311  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12312  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12313  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12314  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12563  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12564  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12565  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12566  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12347  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12348  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12349  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12350  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12455  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12456  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12457  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12458  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12383  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12384  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12385  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12386  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12599  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12600  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12601  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12602  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12419  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12420  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12421  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12422  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12492  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12493  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12494  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
21900  select /*+  no_parallel(t) no_parallel_index(t...
21904  select /*+  no_parallel(t) no_parallel_index(t...
21908  select /*+  no_parallel(t) no_parallel_index(t...
21912  select /*+  no_parallel(t) no_parallel_index(t...
21916  select /*+  no_parallel(t) no_parallel_index(t...
21920  select /*+  no_parallel(t) no_parallel_index(t...
21924  select /*+  no_parallel(t) no_parallel_index(t...
21901  select /*+  no_parallel(t) no_parallel_index(t...
21905  select /*+  no_parallel(t) no_parallel_index(t...
21909  select /*+  no_parallel(t) no_parallel_index(t...
21913  select /*+  no_parallel(t) no_parallel_index(t...
21917  select /*+  no_parallel(t) no_parallel_index(t...
21921  select /*+  no_parallel(t) no_parallel_index(t...
21925  select /*+  no_parallel(t) no_parallel_index(t...
21902  select /*+  no_parallel(t) no_parallel_index(t...
21906  select /*+  no_parallel(t) no_parallel_index(t...
21910  select /*+  no_parallel(t) no_parallel_index(t...
21914  select /*+  no_parallel(t) no_parallel_index(t...
21918  select /*+  no_parallel(t) no_parallel_index(t...
21922  select /*+  no_parallel(t) no_parallel_index(t...
21926  select /*+  no_parallel(t) no_parallel_index(t...
21903  select /*+  no_parallel(t) no_parallel_index(t...
21907  select /*+  no_parallel(t) no_parallel_index(t...
21911  select /*+  no_parallel(t) no_parallel_index(t...
21915  select /*+  no_parallel(t) no_parallel_index(t...
21919  select /*+  no_parallel(t) no_parallel_index(t...
21923  select /*+  no_parallel(t) no_parallel_index(t...
21927  select /*+  no_parallel(t) no_parallel_index(t...
21648  select /*+  no_parallel(t) no_parallel_index(t...
21652  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
22679  select /*+  no_parallel(t) no_parallel_index(t...
22683  select /*+  no_parallel(t) no_parallel_index(t...
21144  select /*+  no_parallel(t) no_parallel_index(t...
21148  select /*+  no_parallel(t) no_parallel_index(t...
21152  select /*+  no_parallel(t) no_parallel_index(t...
21156  select /*+  no_parallel(t) no_parallel_index(t...
21160  select /*+  no_parallel(t) no_parallel_index(t...
21164  select /*+  no_parallel(t) no_parallel_index(t...
21168  select /*+  no_parallel(t) no_parallel_index(t...
21145  select /*+  no_parallel(t) no_parallel_index(t...
21149  select /*+  no_parallel(t) no_parallel_index(t...
21153  select /*+  no_parallel(t) no_parallel_index(t...
21157  select /*+  no_parallel(t) no_parallel_index(t...
21161  select /*+  no_parallel(t) no_parallel_index(t...
21165  select /*+  no_parallel(t) no_parallel_index(t...
21169  select /*+  no_parallel(t) no_parallel_index(t...
21146  select /*+  no_parallel(t) no_parallel_index(t...
21150  select /*+  no_parallel(t) no_parallel_index(t...
21154  select /*+  no_parallel(t) no_parallel_index(t...
21158  select /*+  no_parallel(t) no_parallel_index(t...
21162  select /*+  no_parallel(t) no_parallel_index(t...
21166  select /*+  no_parallel(t) no_parallel_index(t...
21170  select /*+  no_parallel(t) no_parallel_index(t...
21147  select /*+  no_parallel(t) no_parallel_index(t...
21151  select /*+  no_parallel(t) no_parallel_index(t...
21155  select /*+  no_parallel(t) no_parallel_index(t...
21159  select /*+  no_parallel(t) no_parallel_index(t...
21163  select /*+  no_parallel(t) no_parallel_index(t...
21167  select /*+  no_parallel(t) no_parallel_index(t...
21171  select /*+  no_parallel(t) no_parallel_index(t...

[252 rows x 1 columns]
                   SQL_TEXT
15685  create global tempor
15686  create global tempor
15687  create global tempor
15688  create global tempor
15705  create global tempor
15706  create global tempor
15707  create global tempor
15708  create global tempor
15725  create global tempor
15726  create global tempor
15727  create global tempor
15728  create global tempor
15745  create global tempor
15746  create global tempor
15747  create global tempor
15748  create global tempor
15665  create global tempor
15666  create global tempor
15667  create global tempor
15668  create global tempor
                                                SQL_TEXT
19656  select /*+  no_parallel(t) no_parallel_index(t...
19657  select /*+  no_parallel(t) no_parallel_index(t...
19658  select /*+  no_parallel(t) no_parallel_index(t...
19659  select /*+  no_parallel(t) no_parallel_index(t...
19440  select /*+  no_parallel(t) no_parallel_index(t...
19584  select /*+  no_parallel(t) no_parallel_index(t...
19441  select /*+  no_parallel(t) no_parallel_index(t...
19585  select /*+  no_parallel(t) no_parallel_index(t...
19442  select /*+  no_parallel(t) no_parallel_index(t...
19586  select /*+  no_parallel(t) no_parallel_index(t...
19443  select /*+  no_parallel(t) no_parallel_index(t...
19587  select /*+  no_parallel(t) no_parallel_index(t...
19476  select /*+  no_parallel(t) no_parallel_index(t...
19477  select /*+  no_parallel(t) no_parallel_index(t...
19478  select /*+  no_parallel(t) no_parallel_index(t...
19479  select /*+  no_parallel(t) no_parallel_index(t...
19728  select /*+  no_parallel(t) no_parallel_index(t...
19729  select /*+  no_parallel(t) no_parallel_index(t...
19730  select /*+  no_parallel(t) no_parallel_index(t...
19731  select /*+  no_parallel(t) no_parallel_index(t...
19620  select /*+  no_parallel(t) no_parallel_index(t...
19621  select /*+  no_parallel(t) no_parallel_index(t...
19622  select /*+  no_parallel(t) no_parallel_index(t...
19623  select /*+  no_parallel(t) no_parallel_index(t...
19512  select /*+  no_parallel(t) no_parallel_index(t...
19513  select /*+  no_parallel(t) no_parallel_index(t...
19514  select /*+  no_parallel(t) no_parallel_index(t...
19515  select /*+  no_parallel(t) no_parallel_index(t...
19548  select /*+  no_parallel(t) no_parallel_index(t...
19692  select /*+  no_parallel(t) no_parallel_index(t...
19549  select /*+  no_parallel(t) no_parallel_index(t...
19693  select /*+  no_parallel(t) no_parallel_index(t...
19550  select /*+  no_parallel(t) no_parallel_index(t...
19694  select /*+  no_parallel(t) no_parallel_index(t...
19551  select /*+  no_parallel(t) no_parallel_index(t...
19695  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
13311  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13395  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13312  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13396  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13313  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13397  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13314  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13398  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13315  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13399  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13316  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13400  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13143  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13144  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13145  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13146  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13147  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13148  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13227  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13228  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13229  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13230  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13231  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13232  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13479  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13480  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13481  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13482  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13483  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13484  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13059  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13060  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13061  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13062  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13063  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13064  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12891  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12892  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12893  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12894  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12895  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12896  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13647  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13648  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13649  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13650  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13651  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13652  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12807  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12808  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12809  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12810  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12811  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12812  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12723  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12724  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12725  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12726  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12727  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12728  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
15615  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15616  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15617  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15618  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15619  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15620  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15495  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15496  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15497  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15498  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15499  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15500  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15555  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15556  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15557  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15558  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15559  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15560  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15585  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15586  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15587  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15588  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15589  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15590  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15525  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15526  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15527  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15528  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15529  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15530  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15329  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15330  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15331  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15332  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
11401  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11402  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11403  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11404  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11405  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11406  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11497  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11498  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11499  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11500  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11501  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11502  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11641  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11642  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11643  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11644  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11645  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11646  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11545  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11546  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11547  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11548  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11549  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11550  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11449  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11450  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11451  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11452  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11453  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11454  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11305  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11306  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11307  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11308  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11309  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11310  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11593  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11594  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11595  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11596  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11597  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11598  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11353  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11354  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11355  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11356  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11357  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11358  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15817  insert /*+ append */ into sys.ora_temp_1_ds_21...
15818  insert /*+ append */ into sys.ora_temp_1_ds_21...
15819  insert /*+ append */ into sys.ora_temp_1_ds_21...
15820  insert /*+ append */ into sys.ora_temp_1_ds_21...
15821  insert /*+ append */ into sys.ora_temp_1_ds_21...
15822  insert /*+ append */ into sys.ora_temp_1_ds_21...
15823  insert /*+ append */ into sys.ora_temp_1_ds_21...
15824  insert /*+ append */ into sys.ora_temp_1_ds_21...
15825  insert /*+ append */ into sys.ora_temp_1_ds_21...
                                              SQL_TEXT
269  /* SQL Analyze(0) */ select /*+  full(t)    pa...
270  /* SQL Analyze(0) */ select /*+  full(t)    pa...
271  /* SQL Analyze(0) */ select /*+  full(t)    pa...
272  /* SQL Analyze(0) */ select /*+  full(t)    pa...
273  /* SQL Analyze(0) */ select /*+  full(t)    pa...
274  /* SQL Analyze(0) */ select /*+  full(t)    pa...
275  /* SQL Analyze(0) */ select /*+  full(t)    pa...
276  /* SQL Analyze(0) */ select /*+  full(t)    pa...
589  /* SQL Analyze(0) */ select /*+  full(t)    pa...
590  /* SQL Analyze(0) */ select /*+  full(t)    pa...
591  /* SQL Analyze(0) */ select /*+  full(t)    pa...
592  /* SQL Analyze(0) */ select /*+  full(t)    pa...
593  /* SQL Analyze(0) */ select /*+  full(t)    pa...
594  /* SQL Analyze(0) */ select /*+  full(t)    pa...
595  /* SQL Analyze(0) */ select /*+  full(t)    pa...
596  /* SQL Analyze(0) */ select /*+  full(t)    pa...
669  /* SQL Analyze(0) */ select /*+  full(t)    pa...
670  /* SQL Analyze(0) */ select /*+  full(t)    pa...
671  /* SQL Analyze(0) */ select /*+  full(t)    pa...
672  /* SQL Analyze(0) */ select /*+  full(t)    pa...
673  /* SQL Analyze(0) */ select /*+  full(t)    pa...
674  /* SQL Analyze(0) */ select /*+  full(t)    pa...
675  /* SQL Analyze(0) */ select /*+  full(t)    pa...
676  /* SQL Analyze(0) */ select /*+  full(t)    pa...
829  /* SQL Analyze(0) */ select /*+  full(t)    pa...
830  /* SQL Analyze(0) */ select /*+  full(t)    pa...
831  /* SQL Analyze(0) */ select /*+  full(t)    pa...
832  /* SQL Analyze(0) */ select /*+  full(t)    pa...
833  /* SQL Analyze(0) */ select /*+  full(t)    pa...
834  /* SQL Analyze(0) */ select /*+  full(t)    pa...
..                                                 ...
431  /* SQL Analyze(0) */ select /*+  full(t)    pa...
432  /* SQL Analyze(0) */ select /*+  full(t)    pa...
433  /* SQL Analyze(0) */ select /*+  full(t)    pa...
434  /* SQL Analyze(0) */ select /*+  full(t)    pa...
435  /* SQL Analyze(0) */ select /*+  full(t)    pa...
436  /* SQL Analyze(0) */ select /*+  full(t)    pa...
349  /* SQL Analyze(0) */ select /*+  full(t)    pa...
350  /* SQL Analyze(0) */ select /*+  full(t)    pa...
351  /* SQL Analyze(0) */ select /*+  full(t)    pa...
352  /* SQL Analyze(0) */ select /*+  full(t)    pa...
353  /* SQL Analyze(0) */ select /*+  full(t)    pa...
354  /* SQL Analyze(0) */ select /*+  full(t)    pa...
355  /* SQL Analyze(0) */ select /*+  full(t)    pa...
356  /* SQL Analyze(0) */ select /*+  full(t)    pa...
509  /* SQL Analyze(0) */ select /*+  full(t)    pa...
510  /* SQL Analyze(0) */ select /*+  full(t)    pa...
511  /* SQL Analyze(0) */ select /*+  full(t)    pa...
512  /* SQL Analyze(0) */ select /*+  full(t)    pa...
513  /* SQL Analyze(0) */ select /*+  full(t)    pa...
514  /* SQL Analyze(0) */ select /*+  full(t)    pa...
515  /* SQL Analyze(0) */ select /*+  full(t)    pa...
516  /* SQL Analyze(0) */ select /*+  full(t)    pa...
189  /* SQL Analyze(0) */ select /*+  full(t)    pa...
190  /* SQL Analyze(0) */ select /*+  full(t)    pa...
191  /* SQL Analyze(0) */ select /*+  full(t)    pa...
192  /* SQL Analyze(0) */ select /*+  full(t)    pa...
193  /* SQL Analyze(0) */ select /*+  full(t)    pa...
194  /* SQL Analyze(0) */ select /*+  full(t)    pa...
195  /* SQL Analyze(0) */ select /*+  full(t)    pa...
196  /* SQL Analyze(0) */ select /*+  full(t)    pa...

[72 rows x 1 columns]
                                                SQL_TEXT
15826  insert /*+ append */ into sys.ora_temp_1_ds_21...
15827  insert /*+ append */ into sys.ora_temp_1_ds_21...
15828  insert /*+ append */ into sys.ora_temp_1_ds_21...
15829  insert /*+ append */ into sys.ora_temp_1_ds_21...
15830  insert /*+ append */ into sys.ora_temp_1_ds_21...
15831  insert /*+ append */ into sys.ora_temp_1_ds_21...
15832  insert /*+ append */ into sys.ora_temp_1_ds_21...
15833  insert /*+ append */ into sys.ora_temp_1_ds_21...
15834  insert /*+ append */ into sys.ora_temp_1_ds_21...
                                                SQL_TEXT
20020  select /*+  no_parallel(t) no_parallel_index(t...
20024  select /*+  no_parallel(t) no_parallel_index(t...
20028  select /*+  no_parallel(t) no_parallel_index(t...
20032  select /*+  no_parallel(t) no_parallel_index(t...
20036  select /*+  no_parallel(t) no_parallel_index(t...
20040  select /*+  no_parallel(t) no_parallel_index(t...
20044  select /*+  no_parallel(t) no_parallel_index(t...
20048  select /*+  no_parallel(t) no_parallel_index(t...
20052  select /*+  no_parallel(t) no_parallel_index(t...
20056  select /*+  no_parallel(t) no_parallel_index(t...
20060  select /*+  no_parallel(t) no_parallel_index(t...
20021  select /*+  no_parallel(t) no_parallel_index(t...
20025  select /*+  no_parallel(t) no_parallel_index(t...
20029  select /*+  no_parallel(t) no_parallel_index(t...
20033  select /*+  no_parallel(t) no_parallel_index(t...
20037  select /*+  no_parallel(t) no_parallel_index(t...
20041  select /*+  no_parallel(t) no_parallel_index(t...
20045  select /*+  no_parallel(t) no_parallel_index(t...
20049  select /*+  no_parallel(t) no_parallel_index(t...
20053  select /*+  no_parallel(t) no_parallel_index(t...
20057  select /*+  no_parallel(t) no_parallel_index(t...
20061  select /*+  no_parallel(t) no_parallel_index(t...
20022  select /*+  no_parallel(t) no_parallel_index(t...
20026  select /*+  no_parallel(t) no_parallel_index(t...
20030  select /*+  no_parallel(t) no_parallel_index(t...
20034  select /*+  no_parallel(t) no_parallel_index(t...
20038  select /*+  no_parallel(t) no_parallel_index(t...
20042  select /*+  no_parallel(t) no_parallel_index(t...
20046  select /*+  no_parallel(t) no_parallel_index(t...
20050  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
20409  select /*+  no_parallel(t) no_parallel_index(t...
20413  select /*+  no_parallel(t) no_parallel_index(t...
20417  select /*+  no_parallel(t) no_parallel_index(t...
20421  select /*+  no_parallel(t) no_parallel_index(t...
20425  select /*+  no_parallel(t) no_parallel_index(t...
20429  select /*+  no_parallel(t) no_parallel_index(t...
20433  select /*+  no_parallel(t) no_parallel_index(t...
20437  select /*+  no_parallel(t) no_parallel_index(t...
20398  select /*+  no_parallel(t) no_parallel_index(t...
20402  select /*+  no_parallel(t) no_parallel_index(t...
20406  select /*+  no_parallel(t) no_parallel_index(t...
20410  select /*+  no_parallel(t) no_parallel_index(t...
20414  select /*+  no_parallel(t) no_parallel_index(t...
20418  select /*+  no_parallel(t) no_parallel_index(t...
20422  select /*+  no_parallel(t) no_parallel_index(t...
20426  select /*+  no_parallel(t) no_parallel_index(t...
20430  select /*+  no_parallel(t) no_parallel_index(t...
20434  select /*+  no_parallel(t) no_parallel_index(t...
20438  select /*+  no_parallel(t) no_parallel_index(t...
20399  select /*+  no_parallel(t) no_parallel_index(t...
20403  select /*+  no_parallel(t) no_parallel_index(t...
20407  select /*+  no_parallel(t) no_parallel_index(t...
20411  select /*+  no_parallel(t) no_parallel_index(t...
20415  select /*+  no_parallel(t) no_parallel_index(t...
20419  select /*+  no_parallel(t) no_parallel_index(t...
20423  select /*+  no_parallel(t) no_parallel_index(t...
20427  select /*+  no_parallel(t) no_parallel_index(t...
20431  select /*+  no_parallel(t) no_parallel_index(t...
20435  select /*+  no_parallel(t) no_parallel_index(t...
20439  select /*+  no_parallel(t) no_parallel_index(t...

[220 rows x 1 columns]
                                                SQL_TEXT
24884  select /*+  no_parallel(t) no_parallel_index(t...
24885  select /*+  no_parallel(t) no_parallel_index(t...
24886  select /*+  no_parallel(t) no_parallel_index(t...
24887  select /*+  no_parallel(t) no_parallel_index(t...
24700  select /*+  no_parallel(t) no_parallel_index(t...
24701  select /*+  no_parallel(t) no_parallel_index(t...
24702  select /*+  no_parallel(t) no_parallel_index(t...
24703  select /*+  no_parallel(t) no_parallel_index(t...
24976  select /*+  no_parallel(t) no_parallel_index(t...
24977  select /*+  no_parallel(t) no_parallel_index(t...
24978  select /*+  no_parallel(t) no_parallel_index(t...
24979  select /*+  no_parallel(t) no_parallel_index(t...
24792  select /*+  no_parallel(t) no_parallel_index(t...
24793  select /*+  no_parallel(t) no_parallel_index(t...
24794  select /*+  no_parallel(t) no_parallel_index(t...
24795  select /*+  no_parallel(t) no_parallel_index(t...
                                              SQL_TEXT
277  /* SQL Analyze(0) */ select /*+  full(t)    pa...
278  /* SQL Analyze(0) */ select /*+  full(t)    pa...
279  /* SQL Analyze(0) */ select /*+  full(t)    pa...
280  /* SQL Analyze(0) */ select /*+  full(t)    pa...
281  /* SQL Analyze(0) */ select /*+  full(t)    pa...
282  /* SQL Analyze(0) */ select /*+  full(t)    pa...
283  /* SQL Analyze(0) */ select /*+  full(t)    pa...
284  /* SQL Analyze(0) */ select /*+  full(t)    pa...
597  /* SQL Analyze(0) */ select /*+  full(t)    pa...
598  /* SQL Analyze(0) */ select /*+  full(t)    pa...
599  /* SQL Analyze(0) */ select /*+  full(t)    pa...
600  /* SQL Analyze(0) */ select /*+  full(t)    pa...
601  /* SQL Analyze(0) */ select /*+  full(t)    pa...
602  /* SQL Analyze(0) */ select /*+  full(t)    pa...
603  /* SQL Analyze(0) */ select /*+  full(t)    pa...
604  /* SQL Analyze(0) */ select /*+  full(t)    pa...
677  /* SQL Analyze(0) */ select /*+  full(t)    pa...
678  /* SQL Analyze(0) */ select /*+  full(t)    pa...
679  /* SQL Analyze(0) */ select /*+  full(t)    pa...
680  /* SQL Analyze(0) */ select /*+  full(t)    pa...
681  /* SQL Analyze(0) */ select /*+  full(t)    pa...
682  /* SQL Analyze(0) */ select /*+  full(t)    pa...
683  /* SQL Analyze(0) */ select /*+  full(t)    pa...
684  /* SQL Analyze(0) */ select /*+  full(t)    pa...
837  /* SQL Analyze(0) */ select /*+  full(t)    pa...
838  /* SQL Analyze(0) */ select /*+  full(t)    pa...
839  /* SQL Analyze(0) */ select /*+  full(t)    pa...
840  /* SQL Analyze(0) */ select /*+  full(t)    pa...
841  /* SQL Analyze(0) */ select /*+  full(t)    pa...
842  /* SQL Analyze(0) */ select /*+  full(t)    pa...
..                                                 ...
439  /* SQL Analyze(0) */ select /*+  full(t)    pa...
440  /* SQL Analyze(0) */ select /*+  full(t)    pa...
441  /* SQL Analyze(0) */ select /*+  full(t)    pa...
442  /* SQL Analyze(0) */ select /*+  full(t)    pa...
443  /* SQL Analyze(0) */ select /*+  full(t)    pa...
444  /* SQL Analyze(0) */ select /*+  full(t)    pa...
357  /* SQL Analyze(0) */ select /*+  full(t)    pa...
358  /* SQL Analyze(0) */ select /*+  full(t)    pa...
359  /* SQL Analyze(0) */ select /*+  full(t)    pa...
360  /* SQL Analyze(0) */ select /*+  full(t)    pa...
361  /* SQL Analyze(0) */ select /*+  full(t)    pa...
362  /* SQL Analyze(0) */ select /*+  full(t)    pa...
363  /* SQL Analyze(0) */ select /*+  full(t)    pa...
364  /* SQL Analyze(0) */ select /*+  full(t)    pa...
517  /* SQL Analyze(0) */ select /*+  full(t)    pa...
518  /* SQL Analyze(0) */ select /*+  full(t)    pa...
519  /* SQL Analyze(0) */ select /*+  full(t)    pa...
520  /* SQL Analyze(0) */ select /*+  full(t)    pa...
521  /* SQL Analyze(0) */ select /*+  full(t)    pa...
522  /* SQL Analyze(0) */ select /*+  full(t)    pa...
523  /* SQL Analyze(0) */ select /*+  full(t)    pa...
524  /* SQL Analyze(0) */ select /*+  full(t)    pa...
197  /* SQL Analyze(0) */ select /*+  full(t)    pa...
198  /* SQL Analyze(0) */ select /*+  full(t)    pa...
199  /* SQL Analyze(0) */ select /*+  full(t)    pa...
200  /* SQL Analyze(0) */ select /*+  full(t)    pa...
201  /* SQL Analyze(0) */ select /*+  full(t)    pa...
202  /* SQL Analyze(0) */ select /*+  full(t)    pa...
203  /* SQL Analyze(0) */ select /*+  full(t)    pa...
204  /* SQL Analyze(0) */ select /*+  full(t)    pa...

[72 rows x 1 columns]
                                               SQL_TEXT
9977  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9978  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9979  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9980  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9981  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9982  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9983  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9984  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9985  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9986  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9987  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9988  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9989  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
12531  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12532  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12533  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12534  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12315  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12316  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12317  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12318  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12567  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12568  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12569  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12570  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12351  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12352  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12353  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12354  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12459  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12460  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12461  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12462  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12387  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12388  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12389  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12390  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12603  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12604  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12605  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12606  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12423  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12424  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12425  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12426  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12495  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12496  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12497  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12498  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
10657  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10658  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10659  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10660  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10661  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10662  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11107  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11108  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11109  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11110  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11111  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11112  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10477  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10478  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10479  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10480  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10481  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10482  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11197  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11198  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11199  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11200  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11201  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11202  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10747  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10748  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10749  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10750  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10751  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10752  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                               SQL_TEXT
5915  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5916  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5917  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5918  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6355  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6356  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6357  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6358  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5805  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5806  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5807  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5808  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5860  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5861  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5862  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5863  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6080  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6081  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6082  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6083  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6025  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6026  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6027  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6028  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6245  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6246  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6247  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6248  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6190  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6191  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6192  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6193  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5970  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5971  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5972  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5973  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6300  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6301  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6302  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6303  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6135  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6136  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6137  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6138  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
10663  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10664  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10665  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10666  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10667  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10668  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11113  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11114  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11115  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11116  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11117  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11118  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10483  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10484  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10485  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10486  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10487  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10488  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11203  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11204  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11205  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11206  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11207  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11208  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10753  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10754  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10755  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10756  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10757  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10758  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
10123  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10124  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10125  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10126  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10127  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10128  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10393  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10394  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10395  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10396  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10397  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10398  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10843  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10844  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10845  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10846  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10847  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10848  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10213  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10214  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10215  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10216  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10217  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10218  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11023  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11024  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11025  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11026  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11027  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11028  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
15423  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15424  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15425  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15426  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15427  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15428  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15333  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15453  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15334  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15454  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15335  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15455  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15336  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15456  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15337  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15457  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15338  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15458  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15393  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15394  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15395  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15396  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15397  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15398  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15363  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15364  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15365  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15366  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15367  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15368  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
13317  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13401  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13318  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13402  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13319  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13403  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13320  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13404  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13321  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13405  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13322  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13406  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13149  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13150  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13151  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13152  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13153  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13154  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13233  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13234  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13235  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13236  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13237  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13238  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13485  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13486  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13487  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13488  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13489  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13490  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13065  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13066  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13067  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13068  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13069  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13070  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12897  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12898  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12899  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12900  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12901  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12902  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13653  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13654  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13655  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13656  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13657  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13658  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12813  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12814  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12815  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12816  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12817  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12818  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12729  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12730  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12731  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12732  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12733  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12734  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
15261  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15262  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15263  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15264  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15265  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15266  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15165  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15166  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15167  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15168  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15169  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15170  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15069  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15070  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15071  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15072  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15073  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15074  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14589  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14590  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14591  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14592  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14593  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14594  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14685  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14686  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14687  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14688  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14689  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14690  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14301  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14302  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14303  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14304  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14305  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14306  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14973  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14974  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14975  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14976  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14977  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14978  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14493  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14494  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14495  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14496  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14497  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14498  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13917  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13918  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13919  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13920  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13921  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13922  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13821  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13822  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13823  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13824  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13825  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13826  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                                SQL_TEXT
11809  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11810  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11811  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11812  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11861  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11862  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11863  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11864  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12069  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12070  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12071  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12072  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12017  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12018  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12019  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12020  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12121  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12122  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12123  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12124  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12173  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12174  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12175  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12176  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11913  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11914  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11915  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11916  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11757  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11758  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11759  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11760  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12225  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12226  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12227  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12228  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11965  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11966  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11967  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11968  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11705  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11706  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11707  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11708  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12277  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12278  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12279  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12280  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
13323  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13407  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13324  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13408  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13325  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13409  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13326  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13410  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13327  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13411  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13328  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13412  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13155  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13156  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13157  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13158  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13159  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13160  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13239  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13240  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13241  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13242  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13243  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13244  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13492  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13493  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13494  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13495  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13496  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13071  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13072  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13073  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13074  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13075  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13076  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12903  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                               SQL_TEXT
6386  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6389  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6387  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6390  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6388  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6391  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                   SQL_TEXT
15765  create global tempor
15766  create global tempor
15767  create global tempor
15768  create global tempor
15773  create global tempor
15774  create global tempor
15775  create global tempor
15776  create global tempor
                                              SQL_TEXT
285  /* SQL Analyze(0) */ select /*+  full(t)    pa...
286  /* SQL Analyze(0) */ select /*+  full(t)    pa...
287  /* SQL Analyze(0) */ select /*+  full(t)    pa...
288  /* SQL Analyze(0) */ select /*+  full(t)    pa...
289  /* SQL Analyze(0) */ select /*+  full(t)    pa...
290  /* SQL Analyze(0) */ select /*+  full(t)    pa...
291  /* SQL Analyze(0) */ select /*+  full(t)    pa...
292  /* SQL Analyze(0) */ select /*+  full(t)    pa...
605  /* SQL Analyze(0) */ select /*+  full(t)    pa...
606  /* SQL Analyze(0) */ select /*+  full(t)    pa...
607  /* SQL Analyze(0) */ select /*+  full(t)    pa...
608  /* SQL Analyze(0) */ select /*+  full(t)    pa...
609  /* SQL Analyze(0) */ select /*+  full(t)    pa...
610  /* SQL Analyze(0) */ select /*+  full(t)    pa...
611  /* SQL Analyze(0) */ select /*+  full(t)    pa...
612  /* SQL Analyze(0) */ select /*+  full(t)    pa...
685  /* SQL Analyze(0) */ select /*+  full(t)    pa...
686  /* SQL Analyze(0) */ select /*+  full(t)    pa...
687  /* SQL Analyze(0) */ select /*+  full(t)    pa...
688  /* SQL Analyze(0) */ select /*+  full(t)    pa...
689  /* SQL Analyze(0) */ select /*+  full(t)    pa...
690  /* SQL Analyze(0) */ select /*+  full(t)    pa...
691  /* SQL Analyze(0) */ select /*+  full(t)    pa...
692  /* SQL Analyze(0) */ select /*+  full(t)    pa...
845  /* SQL Analyze(0) */ select /*+  full(t)    pa...
846  /* SQL Analyze(0) */ select /*+  full(t)    pa...
847  /* SQL Analyze(0) */ select /*+  full(t)    pa...
848  /* SQL Analyze(0) */ select /*+  full(t)    pa...
849  /* SQL Analyze(0) */ select /*+  full(t)    pa...
850  /* SQL Analyze(0) */ select /*+  full(t)    pa...
..                                                 ...
447  /* SQL Analyze(0) */ select /*+  full(t)    pa...
448  /* SQL Analyze(0) */ select /*+  full(t)    pa...
449  /* SQL Analyze(0) */ select /*+  full(t)    pa...
450  /* SQL Analyze(0) */ select /*+  full(t)    pa...
451  /* SQL Analyze(0) */ select /*+  full(t)    pa...
452  /* SQL Analyze(0) */ select /*+  full(t)    pa...
365  /* SQL Analyze(0) */ select /*+  full(t)    pa...
366  /* SQL Analyze(0) */ select /*+  full(t)    pa...
367  /* SQL Analyze(0) */ select /*+  full(t)    pa...
368  /* SQL Analyze(0) */ select /*+  full(t)    pa...
369  /* SQL Analyze(0) */ select /*+  full(t)    pa...
370  /* SQL Analyze(0) */ select /*+  full(t)    pa...
371  /* SQL Analyze(0) */ select /*+  full(t)    pa...
372  /* SQL Analyze(0) */ select /*+  full(t)    pa...
525  /* SQL Analyze(0) */ select /*+  full(t)    pa...
526  /* SQL Analyze(0) */ select /*+  full(t)    pa...
527  /* SQL Analyze(0) */ select /*+  full(t)    pa...
528  /* SQL Analyze(0) */ select /*+  full(t)    pa...
529  /* SQL Analyze(0) */ select /*+  full(t)    pa...
530  /* SQL Analyze(0) */ select /*+  full(t)    pa...
531  /* SQL Analyze(0) */ select /*+  full(t)    pa...
532  /* SQL Analyze(0) */ select /*+  full(t)    pa...
205  /* SQL Analyze(0) */ select /*+  full(t)    pa...
206  /* SQL Analyze(0) */ select /*+  full(t)    pa...
207  /* SQL Analyze(0) */ select /*+  full(t)    pa...
208  /* SQL Analyze(0) */ select /*+  full(t)    pa...
209  /* SQL Analyze(0) */ select /*+  full(t)    pa...
210  /* SQL Analyze(0) */ select /*+  full(t)    pa...
211  /* SQL Analyze(0) */ select /*+  full(t)    pa...
212  /* SQL Analyze(0) */ select /*+  full(t)    pa...

[72 rows x 1 columns]
                                                SQL_TEXT
15835  insert /*+ append */ into sys.ora_temp_1_ds_21...
15836  insert /*+ append */ into sys.ora_temp_1_ds_21...
15837  insert /*+ append */ into sys.ora_temp_1_ds_21...
15838  insert /*+ append */ into sys.ora_temp_1_ds_21...
15839  insert /*+ append */ into sys.ora_temp_1_ds_21...
15840  insert /*+ append */ into sys.ora_temp_1_ds_21...
15841  insert /*+ append */ into sys.ora_temp_1_ds_21...
15842  insert /*+ append */ into sys.ora_temp_1_ds_21...
15843  insert /*+ append */ into sys.ora_temp_1_ds_21...
                                                SQL_TEXT
19660  select /*+  no_parallel(t) no_parallel_index(t...
19661  select /*+  no_parallel(t) no_parallel_index(t...
19662  select /*+  no_parallel(t) no_parallel_index(t...
19663  select /*+  no_parallel(t) no_parallel_index(t...
19444  select /*+  no_parallel(t) no_parallel_index(t...
19588  select /*+  no_parallel(t) no_parallel_index(t...
19445  select /*+  no_parallel(t) no_parallel_index(t...
19589  select /*+  no_parallel(t) no_parallel_index(t...
19446  select /*+  no_parallel(t) no_parallel_index(t...
19590  select /*+  no_parallel(t) no_parallel_index(t...
19447  select /*+  no_parallel(t) no_parallel_index(t...
19591  select /*+  no_parallel(t) no_parallel_index(t...
19480  select /*+  no_parallel(t) no_parallel_index(t...
19481  select /*+  no_parallel(t) no_parallel_index(t...
19482  select /*+  no_parallel(t) no_parallel_index(t...
19483  select /*+  no_parallel(t) no_parallel_index(t...
19732  select /*+  no_parallel(t) no_parallel_index(t...
19733  select /*+  no_parallel(t) no_parallel_index(t...
19734  select /*+  no_parallel(t) no_parallel_index(t...
19735  select /*+  no_parallel(t) no_parallel_index(t...
19624  select /*+  no_parallel(t) no_parallel_index(t...
19625  select /*+  no_parallel(t) no_parallel_index(t...
19626  select /*+  no_parallel(t) no_parallel_index(t...
19627  select /*+  no_parallel(t) no_parallel_index(t...
19516  select /*+  no_parallel(t) no_parallel_index(t...
19517  select /*+  no_parallel(t) no_parallel_index(t...
19518  select /*+  no_parallel(t) no_parallel_index(t...
19519  select /*+  no_parallel(t) no_parallel_index(t...
19552  select /*+  no_parallel(t) no_parallel_index(t...
19696  select /*+  no_parallel(t) no_parallel_index(t...
19553  select /*+  no_parallel(t) no_parallel_index(t...
19697  select /*+  no_parallel(t) no_parallel_index(t...
19554  select /*+  no_parallel(t) no_parallel_index(t...
19698  select /*+  no_parallel(t) no_parallel_index(t...
19555  select /*+  no_parallel(t) no_parallel_index(t...
19699  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
19664  select /*+  no_parallel(t) no_parallel_index(t...
19665  select /*+  no_parallel(t) no_parallel_index(t...
19666  select /*+  no_parallel(t) no_parallel_index(t...
19667  select /*+  no_parallel(t) no_parallel_index(t...
19448  select /*+  no_parallel(t) no_parallel_index(t...
19592  select /*+  no_parallel(t) no_parallel_index(t...
19449  select /*+  no_parallel(t) no_parallel_index(t...
19593  select /*+  no_parallel(t) no_parallel_index(t...
19450  select /*+  no_parallel(t) no_parallel_index(t...
19594  select /*+  no_parallel(t) no_parallel_index(t...
19451  select /*+  no_parallel(t) no_parallel_index(t...
19595  select /*+  no_parallel(t) no_parallel_index(t...
19484  select /*+  no_parallel(t) no_parallel_index(t...
19485  select /*+  no_parallel(t) no_parallel_index(t...
19486  select /*+  no_parallel(t) no_parallel_index(t...
19487  select /*+  no_parallel(t) no_parallel_index(t...
19736  select /*+  no_parallel(t) no_parallel_index(t...
19737  select /*+  no_parallel(t) no_parallel_index(t...
19738  select /*+  no_parallel(t) no_parallel_index(t...
19739  select /*+  no_parallel(t) no_parallel_index(t...
19628  select /*+  no_parallel(t) no_parallel_index(t...
19629  select /*+  no_parallel(t) no_parallel_index(t...
19630  select /*+  no_parallel(t) no_parallel_index(t...
19631  select /*+  no_parallel(t) no_parallel_index(t...
19520  select /*+  no_parallel(t) no_parallel_index(t...
19521  select /*+  no_parallel(t) no_parallel_index(t...
19522  select /*+  no_parallel(t) no_parallel_index(t...
19523  select /*+  no_parallel(t) no_parallel_index(t...
19556  select /*+  no_parallel(t) no_parallel_index(t...
19700  select /*+  no_parallel(t) no_parallel_index(t...
19557  select /*+  no_parallel(t) no_parallel_index(t...
19701  select /*+  no_parallel(t) no_parallel_index(t...
19558  select /*+  no_parallel(t) no_parallel_index(t...
19702  select /*+  no_parallel(t) no_parallel_index(t...
19559  select /*+  no_parallel(t) no_parallel_index(t...
19703  select /*+  no_parallel(t) no_parallel_index(t...
                   SQL_TEXT
15689  create global tempor
15690  create global tempor
15691  create global tempor
15692  create global tempor
15709  create global tempor
15710  create global tempor
15711  create global tempor
15712  create global tempor
15729  create global tempor
15730  create global tempor
15731  create global tempor
15732  create global tempor
15749  create global tempor
15750  create global tempor
15751  create global tempor
15752  create global tempor
15669  create global tempor
15670  create global tempor
15671  create global tempor
15672  create global tempor
                                              SQL_TEXT
293  /* SQL Analyze(0) */ select /*+  full(t)    pa...
294  /* SQL Analyze(0) */ select /*+  full(t)    pa...
295  /* SQL Analyze(0) */ select /*+  full(t)    pa...
296  /* SQL Analyze(0) */ select /*+  full(t)    pa...
297  /* SQL Analyze(0) */ select /*+  full(t)    pa...
298  /* SQL Analyze(0) */ select /*+  full(t)    pa...
299  /* SQL Analyze(0) */ select /*+  full(t)    pa...
300  /* SQL Analyze(0) */ select /*+  full(t)    pa...
613  /* SQL Analyze(0) */ select /*+  full(t)    pa...
614  /* SQL Analyze(0) */ select /*+  full(t)    pa...
615  /* SQL Analyze(0) */ select /*+  full(t)    pa...
616  /* SQL Analyze(0) */ select /*+  full(t)    pa...
617  /* SQL Analyze(0) */ select /*+  full(t)    pa...
618  /* SQL Analyze(0) */ select /*+  full(t)    pa...
619  /* SQL Analyze(0) */ select /*+  full(t)    pa...
620  /* SQL Analyze(0) */ select /*+  full(t)    pa...
693  /* SQL Analyze(0) */ select /*+  full(t)    pa...
694  /* SQL Analyze(0) */ select /*+  full(t)    pa...
695  /* SQL Analyze(0) */ select /*+  full(t)    pa...
696  /* SQL Analyze(0) */ select /*+  full(t)    pa...
697  /* SQL Analyze(0) */ select /*+  full(t)    pa...
698  /* SQL Analyze(0) */ select /*+  full(t)    pa...
699  /* SQL Analyze(0) */ select /*+  full(t)    pa...
700  /* SQL Analyze(0) */ select /*+  full(t)    pa...
853  /* SQL Analyze(0) */ select /*+  full(t)    pa...
854  /* SQL Analyze(0) */ select /*+  full(t)    pa...
855  /* SQL Analyze(0) */ select /*+  full(t)    pa...
856  /* SQL Analyze(0) */ select /*+  full(t)    pa...
857  /* SQL Analyze(0) */ select /*+  full(t)    pa...
858  /* SQL Analyze(0) */ select /*+  full(t)    pa...
..                                                 ...
455  /* SQL Analyze(0) */ select /*+  full(t)    pa...
456  /* SQL Analyze(0) */ select /*+  full(t)    pa...
457  /* SQL Analyze(0) */ select /*+  full(t)    pa...
458  /* SQL Analyze(0) */ select /*+  full(t)    pa...
459  /* SQL Analyze(0) */ select /*+  full(t)    pa...
460  /* SQL Analyze(0) */ select /*+  full(t)    pa...
373  /* SQL Analyze(0) */ select /*+  full(t)    pa...
374  /* SQL Analyze(0) */ select /*+  full(t)    pa...
375  /* SQL Analyze(0) */ select /*+  full(t)    pa...
376  /* SQL Analyze(0) */ select /*+  full(t)    pa...
377  /* SQL Analyze(0) */ select /*+  full(t)    pa...
378  /* SQL Analyze(0) */ select /*+  full(t)    pa...
379  /* SQL Analyze(0) */ select /*+  full(t)    pa...
380  /* SQL Analyze(0) */ select /*+  full(t)    pa...
533  /* SQL Analyze(0) */ select /*+  full(t)    pa...
534  /* SQL Analyze(0) */ select /*+  full(t)    pa...
535  /* SQL Analyze(0) */ select /*+  full(t)    pa...
536  /* SQL Analyze(0) */ select /*+  full(t)    pa...
537  /* SQL Analyze(0) */ select /*+  full(t)    pa...
538  /* SQL Analyze(0) */ select /*+  full(t)    pa...
539  /* SQL Analyze(0) */ select /*+  full(t)    pa...
540  /* SQL Analyze(0) */ select /*+  full(t)    pa...
213  /* SQL Analyze(0) */ select /*+  full(t)    pa...
214  /* SQL Analyze(0) */ select /*+  full(t)    pa...
215  /* SQL Analyze(0) */ select /*+  full(t)    pa...
216  /* SQL Analyze(0) */ select /*+  full(t)    pa...
217  /* SQL Analyze(0) */ select /*+  full(t)    pa...
218  /* SQL Analyze(0) */ select /*+  full(t)    pa...
219  /* SQL Analyze(0) */ select /*+  full(t)    pa...
220  /* SQL Analyze(0) */ select /*+  full(t)    pa...

[72 rows x 1 columns]
                                                SQL_TEXT
15844  insert /*+ append */ into sys.ora_temp_1_ds_22...
15845  insert /*+ append */ into sys.ora_temp_1_ds_22...
15846  insert /*+ append */ into sys.ora_temp_1_ds_22...
15847  insert /*+ append */ into sys.ora_temp_1_ds_22...
15848  insert /*+ append */ into sys.ora_temp_1_ds_22...
15849  insert /*+ append */ into sys.ora_temp_1_ds_22...
15850  insert /*+ append */ into sys.ora_temp_1_ds_22...
15851  insert /*+ append */ into sys.ora_temp_1_ds_22...
15852  insert /*+ append */ into sys.ora_temp_1_ds_22...
                                               SQL_TEXT
5919  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5920  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5921  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5922  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6359  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6360  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6361  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6362  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5809  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5810  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5811  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5812  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5864  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5865  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5866  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5867  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6084  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6085  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6086  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6087  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6029  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6030  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6031  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6032  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6249  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6250  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6251  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6252  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6194  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6195  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6196  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6197  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5974  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5975  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5976  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5977  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6304  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6305  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6306  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6307  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6139  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6140  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6141  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6142  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
9892  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9893  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9894  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9895  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9896  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9897  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9898  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9899  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9900  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9901  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9902  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9903  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9904  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9905  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9906  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9907  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9908  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9909  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9910  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
24616  select /*+  no_parallel(t) no_parallel_index(t...
24617  select /*+  no_parallel(t) no_parallel_index(t...
24618  select /*+  no_parallel(t) no_parallel_index(t...
24619  select /*+  no_parallel(t) no_parallel_index(t...
24504  select /*+  no_parallel(t) no_parallel_index(t...
24505  select /*+  no_parallel(t) no_parallel_index(t...
24506  select /*+  no_parallel(t) no_parallel_index(t...
24507  select /*+  no_parallel(t) no_parallel_index(t...
24448  select /*+  no_parallel(t) no_parallel_index(t...
24449  select /*+  no_parallel(t) no_parallel_index(t...
24450  select /*+  no_parallel(t) no_parallel_index(t...
24451  select /*+  no_parallel(t) no_parallel_index(t...
24560  select /*+  no_parallel(t) no_parallel_index(t...
24561  select /*+  no_parallel(t) no_parallel_index(t...
24562  select /*+  no_parallel(t) no_parallel_index(t...
24563  select /*+  no_parallel(t) no_parallel_index(t...

                                                SQL_TEXT
20712  select /*+  no_parallel(t) no_parallel_index(t...
20716  select /*+  no_parallel(t) no_parallel_index(t...
20720  select /*+  no_parallel(t) no_parallel_index(t...
20724  select /*+  no_parallel(t) no_parallel_index(t...
20728  select /*+  no_parallel(t) no_parallel_index(t...
20732  select /*+  no_parallel(t) no_parallel_index(t...
20713  select /*+  no_parallel(t) no_parallel_index(t...
20717  select /*+  no_parallel(t) no_parallel_index(t...
20721  select /*+  no_parallel(t) no_parallel_index(t...
20725  select /*+  no_parallel(t) no_parallel_index(t...
20729  select /*+  no_parallel(t) no_parallel_index(t...
20733  select /*+  no_parallel(t) no_parallel_index(t...
20714  select /*+  no_parallel(t) no_parallel_index(t...
20718  select /*+  no_parallel(t) no_parallel_index(t...
20722  select /*+  no_parallel(t) no_parallel_index(t...
20726  select /*+  no_parallel(t) no_parallel_index(t...
20730  select /*+  no_parallel(t) no_parallel_index(t...
20734  select /*+  no_parallel(t) no_parallel_index(t...
20715  select /*+  no_parallel(t) no_parallel_index(t...
20719  select /*+  no_parallel(t) no_parallel_index(t...
20723  select /*+  no_parallel(t) no_parallel_index(t...
20727  select /*+  no_parallel(t) no_parallel_index(t...
20731  select /*+  no_parallel(t) no_parallel_index(t...
20735  select /*+  no_parallel(t) no_parallel_index(t...
20744  select /*+  no_parallel(t) no_parallel_index(t...
20748  select /*+  no_parallel(t) no_parallel_index(t...
20752  select /*+  no_parallel(t) no_parallel_index(t...
20756  select /*+  no_parallel(t) no_parallel_index(t...
20760  select /*+  no_parallel(t) no_parallel_index(t...
20764  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
20747  select /*+  no_parallel(t) no_parallel_index(t...
20751  select /*+  no_parallel(t) no_parallel_index(t...
20755  select /*+  no_parallel(t) no_parallel_index(t...
20759  select /*+  no_parallel(t) no_parallel_index(t...
20763  select /*+  no_parallel(t) no_parallel_index(t...
20767  select /*+  no_parallel(t) no_parallel_index(t...
20776  select /*+  no_parallel(t) no_parallel_index(t...
20780  select /*+  no_parallel(t) no_parallel_index(t...
20784  select /*+  no_parallel(t) no_parallel_index(t...
20788  select /*+  no_parallel(t) no_parallel_index(t...
20792  select /*+  no_parallel(t) no_parallel_index(t...
20796  select /*+  no_parallel(t) no_parallel_index(t...
20777  select /*+  no_parallel(t) no_parallel_index(t...
20781  select /*+  no_parallel(t) no_parallel_index(t...
20785  select /*+  no_parallel(t) no_parallel_index(t...
20789  select /*+  no_parallel(t) no_parallel_index(t...
20793  select /*+  no_parallel(t) no_parallel_index(t...
20797  select /*+  no_parallel(t) no_parallel_index(t...
20778  select /*+  no_parallel(t) no_parallel_index(t...
20782  select /*+  no_parallel(t) no_parallel_index(t...
20786  select /*+  no_parallel(t) no_parallel_index(t...
20790  select /*+  no_parallel(t) no_parallel_index(t...
20794  select /*+  no_parallel(t) no_parallel_index(t...
20798  select /*+  no_parallel(t) no_parallel_index(t...
20779  select /*+  no_parallel(t) no_parallel_index(t...
20783  select /*+  no_parallel(t) no_parallel_index(t...
20787  select /*+  no_parallel(t) no_parallel_index(t...
20791  select /*+  no_parallel(t) no_parallel_index(t...
20795  select /*+  no_parallel(t) no_parallel_index(t...
20799  select /*+  no_parallel(t) no_parallel_index(t...

[72 rows x 1 columns]
                                                SQL_TEXT
24620  select /*+  no_parallel(t) no_parallel_index(t...
24624  select /*+  no_parallel(t) no_parallel_index(t...
24628  select /*+  no_parallel(t) no_parallel_index(t...
24632  select /*+  no_parallel(t) no_parallel_index(t...
24621  select /*+  no_parallel(t) no_parallel_index(t...
24625  select /*+  no_parallel(t) no_parallel_index(t...
24629  select /*+  no_parallel(t) no_parallel_index(t...
24633  select /*+  no_parallel(t) no_parallel_index(t...
24622  select /*+  no_parallel(t) no_parallel_index(t...
24626  select /*+  no_parallel(t) no_parallel_index(t...
24630  select /*+  no_parallel(t) no_parallel_index(t...
24634  select /*+  no_parallel(t) no_parallel_index(t...
24623  select /*+  no_parallel(t) no_parallel_index(t...
24627  select /*+  no_parallel(t) no_parallel_index(t...
24631  select /*+  no_parallel(t) no_parallel_index(t...
24635  select /*+  no_parallel(t) no_parallel_index(t...
24508  select /*+  no_parallel(t) no_parallel_index(t...
24512  select /*+  no_parallel(t) no_parallel_index(t...
24516  select /*+  no_parallel(t) no_parallel_index(t...
24520  select /*+  no_parallel(t) no_parallel_index(t...
24509  select /*+  no_parallel(t) no_parallel_index(t...
24513  select /*+  no_parallel(t) no_parallel_index(t...
24517  select /*+  no_parallel(t) no_parallel_index(t...
24521  select /*+  no_parallel(t) no_parallel_index(t...
24510  select /*+  no_parallel(t) no_parallel_index(t...
24514  select /*+  no_parallel(t) no_parallel_index(t...
24518  select /*+  no_parallel(t) no_parallel_index(t...
24522  select /*+  no_parallel(t) no_parallel_index(t...
24511  select /*+  no_parallel(t) no_parallel_index(t...
24515  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
24460  select /*+  no_parallel(t) no_parallel_index(t...
24464  select /*+  no_parallel(t) no_parallel_index(t...
24453  select /*+  no_parallel(t) no_parallel_index(t...
24457  select /*+  no_parallel(t) no_parallel_index(t...
24461  select /*+  no_parallel(t) no_parallel_index(t...
24465  select /*+  no_parallel(t) no_parallel_index(t...
24454  select /*+  no_parallel(t) no_parallel_index(t...
24458  select /*+  no_parallel(t) no_parallel_index(t...
24462  select /*+  no_parallel(t) no_parallel_index(t...
24466  select /*+  no_parallel(t) no_parallel_index(t...
24455  select /*+  no_parallel(t) no_parallel_index(t...
24459  select /*+  no_parallel(t) no_parallel_index(t...
24463  select /*+  no_parallel(t) no_parallel_index(t...
24467  select /*+  no_parallel(t) no_parallel_index(t...
24564  select /*+  no_parallel(t) no_parallel_index(t...
24568  select /*+  no_parallel(t) no_parallel_index(t...
24572  select /*+  no_parallel(t) no_parallel_index(t...
24576  select /*+  no_parallel(t) no_parallel_index(t...
24565  select /*+  no_parallel(t) no_parallel_index(t...
24569  select /*+  no_parallel(t) no_parallel_index(t...
24573  select /*+  no_parallel(t) no_parallel_index(t...
24577  select /*+  no_parallel(t) no_parallel_index(t...
24566  select /*+  no_parallel(t) no_parallel_index(t...
24570  select /*+  no_parallel(t) no_parallel_index(t...
24574  select /*+  no_parallel(t) no_parallel_index(t...
24578  select /*+  no_parallel(t) no_parallel_index(t...
24567  select /*+  no_parallel(t) no_parallel_index(t...
24571  select /*+  no_parallel(t) no_parallel_index(t...
24575  select /*+  no_parallel(t) no_parallel_index(t...
24579  select /*+  no_parallel(t) no_parallel_index(t...

[64 rows x 1 columns]
                                                SQL_TEXT
21928  select /*+  no_parallel(t) no_parallel_index(t...
21929  select /*+  no_parallel(t) no_parallel_index(t...
21930  select /*+  no_parallel(t) no_parallel_index(t...
21931  select /*+  no_parallel(t) no_parallel_index(t...
21676  select /*+  no_parallel(t) no_parallel_index(t...
21677  select /*+  no_parallel(t) no_parallel_index(t...
21678  select /*+  no_parallel(t) no_parallel_index(t...
21679  select /*+  no_parallel(t) no_parallel_index(t...
22936  select /*+  no_parallel(t) no_parallel_index(t...
22937  select /*+  no_parallel(t) no_parallel_index(t...
22938  select /*+  no_parallel(t) no_parallel_index(t...
22939  select /*+  no_parallel(t) no_parallel_index(t...
22180  select /*+  no_parallel(t) no_parallel_index(t...
22181  select /*+  no_parallel(t) no_parallel_index(t...
22182  select /*+  no_parallel(t) no_parallel_index(t...
22183  select /*+  no_parallel(t) no_parallel_index(t...
21424  select /*+  no_parallel(t) no_parallel_index(t...
21425  select /*+  no_parallel(t) no_parallel_index(t...
21426  select /*+  no_parallel(t) no_parallel_index(t...
21427  select /*+  no_parallel(t) no_parallel_index(t...
22432  select /*+  no_parallel(t) no_parallel_index(t...
22433  select /*+  no_parallel(t) no_parallel_index(t...
22434  select /*+  no_parallel(t) no_parallel_index(t...
22435  select /*+  no_parallel(t) no_parallel_index(t...
20920  select /*+  no_parallel(t) no_parallel_index(t...
20921  select /*+  no_parallel(t) no_parallel_index(t...
20922  select /*+  no_parallel(t) no_parallel_index(t...
20923  select /*+  no_parallel(t) no_parallel_index(t...
22684  select /*+  no_parallel(t) no_parallel_index(t...
22685  select /*+  no_parallel(t) no_parallel_index(t...
22686  select /*+  no_parallel(t) no_parallel_index(t...
22687  select /*+  no_parallel(t) no_parallel_index(t...
21172  select /*+  no_parallel(t) no_parallel_index(t...
21173  select /*+  no_parallel(t) no_parallel_index(t...
21174  select /*+  no_parallel(t) no_parallel_index(t...
21175  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
21932  select /*+  no_parallel(t) no_parallel_index(t...
21936  select /*+  no_parallel(t) no_parallel_index(t...
21933  select /*+  no_parallel(t) no_parallel_index(t...
21937  select /*+  no_parallel(t) no_parallel_index(t...
21934  select /*+  no_parallel(t) no_parallel_index(t...
21938  select /*+  no_parallel(t) no_parallel_index(t...
21935  select /*+  no_parallel(t) no_parallel_index(t...
21939  select /*+  no_parallel(t) no_parallel_index(t...
21680  select /*+  no_parallel(t) no_parallel_index(t...
21684  select /*+  no_parallel(t) no_parallel_index(t...
21681  select /*+  no_parallel(t) no_parallel_index(t...
21685  select /*+  no_parallel(t) no_parallel_index(t...
21682  select /*+  no_parallel(t) no_parallel_index(t...
21686  select /*+  no_parallel(t) no_parallel_index(t...
21683  select /*+  no_parallel(t) no_parallel_index(t...
21687  select /*+  no_parallel(t) no_parallel_index(t...
22940  select /*+  no_parallel(t) no_parallel_index(t...
22944  select /*+  no_parallel(t) no_parallel_index(t...
22941  select /*+  no_parallel(t) no_parallel_index(t...
22945  select /*+  no_parallel(t) no_parallel_index(t...
22942  select /*+  no_parallel(t) no_parallel_index(t...
22946  select /*+  no_parallel(t) no_parallel_index(t...
22943  select /*+  no_parallel(t) no_parallel_index(t...
22947  select /*+  no_parallel(t) no_parallel_index(t...
22184  select /*+  no_parallel(t) no_parallel_index(t...
22188  select /*+  no_parallel(t) no_parallel_index(t...
22185  select /*+  no_parallel(t) no_parallel_index(t...
22189  select /*+  no_parallel(t) no_parallel_index(t...
22186  select /*+  no_parallel(t) no_parallel_index(t...
22190  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
22437  select /*+  no_parallel(t) no_parallel_index(t...
22441  select /*+  no_parallel(t) no_parallel_index(t...
22438  select /*+  no_parallel(t) no_parallel_index(t...
22442  select /*+  no_parallel(t) no_parallel_index(t...
22439  select /*+  no_parallel(t) no_parallel_index(t...
22443  select /*+  no_parallel(t) no_parallel_index(t...
20924  select /*+  no_parallel(t) no_parallel_index(t...
20928  select /*+  no_parallel(t) no_parallel_index(t...
20925  select /*+  no_parallel(t) no_parallel_index(t...
20929  select /*+  no_parallel(t) no_parallel_index(t...
20926  select /*+  no_parallel(t) no_parallel_index(t...
20930  select /*+  no_parallel(t) no_parallel_index(t...
20927  select /*+  no_parallel(t) no_parallel_index(t...
20931  select /*+  no_parallel(t) no_parallel_index(t...
22688  select /*+  no_parallel(t) no_parallel_index(t...
22692  select /*+  no_parallel(t) no_parallel_index(t...
22689  select /*+  no_parallel(t) no_parallel_index(t...
22693  select /*+  no_parallel(t) no_parallel_index(t...
22690  select /*+  no_parallel(t) no_parallel_index(t...
22694  select /*+  no_parallel(t) no_parallel_index(t...
22691  select /*+  no_parallel(t) no_parallel_index(t...
22695  select /*+  no_parallel(t) no_parallel_index(t...
21176  select /*+  no_parallel(t) no_parallel_index(t...
21180  select /*+  no_parallel(t) no_parallel_index(t...
21177  select /*+  no_parallel(t) no_parallel_index(t...
21181  select /*+  no_parallel(t) no_parallel_index(t...
21178  select /*+  no_parallel(t) no_parallel_index(t...
21182  select /*+  no_parallel(t) no_parallel_index(t...
21179  select /*+  no_parallel(t) no_parallel_index(t...
21183  select /*+  no_parallel(t) no_parallel_index(t...

[72 rows x 1 columns]
                                                SQL_TEXT
19300  select /*+  no_parallel(t) no_parallel_index(t...
19301  select /*+  no_parallel(t) no_parallel_index(t...
19302  select /*+  no_parallel(t) no_parallel_index(t...
19303  select /*+  no_parallel(t) no_parallel_index(t...
19244  select /*+  no_parallel(t) no_parallel_index(t...
19245  select /*+  no_parallel(t) no_parallel_index(t...
19246  select /*+  no_parallel(t) no_parallel_index(t...
19247  select /*+  no_parallel(t) no_parallel_index(t...
19272  select /*+  no_parallel(t) no_parallel_index(t...
19384  select /*+  no_parallel(t) no_parallel_index(t...
19273  select /*+  no_parallel(t) no_parallel_index(t...
19385  select /*+  no_parallel(t) no_parallel_index(t...
19274  select /*+  no_parallel(t) no_parallel_index(t...
19386  select /*+  no_parallel(t) no_parallel_index(t...
19275  select /*+  no_parallel(t) no_parallel_index(t...
19387  select /*+  no_parallel(t) no_parallel_index(t...
19356  select /*+  no_parallel(t) no_parallel_index(t...
19357  select /*+  no_parallel(t) no_parallel_index(t...
19358  select /*+  no_parallel(t) no_parallel_index(t...
19359  select /*+  no_parallel(t) no_parallel_index(t...
19328  select /*+  no_parallel(t) no_parallel_index(t...
19329  select /*+  no_parallel(t) no_parallel_index(t...
19330  select /*+  no_parallel(t) no_parallel_index(t...
19331  select /*+  no_parallel(t) no_parallel_index(t...
19412  select /*+  no_parallel(t) no_parallel_index(t...
19413  select /*+  no_parallel(t) no_parallel_index(t...
19414  select /*+  no_parallel(t) no_parallel_index(t...
19415  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
21940  select /*+  no_parallel(t) no_parallel_index(t...
21944  select /*+  no_parallel(t) no_parallel_index(t...
21948  select /*+  no_parallel(t) no_parallel_index(t...
21952  select /*+  no_parallel(t) no_parallel_index(t...
21956  select /*+  no_parallel(t) no_parallel_index(t...
21960  select /*+  no_parallel(t) no_parallel_index(t...
21964  select /*+  no_parallel(t) no_parallel_index(t...
21968  select /*+  no_parallel(t) no_parallel_index(t...
21972  select /*+  no_parallel(t) no_parallel_index(t...
21976  select /*+  no_parallel(t) no_parallel_index(t...
21980  select /*+  no_parallel(t) no_parallel_index(t...
21984  select /*+  no_parallel(t) no_parallel_index(t...
21988  select /*+  no_parallel(t) no_parallel_index(t...
22036  select /*+  no_parallel(t) no_parallel_index(t...
22040  select /*+  no_parallel(t) no_parallel_index(t...
22044  select /*+  no_parallel(t) no_parallel_index(t...
22048  select /*+  no_parallel(t) no_parallel_index(t...
22052  select /*+  no_parallel(t) no_parallel_index(t...
22056  select /*+  no_parallel(t) no_parallel_index(t...
22060  select /*+  no_parallel(t) no_parallel_index(t...
21941  select /*+  no_parallel(t) no_parallel_index(t...
21945  select /*+  no_parallel(t) no_parallel_index(t...
21949  select /*+  no_parallel(t) no_parallel_index(t...
21953  select /*+  no_parallel(t) no_parallel_index(t...
21957  select /*+  no_parallel(t) no_parallel_index(t...
21961  select /*+  no_parallel(t) no_parallel_index(t...
21965  select /*+  no_parallel(t) no_parallel_index(t...
21969  select /*+  no_parallel(t) no_parallel_index(t...
21973  select /*+  no_parallel(t) no_parallel_index(t...
21977  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
21226  select /*+  no_parallel(t) no_parallel_index(t...
21230  select /*+  no_parallel(t) no_parallel_index(t...
21234  select /*+  no_parallel(t) no_parallel_index(t...
21282  select /*+  no_parallel(t) no_parallel_index(t...
21286  select /*+  no_parallel(t) no_parallel_index(t...
21290  select /*+  no_parallel(t) no_parallel_index(t...
21294  select /*+  no_parallel(t) no_parallel_index(t...
21298  select /*+  no_parallel(t) no_parallel_index(t...
21302  select /*+  no_parallel(t) no_parallel_index(t...
21306  select /*+  no_parallel(t) no_parallel_index(t...
21187  select /*+  no_parallel(t) no_parallel_index(t...
21191  select /*+  no_parallel(t) no_parallel_index(t...
21195  select /*+  no_parallel(t) no_parallel_index(t...
21199  select /*+  no_parallel(t) no_parallel_index(t...
21203  select /*+  no_parallel(t) no_parallel_index(t...
21207  select /*+  no_parallel(t) no_parallel_index(t...
21211  select /*+  no_parallel(t) no_parallel_index(t...
21215  select /*+  no_parallel(t) no_parallel_index(t...
21219  select /*+  no_parallel(t) no_parallel_index(t...
21223  select /*+  no_parallel(t) no_parallel_index(t...
21227  select /*+  no_parallel(t) no_parallel_index(t...
21231  select /*+  no_parallel(t) no_parallel_index(t...
21235  select /*+  no_parallel(t) no_parallel_index(t...
21283  select /*+  no_parallel(t) no_parallel_index(t...
21287  select /*+  no_parallel(t) no_parallel_index(t...
21291  select /*+  no_parallel(t) no_parallel_index(t...
21295  select /*+  no_parallel(t) no_parallel_index(t...
21299  select /*+  no_parallel(t) no_parallel_index(t...
21303  select /*+  no_parallel(t) no_parallel_index(t...
21307  select /*+  no_parallel(t) no_parallel_index(t...

[720 rows x 1 columns]
                                                SQL_TEXT
15853  insert /*+ append */ into sys.ora_temp_1_ds_22...
15854  insert /*+ append */ into sys.ora_temp_1_ds_22...
15855  insert /*+ append */ into sys.ora_temp_1_ds_22...
15856  insert /*+ append */ into sys.ora_temp_1_ds_22...
15857  insert /*+ append */ into sys.ora_temp_1_ds_22...
15858  insert /*+ append */ into sys.ora_temp_1_ds_22...
15859  insert /*+ append */ into sys.ora_temp_1_ds_22...
15860  insert /*+ append */ into sys.ora_temp_1_ds_22...
15861  insert /*+ append */ into sys.ora_temp_1_ds_22...

                                                SQL_TEXT
23220  select /*+  no_parallel(t) no_parallel_index(t...
23224  select /*+  no_parallel(t) no_parallel_index(t...
23228  select /*+  no_parallel(t) no_parallel_index(t...
23232  select /*+  no_parallel(t) no_parallel_index(t...
23236  select /*+  no_parallel(t) no_parallel_index(t...
23240  select /*+  no_parallel(t) no_parallel_index(t...
23244  select /*+  no_parallel(t) no_parallel_index(t...
23248  select /*+  no_parallel(t) no_parallel_index(t...
23221  select /*+  no_parallel(t) no_parallel_index(t...
23225  select /*+  no_parallel(t) no_parallel_index(t...
23229  select /*+  no_parallel(t) no_parallel_index(t...
23233  select /*+  no_parallel(t) no_parallel_index(t...
23237  select /*+  no_parallel(t) no_parallel_index(t...
23241  select /*+  no_parallel(t) no_parallel_index(t...
23245  select /*+  no_parallel(t) no_parallel_index(t...
23249  select /*+  no_parallel(t) no_parallel_index(t...
23222  select /*+  no_parallel(t) no_parallel_index(t...
23226  select /*+  no_parallel(t) no_parallel_index(t...
23230  select /*+  no_parallel(t) no_parallel_index(t...
23234  select /*+  no_parallel(t) no_parallel_index(t...
23238  select /*+  no_parallel(t) no_parallel_index(t...
23242  select /*+  no_parallel(t) no_parallel_index(t...
23246  select /*+  no_parallel(t) no_parallel_index(t...
23250  select /*+  no_parallel(t) no_parallel_index(t...
23223  select /*+  no_parallel(t) no_parallel_index(t...
23227  select /*+  no_parallel(t) no_parallel_index(t...
23231  select /*+  no_parallel(t) no_parallel_index(t...
23235  select /*+  no_parallel(t) no_parallel_index(t...
23239  select /*+  no_parallel(t) no_parallel_index(t...
23243  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
23176  select /*+  no_parallel(t) no_parallel_index(t...
23180  select /*+  no_parallel(t) no_parallel_index(t...
23184  select /*+  no_parallel(t) no_parallel_index(t...
23188  select /*+  no_parallel(t) no_parallel_index(t...
23192  select /*+  no_parallel(t) no_parallel_index(t...
23196  select /*+  no_parallel(t) no_parallel_index(t...
23169  select /*+  no_parallel(t) no_parallel_index(t...
23173  select /*+  no_parallel(t) no_parallel_index(t...
23177  select /*+  no_parallel(t) no_parallel_index(t...
23181  select /*+  no_parallel(t) no_parallel_index(t...
23185  select /*+  no_parallel(t) no_parallel_index(t...
23189  select /*+  no_parallel(t) no_parallel_index(t...
23193  select /*+  no_parallel(t) no_parallel_index(t...
23197  select /*+  no_parallel(t) no_parallel_index(t...
23170  select /*+  no_parallel(t) no_parallel_index(t...
23174  select /*+  no_parallel(t) no_parallel_index(t...
23178  select /*+  no_parallel(t) no_parallel_index(t...
23182  select /*+  no_parallel(t) no_parallel_index(t...
23186  select /*+  no_parallel(t) no_parallel_index(t...
23190  select /*+  no_parallel(t) no_parallel_index(t...
23194  select /*+  no_parallel(t) no_parallel_index(t...
23198  select /*+  no_parallel(t) no_parallel_index(t...
23171  select /*+  no_parallel(t) no_parallel_index(t...
23175  select /*+  no_parallel(t) no_parallel_index(t...
23179  select /*+  no_parallel(t) no_parallel_index(t...
23183  select /*+  no_parallel(t) no_parallel_index(t...
23187  select /*+  no_parallel(t) no_parallel_index(t...
23191  select /*+  no_parallel(t) no_parallel_index(t...
23195  select /*+  no_parallel(t) no_parallel_index(t...
23199  select /*+  no_parallel(t) no_parallel_index(t...

[64 rows x 1 columns]
                                                SQL_TEXT
11813  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11814  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11815  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11816  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11865  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11866  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11867  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11868  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12073  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12074  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12075  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12076  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12021  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12022  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12023  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12024  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12125  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12126  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12127  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12128  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12177  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12178  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12179  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12180  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11917  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11918  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11919  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11920  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11761  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11762  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11763  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11764  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12229  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12230  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12231  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12232  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11969  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11970  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11971  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11972  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11709  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11710  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11711  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11712  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12281  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12282  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12283  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12284  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
19216  select /*+  no_parallel(t) no_parallel_index(t...
19220  select /*+  no_parallel(t) no_parallel_index(t...
19224  select /*+  no_parallel(t) no_parallel_index(t...
19228  select /*+  no_parallel(t) no_parallel_index(t...
19232  select /*+  no_parallel(t) no_parallel_index(t...
19236  select /*+  no_parallel(t) no_parallel_index(t...
19217  select /*+  no_parallel(t) no_parallel_index(t...
19221  select /*+  no_parallel(t) no_parallel_index(t...
19225  select /*+  no_parallel(t) no_parallel_index(t...
19229  select /*+  no_parallel(t) no_parallel_index(t...
19233  select /*+  no_parallel(t) no_parallel_index(t...
19237  select /*+  no_parallel(t) no_parallel_index(t...
19218  select /*+  no_parallel(t) no_parallel_index(t...
19222  select /*+  no_parallel(t) no_parallel_index(t...
19226  select /*+  no_parallel(t) no_parallel_index(t...
19230  select /*+  no_parallel(t) no_parallel_index(t...
19234  select /*+  no_parallel(t) no_parallel_index(t...
19238  select /*+  no_parallel(t) no_parallel_index(t...
19219  select /*+  no_parallel(t) no_parallel_index(t...
19223  select /*+  no_parallel(t) no_parallel_index(t...
19227  select /*+  no_parallel(t) no_parallel_index(t...
19231  select /*+  no_parallel(t) no_parallel_index(t...
19235  select /*+  no_parallel(t) no_parallel_index(t...
19239  select /*+  no_parallel(t) no_parallel_index(t...
19188  select /*+  no_parallel(t) no_parallel_index(t...
19192  select /*+  no_parallel(t) no_parallel_index(t...
19196  select /*+  no_parallel(t) no_parallel_index(t...
19200  select /*+  no_parallel(t) no_parallel_index(t...
19204  select /*+  no_parallel(t) no_parallel_index(t...
19208  select /*+  no_parallel(t) no_parallel_index(t...
19189  select /*+  no_parallel(t) no_parallel_index(t...
19193  select /*+  no_parallel(t) no_parallel_index(t...
19197  select /*+  no_parallel(t) no_parallel_index(t...
19201  select /*+  no_parallel(t) no_parallel_index(t...
19205  select /*+  no_parallel(t) no_parallel_index(t...
19209  select /*+  no_parallel(t) no_parallel_index(t...
19190  select /*+  no_parallel(t) no_parallel_index(t...
19194  select /*+  no_parallel(t) no_parallel_index(t...
19198  select /*+  no_parallel(t) no_parallel_index(t...
19202  select /*+  no_parallel(t) no_parallel_index(t...
19206  select /*+  no_parallel(t) no_parallel_index(t...
19210  select /*+  no_parallel(t) no_parallel_index(t...
19191  select /*+  no_parallel(t) no_parallel_index(t...
19195  select /*+  no_parallel(t) no_parallel_index(t...
19199  select /*+  no_parallel(t) no_parallel_index(t...
19203  select /*+  no_parallel(t) no_parallel_index(t...
19207  select /*+  no_parallel(t) no_parallel_index(t...
19211  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
24196  select /*+  no_parallel(t) no_parallel_index(t...
24200  select /*+  no_parallel(t) no_parallel_index(t...
24204  select /*+  no_parallel(t) no_parallel_index(t...
24208  select /*+  no_parallel(t) no_parallel_index(t...
24212  select /*+  no_parallel(t) no_parallel_index(t...
24216  select /*+  no_parallel(t) no_parallel_index(t...
24220  select /*+  no_parallel(t) no_parallel_index(t...
24224  select /*+  no_parallel(t) no_parallel_index(t...
24228  select /*+  no_parallel(t) no_parallel_index(t...
24232  select /*+  no_parallel(t) no_parallel_index(t...
24236  select /*+  no_parallel(t) no_parallel_index(t...
24240  select /*+  no_parallel(t) no_parallel_index(t...
24244  select /*+  no_parallel(t) no_parallel_index(t...
24248  select /*+  no_parallel(t) no_parallel_index(t...
24197  select /*+  no_parallel(t) no_parallel_index(t...
24201  select /*+  no_parallel(t) no_parallel_index(t...
24205  select /*+  no_parallel(t) no_parallel_index(t...
24209  select /*+  no_parallel(t) no_parallel_index(t...
24213  select /*+  no_parallel(t) no_parallel_index(t...
24217  select /*+  no_parallel(t) no_parallel_index(t...
24221  select /*+  no_parallel(t) no_parallel_index(t...
24225  select /*+  no_parallel(t) no_parallel_index(t...
24229  select /*+  no_parallel(t) no_parallel_index(t...
24233  select /*+  no_parallel(t) no_parallel_index(t...
24237  select /*+  no_parallel(t) no_parallel_index(t...
24241  select /*+  no_parallel(t) no_parallel_index(t...
24245  select /*+  no_parallel(t) no_parallel_index(t...
24249  select /*+  no_parallel(t) no_parallel_index(t...
24198  select /*+  no_parallel(t) no_parallel_index(t...
24202  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
23541  select /*+  no_parallel(t) no_parallel_index(t...
23545  select /*+  no_parallel(t) no_parallel_index(t...
23494  select /*+  no_parallel(t) no_parallel_index(t...
23498  select /*+  no_parallel(t) no_parallel_index(t...
23502  select /*+  no_parallel(t) no_parallel_index(t...
23506  select /*+  no_parallel(t) no_parallel_index(t...
23510  select /*+  no_parallel(t) no_parallel_index(t...
23514  select /*+  no_parallel(t) no_parallel_index(t...
23518  select /*+  no_parallel(t) no_parallel_index(t...
23522  select /*+  no_parallel(t) no_parallel_index(t...
23526  select /*+  no_parallel(t) no_parallel_index(t...
23530  select /*+  no_parallel(t) no_parallel_index(t...
23534  select /*+  no_parallel(t) no_parallel_index(t...
23538  select /*+  no_parallel(t) no_parallel_index(t...
23542  select /*+  no_parallel(t) no_parallel_index(t...
23546  select /*+  no_parallel(t) no_parallel_index(t...
23495  select /*+  no_parallel(t) no_parallel_index(t...
23499  select /*+  no_parallel(t) no_parallel_index(t...
23503  select /*+  no_parallel(t) no_parallel_index(t...
23507  select /*+  no_parallel(t) no_parallel_index(t...
23511  select /*+  no_parallel(t) no_parallel_index(t...
23515  select /*+  no_parallel(t) no_parallel_index(t...
23519  select /*+  no_parallel(t) no_parallel_index(t...
23523  select /*+  no_parallel(t) no_parallel_index(t...
23527  select /*+  no_parallel(t) no_parallel_index(t...
23531  select /*+  no_parallel(t) no_parallel_index(t...
23535  select /*+  no_parallel(t) no_parallel_index(t...
23539  select /*+  no_parallel(t) no_parallel_index(t...
23543  select /*+  no_parallel(t) no_parallel_index(t...
23547  select /*+  no_parallel(t) no_parallel_index(t...

[336 rows x 1 columns]
                                                SQL_TEXT
19668  select /*+  no_parallel(t) no_parallel_index(t...
19669  select /*+  no_parallel(t) no_parallel_index(t...
19670  select /*+  no_parallel(t) no_parallel_index(t...
19671  select /*+  no_parallel(t) no_parallel_index(t...
19452  select /*+  no_parallel(t) no_parallel_index(t...
19596  select /*+  no_parallel(t) no_parallel_index(t...
19453  select /*+  no_parallel(t) no_parallel_index(t...
19597  select /*+  no_parallel(t) no_parallel_index(t...
19454  select /*+  no_parallel(t) no_parallel_index(t...
19598  select /*+  no_parallel(t) no_parallel_index(t...
19455  select /*+  no_parallel(t) no_parallel_index(t...
19599  select /*+  no_parallel(t) no_parallel_index(t...
19488  select /*+  no_parallel(t) no_parallel_index(t...
19489  select /*+  no_parallel(t) no_parallel_index(t...
19490  select /*+  no_parallel(t) no_parallel_index(t...
19491  select /*+  no_parallel(t) no_parallel_index(t...
19740  select /*+  no_parallel(t) no_parallel_index(t...
19741  select /*+  no_parallel(t) no_parallel_index(t...
19742  select /*+  no_parallel(t) no_parallel_index(t...
19743  select /*+  no_parallel(t) no_parallel_index(t...
19632  select /*+  no_parallel(t) no_parallel_index(t...
19633  select /*+  no_parallel(t) no_parallel_index(t...
19634  select /*+  no_parallel(t) no_parallel_index(t...
19635  select /*+  no_parallel(t) no_parallel_index(t...
19524  select /*+  no_parallel(t) no_parallel_index(t...
19525  select /*+  no_parallel(t) no_parallel_index(t...
19526  select /*+  no_parallel(t) no_parallel_index(t...
19527  select /*+  no_parallel(t) no_parallel_index(t...
19560  select /*+  no_parallel(t) no_parallel_index(t...
19704  select /*+  no_parallel(t) no_parallel_index(t...
19561  select /*+  no_parallel(t) no_parallel_index(t...
19705  select /*+  no_parallel(t) no_parallel_index(t...
19562  select /*+  no_parallel(t) no_parallel_index(t...
19706  select /*+  no_parallel(t) no_parallel_index(t...
19563  select /*+  no_parallel(t) no_parallel_index(t...
19707  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
15267  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15268  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15269  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15270  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15271  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15272  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15171  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15172  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15173  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15174  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15175  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15176  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15075  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15076  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15077  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15078  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15079  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15080  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14595  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14596  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14597  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14598  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14599  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14600  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14691  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14692  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14693  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14694  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14695  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14696  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14307  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14308  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14309  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14310  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14311  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14312  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14979  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14980  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14981  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14982  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14983  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14984  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14499  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14500  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14501  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14502  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14503  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14504  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13923  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13924  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13925  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13926  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13927  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13928  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13827  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13828  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13829  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13830  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13831  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13832  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                                SQL_TEXT
12535  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12536  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12537  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12538  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12319  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12320  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12321  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12322  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12571  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12572  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12573  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12574  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12355  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12356  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12357  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12358  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12463  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12464  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12465  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12466  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12391  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12392  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12393  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12394  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12607  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12608  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12609  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
15285  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15286  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15287  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15288  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15289  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15290  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15189  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15190  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15191  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15192  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15193  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15194  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15093  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15094  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15095  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15096  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15097  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15098  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14613  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14614  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14615  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14616  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14617  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14618  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14709  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14710  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14711  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14712  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14713  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14714  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14325  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14326  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14327  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14328  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14329  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14330  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14997  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14998  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14999  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15000  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15001  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15002  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14517  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14518  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14519  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14520  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14521  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14522  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13941  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13942  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13943  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13944  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13945  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13946  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13845  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13846  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13847  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13848  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13849  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13850  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                               SQL_TEXT
1093  /* SQL Analyze(1) */ select /*+  full(t)    no...
1094  /* SQL Analyze(1) */ select /*+  full(t)    no...
1095  /* SQL Analyze(1) */ select /*+  full(t)    no...
1096  /* SQL Analyze(1) */ select /*+  full(t)    no...
                                                SQL_TEXT
23076  select /*+  no_parallel(t) no_parallel_index(t...
23080  select /*+  no_parallel(t) no_parallel_index(t...
23084  select /*+  no_parallel(t) no_parallel_index(t...
23088  select /*+  no_parallel(t) no_parallel_index(t...
23092  select /*+  no_parallel(t) no_parallel_index(t...
23096  select /*+  no_parallel(t) no_parallel_index(t...
23100  select /*+  no_parallel(t) no_parallel_index(t...
23104  select /*+  no_parallel(t) no_parallel_index(t...
23108  select /*+  no_parallel(t) no_parallel_index(t...
23112  select /*+  no_parallel(t) no_parallel_index(t...
23116  select /*+  no_parallel(t) no_parallel_index(t...
23077  select /*+  no_parallel(t) no_parallel_index(t...
23081  select /*+  no_parallel(t) no_parallel_index(t...
23085  select /*+  no_parallel(t) no_parallel_index(t...
23089  select /*+  no_parallel(t) no_parallel_index(t...
23093  select /*+  no_parallel(t) no_parallel_index(t...
23097  select /*+  no_parallel(t) no_parallel_index(t...
23101  select /*+  no_parallel(t) no_parallel_index(t...
23105  select /*+  no_parallel(t) no_parallel_index(t...
23109  select /*+  no_parallel(t) no_parallel_index(t...
23113  select /*+  no_parallel(t) no_parallel_index(t...
23117  select /*+  no_parallel(t) no_parallel_index(t...
23078  select /*+  no_parallel(t) no_parallel_index(t...
23082  select /*+  no_parallel(t) no_parallel_index(t...
23086  select /*+  no_parallel(t) no_parallel_index(t...
23090  select /*+  no_parallel(t) no_parallel_index(t...
23094  select /*+  no_parallel(t) no_parallel_index(t...
23098  select /*+  no_parallel(t) no_parallel_index(t...
23102  select /*+  no_parallel(t) no_parallel_index(t...
23106  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
23137  select /*+  no_parallel(t) no_parallel_index(t...
23141  select /*+  no_parallel(t) no_parallel_index(t...
23145  select /*+  no_parallel(t) no_parallel_index(t...
23149  select /*+  no_parallel(t) no_parallel_index(t...
23153  select /*+  no_parallel(t) no_parallel_index(t...
23157  select /*+  no_parallel(t) no_parallel_index(t...
23161  select /*+  no_parallel(t) no_parallel_index(t...
23165  select /*+  no_parallel(t) no_parallel_index(t...
23126  select /*+  no_parallel(t) no_parallel_index(t...
23130  select /*+  no_parallel(t) no_parallel_index(t...
23134  select /*+  no_parallel(t) no_parallel_index(t...
23138  select /*+  no_parallel(t) no_parallel_index(t...
23142  select /*+  no_parallel(t) no_parallel_index(t...
23146  select /*+  no_parallel(t) no_parallel_index(t...
23150  select /*+  no_parallel(t) no_parallel_index(t...
23154  select /*+  no_parallel(t) no_parallel_index(t...
23158  select /*+  no_parallel(t) no_parallel_index(t...
23162  select /*+  no_parallel(t) no_parallel_index(t...
23166  select /*+  no_parallel(t) no_parallel_index(t...
23127  select /*+  no_parallel(t) no_parallel_index(t...
23131  select /*+  no_parallel(t) no_parallel_index(t...
23135  select /*+  no_parallel(t) no_parallel_index(t...
23139  select /*+  no_parallel(t) no_parallel_index(t...
23143  select /*+  no_parallel(t) no_parallel_index(t...
23147  select /*+  no_parallel(t) no_parallel_index(t...
23151  select /*+  no_parallel(t) no_parallel_index(t...
23155  select /*+  no_parallel(t) no_parallel_index(t...
23159  select /*+  no_parallel(t) no_parallel_index(t...
23163  select /*+  no_parallel(t) no_parallel_index(t...
23167  select /*+  no_parallel(t) no_parallel_index(t...

[88 rows x 1 columns]
                                                SQL_TEXT
20064  select /*+  no_parallel(t) no_parallel_index(t...
20068  select /*+  no_parallel(t) no_parallel_index(t...
20072  select /*+  no_parallel(t) no_parallel_index(t...
20076  select /*+  no_parallel(t) no_parallel_index(t...
20080  select /*+  no_parallel(t) no_parallel_index(t...
20084  select /*+  no_parallel(t) no_parallel_index(t...
20088  select /*+  no_parallel(t) no_parallel_index(t...
20092  select /*+  no_parallel(t) no_parallel_index(t...
20096  select /*+  no_parallel(t) no_parallel_index(t...
20100  select /*+  no_parallel(t) no_parallel_index(t...
20104  select /*+  no_parallel(t) no_parallel_index(t...
20108  select /*+  no_parallel(t) no_parallel_index(t...
20112  select /*+  no_parallel(t) no_parallel_index(t...
20116  select /*+  no_parallel(t) no_parallel_index(t...
20120  select /*+  no_parallel(t) no_parallel_index(t...
20124  select /*+  no_parallel(t) no_parallel_index(t...
20128  select /*+  no_parallel(t) no_parallel_index(t...
20132  select /*+  no_parallel(t) no_parallel_index(t...
20136  select /*+  no_parallel(t) no_parallel_index(t...
20065  select /*+  no_parallel(t) no_parallel_index(t...
20069  select /*+  no_parallel(t) no_parallel_index(t...
20073  select /*+  no_parallel(t) no_parallel_index(t...
20077  select /*+  no_parallel(t) no_parallel_index(t...
20081  select /*+  no_parallel(t) no_parallel_index(t...
20085  select /*+  no_parallel(t) no_parallel_index(t...
20089  select /*+  no_parallel(t) no_parallel_index(t...
20093  select /*+  no_parallel(t) no_parallel_index(t...
20097  select /*+  no_parallel(t) no_parallel_index(t...
20101  select /*+  no_parallel(t) no_parallel_index(t...
20105  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
20474  select /*+  no_parallel(t) no_parallel_index(t...
20478  select /*+  no_parallel(t) no_parallel_index(t...
20482  select /*+  no_parallel(t) no_parallel_index(t...
20486  select /*+  no_parallel(t) no_parallel_index(t...
20490  select /*+  no_parallel(t) no_parallel_index(t...
20494  select /*+  no_parallel(t) no_parallel_index(t...
20498  select /*+  no_parallel(t) no_parallel_index(t...
20502  select /*+  no_parallel(t) no_parallel_index(t...
20506  select /*+  no_parallel(t) no_parallel_index(t...
20510  select /*+  no_parallel(t) no_parallel_index(t...
20514  select /*+  no_parallel(t) no_parallel_index(t...
20443  select /*+  no_parallel(t) no_parallel_index(t...
20447  select /*+  no_parallel(t) no_parallel_index(t...
20451  select /*+  no_parallel(t) no_parallel_index(t...
20455  select /*+  no_parallel(t) no_parallel_index(t...
20459  select /*+  no_parallel(t) no_parallel_index(t...
20463  select /*+  no_parallel(t) no_parallel_index(t...
20467  select /*+  no_parallel(t) no_parallel_index(t...
20471  select /*+  no_parallel(t) no_parallel_index(t...
20475  select /*+  no_parallel(t) no_parallel_index(t...
20479  select /*+  no_parallel(t) no_parallel_index(t...
20483  select /*+  no_parallel(t) no_parallel_index(t...
20487  select /*+  no_parallel(t) no_parallel_index(t...
20491  select /*+  no_parallel(t) no_parallel_index(t...
20495  select /*+  no_parallel(t) no_parallel_index(t...
20499  select /*+  no_parallel(t) no_parallel_index(t...
20503  select /*+  no_parallel(t) no_parallel_index(t...
20507  select /*+  no_parallel(t) no_parallel_index(t...
20511  select /*+  no_parallel(t) no_parallel_index(t...
20515  select /*+  no_parallel(t) no_parallel_index(t...

[380 rows x 1 columns]
                                                SQL_TEXT
25090  select /*+  no_parallel_index(t, "SR_REASON_SK...
25091  select /*+  no_parallel_index(t, "SR_REASON_SK...
25092  select /*+  no_parallel_index(t, "SR_REASON_SK...
                                                SQL_TEXT
23272  select /*+  no_parallel(t) no_parallel_index(t...
23276  select /*+  no_parallel(t) no_parallel_index(t...
23280  select /*+  no_parallel(t) no_parallel_index(t...
23284  select /*+  no_parallel(t) no_parallel_index(t...
23288  select /*+  no_parallel(t) no_parallel_index(t...
23292  select /*+  no_parallel(t) no_parallel_index(t...
23296  select /*+  no_parallel(t) no_parallel_index(t...
23300  select /*+  no_parallel(t) no_parallel_index(t...
23304  select /*+  no_parallel(t) no_parallel_index(t...
23273  select /*+  no_parallel(t) no_parallel_index(t...
23277  select /*+  no_parallel(t) no_parallel_index(t...
23281  select /*+  no_parallel(t) no_parallel_index(t...
23285  select /*+  no_parallel(t) no_parallel_index(t...
23289  select /*+  no_parallel(t) no_parallel_index(t...
23293  select /*+  no_parallel(t) no_parallel_index(t...
23297  select /*+  no_parallel(t) no_parallel_index(t...
23301  select /*+  no_parallel(t) no_parallel_index(t...
23305  select /*+  no_parallel(t) no_parallel_index(t...
23274  select /*+  no_parallel(t) no_parallel_index(t...
23278  select /*+  no_parallel(t) no_parallel_index(t...
23282  select /*+  no_parallel(t) no_parallel_index(t...
23286  select /*+  no_parallel(t) no_parallel_index(t...
23290  select /*+  no_parallel(t) no_parallel_index(t...
23294  select /*+  no_parallel(t) no_parallel_index(t...
23298  select /*+  no_parallel(t) no_parallel_index(t...
23302  select /*+  no_parallel(t) no_parallel_index(t...
23306  select /*+  no_parallel(t) no_parallel_index(t...
23275  select /*+  no_parallel(t) no_parallel_index(t...
23279  select /*+  no_parallel(t) no_parallel_index(t...
23283  select /*+  no_parallel(t) no_parallel_index(t...
23287  select /*+  no_parallel(t) no_parallel_index(t...
23291  select /*+  no_parallel(t) no_parallel_index(t...
23295  select /*+  no_parallel(t) no_parallel_index(t...
23299  select /*+  no_parallel(t) no_parallel_index(t...
23303  select /*+  no_parallel(t) no_parallel_index(t...
23307  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
24252  select /*+  no_parallel(t) no_parallel_index(t...
24256  select /*+  no_parallel(t) no_parallel_index(t...
24260  select /*+  no_parallel(t) no_parallel_index(t...
24264  select /*+  no_parallel(t) no_parallel_index(t...
24268  select /*+  no_parallel(t) no_parallel_index(t...
24272  select /*+  no_parallel(t) no_parallel_index(t...
24276  select /*+  no_parallel(t) no_parallel_index(t...
24253  select /*+  no_parallel(t) no_parallel_index(t...
24257  select /*+  no_parallel(t) no_parallel_index(t...
24261  select /*+  no_parallel(t) no_parallel_index(t...
24265  select /*+  no_parallel(t) no_parallel_index(t...
24269  select /*+  no_parallel(t) no_parallel_index(t...
24273  select /*+  no_parallel(t) no_parallel_index(t...
24277  select /*+  no_parallel(t) no_parallel_index(t...
24254  select /*+  no_parallel(t) no_parallel_index(t...
24258  select /*+  no_parallel(t) no_parallel_index(t...
24262  select /*+  no_parallel(t) no_parallel_index(t...
24266  select /*+  no_parallel(t) no_parallel_index(t...
24270  select /*+  no_parallel(t) no_parallel_index(t...
24274  select /*+  no_parallel(t) no_parallel_index(t...
24278  select /*+  no_parallel(t) no_parallel_index(t...
24255  select /*+  no_parallel(t) no_parallel_index(t...
24259  select /*+  no_parallel(t) no_parallel_index(t...
24263  select /*+  no_parallel(t) no_parallel_index(t...
24267  select /*+  no_parallel(t) no_parallel_index(t...
24271  select /*+  no_parallel(t) no_parallel_index(t...
24275  select /*+  no_parallel(t) no_parallel_index(t...
24279  select /*+  no_parallel(t) no_parallel_index(t...
23724  select /*+  no_parallel(t) no_parallel_index(t...
23728  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
23395  select /*+  no_parallel(t) no_parallel_index(t...
23399  select /*+  no_parallel(t) no_parallel_index(t...
23548  select /*+  no_parallel(t) no_parallel_index(t...
23552  select /*+  no_parallel(t) no_parallel_index(t...
23556  select /*+  no_parallel(t) no_parallel_index(t...
23560  select /*+  no_parallel(t) no_parallel_index(t...
23564  select /*+  no_parallel(t) no_parallel_index(t...
23568  select /*+  no_parallel(t) no_parallel_index(t...
23572  select /*+  no_parallel(t) no_parallel_index(t...
23549  select /*+  no_parallel(t) no_parallel_index(t...
23553  select /*+  no_parallel(t) no_parallel_index(t...
23557  select /*+  no_parallel(t) no_parallel_index(t...
23561  select /*+  no_parallel(t) no_parallel_index(t...
23565  select /*+  no_parallel(t) no_parallel_index(t...
23569  select /*+  no_parallel(t) no_parallel_index(t...
23573  select /*+  no_parallel(t) no_parallel_index(t...
23550  select /*+  no_parallel(t) no_parallel_index(t...
23554  select /*+  no_parallel(t) no_parallel_index(t...
23558  select /*+  no_parallel(t) no_parallel_index(t...
23562  select /*+  no_parallel(t) no_parallel_index(t...
23566  select /*+  no_parallel(t) no_parallel_index(t...
23570  select /*+  no_parallel(t) no_parallel_index(t...
23574  select /*+  no_parallel(t) no_parallel_index(t...
23551  select /*+  no_parallel(t) no_parallel_index(t...
23555  select /*+  no_parallel(t) no_parallel_index(t...
23559  select /*+  no_parallel(t) no_parallel_index(t...
23563  select /*+  no_parallel(t) no_parallel_index(t...
23567  select /*+  no_parallel(t) no_parallel_index(t...
23571  select /*+  no_parallel(t) no_parallel_index(t...
23575  select /*+  no_parallel(t) no_parallel_index(t...

[168 rows x 1 columns]

                                                SQL_TEXT
47403  select substrb(dump(val,16,0,64),1,240) ep, cn...
47406  select substrb(dump(val,16,0,64),1,240) ep, cn...
47409  select substrb(dump(val,16,0,64),1,240) ep, cn...
47412  select substrb(dump(val,16,0,64),1,240) ep, cn...
47415  select substrb(dump(val,16,0,64),1,240) ep, cn...
47418  select substrb(dump(val,16,0,64),1,240) ep, cn...
47404  select substrb(dump(val,16,0,64),1,240) ep, cn...
47407  select substrb(dump(val,16,0,64),1,240) ep, cn...
47410  select substrb(dump(val,16,0,64),1,240) ep, cn...
47413  select substrb(dump(val,16,0,64),1,240) ep, cn...
47416  select substrb(dump(val,16,0,64),1,240) ep, cn...
47419  select substrb(dump(val,16,0,64),1,240) ep, cn...
47405  select substrb(dump(val,16,0,64),1,240) ep, cn...
47408  select substrb(dump(val,16,0,64),1,240) ep, cn...
47411  select substrb(dump(val,16,0,64),1,240) ep, cn...
47414  select substrb(dump(val,16,0,64),1,240) ep, cn...
47417  select substrb(dump(val,16,0,64),1,240) ep, cn...
47420  select substrb(dump(val,16,0,64),1,240) ep, cn...
                                                SQL_TEXT
24280  select /*+  no_parallel(t) no_parallel_index(t...
24284  select /*+  no_parallel(t) no_parallel_index(t...
24288  select /*+  no_parallel(t) no_parallel_index(t...
24292  select /*+  no_parallel(t) no_parallel_index(t...
24296  select /*+  no_parallel(t) no_parallel_index(t...
24300  select /*+  no_parallel(t) no_parallel_index(t...
24304  select /*+  no_parallel(t) no_parallel_index(t...
24308  select /*+  no_parallel(t) no_parallel_index(t...
24312  select /*+  no_parallel(t) no_parallel_index(t...
24316  select /*+  no_parallel(t) no_parallel_index(t...
24320  select /*+  no_parallel(t) no_parallel_index(t...
24324  select /*+  no_parallel(t) no_parallel_index(t...
24281  select /*+  no_parallel(t) no_parallel_index(t...
24285  select /*+  no_parallel(t) no_parallel_index(t...
24289  select /*+  no_parallel(t) no_parallel_index(t...
24293  select /*+  no_parallel(t) no_parallel_index(t...
24297  select /*+  no_parallel(t) no_parallel_index(t...
24301  select /*+  no_parallel(t) no_parallel_index(t...
24305  select /*+  no_parallel(t) no_parallel_index(t...
24309  select /*+  no_parallel(t) no_parallel_index(t...
24313  select /*+  no_parallel(t) no_parallel_index(t...
24317  select /*+  no_parallel(t) no_parallel_index(t...
24321  select /*+  no_parallel(t) no_parallel_index(t...
24325  select /*+  no_parallel(t) no_parallel_index(t...
24282  select /*+  no_parallel(t) no_parallel_index(t...
24286  select /*+  no_parallel(t) no_parallel_index(t...
24290  select /*+  no_parallel(t) no_parallel_index(t...
24294  select /*+  no_parallel(t) no_parallel_index(t...
24298  select /*+  no_parallel(t) no_parallel_index(t...
24302  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
23601  select /*+  no_parallel(t) no_parallel_index(t...
23605  select /*+  no_parallel(t) no_parallel_index(t...
23609  select /*+  no_parallel(t) no_parallel_index(t...
23613  select /*+  no_parallel(t) no_parallel_index(t...
23617  select /*+  no_parallel(t) no_parallel_index(t...
23621  select /*+  no_parallel(t) no_parallel_index(t...
23578  select /*+  no_parallel(t) no_parallel_index(t...
23582  select /*+  no_parallel(t) no_parallel_index(t...
23586  select /*+  no_parallel(t) no_parallel_index(t...
23590  select /*+  no_parallel(t) no_parallel_index(t...
23594  select /*+  no_parallel(t) no_parallel_index(t...
23598  select /*+  no_parallel(t) no_parallel_index(t...
23602  select /*+  no_parallel(t) no_parallel_index(t...
23606  select /*+  no_parallel(t) no_parallel_index(t...
23610  select /*+  no_parallel(t) no_parallel_index(t...
23614  select /*+  no_parallel(t) no_parallel_index(t...
23618  select /*+  no_parallel(t) no_parallel_index(t...
23622  select /*+  no_parallel(t) no_parallel_index(t...
23579  select /*+  no_parallel(t) no_parallel_index(t...
23583  select /*+  no_parallel(t) no_parallel_index(t...
23587  select /*+  no_parallel(t) no_parallel_index(t...
23591  select /*+  no_parallel(t) no_parallel_index(t...
23595  select /*+  no_parallel(t) no_parallel_index(t...
23599  select /*+  no_parallel(t) no_parallel_index(t...
23603  select /*+  no_parallel(t) no_parallel_index(t...
23607  select /*+  no_parallel(t) no_parallel_index(t...
23611  select /*+  no_parallel(t) no_parallel_index(t...
23615  select /*+  no_parallel(t) no_parallel_index(t...
23619  select /*+  no_parallel(t) no_parallel_index(t...
23623  select /*+  no_parallel(t) no_parallel_index(t...

[288 rows x 1 columns]
                                                SQL_TEXT
15862  insert /*+ append */ into sys.ora_temp_1_ds_22...
15863  insert /*+ append */ into sys.ora_temp_1_ds_22...
15864  insert /*+ append */ into sys.ora_temp_1_ds_22...
15865  insert /*+ append */ into sys.ora_temp_1_ds_22...
15866  insert /*+ append */ into sys.ora_temp_1_ds_22...
15867  insert /*+ append */ into sys.ora_temp_1_ds_22...
15868  insert /*+ append */ into sys.ora_temp_1_ds_22...
15869  insert /*+ append */ into sys.ora_temp_1_ds_22...
15870  insert /*+ append */ into sys.ora_temp_1_ds_22...
                                                SQL_TEXT
23252  select /*+  no_parallel(t) no_parallel_index(t...
23256  select /*+  no_parallel(t) no_parallel_index(t...
23260  select /*+  no_parallel(t) no_parallel_index(t...
23264  select /*+  no_parallel(t) no_parallel_index(t...
23268  select /*+  no_parallel(t) no_parallel_index(t...
23253  select /*+  no_parallel(t) no_parallel_index(t...
23257  select /*+  no_parallel(t) no_parallel_index(t...
23261  select /*+  no_parallel(t) no_parallel_index(t...
23265  select /*+  no_parallel(t) no_parallel_index(t...
23269  select /*+  no_parallel(t) no_parallel_index(t...
23254  select /*+  no_parallel(t) no_parallel_index(t...
23258  select /*+  no_parallel(t) no_parallel_index(t...
23262  select /*+  no_parallel(t) no_parallel_index(t...
23266  select /*+  no_parallel(t) no_parallel_index(t...
23270  select /*+  no_parallel(t) no_parallel_index(t...
23255  select /*+  no_parallel(t) no_parallel_index(t...
23259  select /*+  no_parallel(t) no_parallel_index(t...
23263  select /*+  no_parallel(t) no_parallel_index(t...
23267  select /*+  no_parallel(t) no_parallel_index(t...
23271  select /*+  no_parallel(t) no_parallel_index(t...
23200  select /*+  no_parallel(t) no_parallel_index(t...
23204  select /*+  no_parallel(t) no_parallel_index(t...
23208  select /*+  no_parallel(t) no_parallel_index(t...
23212  select /*+  no_parallel(t) no_parallel_index(t...
23216  select /*+  no_parallel(t) no_parallel_index(t...
23201  select /*+  no_parallel(t) no_parallel_index(t...
23205  select /*+  no_parallel(t) no_parallel_index(t...
23209  select /*+  no_parallel(t) no_parallel_index(t...
23213  select /*+  no_parallel(t) no_parallel_index(t...
23217  select /*+  no_parallel(t) no_parallel_index(t...
23202  select /*+  no_parallel(t) no_parallel_index(t...
23206  select /*+  no_parallel(t) no_parallel_index(t...
23210  select /*+  no_parallel(t) no_parallel_index(t...
23214  select /*+  no_parallel(t) no_parallel_index(t...
23218  select /*+  no_parallel(t) no_parallel_index(t...
23203  select /*+  no_parallel(t) no_parallel_index(t...
23207  select /*+  no_parallel(t) no_parallel_index(t...
23211  select /*+  no_parallel(t) no_parallel_index(t...
23215  select /*+  no_parallel(t) no_parallel_index(t...
23219  select /*+  no_parallel(t) no_parallel_index(t...
                                              SQL_TEXT
301  /* SQL Analyze(0) */ select /*+  full(t)    pa...
302  /* SQL Analyze(0) */ select /*+  full(t)    pa...
303  /* SQL Analyze(0) */ select /*+  full(t)    pa...
304  /* SQL Analyze(0) */ select /*+  full(t)    pa...
305  /* SQL Analyze(0) */ select /*+  full(t)    pa...
306  /* SQL Analyze(0) */ select /*+  full(t)    pa...
307  /* SQL Analyze(0) */ select /*+  full(t)    pa...
308  /* SQL Analyze(0) */ select /*+  full(t)    pa...
621  /* SQL Analyze(0) */ select /*+  full(t)    pa...
622  /* SQL Analyze(0) */ select /*+  full(t)    pa...
623  /* SQL Analyze(0) */ select /*+  full(t)    pa...
624  /* SQL Analyze(0) */ select /*+  full(t)    pa...
625  /* SQL Analyze(0) */ select /*+  full(t)    pa...
626  /* SQL Analyze(0) */ select /*+  full(t)    pa...
627  /* SQL Analyze(0) */ select /*+  full(t)    pa...
628  /* SQL Analyze(0) */ select /*+  full(t)    pa...
701  /* SQL Analyze(0) */ select /*+  full(t)    pa...
702  /* SQL Analyze(0) */ select /*+  full(t)    pa...
703  /* SQL Analyze(0) */ select /*+  full(t)    pa...
704  /* SQL Analyze(0) */ select /*+  full(t)    pa...
705  /* SQL Analyze(0) */ select /*+  full(t)    pa...
706  /* SQL Analyze(0) */ select /*+  full(t)    pa...
707  /* SQL Analyze(0) */ select /*+  full(t)    pa...
708  /* SQL Analyze(0) */ select /*+  full(t)    pa...
861  /* SQL Analyze(0) */ select /*+  full(t)    pa...
862  /* SQL Analyze(0) */ select /*+  full(t)    pa...
863  /* SQL Analyze(0) */ select /*+  full(t)    pa...
864  /* SQL Analyze(0) */ select /*+  full(t)    pa...
865  /* SQL Analyze(0) */ select /*+  full(t)    pa...
866  /* SQL Analyze(0) */ select /*+  full(t)    pa...
..                                                 ...
463  /* SQL Analyze(0) */ select /*+  full(t)    pa...
464  /* SQL Analyze(0) */ select /*+  full(t)    pa...
465  /* SQL Analyze(0) */ select /*+  full(t)    pa...
466  /* SQL Analyze(0) */ select /*+  full(t)    pa...
467  /* SQL Analyze(0) */ select /*+  full(t)    pa...
468  /* SQL Analyze(0) */ select /*+  full(t)    pa...
381  /* SQL Analyze(0) */ select /*+  full(t)    pa...
382  /* SQL Analyze(0) */ select /*+  full(t)    pa...
383  /* SQL Analyze(0) */ select /*+  full(t)    pa...
384  /* SQL Analyze(0) */ select /*+  full(t)    pa...
385  /* SQL Analyze(0) */ select /*+  full(t)    pa...
386  /* SQL Analyze(0) */ select /*+  full(t)    pa...
387  /* SQL Analyze(0) */ select /*+  full(t)    pa...
388  /* SQL Analyze(0) */ select /*+  full(t)    pa...
541  /* SQL Analyze(0) */ select /*+  full(t)    pa...
542  /* SQL Analyze(0) */ select /*+  full(t)    pa...
543  /* SQL Analyze(0) */ select /*+  full(t)    pa...
544  /* SQL Analyze(0) */ select /*+  full(t)    pa...
545  /* SQL Analyze(0) */ select /*+  full(t)    pa...
546  /* SQL Analyze(0) */ select /*+  full(t)    pa...
547  /* SQL Analyze(0) */ select /*+  full(t)    pa...
548  /* SQL Analyze(0) */ select /*+  full(t)    pa...
221  /* SQL Analyze(0) */ select /*+  full(t)    pa...
222  /* SQL Analyze(0) */ select /*+  full(t)    pa...
223  /* SQL Analyze(0) */ select /*+  full(t)    pa...
224  /* SQL Analyze(0) */ select /*+  full(t)    pa...
225  /* SQL Analyze(0) */ select /*+  full(t)    pa...
226  /* SQL Analyze(0) */ select /*+  full(t)    pa...
227  /* SQL Analyze(0) */ select /*+  full(t)    pa...
228  /* SQL Analyze(0) */ select /*+  full(t)    pa...

[72 rows x 1 columns]
                                                SQL_TEXT
12539  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12540  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12541  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12542  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12323  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12324  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12325  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12326  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12575  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12576  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12577  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12578  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12359  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12360  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12361  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12362  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12467  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12468  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12469  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12470  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12395  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12396  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12397  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12398  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12611  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12612  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12613  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12614  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12431  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12432  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12433  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12434  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12503  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12504  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12505  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12506  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
10669  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10681  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10670  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10682  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10671  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10683  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10672  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10684  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10673  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10685  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10674  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10686  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11119  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11131  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11120  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11132  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11121  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11133  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11122  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11134  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11123  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11135  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11124  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11136  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10489  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10501  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10490  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10502  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10503  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
10852  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10864  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10853  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10865  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10854  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10866  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10219  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10231  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10220  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10232  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10221  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10233  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10222  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10234  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10223  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10235  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10224  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10236  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11029  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11041  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11030  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11042  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11031  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11043  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11032  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11044  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11033  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11045  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11034  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11046  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[156 rows x 1 columns]
                                                SQL_TEXT
15429  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15430  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15431  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15432  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15433  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15434  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15339  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15459  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15340  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15460  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15341  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15461  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15342  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15462  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15343  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15463  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15344  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15464  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15399  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15400  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15401  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15402  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15403  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15404  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15369  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15370  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15371  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15372  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15373  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15374  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15291  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15292  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15293  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15294  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15295  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15296  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15195  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15196  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15197  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15198  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15199  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15200  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15099  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15100  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15101  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15102  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15103  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15104  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14619  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14620  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14621  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14622  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14623  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14624  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14715  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14716  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                              SQL_TEXT
101  /* SQL Analyze(0) */ select /*+  full(t)    no...
105  /* SQL Analyze(0) */ select /*+  full(t)    no...
102  /* SQL Analyze(0) */ select /*+  full(t)    no...
106  /* SQL Analyze(0) */ select /*+  full(t)    no...
103  /* SQL Analyze(0) */ select /*+  full(t)    no...
107  /* SQL Analyze(0) */ select /*+  full(t)    no...
104  /* SQL Analyze(0) */ select /*+  full(t)    no...
108  /* SQL Analyze(0) */ select /*+  full(t)    no...
                   SQL_TEXT
15693  create global tempor
15694  create global tempor
15695  create global tempor
15696  create global tempor
15713  create global tempor
15714  create global tempor
15715  create global tempor
15716  create global tempor
15733  create global tempor
15734  create global tempor
15735  create global tempor
15736  create global tempor
15753  create global tempor
15754  create global tempor
15755  create global tempor
15756  create global tempor
15673  create global tempor
15674  create global tempor
15675  create global tempor
15676  create global tempor
                                                SQL_TEXT
25257  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
25258  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
25259  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
25260  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
25261  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
25262  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
25263  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
25264  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
25265  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
25266  select /*+  parallel_index(t, "SS_TICKET_NUMBE...
                                                SQL_TEXT
15871  insert /*+ append */ into sys.ora_temp_1_ds_22...
15872  insert /*+ append */ into sys.ora_temp_1_ds_22...
15873  insert /*+ append */ into sys.ora_temp_1_ds_22...
15874  insert /*+ append */ into sys.ora_temp_1_ds_22...
15875  insert /*+ append */ into sys.ora_temp_1_ds_22...
15876  insert /*+ append */ into sys.ora_temp_1_ds_22...
15877  insert /*+ append */ into sys.ora_temp_1_ds_22...
15878  insert /*+ append */ into sys.ora_temp_1_ds_22...
15879  insert /*+ append */ into sys.ora_temp_1_ds_22...
                                                SQL_TEXT
25138  select /*+  no_parallel_index(t, "WR_REFUNDED_...
25141  select /*+  no_parallel_index(t, "WR_REFUNDED_...
25144  select /*+  no_parallel_index(t, "WR_REFUNDED_...
25139  select /*+  no_parallel_index(t, "WR_REFUNDED_...
25142  select /*+  no_parallel_index(t, "WR_REFUNDED_...
25145  select /*+  no_parallel_index(t, "WR_REFUNDED_...
25140  select /*+  no_parallel_index(t, "WR_REFUNDED_...
25143  select /*+  no_parallel_index(t, "WR_REFUNDED_...
25146  select /*+  no_parallel_index(t, "WR_REFUNDED_...
                                              SQL_TEXT
309  /* SQL Analyze(0) */ select /*+  full(t)    pa...
310  /* SQL Analyze(0) */ select /*+  full(t)    pa...
311  /* SQL Analyze(0) */ select /*+  full(t)    pa...
312  /* SQL Analyze(0) */ select /*+  full(t)    pa...
313  /* SQL Analyze(0) */ select /*+  full(t)    pa...
314  /* SQL Analyze(0) */ select /*+  full(t)    pa...
315  /* SQL Analyze(0) */ select /*+  full(t)    pa...
316  /* SQL Analyze(0) */ select /*+  full(t)    pa...
629  /* SQL Analyze(0) */ select /*+  full(t)    pa...
630  /* SQL Analyze(0) */ select /*+  full(t)    pa...
631  /* SQL Analyze(0) */ select /*+  full(t)    pa...
632  /* SQL Analyze(0) */ select /*+  full(t)    pa...
633  /* SQL Analyze(0) */ select /*+  full(t)    pa...
634  /* SQL Analyze(0) */ select /*+  full(t)    pa...
635  /* SQL Analyze(0) */ select /*+  full(t)    pa...
636  /* SQL Analyze(0) */ select /*+  full(t)    pa...
709  /* SQL Analyze(0) */ select /*+  full(t)    pa...
710  /* SQL Analyze(0) */ select /*+  full(t)    pa...
711  /* SQL Analyze(0) */ select /*+  full(t)    pa...
712  /* SQL Analyze(0) */ select /*+  full(t)    pa...
713  /* SQL Analyze(0) */ select /*+  full(t)    pa...
714  /* SQL Analyze(0) */ select /*+  full(t)    pa...
715  /* SQL Analyze(0) */ select /*+  full(t)    pa...
716  /* SQL Analyze(0) */ select /*+  full(t)    pa...
869  /* SQL Analyze(0) */ select /*+  full(t)    pa...
870  /* SQL Analyze(0) */ select /*+  full(t)    pa...
871  /* SQL Analyze(0) */ select /*+  full(t)    pa...
872  /* SQL Analyze(0) */ select /*+  full(t)    pa...
873  /* SQL Analyze(0) */ select /*+  full(t)    pa...
874  /* SQL Analyze(0) */ select /*+  full(t)    pa...
..                                                 ...
471  /* SQL Analyze(0) */ select /*+  full(t)    pa...
472  /* SQL Analyze(0) */ select /*+  full(t)    pa...
473  /* SQL Analyze(0) */ select /*+  full(t)    pa...
474  /* SQL Analyze(0) */ select /*+  full(t)    pa...
475  /* SQL Analyze(0) */ select /*+  full(t)    pa...
476  /* SQL Analyze(0) */ select /*+  full(t)    pa...
389  /* SQL Analyze(0) */ select /*+  full(t)    pa...
390  /* SQL Analyze(0) */ select /*+  full(t)    pa...
391  /* SQL Analyze(0) */ select /*+  full(t)    pa...
392  /* SQL Analyze(0) */ select /*+  full(t)    pa...
393  /* SQL Analyze(0) */ select /*+  full(t)    pa...
394  /* SQL Analyze(0) */ select /*+  full(t)    pa...
395  /* SQL Analyze(0) */ select /*+  full(t)    pa...
396  /* SQL Analyze(0) */ select /*+  full(t)    pa...
549  /* SQL Analyze(0) */ select /*+  full(t)    pa...
550  /* SQL Analyze(0) */ select /*+  full(t)    pa...
551  /* SQL Analyze(0) */ select /*+  full(t)    pa...
552  /* SQL Analyze(0) */ select /*+  full(t)    pa...
553  /* SQL Analyze(0) */ select /*+  full(t)    pa...
554  /* SQL Analyze(0) */ select /*+  full(t)    pa...
555  /* SQL Analyze(0) */ select /*+  full(t)    pa...
556  /* SQL Analyze(0) */ select /*+  full(t)    pa...
229  /* SQL Analyze(0) */ select /*+  full(t)    pa...
230  /* SQL Analyze(0) */ select /*+  full(t)    pa...
231  /* SQL Analyze(0) */ select /*+  full(t)    pa...
232  /* SQL Analyze(0) */ select /*+  full(t)    pa...
233  /* SQL Analyze(0) */ select /*+  full(t)    pa...
234  /* SQL Analyze(0) */ select /*+  full(t)    pa...
235  /* SQL Analyze(0) */ select /*+  full(t)    pa...
236  /* SQL Analyze(0) */ select /*+  full(t)    pa...

[72 rows x 1 columns]
                                                SQL_TEXT
11817  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11818  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11819  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11820  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11869  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11870  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11871  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11872  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12077  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12078  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12079  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12080  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12025  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12026  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12027  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12028  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12129  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12130  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12131  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12132  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12181  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12182  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12183  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12184  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11921  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11922  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11923  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11924  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11765  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11766  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11767  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11768  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12233  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12234  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12235  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12236  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11973  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11974  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11975  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11976  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11713  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11714  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11715  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11716  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12285  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12286  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12287  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12288  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
24328  select /*+  no_parallel(t) no_parallel_index(t...
24332  select /*+  no_parallel(t) no_parallel_index(t...
24336  select /*+  no_parallel(t) no_parallel_index(t...
24340  select /*+  no_parallel(t) no_parallel_index(t...
24344  select /*+  no_parallel(t) no_parallel_index(t...
24348  select /*+  no_parallel(t) no_parallel_index(t...
24329  select /*+  no_parallel(t) no_parallel_index(t...
24333  select /*+  no_parallel(t) no_parallel_index(t...
24337  select /*+  no_parallel(t) no_parallel_index(t...
24341  select /*+  no_parallel(t) no_parallel_index(t...
24345  select /*+  no_parallel(t) no_parallel_index(t...
24349  select /*+  no_parallel(t) no_parallel_index(t...
24330  select /*+  no_parallel(t) no_parallel_index(t...
24334  select /*+  no_parallel(t) no_parallel_index(t...
24338  select /*+  no_parallel(t) no_parallel_index(t...
24342  select /*+  no_parallel(t) no_parallel_index(t...
24346  select /*+  no_parallel(t) no_parallel_index(t...
24350  select /*+  no_parallel(t) no_parallel_index(t...
24331  select /*+  no_parallel(t) no_parallel_index(t...
24335  select /*+  no_parallel(t) no_parallel_index(t...
24339  select /*+  no_parallel(t) no_parallel_index(t...
24343  select /*+  no_parallel(t) no_parallel_index(t...
24347  select /*+  no_parallel(t) no_parallel_index(t...
24351  select /*+  no_parallel(t) no_parallel_index(t...
23800  select /*+  no_parallel(t) no_parallel_index(t...
23804  select /*+  no_parallel(t) no_parallel_index(t...
23808  select /*+  no_parallel(t) no_parallel_index(t...
23812  select /*+  no_parallel(t) no_parallel_index(t...
23816  select /*+  no_parallel(t) no_parallel_index(t...
23820  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
23451  select /*+  no_parallel(t) no_parallel_index(t...
23455  select /*+  no_parallel(t) no_parallel_index(t...
23459  select /*+  no_parallel(t) no_parallel_index(t...
23463  select /*+  no_parallel(t) no_parallel_index(t...
23467  select /*+  no_parallel(t) no_parallel_index(t...
23471  select /*+  no_parallel(t) no_parallel_index(t...
23624  select /*+  no_parallel(t) no_parallel_index(t...
23628  select /*+  no_parallel(t) no_parallel_index(t...
23632  select /*+  no_parallel(t) no_parallel_index(t...
23636  select /*+  no_parallel(t) no_parallel_index(t...
23640  select /*+  no_parallel(t) no_parallel_index(t...
23644  select /*+  no_parallel(t) no_parallel_index(t...
23625  select /*+  no_parallel(t) no_parallel_index(t...
23629  select /*+  no_parallel(t) no_parallel_index(t...
23633  select /*+  no_parallel(t) no_parallel_index(t...
23637  select /*+  no_parallel(t) no_parallel_index(t...
23641  select /*+  no_parallel(t) no_parallel_index(t...
23645  select /*+  no_parallel(t) no_parallel_index(t...
23626  select /*+  no_parallel(t) no_parallel_index(t...
23630  select /*+  no_parallel(t) no_parallel_index(t...
23634  select /*+  no_parallel(t) no_parallel_index(t...
23638  select /*+  no_parallel(t) no_parallel_index(t...
23642  select /*+  no_parallel(t) no_parallel_index(t...
23646  select /*+  no_parallel(t) no_parallel_index(t...
23627  select /*+  no_parallel(t) no_parallel_index(t...
23631  select /*+  no_parallel(t) no_parallel_index(t...
23635  select /*+  no_parallel(t) no_parallel_index(t...
23639  select /*+  no_parallel(t) no_parallel_index(t...
23643  select /*+  no_parallel(t) no_parallel_index(t...
23647  select /*+  no_parallel(t) no_parallel_index(t...

[144 rows x 1 columns]
                                                SQL_TEXT
21992  select /*+  no_parallel(t) no_parallel_index(t...
21993  select /*+  no_parallel(t) no_parallel_index(t...
21994  select /*+  no_parallel(t) no_parallel_index(t...
21995  select /*+  no_parallel(t) no_parallel_index(t...
21740  select /*+  no_parallel(t) no_parallel_index(t...
21741  select /*+  no_parallel(t) no_parallel_index(t...
21742  select /*+  no_parallel(t) no_parallel_index(t...
21743  select /*+  no_parallel(t) no_parallel_index(t...
23000  select /*+  no_parallel(t) no_parallel_index(t...
23001  select /*+  no_parallel(t) no_parallel_index(t...
23002  select /*+  no_parallel(t) no_parallel_index(t...
23003  select /*+  no_parallel(t) no_parallel_index(t...
22244  select /*+  no_parallel(t) no_parallel_index(t...
22245  select /*+  no_parallel(t) no_parallel_index(t...
22246  select /*+  no_parallel(t) no_parallel_index(t...
22247  select /*+  no_parallel(t) no_parallel_index(t...
21488  select /*+  no_parallel(t) no_parallel_index(t...
21489  select /*+  no_parallel(t) no_parallel_index(t...
21490  select /*+  no_parallel(t) no_parallel_index(t...
21491  select /*+  no_parallel(t) no_parallel_index(t...
22496  select /*+  no_parallel(t) no_parallel_index(t...
22497  select /*+  no_parallel(t) no_parallel_index(t...
22498  select /*+  no_parallel(t) no_parallel_index(t...
22499  select /*+  no_parallel(t) no_parallel_index(t...
20984  select /*+  no_parallel(t) no_parallel_index(t...
20985  select /*+  no_parallel(t) no_parallel_index(t...
20986  select /*+  no_parallel(t) no_parallel_index(t...
20987  select /*+  no_parallel(t) no_parallel_index(t...
22748  select /*+  no_parallel(t) no_parallel_index(t...
22749  select /*+  no_parallel(t) no_parallel_index(t...
22750  select /*+  no_parallel(t) no_parallel_index(t...
22751  select /*+  no_parallel(t) no_parallel_index(t...
21236  select /*+  no_parallel(t) no_parallel_index(t...
21237  select /*+  no_parallel(t) no_parallel_index(t...
21238  select /*+  no_parallel(t) no_parallel_index(t...
21239  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
19176  select /*+  no_parallel(t) no_parallel_index(t...
19177  select /*+  no_parallel(t) no_parallel_index(t...
19178  select /*+  no_parallel(t) no_parallel_index(t...
19179  select /*+  no_parallel(t) no_parallel_index(t...
19184  select /*+  no_parallel(t) no_parallel_index(t...
19185  select /*+  no_parallel(t) no_parallel_index(t...
19186  select /*+  no_parallel(t) no_parallel_index(t...
19187  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
24644  select /*+  no_parallel(t) no_parallel_index(t...
24648  select /*+  no_parallel(t) no_parallel_index(t...
24652  select /*+  no_parallel(t) no_parallel_index(t...
24656  select /*+  no_parallel(t) no_parallel_index(t...
24660  select /*+  no_parallel(t) no_parallel_index(t...
24664  select /*+  no_parallel(t) no_parallel_index(t...
24668  select /*+  no_parallel(t) no_parallel_index(t...
24645  select /*+  no_parallel(t) no_parallel_index(t...
24649  select /*+  no_parallel(t) no_parallel_index(t...
24653  select /*+  no_parallel(t) no_parallel_index(t...
24657  select /*+  no_parallel(t) no_parallel_index(t...
24661  select /*+  no_parallel(t) no_parallel_index(t...
24665  select /*+  no_parallel(t) no_parallel_index(t...
24669  select /*+  no_parallel(t) no_parallel_index(t...
24646  select /*+  no_parallel(t) no_parallel_index(t...
24650  select /*+  no_parallel(t) no_parallel_index(t...
24654  select /*+  no_parallel(t) no_parallel_index(t...
24658  select /*+  no_parallel(t) no_parallel_index(t...
24662  select /*+  no_parallel(t) no_parallel_index(t...
24666  select /*+  no_parallel(t) no_parallel_index(t...
24670  select /*+  no_parallel(t) no_parallel_index(t...
24647  select /*+  no_parallel(t) no_parallel_index(t...
24651  select /*+  no_parallel(t) no_parallel_index(t...
24655  select /*+  no_parallel(t) no_parallel_index(t...
24659  select /*+  no_parallel(t) no_parallel_index(t...
24663  select /*+  no_parallel(t) no_parallel_index(t...
24667  select /*+  no_parallel(t) no_parallel_index(t...
24671  select /*+  no_parallel(t) no_parallel_index(t...
24532  select /*+  no_parallel(t) no_parallel_index(t...
24536  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
24499  select /*+  no_parallel(t) no_parallel_index(t...
24503  select /*+  no_parallel(t) no_parallel_index(t...
24588  select /*+  no_parallel(t) no_parallel_index(t...
24592  select /*+  no_parallel(t) no_parallel_index(t...
24596  select /*+  no_parallel(t) no_parallel_index(t...
24600  select /*+  no_parallel(t) no_parallel_index(t...
24604  select /*+  no_parallel(t) no_parallel_index(t...
24608  select /*+  no_parallel(t) no_parallel_index(t...
24612  select /*+  no_parallel(t) no_parallel_index(t...
24589  select /*+  no_parallel(t) no_parallel_index(t...
24593  select /*+  no_parallel(t) no_parallel_index(t...
24597  select /*+  no_parallel(t) no_parallel_index(t...
24601  select /*+  no_parallel(t) no_parallel_index(t...
24605  select /*+  no_parallel(t) no_parallel_index(t...
24609  select /*+  no_parallel(t) no_parallel_index(t...
24613  select /*+  no_parallel(t) no_parallel_index(t...
24590  select /*+  no_parallel(t) no_parallel_index(t...
24594  select /*+  no_parallel(t) no_parallel_index(t...
24598  select /*+  no_parallel(t) no_parallel_index(t...
24602  select /*+  no_parallel(t) no_parallel_index(t...
24606  select /*+  no_parallel(t) no_parallel_index(t...
24610  select /*+  no_parallel(t) no_parallel_index(t...
24614  select /*+  no_parallel(t) no_parallel_index(t...
24591  select /*+  no_parallel(t) no_parallel_index(t...
24595  select /*+  no_parallel(t) no_parallel_index(t...
24599  select /*+  no_parallel(t) no_parallel_index(t...
24603  select /*+  no_parallel(t) no_parallel_index(t...
24607  select /*+  no_parallel(t) no_parallel_index(t...
24611  select /*+  no_parallel(t) no_parallel_index(t...
24615  select /*+  no_parallel(t) no_parallel_index(t...

[112 rows x 1 columns]
                                                SQL_TEXT
25147  select /*+  no_parallel_index(t, "WR_RETURNED_...
25150  select /*+  no_parallel_index(t, "WR_RETURNED_...
25153  select /*+  no_parallel_index(t, "WR_RETURNED_...
25156  select /*+  no_parallel_index(t, "WR_RETURNED_...
25159  select /*+  no_parallel_index(t, "WR_RETURNED_...
25162  select /*+  no_parallel_index(t, "WR_RETURNED_...
25165  select /*+  no_parallel_index(t, "WR_RETURNED_...
25168  select /*+  no_parallel_index(t, "WR_RETURNED_...
25171  select /*+  no_parallel_index(t, "WR_RETURNED_...
25174  select /*+  no_parallel_index(t, "WR_RETURNED_...
25177  select /*+  no_parallel_index(t, "WR_RETURNED_...
25180  select /*+  no_parallel_index(t, "WR_RETURNED_...
25183  select /*+  no_parallel_index(t, "WR_RETURNED_...
25186  select /*+  no_parallel_index(t, "WR_RETURNED_...
25189  select /*+  no_parallel_index(t, "WR_RETURNED_...
25192  select /*+  no_parallel_index(t, "WR_RETURNED_...
25195  select /*+  no_parallel_index(t, "WR_RETURNED_...
25198  select /*+  no_parallel_index(t, "WR_RETURNED_...
25201  select /*+  no_parallel_index(t, "WR_RETURNED_...
25204  select /*+  no_parallel_index(t, "WR_RETURNED_...
25148  select /*+  no_parallel_index(t, "WR_RETURNED_...
25151  select /*+  no_parallel_index(t, "WR_RETURNED_...
25154  select /*+  no_parallel_index(t, "WR_RETURNED_...
25157  select /*+  no_parallel_index(t, "WR_RETURNED_...
25160  select /*+  no_parallel_index(t, "WR_RETURNED_...
25163  select /*+  no_parallel_index(t, "WR_RETURNED_...
25166  select /*+  no_parallel_index(t, "WR_RETURNED_...
25169  select /*+  no_parallel_index(t, "WR_RETURNED_...
25172  select /*+  no_parallel_index(t, "WR_RETURNED_...
25175  select /*+  no_parallel_index(t, "WR_RETURNED_...
25178  select /*+  no_parallel_index(t, "WR_RETURNED_...
25181  select /*+  no_parallel_index(t, "WR_RETURNED_...
25184  select /*+  no_parallel_index(t, "WR_RETURNED_...
25187  select /*+  no_parallel_index(t, "WR_RETURNED_...
25190  select /*+  no_parallel_index(t, "WR_RETURNED_...
25193  select /*+  no_parallel_index(t, "WR_RETURNED_...
25196  select /*+  no_parallel_index(t, "WR_RETURNED_...
25199  select /*+  no_parallel_index(t, "WR_RETURNED_...
25202  select /*+  no_parallel_index(t, "WR_RETURNED_...
25205  select /*+  no_parallel_index(t, "WR_RETURNED_...
25149  select /*+  no_parallel_index(t, "WR_RETURNED_...
25152  select /*+  no_parallel_index(t, "WR_RETURNED_...
25155  select /*+  no_parallel_index(t, "WR_RETURNED_...
25158  select /*+  no_parallel_index(t, "WR_RETURNED_...
25161  select /*+  no_parallel_index(t, "WR_RETURNED_...
25164  select /*+  no_parallel_index(t, "WR_RETURNED_...
25167  select /*+  no_parallel_index(t, "WR_RETURNED_...
25170  select /*+  no_parallel_index(t, "WR_RETURNED_...
25173  select /*+  no_parallel_index(t, "WR_RETURNED_...
25176  select /*+  no_parallel_index(t, "WR_RETURNED_...
25179  select /*+  no_parallel_index(t, "WR_RETURNED_...
25182  select /*+  no_parallel_index(t, "WR_RETURNED_...
25185  select /*+  no_parallel_index(t, "WR_RETURNED_...
25188  select /*+  no_parallel_index(t, "WR_RETURNED_...
25191  select /*+  no_parallel_index(t, "WR_RETURNED_...
25194  select /*+  no_parallel_index(t, "WR_RETURNED_...
25197  select /*+  no_parallel_index(t, "WR_RETURNED_...
25200  select /*+  no_parallel_index(t, "WR_RETURNED_...
25203  select /*+  no_parallel_index(t, "WR_RETURNED_...
25206  select /*+  no_parallel_index(t, "WR_RETURNED_...
                                                SQL_TEXT
56885  with sr_items as\n (select i_item_id item_id,\...
56939  with sr_items as\n (select i_item_id item_id,\...
56993  with sr_items as\n (select i_item_id item_id,\...
57047  with sr_items as\n (select i_item_id item_id,\...
57101  with sr_items as\n (select i_item_id item_id,\...
57155  with sr_items as\n (select i_item_id item_id,\...
57209  with sr_items as\n (select i_item_id item_id,\...
57263  with sr_items as\n (select i_item_id item_id,\...
57317  with sr_items as\n (select i_item_id item_id,\...
57371  with sr_items as\n (select i_item_id item_id,\...
57425  with sr_items as\n (select i_item_id item_id,\...
57479  with sr_items as\n (select i_item_id item_id,\...
57533  with sr_items as\n (select i_item_id item_id,\...
56886  with sr_items as\n (select i_item_id item_id,\...
56940  with sr_items as\n (select i_item_id item_id,\...
56994  with sr_items as\n (select i_item_id item_id,\...
57048  with sr_items as\n (select i_item_id item_id,\...
57102  with sr_items as\n (select i_item_id item_id,\...
57156  with sr_items as\n (select i_item_id item_id,\...
57210  with sr_items as\n (select i_item_id item_id,\...
57264  with sr_items as\n (select i_item_id item_id,\...
57318  with sr_items as\n (select i_item_id item_id,\...
57372  with sr_items as\n (select i_item_id item_id,\...
57426  with sr_items as\n (select i_item_id item_id,\...
57480  with sr_items as\n (select i_item_id item_id,\...
57534  with sr_items as\n (select i_item_id item_id,\...
56887  with sr_items as\n (select i_item_id item_id,\...
56941  with sr_items as\n (select i_item_id item_id,\...
56995  with sr_items as\n (select i_item_id item_id,\...
57049  with sr_items as\n (select i_item_id item_id,\...
...                                                  ...
57422  with sr_items as\n (select i_item_id item_id,\...
57476  with sr_items as\n (select i_item_id item_id,\...
57530  with sr_items as\n (select i_item_id item_id,\...
57584  with sr_items as\n (select i_item_id item_id,\...
56937  with sr_items as\n (select i_item_id item_id,\...
56991  with sr_items as\n (select i_item_id item_id,\...
57045  with sr_items as\n (select i_item_id item_id,\...
57099  with sr_items as\n (select i_item_id item_id,\...
57153  with sr_items as\n (select i_item_id item_id,\...
57207  with sr_items as\n (select i_item_id item_id,\...
57261  with sr_items as\n (select i_item_id item_id,\...
57315  with sr_items as\n (select i_item_id item_id,\...
57369  with sr_items as\n (select i_item_id item_id,\...
57423  with sr_items as\n (select i_item_id item_id,\...
57477  with sr_items as\n (select i_item_id item_id,\...
57531  with sr_items as\n (select i_item_id item_id,\...
57585  with sr_items as\n (select i_item_id item_id,\...
56938  with sr_items as\n (select i_item_id item_id,\...
56992  with sr_items as\n (select i_item_id item_id,\...
57046  with sr_items as\n (select i_item_id item_id,\...
57100  with sr_items as\n (select i_item_id item_id,\...
57154  with sr_items as\n (select i_item_id item_id,\...
57208  with sr_items as\n (select i_item_id item_id,\...
57262  with sr_items as\n (select i_item_id item_id,\...
57316  with sr_items as\n (select i_item_id item_id,\...
57370  with sr_items as\n (select i_item_id item_id,\...
57424  with sr_items as\n (select i_item_id item_id,\...
57478  with sr_items as\n (select i_item_id item_id,\...
57532  with sr_items as\n (select i_item_id item_id,\...
57586  with sr_items as\n (select i_item_id item_id,\...

[702 rows x 1 columns]
                                                SQL_TEXT
13335  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13419  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13336  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13420  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13337  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13421  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13338  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13422  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13339  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13423  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13340  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13424  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13167  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13168  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13169  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13170  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13171  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13172  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13251  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13252  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13253  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13254  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13255  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13256  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13503  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13504  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13505  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13506  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13507  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13508  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13083  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13084  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13085  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13086  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13087  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13088  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12915  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12916  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12917  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12918  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12919  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12920  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13671  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13672  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13673  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13674  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13675  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13676  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12831  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12832  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12833  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12834  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12835  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12836  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
10687  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10688  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10689  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10690  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10691  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10692  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11137  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11138  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11139  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11140  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11141  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11142  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10507  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10508  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10509  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10510  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10511  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10512  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11227  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11228  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11229  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11230  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11231  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11232  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10777  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10778  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10779  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10780  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10781  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10782  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
10147  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10148  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10149  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10150  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10151  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10152  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10417  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10418  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10419  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10420  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10421  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10422  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10867  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10868  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10869  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10870  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10871  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10872  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10237  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10238  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10239  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10240  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10241  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10242  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11047  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11048  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11049  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11050  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11051  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11052  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
10693  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10694  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10695  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10696  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10697  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10698  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11143  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11144  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11145  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11146  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11147  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11148  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10513  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10514  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10515  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10516  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10517  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10518  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11233  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11234  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11235  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11236  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11237  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11238  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10783  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10784  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10785  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10786  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10787  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10788  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
10153  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10154  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10155  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10156  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10157  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10158  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10423  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10424  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10425  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10426  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10427  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10428  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10873  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10874  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10875  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10876  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10877  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10878  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10243  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10244  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10245  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10246  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10247  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10248  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11053  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11054  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11055  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11056  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11057  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11058  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                              SQL_TEXT
117  /* SQL Analyze(0) */ select /*+  full(t)    pa...
118  /* SQL Analyze(0) */ select /*+  full(t)    pa...
119  /* SQL Analyze(0) */ select /*+  full(t)    pa...
120  /* SQL Analyze(0) */ select /*+  full(t)    pa...
121  /* SQL Analyze(0) */ select /*+  full(t)    pa...
122  /* SQL Analyze(0) */ select /*+  full(t)    pa...
123  /* SQL Analyze(0) */ select /*+  full(t)    pa...
124  /* SQL Analyze(0) */ select /*+  full(t)    pa...
141  /* SQL Analyze(0) */ select /*+  full(t)    pa...
142  /* SQL Analyze(0) */ select /*+  full(t)    pa...
143  /* SQL Analyze(0) */ select /*+  full(t)    pa...
144  /* SQL Analyze(0) */ select /*+  full(t)    pa...
145  /* SQL Analyze(0) */ select /*+  full(t)    pa...
146  /* SQL Analyze(0) */ select /*+  full(t)    pa...
147  /* SQL Analyze(0) */ select /*+  full(t)    pa...
148  /* SQL Analyze(0) */ select /*+  full(t)    pa...
165  /* SQL Analyze(0) */ select /*+  full(t)    pa...
166  /* SQL Analyze(0) */ select /*+  full(t)    pa...
167  /* SQL Analyze(0) */ select /*+  full(t)    pa...
168  /* SQL Analyze(0) */ select /*+  full(t)    pa...
169  /* SQL Analyze(0) */ select /*+  full(t)    pa...
170  /* SQL Analyze(0) */ select /*+  full(t)    pa...
171  /* SQL Analyze(0) */ select /*+  full(t)    pa...
172  /* SQL Analyze(0) */ select /*+  full(t)    pa...
                                                SQL_TEXT
13341  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13425  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13342  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13426  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13343  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13427  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13344  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13428  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13345  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13429  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13346  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13430  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13173  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13174  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13175  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13176  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13177  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13178  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13257  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13258  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13259  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13260  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13261  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13262  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13509  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13510  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13511  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13512  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13513  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13514  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13089  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13090  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13091  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13092  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13093  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13094  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12921  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12922  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12923  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12924  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12925  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12926  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13677  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13678  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13679  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13680  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13681  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13682  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12837  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12838  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12839  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12840  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12841  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12842  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12753  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12754  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12755  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12756  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12757  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12758  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
13347  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13431  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13348  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13432  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13349  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13433  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13350  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13434  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13351  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13435  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13352  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13436  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13179  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13180  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13181  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13182  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13183  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13184  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13263  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13264  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13265  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13266  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13267  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13268  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13515  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13516  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13517  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13518  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13519  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13520  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13095  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13096  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13097  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13098  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13099  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13100  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12927  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12928  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12929  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12930  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12931  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12932  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13683  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13684  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13685  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13686  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13687  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13688  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12843  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12844  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12845  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12846  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12847  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12848  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12759  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12760  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12761  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12762  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12763  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12764  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
10699  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10700  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10701  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10702  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10703  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10704  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11149  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11150  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11151  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11152  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11153  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11154  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10519  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10520  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10521  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10522  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10523  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10524  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11239  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11240  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11241  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11242  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11243  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11244  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10789  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10790  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10791  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10792  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10793  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10794  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
10159  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10160  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10161  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10162  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10163  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10164  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10429  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10430  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10431  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10432  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10433  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10434  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10879  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10880  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10881  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10882  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10883  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10884  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10249  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10250  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10251  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10252  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10253  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10254  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11059  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11060  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11061  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11062  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11063  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11064  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]

                                               SQL_TEXT
9850  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9851  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9852  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9853  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9854  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9855  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9856  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9857  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9858  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9859  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9860  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9861  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9862  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9863  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5923  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5924  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5925  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5926  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6363  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6364  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6365  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6366  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5813  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5814  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5815  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5816  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5868  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5869  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5870  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5871  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6088  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6089  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6090  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6091  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6033  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6034  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6035  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6036  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6253  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6254  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6255  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6256  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6198  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6199  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6200  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6201  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5978  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5979  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5980  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5981  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6308  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6309  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6310  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6311  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6143  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6144  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6145  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6146  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                              SQL_TEXT
317  /* SQL Analyze(0) */ select /*+  full(t)    pa...
318  /* SQL Analyze(0) */ select /*+  full(t)    pa...
319  /* SQL Analyze(0) */ select /*+  full(t)    pa...
320  /* SQL Analyze(0) */ select /*+  full(t)    pa...
321  /* SQL Analyze(0) */ select /*+  full(t)    pa...
322  /* SQL Analyze(0) */ select /*+  full(t)    pa...
323  /* SQL Analyze(0) */ select /*+  full(t)    pa...
324  /* SQL Analyze(0) */ select /*+  full(t)    pa...
637  /* SQL Analyze(0) */ select /*+  full(t)    pa...
638  /* SQL Analyze(0) */ select /*+  full(t)    pa...
639  /* SQL Analyze(0) */ select /*+  full(t)    pa...
640  /* SQL Analyze(0) */ select /*+  full(t)    pa...
641  /* SQL Analyze(0) */ select /*+  full(t)    pa...
642  /* SQL Analyze(0) */ select /*+  full(t)    pa...
643  /* SQL Analyze(0) */ select /*+  full(t)    pa...
644  /* SQL Analyze(0) */ select /*+  full(t)    pa...
717  /* SQL Analyze(0) */ select /*+  full(t)    pa...
718  /* SQL Analyze(0) */ select /*+  full(t)    pa...
719  /* SQL Analyze(0) */ select /*+  full(t)    pa...
720  /* SQL Analyze(0) */ select /*+  full(t)    pa...
721  /* SQL Analyze(0) */ select /*+  full(t)    pa...
722  /* SQL Analyze(0) */ select /*+  full(t)    pa...
723  /* SQL Analyze(0) */ select /*+  full(t)    pa...
724  /* SQL Analyze(0) */ select /*+  full(t)    pa...
877  /* SQL Analyze(0) */ select /*+  full(t)    pa...
878  /* SQL Analyze(0) */ select /*+  full(t)    pa...
879  /* SQL Analyze(0) */ select /*+  full(t)    pa...
880  /* SQL Analyze(0) */ select /*+  full(t)    pa...
881  /* SQL Analyze(0) */ select /*+  full(t)    pa...
882  /* SQL Analyze(0) */ select /*+  full(t)    pa...
..                                                 ...
479  /* SQL Analyze(0) */ select /*+  full(t)    pa...
480  /* SQL Analyze(0) */ select /*+  full(t)    pa...
481  /* SQL Analyze(0) */ select /*+  full(t)    pa...
482  /* SQL Analyze(0) */ select /*+  full(t)    pa...
483  /* SQL Analyze(0) */ select /*+  full(t)    pa...
484  /* SQL Analyze(0) */ select /*+  full(t)    pa...
397  /* SQL Analyze(0) */ select /*+  full(t)    pa...
398  /* SQL Analyze(0) */ select /*+  full(t)    pa...
399  /* SQL Analyze(0) */ select /*+  full(t)    pa...
400  /* SQL Analyze(0) */ select /*+  full(t)    pa...
401  /* SQL Analyze(0) */ select /*+  full(t)    pa...
402  /* SQL Analyze(0) */ select /*+  full(t)    pa...
403  /* SQL Analyze(0) */ select /*+  full(t)    pa...
404  /* SQL Analyze(0) */ select /*+  full(t)    pa...
557  /* SQL Analyze(0) */ select /*+  full(t)    pa...
558  /* SQL Analyze(0) */ select /*+  full(t)    pa...
559  /* SQL Analyze(0) */ select /*+  full(t)    pa...
560  /* SQL Analyze(0) */ select /*+  full(t)    pa...
561  /* SQL Analyze(0) */ select /*+  full(t)    pa...
562  /* SQL Analyze(0) */ select /*+  full(t)    pa...
563  /* SQL Analyze(0) */ select /*+  full(t)    pa...
564  /* SQL Analyze(0) */ select /*+  full(t)    pa...
237  /* SQL Analyze(0) */ select /*+  full(t)    pa...
238  /* SQL Analyze(0) */ select /*+  full(t)    pa...
239  /* SQL Analyze(0) */ select /*+  full(t)    pa...
240  /* SQL Analyze(0) */ select /*+  full(t)    pa...
241  /* SQL Analyze(0) */ select /*+  full(t)    pa...
242  /* SQL Analyze(0) */ select /*+  full(t)    pa...
243  /* SQL Analyze(0) */ select /*+  full(t)    pa...
244  /* SQL Analyze(0) */ select /*+  full(t)    pa...

[72 rows x 1 columns]
                                                SQL_TEXT
21996  select /*+  no_parallel(t) no_parallel_index(t...
21997  select /*+  no_parallel(t) no_parallel_index(t...
21998  select /*+  no_parallel(t) no_parallel_index(t...
21999  select /*+  no_parallel(t) no_parallel_index(t...
21744  select /*+  no_parallel(t) no_parallel_index(t...
21745  select /*+  no_parallel(t) no_parallel_index(t...
21746  select /*+  no_parallel(t) no_parallel_index(t...
21747  select /*+  no_parallel(t) no_parallel_index(t...
23004  select /*+  no_parallel(t) no_parallel_index(t...
23005  select /*+  no_parallel(t) no_parallel_index(t...
23006  select /*+  no_parallel(t) no_parallel_index(t...
23007  select /*+  no_parallel(t) no_parallel_index(t...
22248  select /*+  no_parallel(t) no_parallel_index(t...
22249  select /*+  no_parallel(t) no_parallel_index(t...
22250  select /*+  no_parallel(t) no_parallel_index(t...
22251  select /*+  no_parallel(t) no_parallel_index(t...
21492  select /*+  no_parallel(t) no_parallel_index(t...
21493  select /*+  no_parallel(t) no_parallel_index(t...
21494  select /*+  no_parallel(t) no_parallel_index(t...
21495  select /*+  no_parallel(t) no_parallel_index(t...
22500  select /*+  no_parallel(t) no_parallel_index(t...
22501  select /*+  no_parallel(t) no_parallel_index(t...
22502  select /*+  no_parallel(t) no_parallel_index(t...
22503  select /*+  no_parallel(t) no_parallel_index(t...
20988  select /*+  no_parallel(t) no_parallel_index(t...
20989  select /*+  no_parallel(t) no_parallel_index(t...
20990  select /*+  no_parallel(t) no_parallel_index(t...
20991  select /*+  no_parallel(t) no_parallel_index(t...
22752  select /*+  no_parallel(t) no_parallel_index(t...
22753  select /*+  no_parallel(t) no_parallel_index(t...
22754  select /*+  no_parallel(t) no_parallel_index(t...
22755  select /*+  no_parallel(t) no_parallel_index(t...
21240  select /*+  no_parallel(t) no_parallel_index(t...
21241  select /*+  no_parallel(t) no_parallel_index(t...
21242  select /*+  no_parallel(t) no_parallel_index(t...
21243  select /*+  no_parallel(t) no_parallel_index(t...
Empty DataFrame
Columns: [SQL_TEXT]
Index: []
                                         SQL_TEXT
15641  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15644  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15647  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15650  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15653  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15656  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15659  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15662  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15642  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15645  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15648  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15651  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15654  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15657  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15660  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15663  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15643  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15646  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15649  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15652  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15655  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15658  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15661  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
15664  SELECT MAX(WP_WEB_PAGE_SK)+1 FROM WEB_PAGE
                                                SQL_TEXT
25132  select /*+  no_parallel_index(t, "WR_REASON_SK...
25135  select /*+  no_parallel_index(t, "WR_REASON_SK...
25133  select /*+  no_parallel_index(t, "WR_REASON_SK...
25136  select /*+  no_parallel_index(t, "WR_REASON_SK...
25134  select /*+  no_parallel_index(t, "WR_REASON_SK...
25137  select /*+  no_parallel_index(t, "WR_REASON_SK...
                                                SQL_TEXT
10087  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10099  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10088  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10100  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10089  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10101  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10090  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10102  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10091  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10103  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10092  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10104  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
10093  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10105  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10094  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10106  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10095  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10107  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10096  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10108  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10097  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10109  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10098  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10110  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
12543  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12544  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12545  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12546  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12327  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12328  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12329  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12330  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12579  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12580  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12581  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12582  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12363  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12364  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12365  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12366  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12471  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12472  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12473  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12474  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12399  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12400  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12401  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12402  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12615  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12616  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12617  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12618  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12435  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12436  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12437  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12438  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12507  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12508  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12509  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12510  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15297  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15298  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15299  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15300  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15301  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15302  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15201  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15202  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15203  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15204  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15205  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15206  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15105  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15106  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15107  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15108  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15109  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15110  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14625  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14626  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14627  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14628  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14629  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14630  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14721  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14722  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14723  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14724  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14725  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14726  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14337  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14338  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14339  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14340  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14341  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14342  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15009  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15010  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15011  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15012  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15013  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15014  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14529  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14530  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14531  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14532  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14533  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14534  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13953  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13954  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13955  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13956  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13957  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13958  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13857  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13858  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13859  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13860  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13861  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13862  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                               SQL_TEXT
5927  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5928  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5929  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5930  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6367  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6368  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6369  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6370  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5817  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5818  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5819  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5820  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5872  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5873  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5874  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5875  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6092  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6093  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6094  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6095  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6037  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6038  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6039  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6040  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6257  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6258  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6259  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6260  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6202  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6203  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6204  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6205  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5982  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5983  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5984  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5985  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6312  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6313  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6314  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
15880  insert /*+ append */ into sys.ora_temp_1_ds_23...
15881  insert /*+ append */ into sys.ora_temp_1_ds_23...
15882  insert /*+ append */ into sys.ora_temp_1_ds_23...
15883  insert /*+ append */ into sys.ora_temp_1_ds_23...
15884  insert /*+ append */ into sys.ora_temp_1_ds_23...
15885  insert /*+ append */ into sys.ora_temp_1_ds_23...
15886  insert /*+ append */ into sys.ora_temp_1_ds_23...
15887  insert /*+ append */ into sys.ora_temp_1_ds_23...
15888  insert /*+ append */ into sys.ora_temp_1_ds_23...
                                               SQL_TEXT
5931  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5932  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5933  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5934  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6371  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6372  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6373  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6374  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5821  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5822  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5823  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5824  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5876  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5877  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5878  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5879  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6096  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6097  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6098  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6099  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6041  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6042  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6043  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6044  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6261  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6262  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6263  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6264  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6206  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6207  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6208  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6209  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5986  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5987  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5988  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5989  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6316  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6317  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6318  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6319  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6151  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6152  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6153  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6154  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
24888  select /*+  no_parallel(t) no_parallel_index(t...
24892  select /*+  no_parallel(t) no_parallel_index(t...
24896  select /*+  no_parallel(t) no_parallel_index(t...
24900  select /*+  no_parallel(t) no_parallel_index(t...
24904  select /*+  no_parallel(t) no_parallel_index(t...
24908  select /*+  no_parallel(t) no_parallel_index(t...
24912  select /*+  no_parallel(t) no_parallel_index(t...
24916  select /*+  no_parallel(t) no_parallel_index(t...
24920  select /*+  no_parallel(t) no_parallel_index(t...
24924  select /*+  no_parallel(t) no_parallel_index(t...
24928  select /*+  no_parallel(t) no_parallel_index(t...
24932  select /*+  no_parallel(t) no_parallel_index(t...
24936  select /*+  no_parallel(t) no_parallel_index(t...
24940  select /*+  no_parallel(t) no_parallel_index(t...
24944  select /*+  no_parallel(t) no_parallel_index(t...
24889  select /*+  no_parallel(t) no_parallel_index(t...
24893  select /*+  no_parallel(t) no_parallel_index(t...
24897  select /*+  no_parallel(t) no_parallel_index(t...
24901  select /*+  no_parallel(t) no_parallel_index(t...
24905  select /*+  no_parallel(t) no_parallel_index(t...
24909  select /*+  no_parallel(t) no_parallel_index(t...
24913  select /*+  no_parallel(t) no_parallel_index(t...
24917  select /*+  no_parallel(t) no_parallel_index(t...
24921  select /*+  no_parallel(t) no_parallel_index(t...
24925  select /*+  no_parallel(t) no_parallel_index(t...
24929  select /*+  no_parallel(t) no_parallel_index(t...
24933  select /*+  no_parallel(t) no_parallel_index(t...
24937  select /*+  no_parallel(t) no_parallel_index(t...
24941  select /*+  no_parallel(t) no_parallel_index(t...
24945  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
24798  select /*+  no_parallel(t) no_parallel_index(t...
24802  select /*+  no_parallel(t) no_parallel_index(t...
24806  select /*+  no_parallel(t) no_parallel_index(t...
24810  select /*+  no_parallel(t) no_parallel_index(t...
24814  select /*+  no_parallel(t) no_parallel_index(t...
24818  select /*+  no_parallel(t) no_parallel_index(t...
24822  select /*+  no_parallel(t) no_parallel_index(t...
24826  select /*+  no_parallel(t) no_parallel_index(t...
24830  select /*+  no_parallel(t) no_parallel_index(t...
24834  select /*+  no_parallel(t) no_parallel_index(t...
24838  select /*+  no_parallel(t) no_parallel_index(t...
24842  select /*+  no_parallel(t) no_parallel_index(t...
24846  select /*+  no_parallel(t) no_parallel_index(t...
24850  select /*+  no_parallel(t) no_parallel_index(t...
24854  select /*+  no_parallel(t) no_parallel_index(t...
24799  select /*+  no_parallel(t) no_parallel_index(t...
24803  select /*+  no_parallel(t) no_parallel_index(t...
24807  select /*+  no_parallel(t) no_parallel_index(t...
24811  select /*+  no_parallel(t) no_parallel_index(t...
24815  select /*+  no_parallel(t) no_parallel_index(t...
24819  select /*+  no_parallel(t) no_parallel_index(t...
24823  select /*+  no_parallel(t) no_parallel_index(t...
24827  select /*+  no_parallel(t) no_parallel_index(t...
24831  select /*+  no_parallel(t) no_parallel_index(t...
24835  select /*+  no_parallel(t) no_parallel_index(t...
24839  select /*+  no_parallel(t) no_parallel_index(t...
24843  select /*+  no_parallel(t) no_parallel_index(t...
24847  select /*+  no_parallel(t) no_parallel_index(t...
24851  select /*+  no_parallel(t) no_parallel_index(t...
24855  select /*+  no_parallel(t) no_parallel_index(t...

[240 rows x 1 columns]
                                               SQL_TEXT
1097  /* SQL Analyze(1) */ select /*+  full(t)    no...
1098  /* SQL Analyze(1) */ select /*+  full(t)    no...
1099  /* SQL Analyze(1) */ select /*+  full(t)    no...
1100  /* SQL Analyze(1) */ select /*+  full(t)    no...
                                                SQL_TEXT
15889  insert /*+ append */ into sys.ora_temp_1_ds_23...
15890  insert /*+ append */ into sys.ora_temp_1_ds_23...
15891  insert /*+ append */ into sys.ora_temp_1_ds_23...
15892  insert /*+ append */ into sys.ora_temp_1_ds_23...
15893  insert /*+ append */ into sys.ora_temp_1_ds_23...
15894  insert /*+ append */ into sys.ora_temp_1_ds_23...
15895  insert /*+ append */ into sys.ora_temp_1_ds_23...
15896  insert /*+ append */ into sys.ora_temp_1_ds_23...
15897  insert /*+ append */ into sys.ora_temp_1_ds_23...
                                                SQL_TEXT
19672  select /*+  no_parallel(t) no_parallel_index(t...
19673  select /*+  no_parallel(t) no_parallel_index(t...
19674  select /*+  no_parallel(t) no_parallel_index(t...
19675  select /*+  no_parallel(t) no_parallel_index(t...
19456  select /*+  no_parallel(t) no_parallel_index(t...
19600  select /*+  no_parallel(t) no_parallel_index(t...
19457  select /*+  no_parallel(t) no_parallel_index(t...
19601  select /*+  no_parallel(t) no_parallel_index(t...
19458  select /*+  no_parallel(t) no_parallel_index(t...
19602  select /*+  no_parallel(t) no_parallel_index(t...
19459  select /*+  no_parallel(t) no_parallel_index(t...
19603  select /*+  no_parallel(t) no_parallel_index(t...
19492  select /*+  no_parallel(t) no_parallel_index(t...
19493  select /*+  no_parallel(t) no_parallel_index(t...
19494  select /*+  no_parallel(t) no_parallel_index(t...
19495  select /*+  no_parallel(t) no_parallel_index(t...
19744  select /*+  no_parallel(t) no_parallel_index(t...
19745  select /*+  no_parallel(t) no_parallel_index(t...
19746  select /*+  no_parallel(t) no_parallel_index(t...
19747  select /*+  no_parallel(t) no_parallel_index(t...
19636  select /*+  no_parallel(t) no_parallel_index(t...
19637  select /*+  no_parallel(t) no_parallel_index(t...
19638  select /*+  no_parallel(t) no_parallel_index(t...
19639  select /*+  no_parallel(t) no_parallel_index(t...
19528  select /*+  no_parallel(t) no_parallel_index(t...
19529  select /*+  no_parallel(t) no_parallel_index(t...
19530  select /*+  no_parallel(t) no_parallel_index(t...
19531  select /*+  no_parallel(t) no_parallel_index(t...
19564  select /*+  no_parallel(t) no_parallel_index(t...
19708  select /*+  no_parallel(t) no_parallel_index(t...
19565  select /*+  no_parallel(t) no_parallel_index(t...
19709  select /*+  no_parallel(t) no_parallel_index(t...
19566  select /*+  no_parallel(t) no_parallel_index(t...
19710  select /*+  no_parallel(t) no_parallel_index(t...
19567  select /*+  no_parallel(t) no_parallel_index(t...
19711  select /*+  no_parallel(t) no_parallel_index(t...

                                                SQL_TEXT
15633  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15634  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15635  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15636  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15637  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15638  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15621  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15622  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15623  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15624  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15625  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15626  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15501  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15502  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15503  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15504  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15505  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15506  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15561  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15562  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15563  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15564  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15565  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15566  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15591  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15592  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15593  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15594  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15595  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15596  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15531  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15532  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15533  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15534  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15535  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15536  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
11407  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11408  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11409  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11410  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11411  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11412  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11503  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11504  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11505  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11506  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11507  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11508  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11647  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11648  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11649  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11650  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11651  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11652  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11551  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11552  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11553  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11554  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11555  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11556  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11455  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11456  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11457  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11458  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11459  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11460  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11311  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11312  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11313  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11314  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11315  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11316  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11599  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11600  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11601  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11602  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11603  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11604  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11359  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11360  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11361  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11362  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11363  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11364  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15435  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15436  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15437  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15438  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15439  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15440  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15345  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15465  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15346  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15466  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15347  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15467  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15348  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15468  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15349  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15469  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15350  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15470  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15405  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15406  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15407  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15408  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15409  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15410  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15375  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15376  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15377  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15378  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15379  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15380  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                              SQL_TEXT
125  /* SQL Analyze(0) */ select /*+  full(t)    pa...
126  /* SQL Analyze(0) */ select /*+  full(t)    pa...
127  /* SQL Analyze(0) */ select /*+  full(t)    pa...
128  /* SQL Analyze(0) */ select /*+  full(t)    pa...
129  /* SQL Analyze(0) */ select /*+  full(t)    pa...
130  /* SQL Analyze(0) */ select /*+  full(t)    pa...
131  /* SQL Analyze(0) */ select /*+  full(t)    pa...
132  /* SQL Analyze(0) */ select /*+  full(t)    pa...
149  /* SQL Analyze(0) */ select /*+  full(t)    pa...
150  /* SQL Analyze(0) */ select /*+  full(t)    pa...
151  /* SQL Analyze(0) */ select /*+  full(t)    pa...
152  /* SQL Analyze(0) */ select /*+  full(t)    pa...
153  /* SQL Analyze(0) */ select /*+  full(t)    pa...
154  /* SQL Analyze(0) */ select /*+  full(t)    pa...
155  /* SQL Analyze(0) */ select /*+  full(t)    pa...
156  /* SQL Analyze(0) */ select /*+  full(t)    pa...
173  /* SQL Analyze(0) */ select /*+  full(t)    pa...
174  /* SQL Analyze(0) */ select /*+  full(t)    pa...
175  /* SQL Analyze(0) */ select /*+  full(t)    pa...
176  /* SQL Analyze(0) */ select /*+  full(t)    pa...
177  /* SQL Analyze(0) */ select /*+  full(t)    pa...
178  /* SQL Analyze(0) */ select /*+  full(t)    pa...
179  /* SQL Analyze(0) */ select /*+  full(t)    pa...
180  /* SQL Analyze(0) */ select /*+  full(t)    pa...
                                                SQL_TEXT
15898  insert /*+ append */ into sys.ora_temp_1_ds_23...
15899  insert /*+ append */ into sys.ora_temp_1_ds_23...
15900  insert /*+ append */ into sys.ora_temp_1_ds_23...
15901  insert /*+ append */ into sys.ora_temp_1_ds_23...
15902  insert /*+ append */ into sys.ora_temp_1_ds_23...
15903  insert /*+ append */ into sys.ora_temp_1_ds_23...
15904  insert /*+ append */ into sys.ora_temp_1_ds_23...
15905  insert /*+ append */ into sys.ora_temp_1_ds_23...
15906  insert /*+ append */ into sys.ora_temp_1_ds_23...
                                                SQL_TEXT
19304  select /*+  no_parallel(t) no_parallel_index(t...
19305  select /*+  no_parallel(t) no_parallel_index(t...
19306  select /*+  no_parallel(t) no_parallel_index(t...
19307  select /*+  no_parallel(t) no_parallel_index(t...
19248  select /*+  no_parallel(t) no_parallel_index(t...
19249  select /*+  no_parallel(t) no_parallel_index(t...
19250  select /*+  no_parallel(t) no_parallel_index(t...
19251  select /*+  no_parallel(t) no_parallel_index(t...
19276  select /*+  no_parallel(t) no_parallel_index(t...
19388  select /*+  no_parallel(t) no_parallel_index(t...
19277  select /*+  no_parallel(t) no_parallel_index(t...
19389  select /*+  no_parallel(t) no_parallel_index(t...
19278  select /*+  no_parallel(t) no_parallel_index(t...
19390  select /*+  no_parallel(t) no_parallel_index(t...
19279  select /*+  no_parallel(t) no_parallel_index(t...
19391  select /*+  no_parallel(t) no_parallel_index(t...
19360  select /*+  no_parallel(t) no_parallel_index(t...
19361  select /*+  no_parallel(t) no_parallel_index(t...
19362  select /*+  no_parallel(t) no_parallel_index(t...
19363  select /*+  no_parallel(t) no_parallel_index(t...
19332  select /*+  no_parallel(t) no_parallel_index(t...
19333  select /*+  no_parallel(t) no_parallel_index(t...
19334  select /*+  no_parallel(t) no_parallel_index(t...
19335  select /*+  no_parallel(t) no_parallel_index(t...
19416  select /*+  no_parallel(t) no_parallel_index(t...
19417  select /*+  no_parallel(t) no_parallel_index(t...
19418  select /*+  no_parallel(t) no_parallel_index(t...
19419  select /*+  no_parallel(t) no_parallel_index(t...
                      SQL_TEXT
27   select count(*) from catv
28   select count(*) from catv
29   select count(*) from catv
                                                SQL_TEXT
19308  select /*+  no_parallel(t) no_parallel_index(t...
19309  select /*+  no_parallel(t) no_parallel_index(t...
19310  select /*+  no_parallel(t) no_parallel_index(t...
19311  select /*+  no_parallel(t) no_parallel_index(t...
19252  select /*+  no_parallel(t) no_parallel_index(t...
19253  select /*+  no_parallel(t) no_parallel_index(t...
19254  select /*+  no_parallel(t) no_parallel_index(t...
19255  select /*+  no_parallel(t) no_parallel_index(t...
19280  select /*+  no_parallel(t) no_parallel_index(t...
19392  select /*+  no_parallel(t) no_parallel_index(t...
19281  select /*+  no_parallel(t) no_parallel_index(t...
19393  select /*+  no_parallel(t) no_parallel_index(t...
19282  select /*+  no_parallel(t) no_parallel_index(t...
19394  select /*+  no_parallel(t) no_parallel_index(t...
19283  select /*+  no_parallel(t) no_parallel_index(t...
19395  select /*+  no_parallel(t) no_parallel_index(t...
19364  select /*+  no_parallel(t) no_parallel_index(t...
19365  select /*+  no_parallel(t) no_parallel_index(t...
19366  select /*+  no_parallel(t) no_parallel_index(t...
19367  select /*+  no_parallel(t) no_parallel_index(t...
19336  select /*+  no_parallel(t) no_parallel_index(t...
19337  select /*+  no_parallel(t) no_parallel_index(t...
19338  select /*+  no_parallel(t) no_parallel_index(t...
19339  select /*+  no_parallel(t) no_parallel_index(t...
19420  select /*+  no_parallel(t) no_parallel_index(t...
19421  select /*+  no_parallel(t) no_parallel_index(t...
19422  select /*+  no_parallel(t) no_parallel_index(t...
19423  select /*+  no_parallel(t) no_parallel_index(t...
                   SQL_TEXT
15769  create global tempor
15770  create global tempor
15771  create global tempor
15772  create global tempor
15777  create global tempor
15778  create global tempor
15779  create global tempor
15780  create global tempor
                                                SQL_TEXT
19312  select /*+  no_parallel(t) no_parallel_index(t...
19313  select /*+  no_parallel(t) no_parallel_index(t...
19314  select /*+  no_parallel(t) no_parallel_index(t...
19315  select /*+  no_parallel(t) no_parallel_index(t...
19256  select /*+  no_parallel(t) no_parallel_index(t...
19257  select /*+  no_parallel(t) no_parallel_index(t...
19258  select /*+  no_parallel(t) no_parallel_index(t...
19259  select /*+  no_parallel(t) no_parallel_index(t...
19284  select /*+  no_parallel(t) no_parallel_index(t...
19396  select /*+  no_parallel(t) no_parallel_index(t...
19285  select /*+  no_parallel(t) no_parallel_index(t...
19397  select /*+  no_parallel(t) no_parallel_index(t...
19286  select /*+  no_parallel(t) no_parallel_index(t...
19398  select /*+  no_parallel(t) no_parallel_index(t...
19287  select /*+  no_parallel(t) no_parallel_index(t...
19399  select /*+  no_parallel(t) no_parallel_index(t...
19368  select /*+  no_parallel(t) no_parallel_index(t...
19369  select /*+  no_parallel(t) no_parallel_index(t...
19370  select /*+  no_parallel(t) no_parallel_index(t...
19371  select /*+  no_parallel(t) no_parallel_index(t...
19340  select /*+  no_parallel(t) no_parallel_index(t...
19341  select /*+  no_parallel(t) no_parallel_index(t...
19342  select /*+  no_parallel(t) no_parallel_index(t...
19343  select /*+  no_parallel(t) no_parallel_index(t...
19424  select /*+  no_parallel(t) no_parallel_index(t...
19425  select /*+  no_parallel(t) no_parallel_index(t...
19426  select /*+  no_parallel(t) no_parallel_index(t...
19427  select /*+  no_parallel(t) no_parallel_index(t...
                   SQL_TEXT
15697  create global tempor
15698  create global tempor
15699  create global tempor
15700  create global tempor
15717  create global tempor
15718  create global tempor
15719  create global tempor
15720  create global tempor
15737  create global tempor
15738  create global tempor
15739  create global tempor
15740  create global tempor
15757  create global tempor
15758  create global tempor
15759  create global tempor
15760  create global tempor
15677  create global tempor
15678  create global tempor
15679  create global tempor
15680  create global tempor
                                                SQL_TEXT
19676  select /*+  no_parallel(t) no_parallel_index(t...
19677  select /*+  no_parallel(t) no_parallel_index(t...
19678  select /*+  no_parallel(t) no_parallel_index(t...
19679  select /*+  no_parallel(t) no_parallel_index(t...
19460  select /*+  no_parallel(t) no_parallel_index(t...
19604  select /*+  no_parallel(t) no_parallel_index(t...
19461  select /*+  no_parallel(t) no_parallel_index(t...
19605  select /*+  no_parallel(t) no_parallel_index(t...
19462  select /*+  no_parallel(t) no_parallel_index(t...
19606  select /*+  no_parallel(t) no_parallel_index(t...
19463  select /*+  no_parallel(t) no_parallel_index(t...
19607  select /*+  no_parallel(t) no_parallel_index(t...
19496  select /*+  no_parallel(t) no_parallel_index(t...
19497  select /*+  no_parallel(t) no_parallel_index(t...
19498  select /*+  no_parallel(t) no_parallel_index(t...
19499  select /*+  no_parallel(t) no_parallel_index(t...
19748  select /*+  no_parallel(t) no_parallel_index(t...
19749  select /*+  no_parallel(t) no_parallel_index(t...
19750  select /*+  no_parallel(t) no_parallel_index(t...
19751  select /*+  no_parallel(t) no_parallel_index(t...
19640  select /*+  no_parallel(t) no_parallel_index(t...
19641  select /*+  no_parallel(t) no_parallel_index(t...
19642  select /*+  no_parallel(t) no_parallel_index(t...
19643  select /*+  no_parallel(t) no_parallel_index(t...
19532  select /*+  no_parallel(t) no_parallel_index(t...
19533  select /*+  no_parallel(t) no_parallel_index(t...
19534  select /*+  no_parallel(t) no_parallel_index(t...
19535  select /*+  no_parallel(t) no_parallel_index(t...
19568  select /*+  no_parallel(t) no_parallel_index(t...
19712  select /*+  no_parallel(t) no_parallel_index(t...
19569  select /*+  no_parallel(t) no_parallel_index(t...
19713  select /*+  no_parallel(t) no_parallel_index(t...
19570  select /*+  no_parallel(t) no_parallel_index(t...
19714  select /*+  no_parallel(t) no_parallel_index(t...
19571  select /*+  no_parallel(t) no_parallel_index(t...
19715  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
19316  select /*+  no_parallel(t) no_parallel_index(t...
19317  select /*+  no_parallel(t) no_parallel_index(t...
19318  select /*+  no_parallel(t) no_parallel_index(t...
19319  select /*+  no_parallel(t) no_parallel_index(t...
19260  select /*+  no_parallel(t) no_parallel_index(t...
19261  select /*+  no_parallel(t) no_parallel_index(t...
19262  select /*+  no_parallel(t) no_parallel_index(t...
19263  select /*+  no_parallel(t) no_parallel_index(t...
19288  select /*+  no_parallel(t) no_parallel_index(t...
19400  select /*+  no_parallel(t) no_parallel_index(t...
19289  select /*+  no_parallel(t) no_parallel_index(t...
19401  select /*+  no_parallel(t) no_parallel_index(t...
19290  select /*+  no_parallel(t) no_parallel_index(t...
19402  select /*+  no_parallel(t) no_parallel_index(t...
19291  select /*+  no_parallel(t) no_parallel_index(t...
19403  select /*+  no_parallel(t) no_parallel_index(t...
19372  select /*+  no_parallel(t) no_parallel_index(t...
19373  select /*+  no_parallel(t) no_parallel_index(t...
19374  select /*+  no_parallel(t) no_parallel_index(t...
19375  select /*+  no_parallel(t) no_parallel_index(t...
19344  select /*+  no_parallel(t) no_parallel_index(t...
19345  select /*+  no_parallel(t) no_parallel_index(t...
19346  select /*+  no_parallel(t) no_parallel_index(t...
19347  select /*+  no_parallel(t) no_parallel_index(t...
19428  select /*+  no_parallel(t) no_parallel_index(t...
19429  select /*+  no_parallel(t) no_parallel_index(t...
19430  select /*+  no_parallel(t) no_parallel_index(t...
19431  select /*+  no_parallel(t) no_parallel_index(t...

                                                SQL_TEXT
15907  insert /*+ append */ into sys.ora_temp_1_ds_23...
15908  insert /*+ append */ into sys.ora_temp_1_ds_23...
15909  insert /*+ append */ into sys.ora_temp_1_ds_23...
15910  insert /*+ append */ into sys.ora_temp_1_ds_23...
15911  insert /*+ append */ into sys.ora_temp_1_ds_23...
15912  insert /*+ append */ into sys.ora_temp_1_ds_23...
15913  insert /*+ append */ into sys.ora_temp_1_ds_23...
15914  insert /*+ append */ into sys.ora_temp_1_ds_23...
15915  insert /*+ append */ into sys.ora_temp_1_ds_23...
                                                SQL_TEXT
15639  SELECT C_CUSTOMER_ID ,C_CURRENT_CDEMO_SK ,C_CU...
15640  SELECT C_CUSTOMER_ID ,C_CURRENT_CDEMO_SK ,C_CU...
                                       SQL_TEXT
24   insert into web_site (select * from websv)
25   insert into web_site (select * from websv)
26   insert into web_site (select * from websv)
                                                SQL_TEXT
25048  select /*+  no_parallel_index(t, "CP_END_DATE_...
25049  select /*+  no_parallel_index(t, "CP_END_DATE_...
25050  select /*+  no_parallel_index(t, "CP_END_DATE_...
                                                SQL_TEXT
15961  insert into web_returns (select * from wrv whe...
15962  insert into web_returns (select * from wrv whe...
15963  insert into web_returns (select * from wrv whe...
                                                SQL_TEXT
19320  select /*+  no_parallel(t) no_parallel_index(t...
19321  select /*+  no_parallel(t) no_parallel_index(t...
19322  select /*+  no_parallel(t) no_parallel_index(t...
19323  select /*+  no_parallel(t) no_parallel_index(t...
19264  select /*+  no_parallel(t) no_parallel_index(t...
19265  select /*+  no_parallel(t) no_parallel_index(t...
19266  select /*+  no_parallel(t) no_parallel_index(t...
19267  select /*+  no_parallel(t) no_parallel_index(t...
19292  select /*+  no_parallel(t) no_parallel_index(t...
19404  select /*+  no_parallel(t) no_parallel_index(t...
19293  select /*+  no_parallel(t) no_parallel_index(t...
19405  select /*+  no_parallel(t) no_parallel_index(t...
19294  select /*+  no_parallel(t) no_parallel_index(t...
19406  select /*+  no_parallel(t) no_parallel_index(t...
19295  select /*+  no_parallel(t) no_parallel_index(t...
19407  select /*+  no_parallel(t) no_parallel_index(t...
19376  select /*+  no_parallel(t) no_parallel_index(t...
19377  select /*+  no_parallel(t) no_parallel_index(t...
19378  select /*+  no_parallel(t) no_parallel_index(t...
19379  select /*+  no_parallel(t) no_parallel_index(t...
19348  select /*+  no_parallel(t) no_parallel_index(t...
19349  select /*+  no_parallel(t) no_parallel_index(t...
19350  select /*+  no_parallel(t) no_parallel_index(t...
19351  select /*+  no_parallel(t) no_parallel_index(t...
19432  select /*+  no_parallel(t) no_parallel_index(t...
19433  select /*+  no_parallel(t) no_parallel_index(t...
19434  select /*+  no_parallel(t) no_parallel_index(t...
19435  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
25051  select /*+  no_parallel_index(t, "CP_START_DAT...
25052  select /*+  no_parallel_index(t, "CP_START_DAT...
25053  select /*+  no_parallel_index(t, "CP_START_DAT...
                                               SQL_TEXT
6905  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6906  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6907  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6908  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6909  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6910  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6911  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6912  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6913  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6914  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6915  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6916  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6917  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6918  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6919  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6920  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6921  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6922  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6923  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6924  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6925  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6926  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6927  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6928  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6929  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6930  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6931  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6932  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6933  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6934  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
6758  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6759  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6760  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6761  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6762  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6763  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6764  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6765  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6766  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6767  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6768  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6769  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6770  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6771  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6772  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6773  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6774  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6775  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6776  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6777  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6778  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6779  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6780  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6781  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6782  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6783  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6784  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6785  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6786  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6787  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[156 rows x 1 columns]
                                               SQL_TEXT
4813  /* SQL Analyze(148,1) */ with  cross_items as\...
4814  /* SQL Analyze(148,1) */ with  cross_items as\...
4815  /* SQL Analyze(148,1) */ with  cross_items as\...
4816  /* SQL Analyze(148,1) */ with  cross_items as\...
4817  /* SQL Analyze(148,1) */ with  cross_items as\...
4818  /* SQL Analyze(148,1) */ with  cross_items as\...
4819  /* SQL Analyze(148,1) */ with  cross_items as\...
4820  /* SQL Analyze(148,1) */ with  cross_items as\...
4821  /* SQL Analyze(148,1) */ with  cross_items as\...
4822  /* SQL Analyze(148,1) */ with  cross_items as\...
4823  /* SQL Analyze(148,1) */ with  cross_items as\...
4824  /* SQL Analyze(148,1) */ with  cross_items as\...
4825  /* SQL Analyze(148,1) */ with  cross_items as\...
4826  /* SQL Analyze(148,1) */ with  cross_items as\...
4827  /* SQL Analyze(148,1) */ with  cross_items as\...
4828  /* SQL Analyze(148,1) */ with  cross_items as\...
4829  /* SQL Analyze(148,1) */ with  cross_items as\...
4830  /* SQL Analyze(148,1) */ with  cross_items as\...
4831  /* SQL Analyze(148,1) */ with  cross_items as\...
4832  /* SQL Analyze(148,1) */ with  cross_items as\...
4833  /* SQL Analyze(148,1) */ with  cross_items as\...
4834  /* SQL Analyze(148,1) */ with  cross_items as\...
4835  /* SQL Analyze(148,1) */ with  cross_items as\...
4836  /* SQL Analyze(148,1) */ with  cross_items as\...
4837  /* SQL Analyze(148,1) */ with  cross_items as\...
4838  /* SQL Analyze(148,1) */ with  cross_items as\...
4839  /* SQL Analyze(148,1) */ with  cross_items as\...
4840  /* SQL Analyze(148,1) */ with  cross_items as\...
4841  /* SQL Analyze(148,1) */ with  cross_items as\...
4842  /* SQL Analyze(148,1) */ with  cross_items as\...
...                                                 ...
4884  /* SQL Analyze(148,1) */ with  cross_items as\...
4885  /* SQL Analyze(148,1) */ with  cross_items as\...
4886  /* SQL Analyze(148,1) */ with  cross_items as\...
4887  /* SQL Analyze(148,1) */ with  cross_items as\...
4888  /* SQL Analyze(148,1) */ with  cross_items as\...
4889  /* SQL Analyze(148,1) */ with  cross_items as\...
4890  /* SQL Analyze(148,1) */ with  cross_items as\...
4891  /* SQL Analyze(148,1) */ with  cross_items as\...
4892  /* SQL Analyze(148,1) */ with  cross_items as\...
4893  /* SQL Analyze(148,1) */ with  cross_items as\...
4894  /* SQL Analyze(148,1) */ with  cross_items as\...
4895  /* SQL Analyze(148,1) */ with  cross_items as\...
4896  /* SQL Analyze(148,1) */ with  cross_items as\...
4897  /* SQL Analyze(148,1) */ with  cross_items as\...
4898  /* SQL Analyze(148,1) */ with  cross_items as\...
4899  /* SQL Analyze(148,1) */ with  cross_items as\...
4900  /* SQL Analyze(148,1) */ with  cross_items as\...
4901  /* SQL Analyze(148,1) */ with  cross_items as\...
4902  /* SQL Analyze(148,1) */ with  cross_items as\...
4903  /* SQL Analyze(148,1) */ with  cross_items as\...
4904  /* SQL Analyze(148,1) */ with  cross_items as\...
4905  /* SQL Analyze(148,1) */ with  cross_items as\...
4906  /* SQL Analyze(148,1) */ with  cross_items as\...
4907  /* SQL Analyze(148,1) */ with  cross_items as\...
4908  /* SQL Analyze(148,1) */ with  cross_items as\...
4909  /* SQL Analyze(148,1) */ with  cross_items as\...
4910  /* SQL Analyze(148,1) */ with  cross_items as\...
4911  /* SQL Analyze(148,1) */ with  cross_items as\...
4912  /* SQL Analyze(148,1) */ with  cross_items as\...
4913  /* SQL Analyze(148,1) */ with  cross_items as\...

[101 rows x 1 columns]
                                               SQL_TEXT
6944  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6945  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6946  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6947  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6948  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6949  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6950  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6951  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6952  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6953  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6954  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6955  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6956  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6957  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6958  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6959  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6960  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6961  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6962  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6963  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6964  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6965  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6966  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6967  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6968  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6969  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6970  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6971  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6972  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6973  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
6797  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6798  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6799  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6800  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6801  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6802  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6803  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6804  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6805  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6806  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6807  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6808  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6809  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6810  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6811  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6812  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6813  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6814  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6815  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6816  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6817  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6818  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6819  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6820  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6821  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6822  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6823  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6824  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6825  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6826  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[156 rows x 1 columns]
                                               SQL_TEXT
6983  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6984  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6985  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6986  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6987  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6988  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6989  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6990  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6991  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6992  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6993  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6994  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6995  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6996  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6997  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6998  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6999  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7000  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7001  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7002  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7003  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7004  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7005  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7006  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7007  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7008  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7009  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7010  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7011  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7012  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
6836  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6837  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6838  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6839  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6840  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6841  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6842  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6843  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6844  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6845  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6846  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6847  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6848  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6849  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6850  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6851  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6852  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6853  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6854  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6855  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6856  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6857  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6858  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6859  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6860  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6861  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6862  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6863  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6864  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6865  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[156 rows x 1 columns]
                                               SQL_TEXT
7022  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7023  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7024  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7025  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7026  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7027  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7028  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7029  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7030  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7031  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7032  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7033  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7034  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7035  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7036  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7037  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7038  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7039  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7040  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7041  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7042  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7043  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7044  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7045  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7046  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7047  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7048  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7049  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7050  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7051  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
6875  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6876  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6877  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6878  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6879  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6880  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6881  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6882  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6883  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6884  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6885  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6886  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6887  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6888  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6889  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6890  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6891  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                               SQL_TEXT
5773  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5774  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5775  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5776  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5777  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5778  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5779  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5780  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5087  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5088  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5089  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5090  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5091  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5092  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5093  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5094  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5095  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5096  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5097  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5098  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5099  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5100  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5101  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5102  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5103  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5104  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5105  /* SQL Analyze(148,1) */ with wscs as\n (selec...
5106  /* SQL Analyze(148,1) */ with wscs as\n (selec...
                                               SQL_TEXT
5650  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5651  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5652  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5653  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5654  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5655  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5656  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5657  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5658  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5659  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5660  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5661  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5662  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
6414  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6415  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6416  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6417  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6418  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6419  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6420  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6421  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6422  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6423  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6424  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5328  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5329  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5330  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
6392  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6393  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6394  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6395  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6396  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6397  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6398  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6399  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7569  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7570  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7571  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7572  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7573  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7574  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7575  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
9549  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9550  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9551  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9552  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9553  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9554  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9555  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9556  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9557  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9558  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
9569  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9570  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9571  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9572  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9573  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9574  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9575  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9576  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9577  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9578  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9579  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9580  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9581  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9582  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9583  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9584  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
9559  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9560  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9561  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9562  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9563  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9564  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9565  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9566  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9567  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9568  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
3380  /* SQL Analyze(148,1) */ select * from (select...
3381  /* SQL Analyze(148,1) */ select * from (select...
3382  /* SQL Analyze(148,1) */ select * from (select...
3383  /* SQL Analyze(148,1) */ select * from (select...
3384  /* SQL Analyze(148,1) */ select * from (select...
3385  /* SQL Analyze(148,1) */ select * from (select...
3386  /* SQL Analyze(148,1) */ select * from (select...
3387  /* SQL Analyze(148,1) */ select * from (select...
3388  /* SQL Analyze(148,1) */ select * from (select...
3389  /* SQL Analyze(148,1) */ select * from (select...
3390  /* SQL Analyze(148,1) */ select * from (select...
3391  /* SQL Analyze(148,1) */ select * from (select...
3392  /* SQL Analyze(148,1) */ select * from (select...
3393  /* SQL Analyze(148,1) */ select * from (select...
3394  /* SQL Analyze(148,1) */ select * from (select...
3395  /* SQL Analyze(148,1) */ select * from (select...
3396  /* SQL Analyze(148,1) */ select * from (select...
3397  /* SQL Analyze(148,1) */ select * from (select...
3398  /* SQL Analyze(148,1) */ select * from (select...
3399  /* SQL Analyze(148,1) */ select * from (select...
3400  /* SQL Analyze(148,1) */ select * from (select...
3401  /* SQL Analyze(148,1) */ select * from (select...
3402  /* SQL Analyze(148,1) */ select * from (select...
3403  /* SQL Analyze(148,1) */ select * from (select...
3404  /* SQL Analyze(148,1) */ select * from (select...
                                               SQL_TEXT
5003  /* SQL Analyze(148,1) */ with ssr as\n (select...
5045  /* SQL Analyze(148,1) */ with ssr as\n (select...
5004  /* SQL Analyze(148,1) */ with ssr as\n (select...
5046  /* SQL Analyze(148,1) */ with ssr as\n (select...
5005  /* SQL Analyze(148,1) */ with ssr as\n (select...
5047  /* SQL Analyze(148,1) */ with ssr as\n (select...
5006  /* SQL Analyze(148,1) */ with ssr as\n (select...
5048  /* SQL Analyze(148,1) */ with ssr as\n (select...
5007  /* SQL Analyze(148,1) */ with ssr as\n (select...
5049  /* SQL Analyze(148,1) */ with ssr as\n (select...
5008  /* SQL Analyze(148,1) */ with ssr as\n (select...
5050  /* SQL Analyze(148,1) */ with ssr as\n (select...
5009  /* SQL Analyze(148,1) */ with ssr as\n (select...
5051  /* SQL Analyze(148,1) */ with ssr as\n (select...
5010  /* SQL Analyze(148,1) */ with ssr as\n (select...
5052  /* SQL Analyze(148,1) */ with ssr as\n (select...
5011  /* SQL Analyze(148,1) */ with ssr as\n (select...
5053  /* SQL Analyze(148,1) */ with ssr as\n (select...
5012  /* SQL Analyze(148,1) */ with ssr as\n (select...
5054  /* SQL Analyze(148,1) */ with ssr as\n (select...
5013  /* SQL Analyze(148,1) */ with ssr as\n (select...
5055  /* SQL Analyze(148,1) */ with ssr as\n (select...
5014  /* SQL Analyze(148,1) */ with ssr as\n (select...
5056  /* SQL Analyze(148,1) */ with ssr as\n (select...
5015  /* SQL Analyze(148,1) */ with ssr as\n (select...
5057  /* SQL Analyze(148,1) */ with ssr as\n (select...
5016  /* SQL Analyze(148,1) */ with ssr as\n (select...
5058  /* SQL Analyze(148,1) */ with ssr as\n (select...
5017  /* SQL Analyze(148,1) */ with ssr as\n (select...
5059  /* SQL Analyze(148,1) */ with ssr as\n (select...
...                                                 ...
5030  /* SQL Analyze(148,1) */ with ssr as\n (select...
5072  /* SQL Analyze(148,1) */ with ssr as\n (select...
5031  /* SQL Analyze(148,1) */ with ssr as\n (select...
5073  /* SQL Analyze(148,1) */ with ssr as\n (select...
5032  /* SQL Analyze(148,1) */ with ssr as\n (select...
5074  /* SQL Analyze(148,1) */ with ssr as\n (select...
5033  /* SQL Analyze(148,1) */ with ssr as\n (select...
5075  /* SQL Analyze(148,1) */ with ssr as\n (select...
5034  /* SQL Analyze(148,1) */ with ssr as\n (select...
5076  /* SQL Analyze(148,1) */ with ssr as\n (select...
5035  /* SQL Analyze(148,1) */ with ssr as\n (select...
5077  /* SQL Analyze(148,1) */ with ssr as\n (select...
5036  /* SQL Analyze(148,1) */ with ssr as\n (select...
5078  /* SQL Analyze(148,1) */ with ssr as\n (select...
5037  /* SQL Analyze(148,1) */ with ssr as\n (select...
5079  /* SQL Analyze(148,1) */ with ssr as\n (select...
5038  /* SQL Analyze(148,1) */ with ssr as\n (select...
5080  /* SQL Analyze(148,1) */ with ssr as\n (select...
5039  /* SQL Analyze(148,1) */ with ssr as\n (select...
5081  /* SQL Analyze(148,1) */ with ssr as\n (select...
5040  /* SQL Analyze(148,1) */ with ssr as\n (select...
5082  /* SQL Analyze(148,1) */ with ssr as\n (select...
5041  /* SQL Analyze(148,1) */ with ssr as\n (select...
5083  /* SQL Analyze(148,1) */ with ssr as\n (select...
5042  /* SQL Analyze(148,1) */ with ssr as\n (select...
5084  /* SQL Analyze(148,1) */ with ssr as\n (select...
5043  /* SQL Analyze(148,1) */ with ssr as\n (select...
5085  /* SQL Analyze(148,1) */ with ssr as\n (select...
5044  /* SQL Analyze(148,1) */ with ssr as\n (select...
5086  /* SQL Analyze(148,1) */ with ssr as\n (select...

[84 rows x 1 columns]
                                               SQL_TEXT
5313  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5314  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5315  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5322  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5323  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5324  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
6547  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6559  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6548  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6560  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6549  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6561  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6550  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6562  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6551  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6563  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6552  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6564  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6553  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6565  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6554  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6566  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6555  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6567  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6556  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6568  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6557  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6569  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6558  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6570  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
3326  /* SQL Analyze(148,1) */ select * from (select...
3327  /* SQL Analyze(148,1) */ select * from (select...
3328  /* SQL Analyze(148,1) */ select * from (select...
3329  /* SQL Analyze(148,1) */ select * from (select...
3330  /* SQL Analyze(148,1) */ select * from (select...
3331  /* SQL Analyze(148,1) */ select * from (select...
3332  /* SQL Analyze(148,1) */ select * from (select...
3333  /* SQL Analyze(148,1) */ select * from (select...
3334  /* SQL Analyze(148,1) */ select * from (select...
3335  /* SQL Analyze(148,1) */ select * from (select...
3336  /* SQL Analyze(148,1) */ select * from (select...
3337  /* SQL Analyze(148,1) */ select * from (select...
3338  /* SQL Analyze(148,1) */ select * from (select...
3339  /* SQL Analyze(148,1) */ select * from (select...
3340  /* SQL Analyze(148,1) */ select * from (select...
3341  /* SQL Analyze(148,1) */ select * from (select...
3342  /* SQL Analyze(148,1) */ select * from (select...
3343  /* SQL Analyze(148,1) */ select * from (select...
3344  /* SQL Analyze(148,1) */ select * from (select...
3345  /* SQL Analyze(148,1) */ select * from (select...
3346  /* SQL Analyze(148,1) */ select * from (select...
3347  /* SQL Analyze(148,1) */ select * from (select...
3348  /* SQL Analyze(148,1) */ select * from (select...
3349  /* SQL Analyze(148,1) */ select * from (select...
3350  /* SQL Analyze(148,1) */ select * from (select...
3351  /* SQL Analyze(148,1) */ select * from (select...
3352  /* SQL Analyze(148,1) */ select * from (select...
3353  /* SQL Analyze(148,1) */ select * from (select...
3354  /* SQL Analyze(148,1) */ select * from (select...
3355  /* SQL Analyze(148,1) */ select * from (select...
3356  /* SQL Analyze(148,1) */ select * from (select...
3357  /* SQL Analyze(148,1) */ select * from (select...
3358  /* SQL Analyze(148,1) */ select * from (select...
3359  /* SQL Analyze(148,1) */ select * from (select...
                                               SQL_TEXT
3308  /* SQL Analyze(148,1) */ select * from (select...
3309  /* SQL Analyze(148,1) */ select * from (select...
3310  /* SQL Analyze(148,1) */ select * from (select...
3311  /* SQL Analyze(148,1) */ select * from (select...
3312  /* SQL Analyze(148,1) */ select * from (select...
3313  /* SQL Analyze(148,1) */ select * from (select...
3314  /* SQL Analyze(148,1) */ select * from (select...
3315  /* SQL Analyze(148,1) */ select * from (select...
3316  /* SQL Analyze(148,1) */ select * from (select...
3317  /* SQL Analyze(148,1) */ select * from (select...
3318  /* SQL Analyze(148,1) */ select * from (select...
3319  /* SQL Analyze(148,1) */ select * from (select...
3320  /* SQL Analyze(148,1) */ select * from (select...
3321  /* SQL Analyze(148,1) */ select * from (select...
3322  /* SQL Analyze(148,1) */ select * from (select...
3323  /* SQL Analyze(148,1) */ select * from (select...
3324  /* SQL Analyze(148,1) */ select * from (select...
3325  /* SQL Analyze(148,1) */ select * from (select...
                                               SQL_TEXT
4641  /* SQL Analyze(148,1) */ select * from (select...
4642  /* SQL Analyze(148,1) */ select * from (select...
4643  /* SQL Analyze(148,1) */ select * from (select...
4644  /* SQL Analyze(148,1) */ select * from (select...
4645  /* SQL Analyze(148,1) */ select * from (select...
4646  /* SQL Analyze(148,1) */ select * from (select...
4647  /* SQL Analyze(148,1) */ select * from (select...
4648  /* SQL Analyze(148,1) */ select * from (select...
4649  /* SQL Analyze(148,1) */ select * from (select...
4650  /* SQL Analyze(148,1) */ select * from (select...
4651  /* SQL Analyze(148,1) */ select * from (select...
4652  /* SQL Analyze(148,1) */ select * from (select...
4653  /* SQL Analyze(148,1) */ select * from (select...
4654  /* SQL Analyze(148,1) */ select * from (select...
4655  /* SQL Analyze(148,1) */ select * from (select...
4656  /* SQL Analyze(148,1) */ select * from (select...
4657  /* SQL Analyze(148,1) */ select * from (select...
4658  /* SQL Analyze(148,1) */ select * from (select...
4659  /* SQL Analyze(148,1) */ select * from (select...
4660  /* SQL Analyze(148,1) */ select * from (select...
4661  /* SQL Analyze(148,1) */ select * from (select...
4662  /* SQL Analyze(148,1) */ select * from (select...
4663  /* SQL Analyze(148,1) */ select * from (select...
                                               SQL_TEXT
6425  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6426  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6427  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6428  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6429  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6430  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6431  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6432  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6433  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6434  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6435  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6436  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6437  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6438  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6439  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6440  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6441  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6442  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6443  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6444  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6445  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6446  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6447  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6448  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6449  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5253  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5254  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5255  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5256  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5257  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5258  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5259  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5260  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5261  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5262  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5263  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5264  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5265  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5266  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                               SQL_TEXT
6450  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6451  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6452  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6453  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6454  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6455  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6456  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6457  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6458  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6459  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6460  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6461  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6462  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6463  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6464  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6465  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6466  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6467  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6468  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6469  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6470  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6471  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6472  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6473  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6474  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7423  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7471  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7424  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7472  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7425  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7473  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7426  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7474  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7427  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7475  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7428  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7476  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7429  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7477  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7430  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7478  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7431  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7479  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7432  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7480  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7433  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7481  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7434  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7482  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7435  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7483  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7436  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7484  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7437  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7485  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7438  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7486  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7439  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7487  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7440  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7488  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7441  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7489  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7442  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7490  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7443  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7444  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7492  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7445  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7493  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7446  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7494  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7590  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7591  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7592  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7593  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7594  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7595  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7596  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7597  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7598  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7599  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7600  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7601  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7602  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7603  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7604  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7605  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7606  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7607  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7608  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7609  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7610  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7611  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7612  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7613  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7614  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7615  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5228  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5229  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5230  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5231  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5232  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5233  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5234  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5235  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5236  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5237  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5238  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5239  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5240  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5241  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5242  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5243  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5244  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5245  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5246  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5247  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5248  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5249  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5250  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5251  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5252  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7389  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7390  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7391  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7392  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7393  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7394  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7395  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7396  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7397  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7398  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7399  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7400  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7401  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7402  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7403  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7404  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7405  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7406  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7407  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7408  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7409  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7410  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7411  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7412  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7413  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7414  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7415  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7416  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7417  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7418  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7419  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7420  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7421  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7422  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7447  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7495  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7448  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7496  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7449  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7497  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7450  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7498  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7451  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7499  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7452  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7500  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7453  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7501  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7454  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7502  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7455  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7503  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7456  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7504  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7457  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7505  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7458  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7506  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7459  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7507  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7460  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7508  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7461  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7509  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7462  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7510  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7463  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7511  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7464  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7512  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7465  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7513  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7466  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7514  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7467  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7515  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7468  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7516  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7469  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7517  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7470  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7518  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
6491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6519  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6492  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6520  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6493  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6521  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6494  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6522  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6495  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6523  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6496  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6524  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6497  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6525  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6498  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6526  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6499  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6527  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6500  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6528  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6501  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6529  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6502  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6530  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6503  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6531  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6504  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6532  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5280  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5281  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5282  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5283  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5284  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5285  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5286  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5287  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5288  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5289  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5290  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5291  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5292  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5293  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5294  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5295  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5296  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5297  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5298  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5299  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5300  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5301  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5302  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5303  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
6505  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6533  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6506  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6534  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6507  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6535  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6508  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6536  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6509  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6537  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6510  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6538  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6511  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6539  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6512  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6540  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6513  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6541  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6514  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6542  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6515  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6543  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6516  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6544  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6517  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6545  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6518  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6546  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
9279  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9326  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9373  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9280  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9327  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9374  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9281  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9328  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9375  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9282  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9329  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9376  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9283  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9330  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9377  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9284  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9331  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9378  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9285  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9332  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9379  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9286  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9333  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9380  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9287  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9334  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9381  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9288  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9335  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9382  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
9316  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9363  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9410  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9317  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9364  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9411  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9318  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9365  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9412  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9319  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9366  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9413  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9320  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9367  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9414  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9321  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9368  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9415  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9322  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9369  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9416  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9323  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9370  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9417  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9324  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9371  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9418  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9325  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9372  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
19324  select /*+  no_parallel(t) no_parallel_index(t...
19325  select /*+  no_parallel(t) no_parallel_index(t...
19326  select /*+  no_parallel(t) no_parallel_index(t...
19327  select /*+  no_parallel(t) no_parallel_index(t...
19268  select /*+  no_parallel(t) no_parallel_index(t...
19269  select /*+  no_parallel(t) no_parallel_index(t...
19270  select /*+  no_parallel(t) no_parallel_index(t...
19271  select /*+  no_parallel(t) no_parallel_index(t...
19296  select /*+  no_parallel(t) no_parallel_index(t...
19408  select /*+  no_parallel(t) no_parallel_index(t...
19297  select /*+  no_parallel(t) no_parallel_index(t...
19409  select /*+  no_parallel(t) no_parallel_index(t...
19298  select /*+  no_parallel(t) no_parallel_index(t...
19410  select /*+  no_parallel(t) no_parallel_index(t...
19299  select /*+  no_parallel(t) no_parallel_index(t...
19411  select /*+  no_parallel(t) no_parallel_index(t...
19380  select /*+  no_parallel(t) no_parallel_index(t...
19381  select /*+  no_parallel(t) no_parallel_index(t...
19382  select /*+  no_parallel(t) no_parallel_index(t...
19383  select /*+  no_parallel(t) no_parallel_index(t...
19352  select /*+  no_parallel(t) no_parallel_index(t...
19353  select /*+  no_parallel(t) no_parallel_index(t...
19354  select /*+  no_parallel(t) no_parallel_index(t...
19355  select /*+  no_parallel(t) no_parallel_index(t...
19436  select /*+  no_parallel(t) no_parallel_index(t...
19437  select /*+  no_parallel(t) no_parallel_index(t...
19438  select /*+  no_parallel(t) no_parallel_index(t...
19439  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
19240  select /*+  no_parallel(t) no_parallel_index(t...
19241  select /*+  no_parallel(t) no_parallel_index(t...
19242  select /*+  no_parallel(t) no_parallel_index(t...
19243  select /*+  no_parallel(t) no_parallel_index(t...
19212  select /*+  no_parallel(t) no_parallel_index(t...
19213  select /*+  no_parallel(t) no_parallel_index(t...
19214  select /*+  no_parallel(t) no_parallel_index(t...
19215  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
12677  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12678  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12679  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12680  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12681  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12682  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12665  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12666  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12667  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12668  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12669  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12670  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
47211  select substrb(dump(val,16,0,64),1,240) ep,  f...
47217  select substrb(dump(val,16,0,64),1,240) ep,  f...
47223  select substrb(dump(val,16,0,64),1,240) ep,  f...
47212  select substrb(dump(val,16,0,64),1,240) ep,  f...
47218  select substrb(dump(val,16,0,64),1,240) ep,  f...
47224  select substrb(dump(val,16,0,64),1,240) ep,  f...
47213  select substrb(dump(val,16,0,64),1,240) ep,  f...
47219  select substrb(dump(val,16,0,64),1,240) ep,  f...
47225  select substrb(dump(val,16,0,64),1,240) ep,  f...
47214  select substrb(dump(val,16,0,64),1,240) ep,  f...
47220  select substrb(dump(val,16,0,64),1,240) ep,  f...
47226  select substrb(dump(val,16,0,64),1,240) ep,  f...
47215  select substrb(dump(val,16,0,64),1,240) ep,  f...
47221  select substrb(dump(val,16,0,64),1,240) ep,  f...
47227  select substrb(dump(val,16,0,64),1,240) ep,  f...
47216  select substrb(dump(val,16,0,64),1,240) ep,  f...
47222  select substrb(dump(val,16,0,64),1,240) ep,  f...
47228  select substrb(dump(val,16,0,64),1,240) ep,  f...
47307  select substrb(dump(val,16,0,64),1,240) ep,  f...
47313  select substrb(dump(val,16,0,64),1,240) ep,  f...
47319  select substrb(dump(val,16,0,64),1,240) ep,  f...
47308  select substrb(dump(val,16,0,64),1,240) ep,  f...
47314  select substrb(dump(val,16,0,64),1,240) ep,  f...
47320  select substrb(dump(val,16,0,64),1,240) ep,  f...
47309  select substrb(dump(val,16,0,64),1,240) ep,  f...
47315  select substrb(dump(val,16,0,64),1,240) ep,  f...
47321  select substrb(dump(val,16,0,64),1,240) ep,  f...
47310  select substrb(dump(val,16,0,64),1,240) ep,  f...
47316  select substrb(dump(val,16,0,64),1,240) ep,  f...
47322  select substrb(dump(val,16,0,64),1,240) ep,  f...
47311  select substrb(dump(val,16,0,64),1,240) ep,  f...
47317  select substrb(dump(val,16,0,64),1,240) ep,  f...
47323  select substrb(dump(val,16,0,64),1,240) ep,  f...
47312  select substrb(dump(val,16,0,64),1,240) ep,  f...
47318  select substrb(dump(val,16,0,64),1,240) ep,  f...
47324  select substrb(dump(val,16,0,64),1,240) ep,  f...
                                                SQL_TEXT
22012  select /*+  no_parallel(t) no_parallel_index(t...
22016  select /*+  no_parallel(t) no_parallel_index(t...
22020  select /*+  no_parallel(t) no_parallel_index(t...
22024  select /*+  no_parallel(t) no_parallel_index(t...
22028  select /*+  no_parallel(t) no_parallel_index(t...
22032  select /*+  no_parallel(t) no_parallel_index(t...
22013  select /*+  no_parallel(t) no_parallel_index(t...
22017  select /*+  no_parallel(t) no_parallel_index(t...
22021  select /*+  no_parallel(t) no_parallel_index(t...
22025  select /*+  no_parallel(t) no_parallel_index(t...
22029  select /*+  no_parallel(t) no_parallel_index(t...
22033  select /*+  no_parallel(t) no_parallel_index(t...
22014  select /*+  no_parallel(t) no_parallel_index(t...
22018  select /*+  no_parallel(t) no_parallel_index(t...
22022  select /*+  no_parallel(t) no_parallel_index(t...
22026  select /*+  no_parallel(t) no_parallel_index(t...
22030  select /*+  no_parallel(t) no_parallel_index(t...
22034  select /*+  no_parallel(t) no_parallel_index(t...
22015  select /*+  no_parallel(t) no_parallel_index(t...
22019  select /*+  no_parallel(t) no_parallel_index(t...
22023  select /*+  no_parallel(t) no_parallel_index(t...
22027  select /*+  no_parallel(t) no_parallel_index(t...
22031  select /*+  no_parallel(t) no_parallel_index(t...
22035  select /*+  no_parallel(t) no_parallel_index(t...
21760  select /*+  no_parallel(t) no_parallel_index(t...
21764  select /*+  no_parallel(t) no_parallel_index(t...
21768  select /*+  no_parallel(t) no_parallel_index(t...
21772  select /*+  no_parallel(t) no_parallel_index(t...
21776  select /*+  no_parallel(t) no_parallel_index(t...
21780  select /*+  no_parallel(t) no_parallel_index(t...
...                                                  ...
22771  select /*+  no_parallel(t) no_parallel_index(t...
22775  select /*+  no_parallel(t) no_parallel_index(t...
22779  select /*+  no_parallel(t) no_parallel_index(t...
22783  select /*+  no_parallel(t) no_parallel_index(t...
22787  select /*+  no_parallel(t) no_parallel_index(t...
22791  select /*+  no_parallel(t) no_parallel_index(t...
21256  select /*+  no_parallel(t) no_parallel_index(t...
21260  select /*+  no_parallel(t) no_parallel_index(t...
21264  select /*+  no_parallel(t) no_parallel_index(t...
21268  select /*+  no_parallel(t) no_parallel_index(t...
21272  select /*+  no_parallel(t) no_parallel_index(t...
21276  select /*+  no_parallel(t) no_parallel_index(t...
21257  select /*+  no_parallel(t) no_parallel_index(t...
21261  select /*+  no_parallel(t) no_parallel_index(t...
21265  select /*+  no_parallel(t) no_parallel_index(t...
21269  select /*+  no_parallel(t) no_parallel_index(t...
21273  select /*+  no_parallel(t) no_parallel_index(t...
21277  select /*+  no_parallel(t) no_parallel_index(t...
21258  select /*+  no_parallel(t) no_parallel_index(t...
21262  select /*+  no_parallel(t) no_parallel_index(t...
21266  select /*+  no_parallel(t) no_parallel_index(t...
21270  select /*+  no_parallel(t) no_parallel_index(t...
21274  select /*+  no_parallel(t) no_parallel_index(t...
21278  select /*+  no_parallel(t) no_parallel_index(t...
21259  select /*+  no_parallel(t) no_parallel_index(t...
21263  select /*+  no_parallel(t) no_parallel_index(t...
21267  select /*+  no_parallel(t) no_parallel_index(t...
21271  select /*+  no_parallel(t) no_parallel_index(t...
21275  select /*+  no_parallel(t) no_parallel_index(t...
21279  select /*+  no_parallel(t) no_parallel_index(t...

[216 rows x 1 columns]
                                               SQL_TEXT
2365  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2366  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2367  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2368  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2369  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2370  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2371  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2372  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2373  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2374  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2375  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2376  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2377  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2378  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2379  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2380  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2381  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2382  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2383  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2384  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2385  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2386  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2387  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2388  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2389  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2390  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2391  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2392  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2393  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2394  /* SQL Analyze(105,1) */ select sum (ss_quanti...
...                                                 ...
2499  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2500  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2501  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2502  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2503  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2504  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2505  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2506  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2507  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2508  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2509  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2510  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2511  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2512  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2513  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2514  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2515  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2516  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2517  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2518  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2519  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2520  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2521  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2522  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2523  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2524  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2525  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2526  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2527  /* SQL Analyze(105,1) */ select sum (ss_quanti...
2528  /* SQL Analyze(105,1) */ select sum (ss_quanti...

[164 rows x 1 columns]
                                               SQL_TEXT
3273  /* SQL Analyze(105,1) */ with ws as\n  (select...
3274  /* SQL Analyze(105,1) */ with ws as\n  (select...
3275  /* SQL Analyze(105,1) */ with ws as\n  (select...
3276  /* SQL Analyze(105,1) */ with ws as\n  (select...
3277  /* SQL Analyze(105,1) */ with ws as\n  (select...
3278  /* SQL Analyze(105,1) */ with ws as\n  (select...
3279  /* SQL Analyze(105,1) */ with ws as\n  (select...
3280  /* SQL Analyze(105,1) */ with ws as\n  (select...
3281  /* SQL Analyze(105,1) */ with ws as\n  (select...
3282  /* SQL Analyze(105,1) */ with ws as\n  (select...
3283  /* SQL Analyze(105,1) */ with ws as\n  (select...
3284  /* SQL Analyze(105,1) */ with ws as\n  (select...
3285  /* SQL Analyze(105,1) */ with ws as\n  (select...
3286  /* SQL Analyze(105,1) */ with ws as\n  (select...
3287  /* SQL Analyze(105,1) */ with ws as\n  (select...
3288  /* SQL Analyze(105,1) */ with ws as\n  (select...
3289  /* SQL Analyze(105,1) */ with ws as\n  (select...
3290  /* SQL Analyze(105,1) */ with ws as\n  (select...
3291  /* SQL Analyze(105,1) */ with ws as\n  (select...
3292  /* SQL Analyze(105,1) */ with ws as\n  (select...
3293  /* SQL Analyze(105,1) */ with ws as\n  (select...
3294  /* SQL Analyze(105,1) */ with ws as\n  (select...
3295  /* SQL Analyze(105,1) */ with ws as\n  (select...
3296  /* SQL Analyze(105,1) */ with ws as\n  (select...
3297  /* SQL Analyze(105,1) */ with ws as\n  (select...
3298  /* SQL Analyze(105,1) */ with ws as\n  (select...
3299  /* SQL Analyze(105,1) */ with ws as\n  (select...
3300  /* SQL Analyze(105,1) */ with ws as\n  (select...
3301  /* SQL Analyze(105,1) */ with ws as\n  (select...
3302  /* SQL Analyze(105,1) */ with ws as\n  (select...
3303  /* SQL Analyze(105,1) */ with ws as\n  (select...
3304  /* SQL Analyze(105,1) */ with ws as\n  (select...
3305  /* SQL Analyze(105,1) */ with ws as\n  (select...
3306  /* SQL Analyze(105,1) */ with ws as\n  (select...
3307  /* SQL Analyze(105,1) */ with ws as\n  (select...
                                               SQL_TEXT
5340  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5341  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5342  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5343  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5344  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5345  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5346  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5347  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5348  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5349  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5350  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5351  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5352  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5353  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5354  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5355  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5356  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5357  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5358  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5359  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5360  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5361  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7347  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7348  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7349  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7350  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7351  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7352  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7353  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7354  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7355  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7356  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7357  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7358  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7359  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7360  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7361  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7362  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7363  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7364  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7365  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7366  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7367  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7368  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5362  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5410  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5363  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5411  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5364  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5412  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5365  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5413  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5366  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5414  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5367  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5415  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5368  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5416  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5369  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5417  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5370  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5418  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5371  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5419  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5372  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5420  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5373  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5421  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5374  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5422  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5375  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5423  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5376  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5424  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5377  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5425  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5378  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5426  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5379  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5427  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5380  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5428  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5381  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5429  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5382  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5430  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5383  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5431  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5384  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5432  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5385  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5433  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7217  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7241  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7218  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7242  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7219  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7243  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7220  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7244  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7221  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                               SQL_TEXT
6478  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6479  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6480  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6481  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6482  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6483  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6484  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6485  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6486  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6487  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6488  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6489  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6490  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
1237  /* SQL Analyze(105,1) */ select * from (select...
1238  /* SQL Analyze(105,1) */ select * from (select...
1239  /* SQL Analyze(105,1) */ select * from (select...
1240  /* SQL Analyze(105,1) */ select * from (select...
1241  /* SQL Analyze(105,1) */ select * from (select...
1242  /* SQL Analyze(105,1) */ select * from (select...
1243  /* SQL Analyze(105,1) */ select * from (select...
1244  /* SQL Analyze(105,1) */ select * from (select...
1245  /* SQL Analyze(105,1) */ select * from (select...
1246  /* SQL Analyze(105,1) */ select * from (select...
1247  /* SQL Analyze(105,1) */ select * from (select...
1248  /* SQL Analyze(105,1) */ select * from (select...
1249  /* SQL Analyze(105,1) */ select * from (select...
1250  /* SQL Analyze(105,1) */ select * from (select...
1251  /* SQL Analyze(105,1) */ select * from (select...
1252  /* SQL Analyze(105,1) */ select * from (select...
1253  /* SQL Analyze(105,1) */ select * from (select...
1254  /* SQL Analyze(105,1) */ select * from (select...
1255  /* SQL Analyze(105,1) */ select * from (select...
1256  /* SQL Analyze(105,1) */ select * from (select...
1257  /* SQL Analyze(105,1) */ select * from (select...
1258  /* SQL Analyze(105,1) */ select * from (select...
1259  /* SQL Analyze(105,1) */ select * from (select...
1260  /* SQL Analyze(105,1) */ select * from (select...
1261  /* SQL Analyze(105,1) */ select * from (select...
1262  /* SQL Analyze(105,1) */ select * from (select...
1263  /* SQL Analyze(105,1) */ select * from (select...
                                               SQL_TEXT
1141  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1142  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1143  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1144  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1145  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1146  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1147  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1148  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1149  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1150  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1151  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1152  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1153  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1154  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1155  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1156  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1157  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1158  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1159  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1160  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1161  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1162  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1163  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1164  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1165  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1166  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1167  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1168  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1169  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1170  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
...                                                 ...
1207  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1208  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1209  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1210  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1211  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1212  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1213  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1214  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1215  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1216  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1217  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1218  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1219  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1220  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1221  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1222  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1223  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1224  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1225  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1226  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1227  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1228  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1229  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1230  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1231  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1232  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1233  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1234  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1235  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...
1236  /* SQL Analyze(105,1) */ select  *\nfrom\n (se...

[96 rows x 1 columns]
                                               SQL_TEXT
1105  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1106  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1107  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1108  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1109  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1110  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1111  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1112  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1113  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1114  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1115  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1116  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1117  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1118  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1119  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1120  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1121  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1122  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1123  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1124  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1125  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1126  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1127  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1128  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1129  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1130  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1131  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1132  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1133  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1134  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1135  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1136  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1137  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1138  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1139  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
1140  /* SQL Analyze(105,1) */ WITH all_sales AS (\n...
                                               SQL_TEXT
5679  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5680  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5681  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5682  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5683  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5684  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5685  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
1381  /* SQL Analyze(105,1) */ select * from (select...
1382  /* SQL Analyze(105,1) */ select * from (select...
1383  /* SQL Analyze(105,1) */ select * from (select...
1384  /* SQL Analyze(105,1) */ select * from (select...
1385  /* SQL Analyze(105,1) */ select * from (select...
1386  /* SQL Analyze(105,1) */ select * from (select...
1387  /* SQL Analyze(105,1) */ select * from (select...
1388  /* SQL Analyze(105,1) */ select * from (select...
1389  /* SQL Analyze(105,1) */ select * from (select...
1390  /* SQL Analyze(105,1) */ select * from (select...
1391  /* SQL Analyze(105,1) */ select * from (select...
1392  /* SQL Analyze(105,1) */ select * from (select...
1393  /* SQL Analyze(105,1) */ select * from (select...
1394  /* SQL Analyze(105,1) */ select * from (select...
1395  /* SQL Analyze(105,1) */ select * from (select...
1396  /* SQL Analyze(105,1) */ select * from (select...
1397  /* SQL Analyze(105,1) */ select * from (select...
1398  /* SQL Analyze(105,1) */ select * from (select...
1399  /* SQL Analyze(105,1) */ select * from (select...
1400  /* SQL Analyze(105,1) */ select * from (select...
1401  /* SQL Analyze(105,1) */ select * from (select...
1402  /* SQL Analyze(105,1) */ select * from (select...
1403  /* SQL Analyze(105,1) */ select * from (select...
1404  /* SQL Analyze(105,1) */ select * from (select...
1405  /* SQL Analyze(105,1) */ select * from (select...
1406  /* SQL Analyze(105,1) */ select * from (select...
1407  /* SQL Analyze(105,1) */ select * from (select...
1408  /* SQL Analyze(105,1) */ select * from (select...
1409  /* SQL Analyze(105,1) */ select * from (select...
1410  /* SQL Analyze(105,1) */ select * from (select...
1411  /* SQL Analyze(105,1) */ select * from (select...
1412  /* SQL Analyze(105,1) */ select * from (select...
1413  /* SQL Analyze(105,1) */ select * from (select...
1414  /* SQL Analyze(105,1) */ select * from (select...
                                               SQL_TEXT
2173  /* SQL Analyze(105,1) */ select * from (select...
2174  /* SQL Analyze(105,1) */ select * from (select...
2175  /* SQL Analyze(105,1) */ select * from (select...
2176  /* SQL Analyze(105,1) */ select * from (select...
2177  /* SQL Analyze(105,1) */ select * from (select...
2178  /* SQL Analyze(105,1) */ select * from (select...
2179  /* SQL Analyze(105,1) */ select * from (select...
2180  /* SQL Analyze(105,1) */ select * from (select...
2181  /* SQL Analyze(105,1) */ select * from (select...
2182  /* SQL Analyze(105,1) */ select * from (select...
2183  /* SQL Analyze(105,1) */ select * from (select...
2184  /* SQL Analyze(105,1) */ select * from (select...
2185  /* SQL Analyze(105,1) */ select * from (select...
2186  /* SQL Analyze(105,1) */ select * from (select...
2187  /* SQL Analyze(105,1) */ select * from (select...
2188  /* SQL Analyze(105,1) */ select * from (select...
2189  /* SQL Analyze(105,1) */ select * from (select...
2190  /* SQL Analyze(105,1) */ select * from (select...
2191  /* SQL Analyze(105,1) */ select * from (select...
2192  /* SQL Analyze(105,1) */ select * from (select...
2193  /* SQL Analyze(105,1) */ select * from (select...
2194  /* SQL Analyze(105,1) */ select * from (select...
2195  /* SQL Analyze(105,1) */ select * from (select...
2196  /* SQL Analyze(105,1) */ select * from (select...
2197  /* SQL Analyze(105,1) */ select * from (select...
2198  /* SQL Analyze(105,1) */ select * from (select...
2199  /* SQL Analyze(105,1) */ select * from (select...
2200  /* SQL Analyze(105,1) */ select * from (select...
                                                SQL_TEXT
9990   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9991   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9992   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9993   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9994   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9995   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9996   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9997   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9998   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9999   SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10000  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10001  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10002  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10003  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10004  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
1415  /* SQL Analyze(105,1) */ select * from (select...
1416  /* SQL Analyze(105,1) */ select * from (select...
1417  /* SQL Analyze(105,1) */ select * from (select...
1418  /* SQL Analyze(105,1) */ select * from (select...
1419  /* SQL Analyze(105,1) */ select * from (select...
1420  /* SQL Analyze(105,1) */ select * from (select...
1421  /* SQL Analyze(105,1) */ select * from (select...
1422  /* SQL Analyze(105,1) */ select * from (select...
1423  /* SQL Analyze(105,1) */ select * from (select...
1424  /* SQL Analyze(105,1) */ select * from (select...
1425  /* SQL Analyze(105,1) */ select * from (select...
1426  /* SQL Analyze(105,1) */ select * from (select...
1427  /* SQL Analyze(105,1) */ select * from (select...
1428  /* SQL Analyze(105,1) */ select * from (select...
1429  /* SQL Analyze(105,1) */ select * from (select...
1430  /* SQL Analyze(105,1) */ select * from (select...
1431  /* SQL Analyze(105,1) */ select * from (select...
1432  /* SQL Analyze(105,1) */ select * from (select...
1433  /* SQL Analyze(105,1) */ select * from (select...
1434  /* SQL Analyze(105,1) */ select * from (select...
1435  /* SQL Analyze(105,1) */ select * from (select...
1436  /* SQL Analyze(105,1) */ select * from (select...
1437  /* SQL Analyze(105,1) */ select * from (select...
1438  /* SQL Analyze(105,1) */ select * from (select...
1439  /* SQL Analyze(105,1) */ select * from (select...
1440  /* SQL Analyze(105,1) */ select * from (select...
1441  /* SQL Analyze(105,1) */ select * from (select...
1442  /* SQL Analyze(105,1) */ select * from (select...
1443  /* SQL Analyze(105,1) */ select * from (select...
1444  /* SQL Analyze(105,1) */ select * from (select...
1445  /* SQL Analyze(105,1) */ select * from (select...
1446  /* SQL Analyze(105,1) */ select * from (select...
                                               SQL_TEXT
5686  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5687  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5688  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5689  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5690  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5691  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5692  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
2009  /* SQL Analyze(105,1) */ select * from (select...
2010  /* SQL Analyze(105,1) */ select * from (select...
2011  /* SQL Analyze(105,1) */ select * from (select...
2012  /* SQL Analyze(105,1) */ select * from (select...
2013  /* SQL Analyze(105,1) */ select * from (select...
2014  /* SQL Analyze(105,1) */ select * from (select...
2015  /* SQL Analyze(105,1) */ select * from (select...
2016  /* SQL Analyze(105,1) */ select * from (select...
2017  /* SQL Analyze(105,1) */ select * from (select...
2018  /* SQL Analyze(105,1) */ select * from (select...
2019  /* SQL Analyze(105,1) */ select * from (select...
2020  /* SQL Analyze(105,1) */ select * from (select...
2021  /* SQL Analyze(105,1) */ select * from (select...
2022  /* SQL Analyze(105,1) */ select * from (select...
2023  /* SQL Analyze(105,1) */ select * from (select...
                                               SQL_TEXT
1292  /* SQL Analyze(105,1) */ select * from (select...
1293  /* SQL Analyze(105,1) */ select * from (select...
1294  /* SQL Analyze(105,1) */ select * from (select...
1295  /* SQL Analyze(105,1) */ select * from (select...
1296  /* SQL Analyze(105,1) */ select * from (select...
1297  /* SQL Analyze(105,1) */ select * from (select...
1298  /* SQL Analyze(105,1) */ select * from (select...
1299  /* SQL Analyze(105,1) */ select * from (select...
1300  /* SQL Analyze(105,1) */ select * from (select...
1301  /* SQL Analyze(105,1) */ select * from (select...
1302  /* SQL Analyze(105,1) */ select * from (select...
1303  /* SQL Analyze(105,1) */ select * from (select...
1304  /* SQL Analyze(105,1) */ select * from (select...
1305  /* SQL Analyze(105,1) */ select * from (select...
1306  /* SQL Analyze(105,1) */ select * from (select...
1307  /* SQL Analyze(105,1) */ select * from (select...
1308  /* SQL Analyze(105,1) */ select * from (select...
1309  /* SQL Analyze(105,1) */ select * from (select...
1310  /* SQL Analyze(105,1) */ select * from (select...
1311  /* SQL Analyze(105,1) */ select * from (select...
1312  /* SQL Analyze(105,1) */ select * from (select...
1313  /* SQL Analyze(105,1) */ select * from (select...
1314  /* SQL Analyze(105,1) */ select * from (select...
1315  /* SQL Analyze(105,1) */ select * from (select...
1316  /* SQL Analyze(105,1) */ select * from (select...
1317  /* SQL Analyze(105,1) */ select * from (select...
                                               SQL_TEXT
1993  /* SQL Analyze(105,1) */ select * from (select...
1994  /* SQL Analyze(105,1) */ select * from (select...
1995  /* SQL Analyze(105,1) */ select * from (select...
1996  /* SQL Analyze(105,1) */ select * from (select...
1997  /* SQL Analyze(105,1) */ select * from (select...
1998  /* SQL Analyze(105,1) */ select * from (select...
1999  /* SQL Analyze(105,1) */ select * from (select...
2000  /* SQL Analyze(105,1) */ select * from (select...
2001  /* SQL Analyze(105,1) */ select * from (select...
2002  /* SQL Analyze(105,1) */ select * from (select...
2003  /* SQL Analyze(105,1) */ select * from (select...
2004  /* SQL Analyze(105,1) */ select * from (select...
2005  /* SQL Analyze(105,1) */ select * from (select...
2006  /* SQL Analyze(105,1) */ select * from (select...
2007  /* SQL Analyze(105,1) */ select * from (select...
2008  /* SQL Analyze(105,1) */ select * from (select...
                                                SQL_TEXT
15309  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15310  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15311  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15312  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15313  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15314  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15213  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15214  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15215  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15216  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15217  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15218  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15117  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15118  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15119  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15120  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15121  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15122  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14637  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14638  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14639  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14640  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14641  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14642  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                               SQL_TEXT
9236  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9237  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9238  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9239  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9240  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9241  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9242  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9243  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9244  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9245  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9246  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9247  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9248  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9249  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9250  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9251  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9252  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9253  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9254  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9255  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9256  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
9091  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9152  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9092  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9153  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9093  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9154  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9094  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9155  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9095  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9156  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9096  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9157  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9097  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9158  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9098  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9159  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9099  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9160  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9100  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9161  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9101  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9162  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9102  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9163  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9103  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9164  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9104  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9165  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9105  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9166  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
9108  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9169  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9109  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9170  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9110  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9171  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9111  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9172  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9112  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9173  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9113  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9174  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9114  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9175  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9115  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9176  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9116  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9177  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9117  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9178  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9118  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9179  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9119  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9180  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9120  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9181  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9121  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9182  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9122  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9183  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[64 rows x 1 columns]
                                               SQL_TEXT
9609  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9610  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9611  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9612  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9613  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
10005  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10006  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10007  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10008  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10009  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10010  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10011  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10012  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10013  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10014  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10015  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10016  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10017  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10018  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10019  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10020  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10021  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10022  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10023  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10024  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10025  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10026  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10027  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10028  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
2256  /* SQL Analyze(105,1) */ select * from (select...
2257  /* SQL Analyze(105,1) */ select * from (select...
2258  /* SQL Analyze(105,1) */ select * from (select...
2259  /* SQL Analyze(105,1) */ select * from (select...
2260  /* SQL Analyze(105,1) */ select * from (select...
2261  /* SQL Analyze(105,1) */ select * from (select...
2262  /* SQL Analyze(105,1) */ select * from (select...
2263  /* SQL Analyze(105,1) */ select * from (select...
2264  /* SQL Analyze(105,1) */ select * from (select...
2265  /* SQL Analyze(105,1) */ select * from (select...
2266  /* SQL Analyze(105,1) */ select * from (select...
2267  /* SQL Analyze(105,1) */ select * from (select...
2268  /* SQL Analyze(105,1) */ select * from (select...
2269  /* SQL Analyze(105,1) */ select * from (select...
2270  /* SQL Analyze(105,1) */ select * from (select...
2271  /* SQL Analyze(105,1) */ select * from (select...
2272  /* SQL Analyze(105,1) */ select * from (select...
2273  /* SQL Analyze(105,1) */ select * from (select...
2274  /* SQL Analyze(105,1) */ select * from (select...
2275  /* SQL Analyze(105,1) */ select * from (select...
2276  /* SQL Analyze(105,1) */ select * from (select...
2277  /* SQL Analyze(105,1) */ select * from (select...
2278  /* SQL Analyze(105,1) */ select * from (select...
2279  /* SQL Analyze(105,1) */ select * from (select...
2280  /* SQL Analyze(105,1) */ select * from (select...
2281  /* SQL Analyze(105,1) */ select * from (select...
2282  /* SQL Analyze(105,1) */ select * from (select...
2283  /* SQL Analyze(105,1) */ select * from (select...
2284  /* SQL Analyze(105,1) */ select * from (select...
2285  /* SQL Analyze(105,1) */ select * from (select...
...                                                 ...
2298  /* SQL Analyze(105,1) */ select * from (select...
2299  /* SQL Analyze(105,1) */ select * from (select...
2300  /* SQL Analyze(105,1) */ select * from (select...
2301  /* SQL Analyze(105,1) */ select * from (select...
2302  /* SQL Analyze(105,1) */ select * from (select...
2303  /* SQL Analyze(105,1) */ select * from (select...
2304  /* SQL Analyze(105,1) */ select * from (select...
2305  /* SQL Analyze(105,1) */ select * from (select...
2306  /* SQL Analyze(105,1) */ select * from (select...
2307  /* SQL Analyze(105,1) */ select * from (select...
2308  /* SQL Analyze(105,1) */ select * from (select...
2309  /* SQL Analyze(105,1) */ select * from (select...
2310  /* SQL Analyze(105,1) */ select * from (select...
2311  /* SQL Analyze(105,1) */ select * from (select...
2312  /* SQL Analyze(105,1) */ select * from (select...
2313  /* SQL Analyze(105,1) */ select * from (select...
2314  /* SQL Analyze(105,1) */ select * from (select...
2315  /* SQL Analyze(105,1) */ select * from (select...
2316  /* SQL Analyze(105,1) */ select * from (select...
2317  /* SQL Analyze(105,1) */ select * from (select...
2318  /* SQL Analyze(105,1) */ select * from (select...
2319  /* SQL Analyze(105,1) */ select * from (select...
2320  /* SQL Analyze(105,1) */ select * from (select...
2321  /* SQL Analyze(105,1) */ select * from (select...
2322  /* SQL Analyze(105,1) */ select * from (select...
2323  /* SQL Analyze(105,1) */ select * from (select...
2324  /* SQL Analyze(105,1) */ select * from (select...
2325  /* SQL Analyze(105,1) */ select * from (select...
2326  /* SQL Analyze(105,1) */ select * from (select...
2327  /* SQL Analyze(105,1) */ select * from (select...

[72 rows x 1 columns]
                                               SQL_TEXT
9213  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9214  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9215  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9216  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9217  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9218  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9219  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9220  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9221  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9222  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9223  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9224  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9225  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9226  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9227  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9228  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9229  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9230  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9231  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9232  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9233  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9234  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9235  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5663  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5664  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5665  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5666  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5667  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5668  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5669  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5670  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5671  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5672  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5673  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5674  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5675  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5676  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5677  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5678  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
8663  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8770  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8877  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8984  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8664  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8771  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8878  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8985  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8665  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8772  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8879  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8986  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8666  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8773  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8880  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8987  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8667  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8774  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8881  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8988  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8668  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8775  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8882  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8989  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8669  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8776  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8883  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8990  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8670  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8777  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
8898  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9005  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8685  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8792  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8899  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9006  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8686  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8793  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8900  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9007  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8687  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8794  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8901  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9008  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8688  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8795  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8902  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9009  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8689  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8796  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8903  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9010  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8690  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8797  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8904  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9011  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8691  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8798  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8905  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9012  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[116 rows x 1 columns]
                                                SQL_TEXT
10029  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10030  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10031  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10032  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10033  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10034  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10035  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10036  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10037  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10038  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10039  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10040  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10041  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10042  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7541  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7542  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7543  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7544  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7545  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7546  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7547  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7548  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7549  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7550  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7551  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7552  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7553  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7554  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7555  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7556  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
2328  /* SQL Analyze(105,1) */ select c_last_name\n ...
2329  /* SQL Analyze(105,1) */ select c_last_name\n ...
2330  /* SQL Analyze(105,1) */ select c_last_name\n ...
2331  /* SQL Analyze(105,1) */ select c_last_name\n ...
2332  /* SQL Analyze(105,1) */ select c_last_name\n ...
2333  /* SQL Analyze(105,1) */ select c_last_name\n ...
2334  /* SQL Analyze(105,1) */ select c_last_name\n ...
2335  /* SQL Analyze(105,1) */ select c_last_name\n ...
2336  /* SQL Analyze(105,1) */ select c_last_name\n ...
2337  /* SQL Analyze(105,1) */ select c_last_name\n ...
2338  /* SQL Analyze(105,1) */ select c_last_name\n ...
2339  /* SQL Analyze(105,1) */ select c_last_name\n ...
2340  /* SQL Analyze(105,1) */ select c_last_name\n ...
2341  /* SQL Analyze(105,1) */ select c_last_name\n ...
2342  /* SQL Analyze(105,1) */ select c_last_name\n ...
2343  /* SQL Analyze(105,1) */ select c_last_name\n ...
                                               SQL_TEXT
8692  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8799  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8906  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9013  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8693  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8800  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8907  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9014  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8694  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8801  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8908  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9015  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8695  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8802  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8909  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9016  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8696  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8803  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8910  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9017  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8697  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8804  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8911  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9018  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8698  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                               SQL_TEXT
3063  /* SQL Analyze(105,1) */ with ssr as\n (select...
3217  /* SQL Analyze(105,1) */ with ssr as\n (select...
3064  /* SQL Analyze(105,1) */ with ssr as\n (select...
3218  /* SQL Analyze(105,1) */ with ssr as\n (select...
3065  /* SQL Analyze(105,1) */ with ssr as\n (select...
3219  /* SQL Analyze(105,1) */ with ssr as\n (select...
3066  /* SQL Analyze(105,1) */ with ssr as\n (select...
3220  /* SQL Analyze(105,1) */ with ssr as\n (select...
3067  /* SQL Analyze(105,1) */ with ssr as\n (select...
3221  /* SQL Analyze(105,1) */ with ssr as\n (select...
3068  /* SQL Analyze(105,1) */ with ssr as\n (select...
3222  /* SQL Analyze(105,1) */ with ssr as\n (select...
3069  /* SQL Analyze(105,1) */ with ssr as\n (select...
3223  /* SQL Analyze(105,1) */ with ssr as\n (select...
3070  /* SQL Analyze(105,1) */ with ssr as\n (select...
3224  /* SQL Analyze(105,1) */ with ssr as\n (select...
3071  /* SQL Analyze(105,1) */ with ssr as\n (select...
3225  /* SQL Analyze(105,1) */ with ssr as\n (select...
3072  /* SQL Analyze(105,1) */ with ssr as\n (select...
3226  /* SQL Analyze(105,1) */ with ssr as\n (select...
3073  /* SQL Analyze(105,1) */ with ssr as\n (select...
3227  /* SQL Analyze(105,1) */ with ssr as\n (select...
3074  /* SQL Analyze(105,1) */ with ssr as\n (select...
3228  /* SQL Analyze(105,1) */ with ssr as\n (select...
3075  /* SQL Analyze(105,1) */ with ssr as\n (select...
3229  /* SQL Analyze(105,1) */ with ssr as\n (select...
3076  /* SQL Analyze(105,1) */ with ssr as\n (select...
3230  /* SQL Analyze(105,1) */ with ssr as\n (select...
3077  /* SQL Analyze(105,1) */ with ssr as\n (select...
3231  /* SQL Analyze(105,1) */ with ssr as\n (select...
...                                                 ...
3199  /* SQL Analyze(105,1) */ with ssr as\n (select...
3152  /* SQL Analyze(105,1) */ with ssr as\n (select...
3200  /* SQL Analyze(105,1) */ with ssr as\n (select...
3153  /* SQL Analyze(105,1) */ with ssr as\n (select...
3201  /* SQL Analyze(105,1) */ with ssr as\n (select...
3154  /* SQL Analyze(105,1) */ with ssr as\n (select...
3202  /* SQL Analyze(105,1) */ with ssr as\n (select...
3155  /* SQL Analyze(105,1) */ with ssr as\n (select...
3203  /* SQL Analyze(105,1) */ with ssr as\n (select...
3156  /* SQL Analyze(105,1) */ with ssr as\n (select...
3204  /* SQL Analyze(105,1) */ with ssr as\n (select...
3157  /* SQL Analyze(105,1) */ with ssr as\n (select...
3205  /* SQL Analyze(105,1) */ with ssr as\n (select...
3158  /* SQL Analyze(105,1) */ with ssr as\n (select...
3206  /* SQL Analyze(105,1) */ with ssr as\n (select...
3159  /* SQL Analyze(105,1) */ with ssr as\n (select...
3207  /* SQL Analyze(105,1) */ with ssr as\n (select...
3160  /* SQL Analyze(105,1) */ with ssr as\n (select...
3208  /* SQL Analyze(105,1) */ with ssr as\n (select...
3161  /* SQL Analyze(105,1) */ with ssr as\n (select...
3209  /* SQL Analyze(105,1) */ with ssr as\n (select...
3162  /* SQL Analyze(105,1) */ with ssr as\n (select...
3210  /* SQL Analyze(105,1) */ with ssr as\n (select...
3163  /* SQL Analyze(105,1) */ with ssr as\n (select...
3211  /* SQL Analyze(105,1) */ with ssr as\n (select...
3212  /* SQL Analyze(105,1) */ with ssr as\n (select...
3213  /* SQL Analyze(105,1) */ with ssr as\n (select...
3214  /* SQL Analyze(105,1) */ with ssr as\n (select...
3215  /* SQL Analyze(105,1) */ with ssr as\n (select...
3216  /* SQL Analyze(105,1) */ with ssr as\n (select...

[210 rows x 1 columns]
                                               SQL_TEXT
7626  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7627  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7628  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7629  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7630  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7631  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7632  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7633  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7634  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7635  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7636  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7637  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7638  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7639  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7640  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7641  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7642  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7643  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7644  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7645  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7646  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7647  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7648  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7649  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7650  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
9257  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9258  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9259  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9260  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9261  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9262  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9263  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9264  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9265  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9266  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9267  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9268  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9269  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9270  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9271  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9272  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9273  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9274  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9275  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9276  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9277  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9278  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
8606  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8607  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8608  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8609  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8610  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8611  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8612  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8613  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8614  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8615  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8616  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8617  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8618  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8619  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8620  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8621  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8622  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8623  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8624  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8625  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8626  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8627  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8628  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8629  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8630  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8631  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8632  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8633  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8634  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8635  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8636  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8637  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8638  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8639  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8640  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8641  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8642  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8643  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8644  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8645  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8646  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7651  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7842  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8033  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8224  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8415  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7652  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7843  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8034  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8225  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8416  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7653  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7844  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8035  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8226  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8417  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7654  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7845  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8036  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8227  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8418  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7655  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7846  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8037  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8228  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8419  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7656  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7847  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8038  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8229  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8420  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
7682  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7873  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8064  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8255  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8446  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7683  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7874  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8065  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8256  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8447  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7684  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7875  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8066  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8257  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8448  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7685  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7876  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8067  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8258  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8449  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7686  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7877  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8068  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8259  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8450  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7687  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7878  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8069  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8260  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8451  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[185 rows x 1 columns]
                                               SQL_TEXT
9522  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9523  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9524  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9525  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9526  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9527  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9528  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9529  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9530  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9531  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9532  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9533  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9534  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9535  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9536  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9537  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9538  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9539  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9540  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9541  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9542  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9543  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9544  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9545  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9546  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9547  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9548  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5725  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5726  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5727  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5728  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5729  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5730  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5731  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5732  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5733  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5734  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5735  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5736  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5737  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5738  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5739  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5740  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5741  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5742  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5743  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5744  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5540  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5556  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5541  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5557  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5542  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5558  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5543  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5559  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5544  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5560  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5545  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5561  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5546  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5562  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5547  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5563  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
7688  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7879  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8070  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8261  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8452  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7689  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7880  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8071  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8262  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8453  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7690  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7881  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8072  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8263  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8454  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7691  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7882  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8073  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8264  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8455  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7692  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7883  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8074  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8265  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8456  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7693  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7884  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8075  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8266  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8457  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
7722  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7913  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8104  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8295  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8486  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7723  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7914  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8105  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8296  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8487  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7724  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7915  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8106  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8297  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8488  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7725  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7916  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8107  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8298  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8489  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7726  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7917  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8108  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8299  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8490  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7727  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7918  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8109  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8300  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[200 rows x 1 columns]
                                               SQL_TEXT
2136  /* SQL Analyze(105,1) */ select * from (select...
2137  /* SQL Analyze(105,1) */ select * from (select...
2138  /* SQL Analyze(105,1) */ select * from (select...
2139  /* SQL Analyze(105,1) */ select * from (select...
2140  /* SQL Analyze(105,1) */ select * from (select...
2141  /* SQL Analyze(105,1) */ select * from (select...
2142  /* SQL Analyze(105,1) */ select * from (select...
2143  /* SQL Analyze(105,1) */ select * from (select...
2144  /* SQL Analyze(105,1) */ select * from (select...
2145  /* SQL Analyze(105,1) */ select * from (select...
2146  /* SQL Analyze(105,1) */ select * from (select...

                                               SQL_TEXT
7805  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7996  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8187  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8378  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8569  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7806  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7997  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8188  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8379  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8570  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7807  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7998  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8189  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8380  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8571  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7808  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7999  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8190  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8381  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8572  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7809  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8000  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8191  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8382  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8573  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7810  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8001  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8192  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8383  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8574  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                 ...
7836  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8027  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8218  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8409  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8600  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7837  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8028  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8219  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8410  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8601  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7838  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8029  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8220  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8411  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8602  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7839  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8030  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8221  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8412  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8603  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7840  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8031  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8222  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8413  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8604  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
7841  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8032  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8223  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8414  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
8605  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[185 rows x 1 columns]
                                               SQL_TEXT
9491  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9492  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9493  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9494  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9495  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9496  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9497  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9498  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9499  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9500  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9501  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9502  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9503  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9504  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9505  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9506  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9507  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9508  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9509  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9510  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9511  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9512  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9513  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9514  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9515  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9516  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9517  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9518  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9519  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9520  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9521  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
2094  /* SQL Analyze(105,1) */ select * from (select...
2095  /* SQL Analyze(105,1) */ select * from (select...
2096  /* SQL Analyze(105,1) */ select * from (select...
2097  /* SQL Analyze(105,1) */ select * from (select...
2098  /* SQL Analyze(105,1) */ select * from (select...
2099  /* SQL Analyze(105,1) */ select * from (select...
2100  /* SQL Analyze(105,1) */ select * from (select...
2101  /* SQL Analyze(105,1) */ select * from (select...
2102  /* SQL Analyze(105,1) */ select * from (select...
2103  /* SQL Analyze(105,1) */ select * from (select...
2104  /* SQL Analyze(105,1) */ select * from (select...
2105  /* SQL Analyze(105,1) */ select * from (select...
2106  /* SQL Analyze(105,1) */ select * from (select...
2107  /* SQL Analyze(105,1) */ select * from (select...
2108  /* SQL Analyze(105,1) */ select * from (select...
2109  /* SQL Analyze(105,1) */ select * from (select...
2110  /* SQL Analyze(105,1) */ select * from (select...
2111  /* SQL Analyze(105,1) */ select * from (select...
2112  /* SQL Analyze(105,1) */ select * from (select...
2113  /* SQL Analyze(105,1) */ select * from (select...
2114  /* SQL Analyze(105,1) */ select * from (select...
                                               SQL_TEXT
1264  /* SQL Analyze(105,1) */ select * from (select...
1265  /* SQL Analyze(105,1) */ select * from (select...
1266  /* SQL Analyze(105,1) */ select * from (select...
1267  /* SQL Analyze(105,1) */ select * from (select...
1268  /* SQL Analyze(105,1) */ select * from (select...
1269  /* SQL Analyze(105,1) */ select * from (select...
1270  /* SQL Analyze(105,1) */ select * from (select...
1271  /* SQL Analyze(105,1) */ select * from (select...
1272  /* SQL Analyze(105,1) */ select * from (select...
1273  /* SQL Analyze(105,1) */ select * from (select...
1274  /* SQL Analyze(105,1) */ select * from (select...
1275  /* SQL Analyze(105,1) */ select * from (select...
1276  /* SQL Analyze(105,1) */ select * from (select...
1277  /* SQL Analyze(105,1) */ select * from (select...
1278  /* SQL Analyze(105,1) */ select * from (select...
1279  /* SQL Analyze(105,1) */ select * from (select...
1280  /* SQL Analyze(105,1) */ select * from (select...
1281  /* SQL Analyze(105,1) */ select * from (select...
1282  /* SQL Analyze(105,1) */ select * from (select...
1283  /* SQL Analyze(105,1) */ select * from (select...
1284  /* SQL Analyze(105,1) */ select * from (select...
1285  /* SQL Analyze(105,1) */ select * from (select...
1286  /* SQL Analyze(105,1) */ select * from (select...
1287  /* SQL Analyze(105,1) */ select * from (select...
1288  /* SQL Analyze(105,1) */ select * from (select...
1289  /* SQL Analyze(105,1) */ select * from (select...
1290  /* SQL Analyze(105,1) */ select * from (select...
1291  /* SQL Analyze(105,1) */ select * from (select...
                                               SQL_TEXT
2344  /* SQL Analyze(105,1) */ select i_brand_id bra...
2345  /* SQL Analyze(105,1) */ select i_brand_id bra...
2346  /* SQL Analyze(105,1) */ select i_brand_id bra...
2347  /* SQL Analyze(105,1) */ select i_brand_id bra...
2348  /* SQL Analyze(105,1) */ select i_brand_id bra...
2349  /* SQL Analyze(105,1) */ select i_brand_id bra...
2350  /* SQL Analyze(105,1) */ select i_brand_id bra...
2351  /* SQL Analyze(105,1) */ select i_brand_id bra...
2352  /* SQL Analyze(105,1) */ select i_brand_id bra...
2353  /* SQL Analyze(105,1) */ select i_brand_id bra...
2354  /* SQL Analyze(105,1) */ select i_brand_id bra...
2355  /* SQL Analyze(105,1) */ select i_brand_id bra...
2356  /* SQL Analyze(105,1) */ select i_brand_id bra...
2357  /* SQL Analyze(105,1) */ select i_brand_id bra...
2358  /* SQL Analyze(105,1) */ select i_brand_id bra...
2359  /* SQL Analyze(105,1) */ select i_brand_id bra...
2360  /* SQL Analyze(105,1) */ select i_brand_id bra...
2361  /* SQL Analyze(105,1) */ select i_brand_id bra...
2362  /* SQL Analyze(105,1) */ select i_brand_id bra...
2363  /* SQL Analyze(105,1) */ select i_brand_id bra...
2364  /* SQL Analyze(105,1) */ select i_brand_id bra...
                                               SQL_TEXT
2879  /* SQL Analyze(105,1) */ with ss as (\n select...
2880  /* SQL Analyze(105,1) */ with ss as (\n select...
2881  /* SQL Analyze(105,1) */ with ss as (\n select...
2882  /* SQL Analyze(105,1) */ with ss as (\n select...
2883  /* SQL Analyze(105,1) */ with ss as (\n select...
2884  /* SQL Analyze(105,1) */ with ss as (\n select...
2885  /* SQL Analyze(105,1) */ with ss as (\n select...
2886  /* SQL Analyze(105,1) */ with ss as (\n select...
2887  /* SQL Analyze(105,1) */ with ss as (\n select...
2888  /* SQL Analyze(105,1) */ with ss as (\n select...
2889  /* SQL Analyze(105,1) */ with ss as (\n select...
2890  /* SQL Analyze(105,1) */ with ss as (\n select...
2891  /* SQL Analyze(105,1) */ with ss as (\n select...
2892  /* SQL Analyze(105,1) */ with ss as (\n select...
2893  /* SQL Analyze(105,1) */ with ss as (\n select...
2894  /* SQL Analyze(105,1) */ with ss as (\n select...
2895  /* SQL Analyze(105,1) */ with ss as (\n select...
2896  /* SQL Analyze(105,1) */ with ss as (\n select...
2897  /* SQL Analyze(105,1) */ with ss as (\n select...
2898  /* SQL Analyze(105,1) */ with ss as (\n select...
2899  /* SQL Analyze(105,1) */ with ss as (\n select...
2900  /* SQL Analyze(105,1) */ with ss as (\n select...
2901  /* SQL Analyze(105,1) */ with ss as (\n select...
2902  /* SQL Analyze(105,1) */ with ss as (\n select...
2903  /* SQL Analyze(105,1) */ with ss as (\n select...
2904  /* SQL Analyze(105,1) */ with ss as (\n select...
2905  /* SQL Analyze(105,1) */ with ss as (\n select...
2906  /* SQL Analyze(105,1) */ with ss as (\n select...
2907  /* SQL Analyze(105,1) */ with ss as (\n select...
2908  /* SQL Analyze(105,1) */ with ss as (\n select...
2909  /* SQL Analyze(105,1) */ with ss as (\n select...
2910  /* SQL Analyze(105,1) */ with ss as (\n select...
2911  /* SQL Analyze(105,1) */ with ss as (\n select...
2912  /* SQL Analyze(105,1) */ with ss as (\n select...
2913  /* SQL Analyze(105,1) */ with ss as (\n select...
2914  /* SQL Analyze(105,1) */ with ss as (\n select...
2915  /* SQL Analyze(105,1) */ with ss as (\n select...
2916  /* SQL Analyze(105,1) */ with ss as (\n select...
2917  /* SQL Analyze(105,1) */ with ss as (\n select...
2918  /* SQL Analyze(105,1) */ with ss as (\n select...
2919  /* SQL Analyze(105,1) */ with ss as (\n select...
2920  /* SQL Analyze(105,1) */ with ss as (\n select...
2921  /* SQL Analyze(105,1) */ with ss as (\n select...
2922  /* SQL Analyze(105,1) */ with ss as (\n select...
2923  /* SQL Analyze(105,1) */ with ss as (\n select...
2924  /* SQL Analyze(105,1) */ with ss as (\n select...
2925  /* SQL Analyze(105,1) */ with ss as (\n select...
2926  /* SQL Analyze(105,1) */ with ss as (\n select...
2927  /* SQL Analyze(105,1) */ with ss as (\n select...
2928  /* SQL Analyze(105,1) */ with ss as (\n select...
2929  /* SQL Analyze(105,1) */ with ss as (\n select...
2930  /* SQL Analyze(105,1) */ with ss as (\n select...
2931  /* SQL Analyze(105,1) */ with ss as (\n select...
2932  /* SQL Analyze(105,1) */ with ss as (\n select...
2933  /* SQL Analyze(105,1) */ with ss as (\n select...
                                               SQL_TEXT
2836  /* SQL Analyze(105,1) */ with ss as (\n select...
2837  /* SQL Analyze(105,1) */ with ss as (\n select...
2838  /* SQL Analyze(105,1) */ with ss as (\n select...
2839  /* SQL Analyze(105,1) */ with ss as (\n select...
2840  /* SQL Analyze(105,1) */ with ss as (\n select...
2841  /* SQL Analyze(105,1) */ with ss as (\n select...
2842  /* SQL Analyze(105,1) */ with ss as (\n select...
2843  /* SQL Analyze(105,1) */ with ss as (\n select...
2844  /* SQL Analyze(105,1) */ with ss as (\n select...
2845  /* SQL Analyze(105,1) */ with ss as (\n select...
2846  /* SQL Analyze(105,1) */ with ss as (\n select...
2847  /* SQL Analyze(105,1) */ with ss as (\n select...
2848  /* SQL Analyze(105,1) */ with ss as (\n select...
2849  /* SQL Analyze(105,1) */ with ss as (\n select...
2850  /* SQL Analyze(105,1) */ with ss as (\n select...
2851  /* SQL Analyze(105,1) */ with ss as (\n select...
2852  /* SQL Analyze(105,1) */ with ss as (\n select...
2853  /* SQL Analyze(105,1) */ with ss as (\n select...
2854  /* SQL Analyze(105,1) */ with ss as (\n select...
2855  /* SQL Analyze(105,1) */ with ss as (\n select...
2856  /* SQL Analyze(105,1) */ with ss as (\n select...
2857  /* SQL Analyze(105,1) */ with ss as (\n select...
2858  /* SQL Analyze(105,1) */ with ss as (\n select...
2859  /* SQL Analyze(105,1) */ with ss as (\n select...
2860  /* SQL Analyze(105,1) */ with ss as (\n select...
2861  /* SQL Analyze(105,1) */ with ss as (\n select...
2862  /* SQL Analyze(105,1) */ with ss as (\n select...
2863  /* SQL Analyze(105,1) */ with ss as (\n select...
2864  /* SQL Analyze(105,1) */ with ss as (\n select...
2865  /* SQL Analyze(105,1) */ with ss as (\n select...
2866  /* SQL Analyze(105,1) */ with ss as (\n select...
2867  /* SQL Analyze(105,1) */ with ss as (\n select...
2868  /* SQL Analyze(105,1) */ with ss as (\n select...
2869  /* SQL Analyze(105,1) */ with ss as (\n select...
2870  /* SQL Analyze(105,1) */ with ss as (\n select...
2871  /* SQL Analyze(105,1) */ with ss as (\n select...
2872  /* SQL Analyze(105,1) */ with ss as (\n select...
2873  /* SQL Analyze(105,1) */ with ss as (\n select...
2874  /* SQL Analyze(105,1) */ with ss as (\n select...
2875  /* SQL Analyze(105,1) */ with ss as (\n select...
2876  /* SQL Analyze(105,1) */ with ss as (\n select...
2877  /* SQL Analyze(105,1) */ with ss as (\n select...
2878  /* SQL Analyze(105,1) */ with ss as (\n select...
                                               SQL_TEXT
2201  /* SQL Analyze(105,1) */ select * from (select...
2202  /* SQL Analyze(105,1) */ select * from (select...
2203  /* SQL Analyze(105,1) */ select * from (select...
2204  /* SQL Analyze(105,1) */ select * from (select...
2205  /* SQL Analyze(105,1) */ select * from (select...
2206  /* SQL Analyze(105,1) */ select * from (select...
2207  /* SQL Analyze(105,1) */ select * from (select...
2208  /* SQL Analyze(105,1) */ select * from (select...
2209  /* SQL Analyze(105,1) */ select * from (select...
2210  /* SQL Analyze(105,1) */ select * from (select...
2211  /* SQL Analyze(105,1) */ select * from (select...
2212  /* SQL Analyze(105,1) */ select * from (select...
2213  /* SQL Analyze(105,1) */ select * from (select...
2214  /* SQL Analyze(105,1) */ select * from (select...
2215  /* SQL Analyze(105,1) */ select * from (select...
2216  /* SQL Analyze(105,1) */ select * from (select...
2217  /* SQL Analyze(105,1) */ select * from (select...
2218  /* SQL Analyze(105,1) */ select * from (select...
                                               SQL_TEXT
3020  /* SQL Analyze(105,1) */ with ss as (\n select...
3021  /* SQL Analyze(105,1) */ with ss as (\n select...
3022  /* SQL Analyze(105,1) */ with ss as (\n select...
3023  /* SQL Analyze(105,1) */ with ss as (\n select...
3024  /* SQL Analyze(105,1) */ with ss as (\n select...
3025  /* SQL Analyze(105,1) */ with ss as (\n select...
3026  /* SQL Analyze(105,1) */ with ss as (\n select...
3027  /* SQL Analyze(105,1) */ with ss as (\n select...
3028  /* SQL Analyze(105,1) */ with ss as (\n select...
3029  /* SQL Analyze(105,1) */ with ss as (\n select...
3030  /* SQL Analyze(105,1) */ with ss as (\n select...
3031  /* SQL Analyze(105,1) */ with ss as (\n select...
3032  /* SQL Analyze(105,1) */ with ss as (\n select...
3033  /* SQL Analyze(105,1) */ with ss as (\n select...
3034  /* SQL Analyze(105,1) */ with ss as (\n select...
3035  /* SQL Analyze(105,1) */ with ss as (\n select...
3036  /* SQL Analyze(105,1) */ with ss as (\n select...
3037  /* SQL Analyze(105,1) */ with ss as (\n select...
3038  /* SQL Analyze(105,1) */ with ss as (\n select...
3039  /* SQL Analyze(105,1) */ with ss as (\n select...
3040  /* SQL Analyze(105,1) */ with ss as (\n select...
3041  /* SQL Analyze(105,1) */ with ss as (\n select...
3042  /* SQL Analyze(105,1) */ with ss as (\n select...
3043  /* SQL Analyze(105,1) */ with ss as (\n select...
3044  /* SQL Analyze(105,1) */ with ss as (\n select...
3045  /* SQL Analyze(105,1) */ with ss as (\n select...
3046  /* SQL Analyze(105,1) */ with ss as (\n select...
3047  /* SQL Analyze(105,1) */ with ss as (\n select...
3048  /* SQL Analyze(105,1) */ with ss as (\n select...
3049  /* SQL Analyze(105,1) */ with ss as (\n select...
3050  /* SQL Analyze(105,1) */ with ss as (\n select...
3051  /* SQL Analyze(105,1) */ with ss as (\n select...
3052  /* SQL Analyze(105,1) */ with ss as (\n select...
3053  /* SQL Analyze(105,1) */ with ss as (\n select...
3054  /* SQL Analyze(105,1) */ with ss as (\n select...
3055  /* SQL Analyze(105,1) */ with ss as (\n select...
3056  /* SQL Analyze(105,1) */ with ss as (\n select...
3057  /* SQL Analyze(105,1) */ with ss as (\n select...
3058  /* SQL Analyze(105,1) */ with ss as (\n select...
3059  /* SQL Analyze(105,1) */ with ss as (\n select...
3060  /* SQL Analyze(105,1) */ with ss as (\n select...
3061  /* SQL Analyze(105,1) */ with ss as (\n select...
3062  /* SQL Analyze(105,1) */ with ss as (\n select...
                                               SQL_TEXT
2779  /* SQL Analyze(105,1) */ with ss as\n (select ...
2780  /* SQL Analyze(105,1) */ with ss as\n (select ...
2781  /* SQL Analyze(105,1) */ with ss as\n (select ...
2782  /* SQL Analyze(105,1) */ with ss as\n (select ...
2783  /* SQL Analyze(105,1) */ with ss as\n (select ...
2784  /* SQL Analyze(105,1) */ with ss as\n (select ...
2785  /* SQL Analyze(105,1) */ with ss as\n (select ...
2786  /* SQL Analyze(105,1) */ with ss as\n (select ...
2787  /* SQL Analyze(105,1) */ with ss as\n (select ...
2788  /* SQL Analyze(105,1) */ with ss as\n (select ...
2789  /* SQL Analyze(105,1) */ with ss as\n (select ...
2790  /* SQL Analyze(105,1) */ with ss as\n (select ...
2791  /* SQL Analyze(105,1) */ with ss as\n (select ...
2792  /* SQL Analyze(105,1) */ with ss as\n (select ...
2793  /* SQL Analyze(105,1) */ with ss as\n (select ...
2794  /* SQL Analyze(105,1) */ with ss as\n (select ...
2795  /* SQL Analyze(105,1) */ with ss as\n (select ...
2796  /* SQL Analyze(105,1) */ with ss as\n (select ...
2797  /* SQL Analyze(105,1) */ with ss as\n (select ...
2798  /* SQL Analyze(105,1) */ with ss as\n (select ...
2799  /* SQL Analyze(105,1) */ with ss as\n (select ...
2800  /* SQL Analyze(105,1) */ with ss as\n (select ...
2801  /* SQL Analyze(105,1) */ with ss as\n (select ...
2802  /* SQL Analyze(105,1) */ with ss as\n (select ...
2803  /* SQL Analyze(105,1) */ with ss as\n (select ...

                                               SQL_TEXT
9881  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9882  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9883  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9884  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9885  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9886  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9887  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9888  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9889  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9890  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9891  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
9864  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9865  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9866  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9867  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9868  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9869  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9870  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9871  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9872  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9873  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9874  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9875  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9876  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9877  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9878  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9879  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
9880  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
10053  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10054  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10055  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10056  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10057  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10058  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10059  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10060  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10061  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10062  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10063  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10064  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10065  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10066  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10067  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
56124  update store set s_rec_end_date = to_char(sysd...
56125  update store set s_rec_end_date = to_char(sysd...
56126  update store set s_rec_end_date = to_char(sysd...
56127  update store set s_rec_end_date = to_char(sysd...
56128  update store set s_rec_end_date = to_char(sysd...
                                              SQL_TEXT
925  /* SQL Analyze(0) */ select /*+  full(t)    pa...
926  /* SQL Analyze(0) */ select /*+  full(t)    pa...
927  /* SQL Analyze(0) */ select /*+  full(t)    pa...
928  /* SQL Analyze(0) */ select /*+  full(t)    pa...
929  /* SQL Analyze(0) */ select /*+  full(t)    pa...
930  /* SQL Analyze(0) */ select /*+  full(t)    pa...
931  /* SQL Analyze(0) */ select /*+  full(t)    pa...
932  /* SQL Analyze(0) */ select /*+  full(t)    pa...
941  /* SQL Analyze(0) */ select /*+  full(t)    pa...
942  /* SQL Analyze(0) */ select /*+  full(t)    pa...
943  /* SQL Analyze(0) */ select /*+  full(t)    pa...
944  /* SQL Analyze(0) */ select /*+  full(t)    pa...
945  /* SQL Analyze(0) */ select /*+  full(t)    pa...
946  /* SQL Analyze(0) */ select /*+  full(t)    pa...
947  /* SQL Analyze(0) */ select /*+  full(t)    pa...
948  /* SQL Analyze(0) */ select /*+  full(t)    pa...
                                                SQL_TEXT
15627  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15628  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15629  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15630  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15631  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15632  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15507  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15508  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15509  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15510  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15511  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15512  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15567  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15568  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15569  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15570  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15571  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15572  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15597  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15598  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15599  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15600  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15601  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15602  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15537  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15538  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15539  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15540  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15541  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15542  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
10705  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10706  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10707  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10708  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10709  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10710  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11155  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11156  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11157  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11158  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11159  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11160  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10525  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10526  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10527  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10528  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10529  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10530  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11245  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11246  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11247  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11248  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11249  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11250  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10795  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10796  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10797  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10798  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10799  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10800  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
10165  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10166  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10167  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10168  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10169  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10170  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10435  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10436  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10437  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10438  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10439  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10440  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10885  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10886  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10887  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10888  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10889  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10890  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10255  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10256  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10257  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10258  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10259  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10260  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11065  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11066  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11067  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11068  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11069  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11070  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
15315  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15316  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15317  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15318  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15319  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15320  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15219  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15220  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15221  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15222  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15223  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15224  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15123  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15124  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15125  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15126  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15127  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15128  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14643  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14644  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14645  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14646  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14647  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14648  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14739  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14740  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14741  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14742  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14743  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14744  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
14355  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14356  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14357  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14358  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14359  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14360  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15027  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15028  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15029  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15030  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15031  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15032  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14547  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14548  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14549  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14550  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14551  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
14552  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13971  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13972  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13973  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13974  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13975  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13976  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13875  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13876  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13877  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13878  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13879  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13880  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[96 rows x 1 columns]
                                                SQL_TEXT
13353  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13437  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13354  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13438  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13355  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13439  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13356  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13440  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13357  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13441  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13358  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13442  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13185  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13186  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13187  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13188  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13189  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13190  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13269  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13270  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13271  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13272  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13273  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13274  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13521  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13522  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13523  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13524  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13525  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13526  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
13101  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13102  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13103  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13104  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13105  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13106  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12933  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12934  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12935  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12936  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12937  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12938  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13689  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13690  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13691  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13692  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13693  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
13694  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12849  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12850  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12851  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12852  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12853  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12854  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12765  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12766  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12767  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12768  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12769  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
12770  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                              SQL_TEXT
333  /* SQL Analyze(0) */ select /*+  full(t)    pa...
334  /* SQL Analyze(0) */ select /*+  full(t)    pa...
335  /* SQL Analyze(0) */ select /*+  full(t)    pa...
336  /* SQL Analyze(0) */ select /*+  full(t)    pa...
337  /* SQL Analyze(0) */ select /*+  full(t)    pa...
338  /* SQL Analyze(0) */ select /*+  full(t)    pa...
339  /* SQL Analyze(0) */ select /*+  full(t)    pa...
340  /* SQL Analyze(0) */ select /*+  full(t)    pa...
653  /* SQL Analyze(0) */ select /*+  full(t)    pa...
654  /* SQL Analyze(0) */ select /*+  full(t)    pa...
655  /* SQL Analyze(0) */ select /*+  full(t)    pa...
656  /* SQL Analyze(0) */ select /*+  full(t)    pa...
657  /* SQL Analyze(0) */ select /*+  full(t)    pa...
658  /* SQL Analyze(0) */ select /*+  full(t)    pa...
659  /* SQL Analyze(0) */ select /*+  full(t)    pa...
660  /* SQL Analyze(0) */ select /*+  full(t)    pa...
733  /* SQL Analyze(0) */ select /*+  full(t)    pa...
734  /* SQL Analyze(0) */ select /*+  full(t)    pa...
735  /* SQL Analyze(0) */ select /*+  full(t)    pa...
736  /* SQL Analyze(0) */ select /*+  full(t)    pa...
737  /* SQL Analyze(0) */ select /*+  full(t)    pa...
738  /* SQL Analyze(0) */ select /*+  full(t)    pa...
739  /* SQL Analyze(0) */ select /*+  full(t)    pa...
740  /* SQL Analyze(0) */ select /*+  full(t)    pa...
893  /* SQL Analyze(0) */ select /*+  full(t)    pa...
894  /* SQL Analyze(0) */ select /*+  full(t)    pa...
895  /* SQL Analyze(0) */ select /*+  full(t)    pa...
896  /* SQL Analyze(0) */ select /*+  full(t)    pa...
897  /* SQL Analyze(0) */ select /*+  full(t)    pa...
898  /* SQL Analyze(0) */ select /*+  full(t)    pa...
..                                                 ...
495  /* SQL Analyze(0) */ select /*+  full(t)    pa...
496  /* SQL Analyze(0) */ select /*+  full(t)    pa...
497  /* SQL Analyze(0) */ select /*+  full(t)    pa...
498  /* SQL Analyze(0) */ select /*+  full(t)    pa...
499  /* SQL Analyze(0) */ select /*+  full(t)    pa...
500  /* SQL Analyze(0) */ select /*+  full(t)    pa...
413  /* SQL Analyze(0) */ select /*+  full(t)    pa...
414  /* SQL Analyze(0) */ select /*+  full(t)    pa...
415  /* SQL Analyze(0) */ select /*+  full(t)    pa...
416  /* SQL Analyze(0) */ select /*+  full(t)    pa...
417  /* SQL Analyze(0) */ select /*+  full(t)    pa...
418  /* SQL Analyze(0) */ select /*+  full(t)    pa...
419  /* SQL Analyze(0) */ select /*+  full(t)    pa...
420  /* SQL Analyze(0) */ select /*+  full(t)    pa...
573  /* SQL Analyze(0) */ select /*+  full(t)    pa...
574  /* SQL Analyze(0) */ select /*+  full(t)    pa...
575  /* SQL Analyze(0) */ select /*+  full(t)    pa...
576  /* SQL Analyze(0) */ select /*+  full(t)    pa...
577  /* SQL Analyze(0) */ select /*+  full(t)    pa...
578  /* SQL Analyze(0) */ select /*+  full(t)    pa...
579  /* SQL Analyze(0) */ select /*+  full(t)    pa...
580  /* SQL Analyze(0) */ select /*+  full(t)    pa...
253  /* SQL Analyze(0) */ select /*+  full(t)    pa...
254  /* SQL Analyze(0) */ select /*+  full(t)    pa...
255  /* SQL Analyze(0) */ select /*+  full(t)    pa...
256  /* SQL Analyze(0) */ select /*+  full(t)    pa...
257  /* SQL Analyze(0) */ select /*+  full(t)    pa...
258  /* SQL Analyze(0) */ select /*+  full(t)    pa...
259  /* SQL Analyze(0) */ select /*+  full(t)    pa...
260  /* SQL Analyze(0) */ select /*+  full(t)    pa...

[72 rows x 1 columns]
                                                SQL_TEXT
11413  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11414  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11415  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

                                                SQL_TEXT
15441  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15442  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15443  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15444  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15445  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15446  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15351  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15471  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15352  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15472  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15353  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15473  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15354  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15474  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15355  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15475  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15356  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15476  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15411  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15412  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15413  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15414  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15415  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15416  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15381  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15382  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15383  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15384  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15385  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15386  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
15447  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15448  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15449  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15450  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15451  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15452  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15357  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15477  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15358  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15478  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15359  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15479  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15360  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15480  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15361  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15481  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15362  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15482  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15417  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15418  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15419  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15420  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15421  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15422  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15387  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15388  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15389  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15390  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15391  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
15392  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                                SQL_TEXT
10729  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10730  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10731  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10732  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10733  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10734  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11179  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11180  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11181  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11182  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11183  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11184  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10549  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10550  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10551  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10552  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10553  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10554  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11269  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11270  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11271  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11272  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11273  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11274  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10819  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10820  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10821  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10822  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10823  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10824  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
10189  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10190  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10191  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10192  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10193  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10194  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10459  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10460  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10461  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10462  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10463  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10464  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10909  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10910  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10911  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10912  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10913  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10914  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10279  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10280  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10281  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10282  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10283  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10284  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11089  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11090  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11091  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11092  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11093  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11094  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
10735  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10736  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10737  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10738  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10739  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10740  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11185  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11186  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11187  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11188  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11189  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11190  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10555  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10556  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10557  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10558  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10559  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10560  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11275  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11276  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11277  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11278  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11279  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11280  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10825  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10826  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10827  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10828  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10829  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10830  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
...                                                  ...
10195  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10196  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10197  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10198  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10199  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10200  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10465  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10466  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10467  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10468  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10469  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10470  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10915  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10916  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10917  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10918  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10919  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10920  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10285  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10286  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10287  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10288  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10289  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
10290  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11095  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11096  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11097  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11098  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11099  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
11100  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...

[78 rows x 1 columns]
                                                SQL_TEXT
19680  select /*+  no_parallel(t) no_parallel_index(t...
19681  select /*+  no_parallel(t) no_parallel_index(t...
19682  select /*+  no_parallel(t) no_parallel_index(t...
19683  select /*+  no_parallel(t) no_parallel_index(t...
19464  select /*+  no_parallel(t) no_parallel_index(t...
19608  select /*+  no_parallel(t) no_parallel_index(t...
19465  select /*+  no_parallel(t) no_parallel_index(t...
19609  select /*+  no_parallel(t) no_parallel_index(t...
19466  select /*+  no_parallel(t) no_parallel_index(t...
19610  select /*+  no_parallel(t) no_parallel_index(t...
19467  select /*+  no_parallel(t) no_parallel_index(t...
19611  select /*+  no_parallel(t) no_parallel_index(t...
19500  select /*+  no_parallel(t) no_parallel_index(t...
19501  select /*+  no_parallel(t) no_parallel_index(t...
19502  select /*+  no_parallel(t) no_parallel_index(t...
19503  select /*+  no_parallel(t) no_parallel_index(t...
19752  select /*+  no_parallel(t) no_parallel_index(t...
19753  select /*+  no_parallel(t) no_parallel_index(t...
19754  select /*+  no_parallel(t) no_parallel_index(t...
19755  select /*+  no_parallel(t) no_parallel_index(t...
19644  select /*+  no_parallel(t) no_parallel_index(t...
19645  select /*+  no_parallel(t) no_parallel_index(t...
19646  select /*+  no_parallel(t) no_parallel_index(t...
19647  select /*+  no_parallel(t) no_parallel_index(t...
19536  select /*+  no_parallel(t) no_parallel_index(t...
19537  select /*+  no_parallel(t) no_parallel_index(t...
19538  select /*+  no_parallel(t) no_parallel_index(t...
19539  select /*+  no_parallel(t) no_parallel_index(t...
19572  select /*+  no_parallel(t) no_parallel_index(t...
19716  select /*+  no_parallel(t) no_parallel_index(t...
19573  select /*+  no_parallel(t) no_parallel_index(t...
19717  select /*+  no_parallel(t) no_parallel_index(t...
19574  select /*+  no_parallel(t) no_parallel_index(t...
19718  select /*+  no_parallel(t) no_parallel_index(t...
19575  select /*+  no_parallel(t) no_parallel_index(t...
19719  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
25096  select /*+  no_parallel_index(t, "SYS_C0021419...
25097  select /*+  no_parallel_index(t, "SYS_C0021419...
25098  select /*+  no_parallel_index(t, "SYS_C0021419...
                                               SQL_TEXT
5319  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5320  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5321  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5304  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5305  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5306  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5307  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5308  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5309  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5316  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5317  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5318  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
6475  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6476  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
6477  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                               SQL_TEXT
5310  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5311  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
5312  SELECT /* DS_SVC */ /*+ dynamic_sampling(0) no...
                                SQL_TEXT
30   select count(*) from s_catalog_page
31   select count(*) from s_catalog_page
32   select count(*) from s_catalog_page
                                    SQL_TEXT
21   insert into store (select * from storv)
22   insert into store (select * from storv)
23   insert into store (select * from storv)
                                                SQL_TEXT
19684  select /*+  no_parallel(t) no_parallel_index(t...
19685  select /*+  no_parallel(t) no_parallel_index(t...
19686  select /*+  no_parallel(t) no_parallel_index(t...
19687  select /*+  no_parallel(t) no_parallel_index(t...
19468  select /*+  no_parallel(t) no_parallel_index(t...
19612  select /*+  no_parallel(t) no_parallel_index(t...
19469  select /*+  no_parallel(t) no_parallel_index(t...
19613  select /*+  no_parallel(t) no_parallel_index(t...
19470  select /*+  no_parallel(t) no_parallel_index(t...
19614  select /*+  no_parallel(t) no_parallel_index(t...
19471  select /*+  no_parallel(t) no_parallel_index(t...
19615  select /*+  no_parallel(t) no_parallel_index(t...
19504  select /*+  no_parallel(t) no_parallel_index(t...
19505  select /*+  no_parallel(t) no_parallel_index(t...
19506  select /*+  no_parallel(t) no_parallel_index(t...
19507  select /*+  no_parallel(t) no_parallel_index(t...
19756  select /*+  no_parallel(t) no_parallel_index(t...
19757  select /*+  no_parallel(t) no_parallel_index(t...
19758  select /*+  no_parallel(t) no_parallel_index(t...
19759  select /*+  no_parallel(t) no_parallel_index(t...
19648  select /*+  no_parallel(t) no_parallel_index(t...
19649  select /*+  no_parallel(t) no_parallel_index(t...
19650  select /*+  no_parallel(t) no_parallel_index(t...
19651  select /*+  no_parallel(t) no_parallel_index(t...
19540  select /*+  no_parallel(t) no_parallel_index(t...
19541  select /*+  no_parallel(t) no_parallel_index(t...
19542  select /*+  no_parallel(t) no_parallel_index(t...
19543  select /*+  no_parallel(t) no_parallel_index(t...
19576  select /*+  no_parallel(t) no_parallel_index(t...
19720  select /*+  no_parallel(t) no_parallel_index(t...
19577  select /*+  no_parallel(t) no_parallel_index(t...
19721  select /*+  no_parallel(t) no_parallel_index(t...
19578  select /*+  no_parallel(t) no_parallel_index(t...
19722  select /*+  no_parallel(t) no_parallel_index(t...
19579  select /*+  no_parallel(t) no_parallel_index(t...
19723  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
19688  select /*+  no_parallel(t) no_parallel_index(t...
19689  select /*+  no_parallel(t) no_parallel_index(t...
19690  select /*+  no_parallel(t) no_parallel_index(t...
19691  select /*+  no_parallel(t) no_parallel_index(t...
19472  select /*+  no_parallel(t) no_parallel_index(t...
19616  select /*+  no_parallel(t) no_parallel_index(t...
19473  select /*+  no_parallel(t) no_parallel_index(t...
19617  select /*+  no_parallel(t) no_parallel_index(t...
19474  select /*+  no_parallel(t) no_parallel_index(t...
19618  select /*+  no_parallel(t) no_parallel_index(t...
19475  select /*+  no_parallel(t) no_parallel_index(t...
19619  select /*+  no_parallel(t) no_parallel_index(t...
19508  select /*+  no_parallel(t) no_parallel_index(t...
19509  select /*+  no_parallel(t) no_parallel_index(t...
19510  select /*+  no_parallel(t) no_parallel_index(t...
19511  select /*+  no_parallel(t) no_parallel_index(t...
19760  select /*+  no_parallel(t) no_parallel_index(t...
19761  select /*+  no_parallel(t) no_parallel_index(t...
19762  select /*+  no_parallel(t) no_parallel_index(t...
19763  select /*+  no_parallel(t) no_parallel_index(t...
19652  select /*+  no_parallel(t) no_parallel_index(t...
19653  select /*+  no_parallel(t) no_parallel_index(t...
19654  select /*+  no_parallel(t) no_parallel_index(t...
19655  select /*+  no_parallel(t) no_parallel_index(t...
19544  select /*+  no_parallel(t) no_parallel_index(t...
19545  select /*+  no_parallel(t) no_parallel_index(t...
19546  select /*+  no_parallel(t) no_parallel_index(t...
19547  select /*+  no_parallel(t) no_parallel_index(t...
19580  select /*+  no_parallel(t) no_parallel_index(t...
19724  select /*+  no_parallel(t) no_parallel_index(t...
19581  select /*+  no_parallel(t) no_parallel_index(t...
19725  select /*+  no_parallel(t) no_parallel_index(t...
19582  select /*+  no_parallel(t) no_parallel_index(t...
19726  select /*+  no_parallel(t) no_parallel_index(t...
19583  select /*+  no_parallel(t) no_parallel_index(t...
19727  select /*+  no_parallel(t) no_parallel_index(t...
                                                SQL_TEXT
15934  insert /*+ append */ into sys.ora_temp_1_ds_24...
15935  insert /*+ append */ into sys.ora_temp_1_ds_24...
15936  insert /*+ append */ into sys.ora_temp_1_ds_24...
15937  insert /*+ append */ into sys.ora_temp_1_ds_24...
15938  insert /*+ append */ into sys.ora_temp_1_ds_24...
15939  insert /*+ append */ into sys.ora_temp_1_ds_24...
15940  insert /*+ append */ into sys.ora_temp_1_ds_24...
15941  insert /*+ append */ into sys.ora_temp_1_ds_24...
15942  insert /*+ append */ into sys.ora_temp_1_ds_24...
                                                SQL_TEXT
15943  insert /*+ append */ into sys.ora_temp_1_ds_24...
15944  insert /*+ append */ into sys.ora_temp_1_ds_24...
15945  insert /*+ append */ into sys.ora_temp_1_ds_24...
15946  insert /*+ append */ into sys.ora_temp_1_ds_24...
15947  insert /*+ append */ into sys.ora_temp_1_ds_24...
15948  insert /*+ append */ into sys.ora_temp_1_ds_24...
15949  insert /*+ append */ into sys.ora_temp_1_ds_24...
15950  insert /*+ append */ into sys.ora_temp_1_ds_24...

                   SQL_TEXT
15701  create global tempor
15702  create global tempor
15703  create global tempor
15704  create global tempor
15721  create global tempor
15722  create global tempor
15723  create global tempor
15724  create global tempor
15741  create global tempor
15742  create global tempor
15743  create global tempor
15744  create global tempor
15761  create global tempor
15762  create global tempor
15763  create global tempor
15764  create global tempor
15681  create global tempor
15682  create global tempor
15683  create global tempor
15684  create global tempor
                                                SQL_TEXT
47229  select substrb(dump(val,16,0,64),1,240) ep,  f...
47235  select substrb(dump(val,16,0,64),1,240) ep,  f...
47241  select substrb(dump(val,16,0,64),1,240) ep,  f...
47247  select substrb(dump(val,16,0,64),1,240) ep,  f...
47253  select substrb(dump(val,16,0,64),1,240) ep,  f...
47259  select substrb(dump(val,16,0,64),1,240) ep,  f...
47265  select substrb(dump(val,16,0,64),1,240) ep,  f...
47271  select substrb(dump(val,16,0,64),1,240) ep,  f...
47277  select substrb(dump(val,16,0,64),1,240) ep,  f...
47283  select substrb(dump(val,16,0,64),1,240) ep,  f...
47289  select substrb(dump(val,16,0,64),1,240) ep,  f...
47295  select substrb(dump(val,16,0,64),1,240) ep,  f...
47301  select substrb(dump(val,16,0,64),1,240) ep,  f...
47230  select substrb(dump(val,16,0,64),1,240) ep,  f...
47236  select substrb(dump(val,16,0,64),1,240) ep,  f...
47242  select substrb(dump(val,16,0,64),1,240) ep,  f...
47248  select substrb(dump(val,16,0,64),1,240) ep,  f...
47254  select substrb(dump(val,16,0,64),1,240) ep,  f...
47260  select substrb(dump(val,16,0,64),1,240) ep,  f...
47266  select substrb(dump(val,16,0,64),1,240) ep,  f...
47272  select substrb(dump(val,16,0,64),1,240) ep,  f...
47278  select substrb(dump(val,16,0,64),1,240) ep,  f...
47284  select substrb(dump(val,16,0,64),1,240) ep,  f...
47290  select substrb(dump(val,16,0,64),1,240) ep,  f...
47296  select substrb(dump(val,16,0,64),1,240) ep,  f...
47302  select substrb(dump(val,16,0,64),1,240) ep,  f...
47231  select substrb(dump(val,16,0,64),1,240) ep,  f...
47237  select substrb(dump(val,16,0,64),1,240) ep,  f...
47243  select substrb(dump(val,16,0,64),1,240) ep,  f...
47249  select substrb(dump(val,16,0,64),1,240) ep,  f...
...                                                  ...
47382  select substrb(dump(val,16,0,64),1,240) ep,  f...
47388  select substrb(dump(val,16,0,64),1,240) ep,  f...
47394  select substrb(dump(val,16,0,64),1,240) ep,  f...
47400  select substrb(dump(val,16,0,64),1,240) ep,  f...
47329  select substrb(dump(val,16,0,64),1,240) ep,  f...
47335  select substrb(dump(val,16,0,64),1,240) ep,  f...
47341  select substrb(dump(val,16,0,64),1,240) ep,  f...
47347  select substrb(dump(val,16,0,64),1,240) ep,  f...
47353  select substrb(dump(val,16,0,64),1,240) ep,  f...
47359  select substrb(dump(val,16,0,64),1,240) ep,  f...
47365  select substrb(dump(val,16,0,64),1,240) ep,  f...
47371  select substrb(dump(val,16,0,64),1,240) ep,  f...
47377  select substrb(dump(val,16,0,64),1,240) ep,  f...
47383  select substrb(dump(val,16,0,64),1,240) ep,  f...
47389  select substrb(dump(val,16,0,64),1,240) ep,  f...
47395  select substrb(dump(val,16,0,64),1,240) ep,  f...
47401  select substrb(dump(val,16,0,64),1,240) ep,  f...
47330  select substrb(dump(val,16,0,64),1,240) ep,  f...
47336  select substrb(dump(val,16,0,64),1,240) ep,  f...
47342  select substrb(dump(val,16,0,64),1,240) ep,  f...
47348  select substrb(dump(val,16,0,64),1,240) ep,  f...
47354  select substrb(dump(val,16,0,64),1,240) ep,  f...
47360  select substrb(dump(val,16,0,64),1,240) ep,  f...
47366  select substrb(dump(val,16,0,64),1,240) ep,  f...
47372  select substrb(dump(val,16,0,64),1,240) ep,  f...
47378  select substrb(dump(val,16,0,64),1,240) ep,  f...
47384  select substrb(dump(val,16,0,64),1,240) ep,  f...
47390  select substrb(dump(val,16,0,64),1,240) ep,  f...
47396  select substrb(dump(val,16,0,64),1,240) ep,  f...
47402  select substrb(dump(val,16,0,64),1,240) ep,  f...

[156 rows x 1 columns]
                                                SQL_TEXT
15952  insert /*+ append */ into sys.ora_temp_1_ds_24...
15953  insert /*+ append */ into sys.ora_temp_1_ds_24...
15954  insert /*+ append */ into sys.ora_temp_1_ds_24...
15955  insert /*+ append */ into sys.ora_temp_1_ds_24...
15956  insert /*+ append */ into sys.ora_temp_1_ds_24...
15957  insert /*+ append */ into sys.ora_temp_1_ds_24...
15958  insert /*+ append */ into sys.ora_temp_1_ds_24...
15959  insert /*+ append */ into sys.ora_temp_1_ds_24...
15960  insert /*+ append */ into sys.ora_temp_1_ds_24...