# Schedule TPC-DS1 Statistical Recommendation Evaluation

This experiment is intended at quantifying the statistical recommendation technique, through comparison of two query streams. The query streams are denoted as follows:

* Expected Stream - Denotes a sequence of baseline query plans, against which comparison will be made.
* Variation Stream - Denotes a sequence of upcoming query plans. Queries found within the upcoming stream mirror those established in the Expected Stream, with a number of exceptions. These exceptions are considered as query variants, and contain a degree of change from the original queries taken from the prior stream.

Query variants are denoted below, and are therefore eligable to be flagged during the evaluation phase:

* Query 5  
* Query 10
* Query 14
* Query 18
* Query 22
* Query 27
* Query 35
* Query 36
* Query 51
* Query 67
* Query 70
* Query 77
* Query 80
* Query 86

In [1]:
# pandas
import pandas as pd
print('pandas: %s' % pd.__version__)
# numpy
import numpy as np
print('numpy: %s' % np.__version__)
# matplotlib
import matplotlib.pyplot as plt
# sklearn
import sklearn as sk
from sklearn import preprocessing
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.metrics import f1_score, accuracy_score
# AnyTree
from anytree import Node, RenderTree, PostOrderIter

pandas: 0.23.4
numpy: 1.15.4

### Configuration Cell

Tweak parametric changes from this cell to influence outcome of experiment

In [2]:
# Experiment Config
tpcds='TPCDS1' # Schema upon which to operate test
test_split=.2
y_labels = ['COST',
            'CARDINALITY',
            'BYTES',
            'CPU_COST',
            'IO_COST',
            'TEMP_SPACE',
            'TIME']
black_list = ['TIMESTAMP',
              'SQL_ID',
              'OPERATION',
              'OPTIONS',
              'OBJECT_NAME',
              'OBJECT_OWNER',
              'PARTITION_STOP',
              'PARTITION_START'] # Columns which will be ignored during type conversion, and later used for aggregation
nrows = 10000
variant_ids = (5, 10, 14, 18, 22, 27, 35, 36, 51, 67, 70, 77, 80, 86)

### Read data from file into pandas dataframes

In [3]:
# Root path
#base_dir = 'C:/Users/gabriel.sammut/University/'
base_dir = 'D:/Projects/'
root_dir = base_dir + 'Datagenerated_ICS5200/Schedule/' + tpcds
src_dir = base_dir + 'ICS5200/src/sql/Runtime/TPC-DS/' + tpcds + '/Variants/'

rep_vsql_plan_path = root_dir + '/rep_vsql_plan.csv'
#rep_vsql_plan_path = root_dir + '/rep_vsql_plan.csv'

dtype={'COST':'int64',
       'CARDINALITY':'int64',
       'BYTES':'int64',
       'CPU_COST':'int64',
       'IO_COST':'int64',
       'TEMP_SPACE':'int64',
       'TIME':'int64',
       'OPERATION':'str',
       'OBJECT_NAME':'str'}
rep_vsql_plan_df = pd.read_csv(rep_vsql_plan_path, nrows=nrows, dtype=dtype)
print(rep_vsql_plan_df.head())

def prettify_header(headers):
    """
    Cleans header list from unwated character strings
    """
    header_list = []
    [header_list.append(header.replace("(","").replace(")","").replace("'","").replace(",","")) for header in headers]
    return header_list

rep_vsql_plan_df.columns = prettify_header(rep_vsql_plan_df.columns.values)
print('------------------------------------------')
print(rep_vsql_plan_df.columns)

    ('DBID',)    ('SQL_ID',)  ('PLAN_HASH_VALUE',)  ('ID',)    ('OPERATION',)  \
0  2634225673  dxv968j0352kb             103598129        0  SELECT STATEMENT
1  2634225673  dxv968j0352kb             103598129        1              SORT
2  2634225673  dxv968j0352kb             103598129        2    PX COORDINATOR
3  2634225673  dxv968j0352kb             103598129        3           PX SEND
4  2634225673  dxv968j0352kb             103598129        4              SORT

  ('OPTIONS',) ('OBJECT_NODE',)  ('OBJECT#',) ('OBJECT_OWNER',)  \
0          NaN              NaN           NaN               NaN
1     GROUP BY              NaN           NaN               NaN
2          NaN              NaN           NaN               NaN
3  QC (RANDOM)           :Q1001           NaN               SYS
4     GROUP BY           :Q1001           NaN               NaN

  ('OBJECT_NAME',)     ...     ('ACCESS_PREDICATES',) ('FILTER_PREDICATES',)  \
0              NaN     ...                        NaN                    NaN
1              NaN     ...                        NaN                    NaN
2              NaN     ...                        NaN                    NaN
3         :TQ10001     ...                        NaN                    NaN
4              NaN     ...                        NaN                    NaN

  ('PROJECTION',)  ('TIME',)  ('QBLOCK_NAME',)  ('REMARKS',)  \
0             NaN        NaN               NaN           NaN
1             NaN        NaN             SEL$1           NaN
2             NaN        NaN               NaN           NaN
3             NaN        NaN               NaN           NaN
4             NaN        NaN               NaN           NaN

        ('TIMESTAMP',)                                     ('OTHER_XML',)  \
0  2018-10-07 15:52:33                                                NaN
1  2018-10-07 15:52:33  <other_xml><info type="db_version">12.1.0.2</i...
2  2018-10-07 15:52:33                                                NaN
3  2018-10-07 15:52:33                                                NaN
4  2018-10-07 15:52:33                                                NaN

   ('CON_DBID',) ('CON_ID',)
0     2634225673           0
1     2634225673           0
2     2634225673           0
3     2634225673           0
4     2634225673           0

[5 rows x 39 columns]
------------------------------------------
Index(['DBID', 'SQL_ID', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS',
       'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION',
       'SEARCH_COLUMNS', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG',
       'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER',
       'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE',
       'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME',
       'QBLOCK_NAME', 'REMARKS', 'TIMESTAMP', 'OTHER_XML', 'CON_DBID',
       'CON_ID'],
      dtype='object')

### Read outlier data from file into pandas dataframes and concatenate

In [4]:
# CSV Outlier Paths
outlier_hints_q5_path = src_dir + 'hints/output/query_5.csv'
outlier_hints_q10_path = src_dir + 'hints/output/query_10.csv'
outlier_hints_q14_path = src_dir + 'hints/output/query_14.csv'
outlier_hints_q18_path = src_dir + 'hints/output/query_18.csv'
outlier_hints_q22_path = src_dir + 'hints/output/query_22.csv'
outlier_hints_q27_path = src_dir + 'hints/output/query_27.csv'
outlier_hints_q35_path = src_dir + 'hints/output/query_35.csv'
outlier_hints_q36_path = src_dir + 'hints/output/query_36.csv'
outlier_hints_q51_path = src_dir + 'hints/output/query_51.csv'
outlier_hints_q67_path = src_dir + 'hints/output/query_67.csv'
outlier_hints_q70_path = src_dir + 'hints/output/query_70.csv'
outlier_hints_q77_path = src_dir + 'hints/output/query_77.csv'
outlier_hints_q80_path = src_dir + 'hints/output/query_80.csv'
outlier_hints_q86_path = src_dir + 'hints/output/query_86.csv'

outlier_predicates_q5_path = src_dir + 'predicates/output/query_5.csv'
outlier_predicates_q10_path = src_dir + 'predicates/output/query_10.csv'
outlier_predicates_q14_path = src_dir + 'predicates/output/query_14.csv'
outlier_predicates_q18_path = src_dir + 'predicates/output/query_18.csv'
outlier_predicates_q22_path = src_dir + 'predicates/output/query_22.csv'
outlier_predicates_q27_path = src_dir + 'predicates/output/query_27.csv'
outlier_predicates_q35_path = src_dir + 'predicates/output/query_35.csv'
outlier_predicates_q36_path = src_dir + 'predicates/output/query_36.csv'
outlier_predicates_q51_path = src_dir + 'predicates/output/query_51.csv'
outlier_predicates_q67_path = src_dir + 'predicates/output/query_67.csv'
outlier_predicates_q70_path = src_dir + 'predicates/output/query_70.csv'
outlier_predicates_q77_path = src_dir + 'predicates/output/query_77.csv'
outlier_predicates_q80_path = src_dir + 'predicates/output/query_80.csv'
outlier_predicates_q86_path = src_dir + 'predicates/output/query_86.csv'

outlier_rownum_q5_path = src_dir + 'rownum/output/query_5.csv'
outlier_rownum_q10_path = src_dir + 'rownum/output/query_10.csv'
outlier_rownum_q14_path = src_dir + 'rownum/output/query_14.csv'
outlier_rownum_q18_path = src_dir + 'rownum/output/query_18.csv'
outlier_rownum_q22_path = src_dir + 'rownum/output/query_22.csv'
outlier_rownum_q27_path = src_dir + 'rownum/output/query_27.csv'
outlier_rownum_q35_path = src_dir + 'rownum/output/query_35.csv'
outlier_rownum_q36_path = src_dir + 'rownum/output/query_36.csv'
outlier_rownum_q51_path = src_dir + 'rownum/output/query_51.csv'
outlier_rownum_q67_path = src_dir + 'rownum/output/query_67.csv'
outlier_rownum_q70_path = src_dir + 'rownum/output/query_70.csv'
outlier_rownum_q77_path = src_dir + 'rownum/output/query_77.csv'
outlier_rownum_q80_path = src_dir + 'rownum/output/query_80.csv'
outlier_rownum_q86_path = src_dir + 'rownum/output/query_86.csv'

# Read CSV Paths
outlier_hints_q5_df = pd.read_csv(outlier_hints_q5_path,dtype=str)
outlier_hints_q10_df = pd.read_csv(outlier_hints_q10_path,dtype=str)
outlier_hints_q14_df = pd.read_csv(outlier_hints_q14_path,dtype=str)
outlier_hints_q18_df = pd.read_csv(outlier_hints_q18_path,dtype=str)
outlier_hints_q22_df = pd.read_csv(outlier_hints_q22_path,dtype=str)
outlier_hints_q27_df = pd.read_csv(outlier_hints_q27_path,dtype=str)
outlier_hints_q35_df = pd.read_csv(outlier_hints_q35_path,dtype=str)
outlier_hints_q36_df = pd.read_csv(outlier_hints_q36_path,dtype=str)
outlier_hints_q51_df = pd.read_csv(outlier_hints_q51_path,dtype=str)
outlier_hints_q67_df = pd.read_csv(outlier_hints_q67_path,dtype=str)
outlier_hints_q70_df = pd.read_csv(outlier_hints_q70_path,dtype=str)
outlier_hints_q77_df = pd.read_csv(outlier_hints_q77_path,dtype=str)
outlier_hints_q80_df = pd.read_csv(outlier_hints_q80_path,dtype=str)
outlier_hints_q86_df = pd.read_csv(outlier_hints_q86_path,dtype=str)

outlier_predicates_q5_df = pd.read_csv(outlier_predicates_q5_path,dtype=str)
outlier_predicates_q10_df = pd.read_csv(outlier_predicates_q10_path,dtype=str)
outlier_predicates_q14_df = pd.read_csv(outlier_predicates_q14_path,dtype=str)
outlier_predicates_q18_df = pd.read_csv(outlier_predicates_q18_path,dtype=str)
outlier_predicates_q22_df = pd.read_csv(outlier_predicates_q22_path,dtype=str)
outlier_predicates_q27_df = pd.read_csv(outlier_predicates_q27_path,dtype=str)
outlier_predicates_q35_df = pd.read_csv(outlier_predicates_q35_path,dtype=str)
outlier_predicates_q36_df = pd.read_csv(outlier_predicates_q36_path,dtype=str)
outlier_predicates_q51_df = pd.read_csv(outlier_predicates_q51_path,dtype=str)
outlier_predicates_q67_df = pd.read_csv(outlier_predicates_q67_path,dtype=str)
outlier_predicates_q70_df = pd.read_csv(outlier_predicates_q70_path,dtype=str)
outlier_predicates_q77_df = pd.read_csv(outlier_predicates_q77_path,dtype=str)
outlier_predicates_q80_df = pd.read_csv(outlier_predicates_q80_path,dtype=str)
outlier_predicates_q86_df = pd.read_csv(outlier_predicates_q86_path,dtype=str)

outlier_rownum_q5_df = pd.read_csv(outlier_rownum_q5_path,dtype=str)
outlier_rownum_q10_df = pd.read_csv(outlier_rownum_q10_path,dtype=str)
outlier_rownum_q14_df = pd.read_csv(outlier_rownum_q14_path,dtype=str)
outlier_rownum_q18_df = pd.read_csv(outlier_rownum_q18_path,dtype=str)
outlier_rownum_q22_df = pd.read_csv(outlier_rownum_q22_path,dtype=str)
outlier_rownum_q27_df = pd.read_csv(outlier_rownum_q27_path,dtype=str)
outlier_rownum_q35_df = pd.read_csv(outlier_rownum_q35_path,dtype=str)
outlier_rownum_q36_df = pd.read_csv(outlier_rownum_q36_path,dtype=str)
outlier_rownum_q51_df = pd.read_csv(outlier_rownum_q51_path,dtype=str)
outlier_rownum_q67_df = pd.read_csv(outlier_rownum_q67_path,dtype=str)
outlier_rownum_q70_df = pd.read_csv(outlier_rownum_q70_path,dtype=str)
outlier_rownum_q77_df = pd.read_csv(outlier_rownum_q77_path,dtype=str)
outlier_rownum_q80_df = pd.read_csv(outlier_rownum_q80_path,dtype=str)
outlier_rownum_q86_df = pd.read_csv(outlier_rownum_q86_path,dtype=str)

# Merge dataframes into a single pandas matrix
df_hints_outliers = pd.concat([outlier_hints_q5_df, outlier_hints_q10_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q14_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q18_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q22_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q27_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q35_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q36_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q51_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q67_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q70_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q77_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q80_df], sort=False)
df_hints_outliers = pd.concat([df_hints_outliers, outlier_hints_q86_df], sort=False)

df_predicate_outliers = pd.concat([outlier_predicates_q5_df, outlier_predicates_q10_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q14_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q18_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q22_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q27_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q35_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q36_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q51_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q67_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q70_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q77_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q80_df], sort=False)
df_predicate_outliers = pd.concat([df_predicate_outliers, outlier_predicates_q86_df], sort=False)

df_rownum_outliers = pd.concat([outlier_rownum_q5_df, outlier_rownum_q10_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q14_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q18_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q22_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q27_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q35_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q36_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q51_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q67_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q70_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q77_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q80_df], sort=False)
df_rownum_outliers = pd.concat([df_rownum_outliers, outlier_rownum_q86_df], sort=False)

print(df_hints_outliers.shape)
print(df_hints_outliers.head())
print('------------------------------------------')
print(df_predicate_outliers.shape)
print(df_predicate_outliers.head())
print('------------------------------------------')
print(df_rownum_outliers.shape)
print(df_rownum_outliers.head())

(465, 35)
  PLAN_ID            TIMESTAMP REMARKS         OPERATION          OPTIONS  \
0   12354  11/20/2018 08:23:55     NaN  SELECT STATEMENT              NaN
1   12354  11/20/2018 08:23:55     NaN             COUNT          STOPKEY
2   12354  11/20/2018 08:23:55     NaN              VIEW              NaN
3   12354  11/20/2018 08:23:55     NaN              SORT  GROUP BY ROLLUP
4   12354  11/20/2018 08:23:55     NaN              VIEW              NaN

  OBJECT_NODE OBJECT_OWNER OBJECT_NAME                OBJECT_ALIAS  \
0         NaN          NaN         NaN                         NaN
1         NaN          NaN         NaN                         NaN
2         NaN       TPCDS1         NaN  from$_subquery$_018@SEL$11
3         NaN          NaN         NaN                         NaN
4         NaN       TPCDS1         NaN                    X@SEL$12

  OBJECT_INSTANCE     ...      \
0             NaN     ...
1             NaN     ...
2              18     ...
3             NaN     ...
4              19     ...

                                           OTHER_XML DISTRIBUTION    CPU_COST  \
0                                                NaN          NaN  1657360333
1  <other_xml><info type="db_version">12.1.0.2</i...          NaN         NaN
2                                                NaN          NaN  1657360333
3                                                NaN          NaN  1657360333
4                                                NaN          NaN  1625075317

  IO_COST TEMP_SPACE ACCESS_PREDICATES FILTER_PREDICATES  \
0   13630        NaN               NaN               NaN
1     NaN        NaN               NaN       ROWNUM<=100
2   13630        NaN               NaN               NaN
3   13630        NaN               NaN               NaN
4   13630        NaN               NaN               NaN

                                          PROJECTION TIME QBLOCK_NAME
0                                                NaN    1         NaN
1  from$_subquery$_018."CHANNEL"[VARCHAR2,15], "f...  NaN      SEL$11
2  from$_subquery$_018."CHANNEL"[VARCHAR2,15], "f...    1      SEL$12
3  (#keys=2) "CHANNEL"[VARCHAR2,15], "ID"[VARCHAR...    1      SEL$12
4  CHANNEL[VARCHAR2,15], "ID"[VARCHAR2,28], "SALE...    1       SET$4

[5 rows x 35 columns]
------------------------------------------
(491, 35)
  PLAN_ID            TIMESTAMP REMARKS         OPERATION          OPTIONS  \
0   12372  11/20/2018 08:40:58     NaN  SELECT STATEMENT              NaN
1   12372  11/20/2018 08:40:58     NaN             COUNT          STOPKEY
2   12372  11/20/2018 08:40:58     NaN              VIEW              NaN
3   12372  11/20/2018 08:40:58     NaN              SORT  GROUP BY ROLLUP
4   12372  11/20/2018 08:40:58     NaN              VIEW              NaN

  OBJECT_NODE OBJECT_OWNER OBJECT_NAME                OBJECT_ALIAS  \
0         NaN          NaN         NaN                         NaN
1         NaN          NaN         NaN                         NaN
2         NaN       TPCDS1         NaN  from$_subquery$_018@SEL$11
3         NaN          NaN         NaN                         NaN
4         NaN       TPCDS1         NaN                    X@SEL$12

  OBJECT_INSTANCE     ...      \
0             NaN     ...
1             NaN     ...
2              18     ...
3             NaN     ...
4              19     ...

                                           OTHER_XML DISTRIBUTION   CPU_COST  \
0                                                NaN          NaN  242094911
1  <other_xml><info type="db_version">12.1.0.2</i...          NaN        NaN
2                                                NaN          NaN  242094911
3                                                NaN          NaN  242094911
4                                                NaN          NaN  209150318

  IO_COST TEMP_SPACE ACCESS_PREDICATES FILTER_PREDICATES  \
0    2549        NaN               NaN               NaN
1     NaN        NaN               NaN       ROWNUM<=100
2    2549        NaN               NaN               NaN
3    2549        NaN               NaN               NaN
4    2549        NaN               NaN               NaN

                                          PROJECTION TIME QBLOCK_NAME
0                                                NaN    1         NaN
1  from$_subquery$_018."CHANNEL"[VARCHAR2,15], "f...  NaN      SEL$11
2  from$_subquery$_018."CHANNEL"[VARCHAR2,15], "f...    1      SEL$12
3  (#keys=2) "CHANNEL"[VARCHAR2,15], "ID"[VARCHAR...    1      SEL$12
4  CHANNEL[VARCHAR2,15], "ID"[VARCHAR2,28], "SALE...    1       SET$4

[5 rows x 35 columns]
------------------------------------------
(500, 35)
  PLAN_ID            TIMESTAMP REMARKS         OPERATION          OPTIONS  \
0   12386  11/20/2018 08:52:27     NaN  SELECT STATEMENT              NaN
1   12386  11/20/2018 08:52:27     NaN             COUNT          STOPKEY
2   12386  11/20/2018 08:52:27     NaN              VIEW              NaN
3   12386  11/20/2018 08:52:27     NaN              SORT  GROUP BY ROLLUP
4   12386  11/20/2018 08:52:27     NaN              VIEW              NaN

  OBJECT_NODE OBJECT_OWNER OBJECT_NAME                OBJECT_ALIAS  \
0         NaN          NaN         NaN                         NaN
1         NaN          NaN         NaN                         NaN
2         NaN       TPCDS1         NaN  from$_subquery$_018@SEL$11
3         NaN          NaN         NaN                         NaN
4         NaN       TPCDS1         NaN                    X@SEL$12

  OBJECT_INSTANCE     ...      \
0             NaN     ...
1             NaN     ...
2              18     ...
3             NaN     ...
4              19     ...

                                           OTHER_XML DISTRIBUTION   CPU_COST  \
0                                                NaN          NaN  226837615
1  <other_xml><info type="db_version">12.1.0.2</i...          NaN        NaN
2                                                NaN          NaN  226837615
3                                                NaN          NaN  226837615
4                                                NaN          NaN  194552599

  IO_COST TEMP_SPACE ACCESS_PREDICATES FILTER_PREDICATES  \
0    1563        NaN               NaN               NaN
1     NaN        NaN               NaN     ROWNUM<=10000
2    1563        NaN               NaN               NaN
3    1563        NaN               NaN               NaN
4    1563        NaN               NaN               NaN

                                          PROJECTION TIME QBLOCK_NAME
0                                                NaN    1         NaN
1  from$_subquery$_018."CHANNEL"[VARCHAR2,15], "f...  NaN      SEL$11
2  from$_subquery$_018."CHANNEL"[VARCHAR2,15], "f...    1      SEL$12
3  (#keys=2) "CHANNEL"[VARCHAR2,15], "ID"[VARCHAR...    1      SEL$12
4  CHANNEL[VARCHAR2,15], "ID"[VARCHAR2,28], "SALE...    1       SET$4

[5 rows x 35 columns]

### Dealing with empty values

In [ ]:
def get_na_columns(df, headers):
    """
    Return columns which consist of NAN values
    """
    na_list = []
    for head in headers:
        if df[head].isnull().values.any():
            na_list.append(head)
    return na_list

print('N/A Columns\n')
print('\nREP_VSQL_PLAN Features ' + str(len(rep_vsql_plan_df.columns)) + ': ' + str(get_na_columns(df=rep_vsql_plan_df,headers=rep_vsql_plan_df.columns)) + "\n")
print('\nDF_HINT_OUTLIERS Features ' + str(len(df_hints_outliers.columns)) + ': ' + str(get_na_columns(df=df_hints_outliers,headers=df_hints_outliers.columns)) + "\n")
print('\nDF_PREDICATE_OUTLIERS Features ' + str(len(df_predicate_outliers.columns)) + ': ' + str(get_na_columns(df=df_predicate_outliers,headers=df_predicate_outliers.columns)) + "\n")
print('\nDF_ROWNUM_OUTLIERS Features ' + str(len(df_rownum_outliers.columns)) + ': ' + str(get_na_columns(df=df_rownum_outliers,headers=df_rownum_outliers.columns)) + "\n")
#
def fill_na(df):
    """
    Replaces NA columns with 0s
    """
    return df.fillna(0)

# Populating NaN values with amount '0'
df = fill_na(df=rep_vsql_plan_df)
df_hints_outliers = fill_na(df=df_hints_outliers)
df_predicate_outliers = fill_na(df=df_predicate_outliers)
df_rownum_outliers = fill_na(df=df_rownum_outliers)

N/A Columns


REP_VSQL_PLAN Features 39: ['OPTIONS', 'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'COST', 'CARDINALITY', 'OTHER_TAG', 'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'DISTRIBUTION', 'IO_COST', 'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME', 'QBLOCK_NAME', 'REMARKS', 'OTHER_XML']


DF_HINT_OUTLIERS Features 35: ['REMARKS', 'OPTIONS', 'OBJECT_NODE', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_INSTANCE', 'OBJECT_TYPE', 'OPTIMIZER', 'SEARCH_COLUMNS', 'PARENT_ID', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'OTHER_XML', 'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME', 'QBLOCK_NAME']


DF_PREDICATE_OUTLIERS Features 35: ['REMARKS', 'OPTIONS', 'OBJECT_NODE', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_INSTANCE', 'OBJECT_TYPE', 'OPTIMIZER', 'SEARCH_COLUMNS', 'PARENT_ID', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'OTHER_XML', 'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME', 'QBLOCK_NAME']


DF_ROWNUM_OUTLIERS Features 35: ['REMARKS', 'OPTIONS', 'OBJECT_NODE', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS', 'OBJECT_INSTANCE', 'OBJECT_TYPE', 'OPTIMIZER', 'SEARCH_COLUMNS', 'PARENT_ID', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'OTHER_XML', 'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME', 'QBLOCK_NAME']

### Type conversion

Each column is converted into a column of type values which are Integer64.

In [ ]:
def handle_numeric_overflows(x):
    """
    Accepts a dataframe column, and 
    """
    try:
        #df = df.astype('int64')
        x1 = pd.DataFrame([x],dtype='int64')
    except ValueError:
        x = 9223372036854775807 # Max int size
    return x

for col in df.columns:
    try:
        if col in black_list:
            continue
        df[col] = df[col].apply(handle_numeric_overflows)
        df[col].astype('int64',inplace=True)
    except:
        df.drop(columns=col, inplace=True)
        print('Dropped column [' + col + ']')

print('-------------------------------------------------------------')

for col in df_hints_outliers.columns:
    try:
        if col in black_list:
            continue
        df_hints_outliers[col] = df_hints_outliers[col].astype('int64')
    except OverflowError:
        #
        # Handles numeric overflow conversions by replacing such values with max value inside the dataset.
        df_hints_outliers[col] = df_hints_outliers[col].apply(handle_numeric_overflows)
        df_hints_outliers[col] = df_hints_outliers[col].astype('int64')
    except Exception as e:
        df_hints_outliers.drop(columns=col, inplace=True)
        print('Dropped column [' + col + ']')

print('-------------------------------------------------------------')

for col in df_predicate_outliers.columns:
    try:
        if col in black_list:
            continue
        df_predicate_outliers[col] = df_predicate_outliers[col].astype('int64')
    except OverflowError:
        
        # Handles numeric overflow conversions by replacing such values with max value inside the dataset.
        df_predicate_outliers[col] = df_predicate_outliers[col].apply(handle_numeric_overflows)
        df_predicate_outliers[col] = df_predicate_outliers[col].astype('int64')
    except Exception as e:
        df_predicate_outliers.drop(columns=col, inplace=True)
        print('Dropped column [' + col + ']')       

print('-------------------------------------------------------------')

for col in df_rownum_outliers.columns:
    try:
        if col in black_list:
            continue
        df_rownum_outliers[col] = df_rownum_outliers[col].astype('int64')
    except OverflowError:
        #
        # Handles numeric overflow conversions by replacing such values with max value inside the dataset.
        df_rownum_outliers[col] = df_rownum_outliers[col].apply(handle_numeric_overflows)
        df_rownum_outliers[col] = df_rownum_outliers[col].astype('int64')
    except Exception as e:
        df_rownum_outliers.drop(columns=col, inplace=True)
        print('Dropped column [' + col + ']')    

print('-------------------------------------------------------------')
      
print(df.columns)
print(df_hints_outliers.columns)
print(df_predicate_outliers.columns)
print(df_rownum_outliers.columns)

-------------------------------------------------------------
Dropped column [OBJECT_ALIAS]
Dropped column [OBJECT_TYPE]
Dropped column [OPTIMIZER]
Dropped column [OTHER_XML]
Dropped column [ACCESS_PREDICATES]
Dropped column [FILTER_PREDICATES]
Dropped column [PROJECTION]
Dropped column [QBLOCK_NAME]
-------------------------------------------------------------
Dropped column [OBJECT_ALIAS]
Dropped column [OBJECT_TYPE]
Dropped column [OPTIMIZER]
Dropped column [OTHER_XML]
Dropped column [ACCESS_PREDICATES]
Dropped column [FILTER_PREDICATES]
Dropped column [PROJECTION]
Dropped column [QBLOCK_NAME]
-------------------------------------------------------------
Dropped column [OBJECT_ALIAS]
Dropped column [OBJECT_TYPE]
Dropped column [OPTIMIZER]
Dropped column [OTHER_XML]
Dropped column [ACCESS_PREDICATES]
Dropped column [FILTER_PREDICATES]
Dropped column [PROJECTION]
Dropped column [QBLOCK_NAME]
-------------------------------------------------------------
Index(['DBID', 'SQL_ID', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS',
       'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION',
       'SEARCH_COLUMNS', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG',
       'PARTITION_START', 'PARTITION_STOP', 'PARTITION_ID', 'OTHER',
       'DISTRIBUTION', 'CPU_COST', 'IO_COST', 'TEMP_SPACE',
       'ACCESS_PREDICATES', 'FILTER_PREDICATES', 'PROJECTION', 'TIME',
       'QBLOCK_NAME', 'REMARKS', 'TIMESTAMP', 'OTHER_XML', 'CON_DBID',
       'CON_ID'],
      dtype='object')
Index(['PLAN_ID', 'TIMESTAMP', 'REMARKS', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_INSTANCE',
       'SEARCH_COLUMNS', 'ID', 'PARENT_ID', 'DEPTH', 'POSITION', 'COST',
       'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_START',
       'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'DISTRIBUTION', 'CPU_COST',
       'IO_COST', 'TEMP_SPACE', 'TIME'],
      dtype='object')
Index(['PLAN_ID', 'TIMESTAMP', 'REMARKS', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_INSTANCE',
       'SEARCH_COLUMNS', 'ID', 'PARENT_ID', 'DEPTH', 'POSITION', 'COST',
       'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_START',
       'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'DISTRIBUTION', 'CPU_COST',
       'IO_COST', 'TEMP_SPACE', 'TIME'],
      dtype='object')
Index(['PLAN_ID', 'TIMESTAMP', 'REMARKS', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_INSTANCE',
       'SEARCH_COLUMNS', 'ID', 'PARENT_ID', 'DEPTH', 'POSITION', 'COST',
       'CARDINALITY', 'BYTES', 'OTHER_TAG', 'PARTITION_START',
       'PARTITION_STOP', 'PARTITION_ID', 'OTHER', 'DISTRIBUTION', 'CPU_COST',
       'IO_COST', 'TEMP_SPACE', 'TIME'],
      dtype='object')

### Feature Elimination

In this step, redundant features are dropped. Features are considered redundant if exhibit a standard devaition of 0 (meaning no change in value).

In [ ]:
def drop_flatline_columns(df):
    columns = df.columns
    flatline_features = []
    for i in range(len(columns)):
        try:
            #
            if columns[i] in black_list:
                continue
            #
            std = df[columns[i]].std()
            if std == 0:
                flatline_features.append(columns[i])
        except:
            pass
    
    #print('Features which are considered flatline:\n')
    #for col in flatline_features:
    #    print(col)
    print('\nShape before changes: [' + str(df.shape) + ']')
    df = df.drop(columns=flatline_features)
    print('Shape after changes: [' + str(df.shape) + ']')
    print('Dropped a total [' + str(len(flatline_features)) + ']')
    return df

df = drop_flatline_columns(df=df)
df_hints_outliers = drop_flatline_columns(df=df_hints_outliers)
df_predicate_outliers = drop_flatline_columns(df=df_predicate_outliers)
df_rownum_outliers = drop_flatline_columns(df=df_rownum_outliers)

print('\nAfter flatline column drop:')
print(df.shape)
print(df.columns)

print('--------------------------------------------------------')
print('\nAfter outlier flatline column drop [df_hints_outliers]:')
print(df_hints_outliers.shape)
print(df_hints_outliers.columns)

print('--------------------------------------------------------')
print('\nAfter outlier flatline column drop [df_predicate_outliers]:')
print(df_predicate_outliers.shape)
print(df_predicate_outliers.columns)

print('--------------------------------------------------------')
print('\nAfter outlier flatline column drop [df_rownum_outliers]:')
print(df_rownum_outliers.shape)
print(df_rownum_outliers.columns)

Shape before changes: [(10000, 39)]
Shape after changes: [(10000, 30)]
Dropped a total [9]

Shape before changes: [(465, 27)]
Shape after changes: [(465, 21)]
Dropped a total [6]

Shape before changes: [(491, 27)]
Shape after changes: [(491, 21)]
Dropped a total [6]

Shape before changes: [(500, 27)]
Shape after changes: [(500, 21)]
Dropped a total [6]

After flatline column drop:
(10000, 30)
Index(['SQL_ID', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS',
       'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION',
       'SEARCH_COLUMNS', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG',
       'PARTITION_START', 'PARTITION_STOP', 'DISTRIBUTION', 'CPU_COST',
       'IO_COST', 'TEMP_SPACE', 'TIME', 'QBLOCK_NAME', 'TIMESTAMP',
       'OTHER_XML'],
      dtype='object')
--------------------------------------------------------

After outlier flatline column drop [df_hints_outliers]:
(465, 21)
Index(['PLAN_ID', 'TIMESTAMP', 'OPERATION', 'OPTIONS', 'OBJECT_OWNER',
       'OBJECT_NAME', 'OBJECT_INSTANCE', 'SEARCH_COLUMNS', 'ID', 'PARENT_ID',
       'DEPTH', 'POSITION', 'COST', 'CARDINALITY', 'BYTES', 'PARTITION_START',
       'PARTITION_STOP', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'TIME'],
      dtype='object')
--------------------------------------------------------

After outlier flatline column drop [df_predicate_outliers]:
(491, 21)
Index(['PLAN_ID', 'TIMESTAMP', 'OPERATION', 'OPTIONS', 'OBJECT_OWNER',
       'OBJECT_NAME', 'OBJECT_INSTANCE', 'SEARCH_COLUMNS', 'ID', 'PARENT_ID',
       'DEPTH', 'POSITION', 'COST', 'CARDINALITY', 'BYTES', 'PARTITION_START',
       'PARTITION_STOP', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'TIME'],
      dtype='object')
--------------------------------------------------------

After outlier flatline column drop [df_rownum_outliers]:
(500, 21)
Index(['PLAN_ID', 'TIMESTAMP', 'OPERATION', 'OPTIONS', 'OBJECT_OWNER',
       'OBJECT_NAME', 'OBJECT_INSTANCE', 'SEARCH_COLUMNS', 'ID', 'PARENT_ID',
       'DEPTH', 'POSITION', 'COST', 'CARDINALITY', 'BYTES', 'PARTITION_START',
       'PARTITION_STOP', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'TIME'],
      dtype='object')

### Scaling columns

This section attempts to process a number of data columns through a MinMax Scaler. This is done, to normalize data on a similar scaler, particularly before comparing column measurements using a euclidean based measure. The following columns will be targetted:

* CARDINALITY
* BYTES
* PARTITION_START
* PARTITION_STOP
* CPU_COST
* IO_COST
* TEMP_SPACE
* TIME

In [ ]:
scaler = preprocessing.MinMaxScaler()
scaled_columns = ['CARDINALITY',
                'BYTES',
                'PARTITION_START',
                'PARTITION_STOP',
                'CPU_COST',
                'IO_COST',
                'TEMP_SPACE',
                'TIME']
print(df['PARTITION_START'].iloc[0])
df[scaled_columns] = scaler.fit_transform(df[scaled_columns])
print(df['PARTITION_START'].iloc[0])
print("Minimal Vector Points: " + str(scaler.data_min_))
print("Maximal Vector Points: " + str(scaler.data_max_))

print('\nAfter scaled column transformation:')
print(df.shape)
print(df.columns)

print('--------------------------------------------------------')
print('\nAfter outlier scaled column transformation [df_hints_outliers]:')
print(df_hints_outliers.shape)
print(df_hints_outliers.columns)

print('--------------------------------------------------------')
print('\nAfter outlier scaled column transformation [df_predicate_outliers]:')
print(df_predicate_outliers.shape)
print(df_predicate_outliers.columns)

print('--------------------------------------------------------')
print('\nAfter outlier scaled column transformation [df_rownum_outliers]:')
print(df_rownum_outliers.shape)
print(df_rownum_outliers.columns)

0.0
0.0
Minimal Vector Points: [0.000e+00 2.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.156e+06
 0.000e+00]
Maximal Vector Points: [2.85716704e+16 9.22337204e+18 0.00000000e+00 0.00000000e+00
 9.22337204e+18 7.78425143e+09 9.22337204e+18 1.58287675e+08]

After scaled column transformation:
(10000, 30)
Index(['SQL_ID', 'PLAN_HASH_VALUE', 'ID', 'OPERATION', 'OPTIONS',
       'OBJECT_NODE', 'OBJECT#', 'OBJECT_OWNER', 'OBJECT_NAME', 'OBJECT_ALIAS',
       'OBJECT_TYPE', 'OPTIMIZER', 'PARENT_ID', 'DEPTH', 'POSITION',
       'SEARCH_COLUMNS', 'COST', 'CARDINALITY', 'BYTES', 'OTHER_TAG',
       'PARTITION_START', 'PARTITION_STOP', 'DISTRIBUTION', 'CPU_COST',
       'IO_COST', 'TEMP_SPACE', 'TIME', 'QBLOCK_NAME', 'TIMESTAMP',
       'OTHER_XML'],
      dtype='object')
--------------------------------------------------------

After outlier scaled column transformation [df_hints_outliers]:
(465, 21)
Index(['PLAN_ID', 'TIMESTAMP', 'OPERATION', 'OPTIONS', 'OBJECT_OWNER',
       'OBJECT_NAME', 'OBJECT_INSTANCE', 'SEARCH_COLUMNS', 'ID', 'PARENT_ID',
       'DEPTH', 'POSITION', 'COST', 'CARDINALITY', 'BYTES', 'PARTITION_START',
       'PARTITION_STOP', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'TIME'],
      dtype='object')
--------------------------------------------------------

After outlier scaled column transformation [df_predicate_outliers]:
(491, 21)
Index(['PLAN_ID', 'TIMESTAMP', 'OPERATION', 'OPTIONS', 'OBJECT_OWNER',
       'OBJECT_NAME', 'OBJECT_INSTANCE', 'SEARCH_COLUMNS', 'ID', 'PARENT_ID',
       'DEPTH', 'POSITION', 'COST', 'CARDINALITY', 'BYTES', 'PARTITION_START',
       'PARTITION_STOP', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'TIME'],
      dtype='object')
--------------------------------------------------------

After outlier scaled column transformation [df_rownum_outliers]:
(500, 21)
Index(['PLAN_ID', 'TIMESTAMP', 'OPERATION', 'OPTIONS', 'OBJECT_OWNER',
       'OBJECT_NAME', 'OBJECT_INSTANCE', 'SEARCH_COLUMNS', 'ID', 'PARENT_ID',
       'DEPTH', 'POSITION', 'COST', 'CARDINALITY', 'BYTES', 'PARTITION_START',
       'PARTITION_STOP', 'CPU_COST', 'IO_COST', 'TEMP_SPACE', 'TIME'],
      dtype='object')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype float64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

### Adding Grouping Column

An extra column is added to allow access plans to be isolated per instance

In [ ]:
# Adds a columns per SQL_ID, PLAN_HASH_VALUE grouping, which can be used to group instances together
def add_grouping_column(df, column_identifier):
    """
    Receives a pandas dataframe, and adds a new column which allows dataframe to be aggregated per 
    SQL_ID, PLAN_HASH_VALUE combination.
    
    :param: df                - Pandas Dataframe
    :param: column_identifier - String denoting matrix column to group by
    
    :return: Pandas Dataframe, with added column    
    """
    print('Shape before transformation: ' + str(df.shape))
    new_grouping_col = []
    counter = 0
    last_sql_id = df[column_identifier].iloc(0) # Starts with first SQL_ID
    for index, row in df.iterrows():
        if column_identifier == 'SQL_ID':
            if last_sql_id != row.SQL_ID:
                last_sql_id = row.SQL_ID
                counter += 1
        elif column_identifier == 'PLAN_ID':
            if last_sql_id != row.PLAN_ID:
                last_sql_id = row.PLAN_ID
                counter += 1
        else:
            raise ValueError('Column does not exist!')
        new_grouping_col.append(counter)
    
    # Append list as new column
    new_col = pd.Series(new_grouping_col)
    df['PLAN_INSTANCE'] = new_col.values
    print('Shape after transformation: ' + str(df.shape))
    return df

df = add_grouping_column(df=df,column_identifier='SQL_ID')
df_hints_outliers = add_grouping_column(df=df_hints_outliers,column_identifier='PLAN_ID')
df_predicate_outliers = add_grouping_column(df=df_predicate_outliers,column_identifier='PLAN_ID')
df_rownum_outliers = add_grouping_column(df=df_rownum_outliers,column_identifier='PLAN_ID')

Shape before transformation: (10000, 30)
Shape after transformation: (10000, 31)
Shape before transformation: (465, 21)
Shape after transformation: (465, 22)
Shape before transformation: (491, 21)
Shape after transformation: (491, 22)
Shape before transformation: (500, 21)
Shape after transformation: (500, 22)

### Tree Formatting

Constructs the tree plan structure

In [ ]:
class PlanTreeModeller:
    """
    This class simulates an access plan in the form of a tree structure
    """
    
    @staticmethod
    def __create_node(node_name, parent=None):
        """
        Builds a node which will be added to the tree. If the parent is 'None', it is assumed that this
        node will be used as the root/parent Node.
        
        :param: node_name - String specifying node name.
        :param: parent    - Parent node specifying parent node name.
        
        :return: anytree object
        """
        if node_name is None:
            raise ValueError('Node name was not specified!')
        
        if parent is None:
            node = Node(node_name)
        else:
            node = Node(node_name, parent=parent)
        
        return node
    
    @staticmethod
    def build_tree(df):
        """
        This method receives a pandas dataframe, and converts it into a searchable python tree
        
        :param: df - Pandas Dataframe, pertaining to input access plan
        
        :return: Dictionary object, consisting of node objects (which are linked in a tree fashion)
        """
        parent_node = None
        node_dict = {}
        for index, row in df.iterrows():
            
            # Build Node and add to parent
            row_id = int(row['ID'])
            parent_id = int(row['PARENT_ID'])
            
            if row_id == 0:
                node = PlanTreeModeller.__create_node(node_name=row_id)
            else:
                parent_node = node_dict[parent_id]
                node = PlanTreeModeller.__create_node(node_name=row_id, parent=parent_node)
            node_dict[row_id] = node
        
        return node_dict # Dictionary consisting of tree nodes
    
    @staticmethod
    def __retrieve_plan_details(df, node_name):
        """
        Accepts a dataframe, and the node_name. Retrieves features pertaining to the row id in the access plan
        
        :param: df - Dataframe consisting of access plan features
        :param: id - String id denoting which row to retrieve from the parameter dataframe
        
        :return: Dictionary consisting of access plan attributes
        """
        operation = str(df[df['ID'] == node_name]['OPERATION'].iloc[0])
        options = str(df[df['ID'] == node_name]['OPTIONS'].iloc[0])
        object_name = str(df[df['ID'] == node_name]['OBJECT_NAME'].iloc[0])
        cardinality = int(df[df['ID'] == node_name]['CARDINALITY'].iloc[0])
        bytess = int(df[df['ID'] == node_name]['BYTES'].iloc[0])
        partition_delta = int(df[df['ID'] == node_name]['PARTITION_STOP'].iloc[0]) - int(df[df['ID'] == node_name]['PARTITION_START'].iloc[0])
        cpu_cost = int(df[df['ID'] == node_name]['CPU_COST'].iloc[0])
        io_cost = int(df[df['ID'] == node_name]['IO_COST'].iloc[0])
        temp_space = int(df[df['ID'] == node_name]['TEMP_SPACE'].iloc[0])
        time = int(df[df['ID'] == node_name]['TIME'].iloc[0]) 
        
        return {'OPERATION':operation,
                'OPTIONS':options,
                'OBJECT_NAME':object_name,
                'CARDINALITY':cardinality,
                'BYTES':bytess,
                'PARTITION_DELTA':partition_delta,
                'CPU_COST':cpu_cost,
                'IO_COST':io_cost,
                'TEMP_SPACE':temp_space,
                'TIME':time}
    
    @staticmethod
    def __tree_node_euclidean(tree_dict1, tree_dict2):
        """
        This method calculates the eucldiean distance between two vectors.
        
        :param: tree_dict1 - Dictionary denoting a single node within plan / tree 1
        :param: tree_dict2 - Dictionary denoting a single node within plan / tree 2
        
        :return: List denoting euclidean distance
        """
        tree_vector_1 = [tree_dict1['CARDINALITY'],
                         tree_dict1['BYTES'],
                         tree_dict1['PARTITION_DELTA'],
                         tree_dict1['CPU_COST'],
                         tree_dict1['IO_COST'],
                         tree_dict1['TEMP_SPACE'],
                         tree_dict1['TIME']]
        
        tree_vector_2 = [tree_dict2['CARDINALITY'],
                         tree_dict2['BYTES'],
                         tree_dict2['PARTITION_DELTA'],
                         tree_dict2['CPU_COST'],
                         tree_dict2['IO_COST'],
                         tree_dict2['TEMP_SPACE'],
                         tree_dict2['TIME']]
        
        euc_distance = euclidean_distances([tree_vector_1],[tree_vector_2])
        return euc_distance[0][0]
    
    @staticmethod
    def render_tree(tree, df):
        """
        Renders Tree by printing to screen
        
        :param: tree - AnyTree object, representing tree modelled access plan
        :param: df   - Pandas dataframe representatnt of the access plan about to be rendered
        
        :return: None
        """
        for pre, fill, node in RenderTree(tree):
            
            access_plan_dict = PlanTreeModeller.__retrieve_plan_details(df=df,
                                                                        node_name = node.name)
            
            if access_plan_dict['OBJECT_NAME'] == '0':
                print("%s%s > %s" % (pre, node.name, access_plan_dict['OPERATION']))
            else:
                if access_plan_dict['OPTIONS'] == '0': 
                    print("%s%s > %s (%s)" % (pre, node.name, access_plan_dict['OPERATION'], access_plan_dict['OBJECT_NAME']))
                else:
                    print("%s%s > %s | %s (%s)" % (pre, node.name, access_plan_dict['OPERATION'], access_plan_dict['OPTIONS'], access_plan_dict['OBJECT_NAME']))
    
    @staticmethod
    def __postorder(tree):
        """
        Accepts a tree, and iterates in post order fashion (left,right,root)
        
        :param: tree - Dictionary consisting of AnyTree Nodes
        
        :return: List consisting of tree traversal order
        """
        post_order_traversal = [node.name for node in PostOrderIter(tree[0])]
        return post_order_traversal
     
    @staticmethod
    def tree_compare(tree1, tree2, df1, df2):
        """
        Accepts two trees of type 'AnyTree', along with respective dataframe denoting each respective access
        path.
        
        :param: tree1 - Dictionary consisting of 'AnyTree' nodes, belonging to tree 1
        :param: tree2 - Dictionary consisting of 'AnyTree' nodes, belonging to tree 2
        :param: df1   - Pandas dataframe consisting of access plan instructions opted for by tree 1
        :param: df2   - Pandas dataframe consisting of access plan instructions opted for by tree 2
        
        :return: None
        """
        
        # Retrieves traversal order for both trees
        post_order_traversal1 = PlanTreeModeller.__postorder(tree1)
        post_order_traversal2 = PlanTreeModeller.__postorder(tree2)
        
        # Iterates over traversal order, until a change is encountered
        max_range = max(len(post_order_traversal1),len(post_order_traversal2))
        delta_flag = True
        euclidean_measure = []
        for i in range(0,max_range):
            
            # This check avoids a list IndexError for scebarious when one plan is bigger than the others,
            # and consequently the number of node traversals is bigger than the other tree.
            if i >= len(post_order_traversal1) or i >= len(post_order_traversal2):
                break
            
            id_1 = post_order_traversal1[i]
            id_2 = post_order_traversal2[i]
            
            pd_tree1 = PlanTreeModeller.__retrieve_plan_details(df=df1, node_name=id_1)
            pd_tree2 = PlanTreeModeller.__retrieve_plan_details(df=df2, node_name=id_2)
            
            if (pd_tree1['OPERATION'] != pd_tree2['OPERATION'] or pd_tree1['OBJECT_NAME'] != pd_tree2['OBJECT_NAME'] or pd_tree1['OPTIONS'] != pd_tree2['OPTIONS']) and delta_flag:
#                 print('Access Predicate Difference detected!')
#                 print('Tree 1 difference at node [' + str(id_1) + '] operator > ' + pd_tree1['OPERATION'] + '(' + pd_tree1['OPTIONS'] + ') on object [' + pd_tree1['OBJECT_NAME'] + ']')
#                 print('Tree 2 difference at node [' + str(id_2) + '] operator > ' + pd_tree2['OPERATION'] + '(' + pd_tree2['OPTIONS'] + ') on object [' + pd_tree2['OBJECT_NAME'] + ']')
#                 print('-'*30)
#                 PlanTreeModeller.render_tree(tree=tree1[0], df=df1) # Tree rendederer uses root node and traverses downwards
#                 PlanTreeModeller.render_tree(tree=tree2[0], df=df2) # Tree rendederer uses root node and traverses downwards
#                 print('-'*30)
                delta_flag = False
            
            # Calculate Node Euclidean Measure
            euclidean_vector = PlanTreeModeller.__tree_node_euclidean(tree_dict1=pd_tree1,
                                                                      tree_dict2=pd_tree2)
            euclidean_measure.append(euclidean_vector)
        
        if sum(euclidean_measure) > 10000 or delta_flag is False:
            print('Access Predicate Difference detected with delta value [' + str(sum(euclidean_measure)) + ']')
            print('Tree 1 difference at node [' + str(id_1) + '] operator > ' + pd_tree1['OPERATION'] + '(' + pd_tree1['OPTIONS'] + ') on object [' + pd_tree1['OBJECT_NAME'] + ']')
            print('Tree 2 difference at node [' + str(id_2) + '] operator > ' + pd_tree2['OPERATION'] + '(' + pd_tree2['OPTIONS'] + ') on object [' + pd_tree2['OBJECT_NAME'] + ']')
            #print('-'*30)
            PlanTreeModeller.render_tree(tree=tree1[0], df=df1) # Tree rendederer uses root node and traverses downwards
            PlanTreeModeller.render_tree(tree=tree2[0], df=df2) # Tree rendederer uses root node and traverses downwards
        else:
            print('No changes detected with delta value of [' + str(sum(euclidean_measure)) + ']')

### Building Testing Streams

This cell builds a total of 4 lists, composed as follows:

* Expected Stream, composed of SQL queries with which comparison will be made.
* Variant Stream, with intermingled hint outliers
* Variant Stream, with intermingled predicate outliers
* Variant Stream, with intermingled rownum outliers

In [ ]:
# Retrieve Unique set of PLAN_HASH_VALUES
np_sql_id = pd.unique(df['SQL_ID'])

# Remove those which are not originating from TPC-DS
filtered_sql = []
for sql in np_sql_id:
    
    df_temp_plan = df[df['SQL_ID'] == sql]

    # This step ensures that only TPC-DS related queries are displayed
    tpc_check = df_temp_plan['OBJECT_OWNER'].tolist()
    if tpcds not in tpc_check:
        continue
        
    #
    # Discards plans with double entries - Due to the parallel nature of the throughput test for 
    # TPC-DS, multiple threads may execute the same query at the same time, resulting in sql access
    # plans with the same SQL_ID, same PLAN_HASH_VALUE, and same TIMESTAMP. Such occurances are skipped.
    #     df_temp_count = df_temp_plan[df_temp_plan['ID'] == 0]
    #     if df_temp_count.shape[0] != 1:
    #         continue
        
    filtered_sql.append(sql)
np_sql_id= filtered_sql 

print('ACTUAL:')
print(np_sql_id)
print(type(np_sql_id))
print(len(np_sql_id))
print('-'*100)

# Retrieve Unique set of PLAN_IDs for hint outliers
np_hint_outlier_plan_id = pd.unique(df_hints_outliers['PLAN_ID'])
print('HINT_VARIANTS:')
print(np_hint_outlier_plan_id)
print(type(np_hint_outlier_plan_id))
print('-'*100)

# Retrieve Unique set of PLAN_IDs for predicate outliers
np_predicate_outlier_plan_id = pd.unique(df_predicate_outliers['PLAN_ID'])
print('PREDICATE_VARIANTS:')
print(np_predicate_outlier_plan_id)
print(type(np_predicate_outlier_plan_id))
print('-'*100)

# Retrieve Unique set of PLAN_IDs for rownum outliers
np_rownum_outlier_plan_id = pd.unique(df_rownum_outliers['PLAN_ID'])
print('ROWNUM_VARIANTS:')
print(np_rownum_outlier_plan_id)
print(type(np_rownum_outlier_plan_id))
print('-'*100)

ACTUAL:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]
<class 'list'>
155
----------------------------------------------------------------------------------------------------
HINT_VARIANTS:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
<class 'numpy.ndarray'>
----------------------------------------------------------------------------------------------------
PREDICATE_VARIANTS:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
<class 'numpy.ndarray'>
----------------------------------------------------------------------------------------------------
ROWNUM_VARIANTS:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
<class 'numpy.ndarray'>
----------------------------------------------------------------------------------------------------

### Build Query Streams

Create an expected stream vs an 'outlier' stream. Both streams will be composed of SQL identifiers, and will be matched by plan.

In [ ]:
# Pad variation stream with SQL queries in expected stream
variant_index = 0
expected_stream, hint_variant_stream = [], []
for i in range(1, len(np_sql_id)+1):
    if i in variant_ids:
        hint_variant_stream.append(np_hint_outlier_plan_id[variant_index])
        variant_index += 1
    else:
        hint_variant_stream.append(np_sql_id[i-1])
    expected_stream.append(np_sql_id[i-1])

print('Expected:')        
print(len(expected_stream))
print(expected_stream)
print('HINT Variant:')
print(len(hint_variant_stream))
print(hint_variant_stream)
print('-'*30)

# Pad variation stream with SQL queries in expected stream
variant_index = 0
expected_stream, predicate_variant_stream = [], []
for i in range(1, len(np_sql_id)+1):
    if i in variant_ids:
        predicate_variant_stream.append(np_predicate_outlier_plan_id[variant_index])
        variant_index += 1
    else:
        predicate_variant_stream.append(np_sql_id[i-1])
    expected_stream.append(np_sql_id[i-1])

print('Expected:')  
print(len(expected_stream))
print(expected_stream)
print('PREDICATE Variant:')
print(len(predicate_variant_stream))
print(predicate_variant_stream)
print('-'*30)

# Pad variation stream with SQL queries in expected stream
variant_index = 0
expected_stream, rownum_variant_stream = [], []
for i in range(1, len(np_sql_id)+1):
    if i in variant_ids:
        rownum_variant_stream.append(np_rownum_outlier_plan_id[variant_index])
        variant_index += 1
    else:
        rownum_variant_stream.append(np_sql_id[i-1])
    expected_stream.append(np_sql_id[i-1])

print('Expected:') 
print(len(expected_stream))
print(expected_stream)
print('ROWNUM Variant:')
print(len(rownum_variant_stream))
print(rownum_variant_stream)
print('-'*30)

outlier_index, actual_sqls, hint_outlier_sqls, predicate_outlier_sqls, rownum_outlier_sqls = 0, [], [], [], []
for i in range(1, len(np_sql_id)+1):
    if i in variant_ids:
        hint_outlier_sqls.append(np_hint_outlier_plan_id[outlier_index])
        predicate_outlier_sqls.append(np_predicate_outlier_plan_id[outlier_index])
        rownum_outlier_sqls.append(np_rownum_outlier_plan_id[outlier_index])
        outlier_index += 1
    else:
        hint_outlier_sqls.append(np_sql_id[i-1])
        predicate_outlier_sqls.append(np_sql_id[i-1])
        rownum_outlier_sqls.append(np_sql_id[i-1])
    actual_sqls.append(np_sql_id[i-1])

print(str(actual_sqls) + "\n")
print(str(hint_outlier_sqls) + "\n")
print(str(predicate_outlier_sqls) + "\n")
print(str(rownum_outlier_sqls) + "\n")

Expected:
155
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]
HINT Variant:
155
[1, 2, 3, 4, 1, 6, 7, 8, 9, 2, 11, 12, 13, 3, 15, 16, 17, 4, 19, 20, 21, 5, 23, 24, 25, 26, 6, 28, 29, 30, 31, 32, 33, 34, 7, 8, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 9, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 10, 74, 75, 11, 77, 78, 79, 80, 81, 82, 12, 84, 85, 13, 87, 88, 89, 90, 91, 14, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]
------------------------------
Expected:
155
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]
PREDICATE Variant:
155
[1, 2, 3, 4, 1, 6, 7, 8, 9, 2, 11, 12, 13, 3, 15, 16, 17, 4, 19, 20, 21, 5, 23, 24, 25, 26, 6, 28, 29, 30, 31, 32, 33, 34, 7, 8, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 9, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 10, 74, 75, 11, 77, 78, 79, 80, 81, 82, 12, 84, 85, 13, 87, 88, 89, 90, 91, 14, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]
------------------------------
Expected:
155
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]
ROWNUM Variant:
155
[1, 2, 3, 4, 1, 6, 7, 8, 9, 2, 11, 12, 13, 3, 15, 16, 17, 4, 19, 20, 21, 5, 23, 24, 25, 26, 6, 28, 29, 30, 31, 32, 33, 34, 7, 8, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 9, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 10, 74, 75, 11, 77, 78, 79, 80, 81, 82, 12, 84, 85, 13, 87, 88, 89, 90, 91, 14, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]
------------------------------
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]

[1, 2, 3, 4, 1, 6, 7, 8, 9, 2, 11, 12, 13, 3, 15, 16, 17, 4, 19, 20, 21, 5, 23, 24, 25, 26, 6, 28, 29, 30, 31, 32, 33, 34, 7, 8, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 9, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 10, 74, 75, 11, 77, 78, 79, 80, 81, 82, 12, 84, 85, 13, 87, 88, 89, 90, 91, 14, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]

[1, 2, 3, 4, 1, 6, 7, 8, 9, 2, 11, 12, 13, 3, 15, 16, 17, 4, 19, 20, 21, 5, 23, 24, 25, 26, 6, 28, 29, 30, 31, 32, 33, 34, 7, 8, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 9, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 10, 74, 75, 11, 77, 78, 79, 80, 81, 82, 12, 84, 85, 13, 87, 88, 89, 90, 91, 14, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]

[1, 2, 3, 4, 1, 6, 7, 8, 9, 2, 11, 12, 13, 3, 15, 16, 17, 4, 19, 20, 21, 5, 23, 24, 25, 26, 6, 28, 29, 30, 31, 32, 33, 34, 7, 8, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 9, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 10, 74, 75, 11, 77, 78, 79, 80, 81, 82, 12, 84, 85, 13, 87, 88, 89, 90, 91, 14, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167]

## Stream Comparison with Hint Based Outliers

Compares the expected stream with variation stream. Variations found here will be composed of SQL optimizer hint injections to purposely skew the plan.

In [ ]:
for i, idx in enumerate(hint_outlier_sqls):
    print('SQL  [' + str(i+1) + ']')
    if i+1 in variant_ids:
        print(idx)
        df_temp_plan = df_hints_outliers[df_hints_outliers['PLAN_ID'] == idx]
        df_temp_plan = df_temp_plan.sort_values(by='ID', ascending=True)
    else:
        print(idx)
        df_temp_plan = df[df['SQL_ID'] == idx]
        df_temp_plan = df_temp_plan.sort_values(by='ID', ascending=True)
    
    print(actual_sqls[i])
    df_plan = df[df['SQL_ID'] == actual_sqls[i]]
    df_plan = df_plan.sort_values(by='ID', ascending=True)
    
    # Builds Trees
    tree_temp_plan = PlanTreeModeller.build_tree(df=df_temp_plan)
    tree_plan = PlanTreeModeller.build_tree(df=df_plan)
    
    PlanTreeModeller.tree_compare(tree1=tree_temp_plan, 
                                  tree2=tree_plan, 
                                  df1=df_temp_plan, 
                                  df2=df_plan)

SQL  [1]
1
1
No changes detected with delta value of [0.0]
SQL  [2]
2
2
No changes detected with delta value of [0.0]
SQL  [3]
3
3
No changes detected with delta value of [0.0]
SQL  [4]
4
4
No changes detected with delta value of [0.0]
SQL  [5]
1
5
Access Predicate Difference detected with delta value [8767519808.098682]
Tree 1 difference at node [7] operator > NESTED LOOPS(0) on object [0]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > VIEW
                └── 5 > UNION-ALL
                    ├── 6 > HASH
                    │   └── 7 > NESTED LOOPS
                    │       ├── 8 > NESTED LOOPS
                    │       │   ├── 9 > HASH JOIN
                    │       │   │   ├── 10 > TABLE ACCESS | FULL (DATE_DIM)
                    │       │   │   └── 11 > VIEW
                    │       │   │       └── 12 > UNION-ALL
                    │       │   │           ├── 13 > TABLE ACCESS | FULL (STORE_SALES)
                    │       │   │           └── 14 > TABLE ACCESS | FULL (STORE_RETURNS)
                    │       │   └── 15 > INDEX | UNIQUE SCAN (SYS_C0021425)
                    │       └── 16 > TABLE ACCESS | BY INDEX ROWID (STORE)
                    ├── 17 > HASH
                    │   └── 18 > HASH JOIN
                    │       ├── 19 > NESTED LOOPS
                    │       │   ├── 20 > TABLE ACCESS | FULL (DATE_DIM)
                    │       │   └── 21 > VIEW
                    │       │       └── 22 > UNION-ALL
                    │       │           ├── 23 > TABLE ACCESS | BY INDEX ROWID BATCHED (CATALOG_SALES)
                    │       │           │   └── 24 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
                    │       │           └── 25 > TABLE ACCESS | BY INDEX ROWID BATCHED (CATALOG_RETURNS)
                    │       │               └── 26 > INDEX | RANGE SCAN (CR_RETURNED_DATE_SK_INDEX)
                    │       └── 27 > TABLE ACCESS | FULL (CATALOG_PAGE)
                    └── 28 > HASH
                        └── 29 > NESTED LOOPS
                            ├── 30 > NESTED LOOPS
                            │   ├── 31 > NESTED LOOPS
                            │   │   ├── 32 > TABLE ACCESS | FULL (DATE_DIM)
                            │   │   └── 33 > VIEW
                            │   │       └── 34 > UNION-ALL
                            │   │           ├── 35 > TABLE ACCESS | BY INDEX ROWID BATCHED (WEB_SALES)
                            │   │           │   └── 36 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                            │   │           └── 37 > NESTED LOOPS
                            │   │               ├── 38 > TABLE ACCESS | BY INDEX ROWID BATCHED (WEB_RETURNS)
                            │   │               │   └── 39 > INDEX | RANGE SCAN (WR_RETURNED_DATE_SK_INDEX)
                            │   │               └── 40 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                            │   │                   └── 41 > INDEX | UNIQUE SCAN (SYS_C0021461)
                            │   └── 42 > INDEX | UNIQUE SCAN (SYS_C0021434)
                            └── 43 > TABLE ACCESS | BY INDEX ROWID (WEB_SITE)
0 > SELECT STATEMENT
└── 1 > SORT
    └── 2 > PX COORDINATOR
        └── 3 > PX SEND | QC (RANDOM) (:TQ10001)
            └── 4 > SORT
                └── 5 > PX RECEIVE
                    └── 6 > PX SEND | HASH (:TQ10000)
                        └── 7 > SORT
                            └── 8 > PX BLOCK
                                └── 9 > INDEX | FAST FULL SCAN (CS_BILL_CUSTOMER_SK_INDEX)
SQL  [6]
6
6
No changes detected with delta value of [0.0]
SQL  [7]
7
7
No changes detected with delta value of [0.0]
SQL  [8]
8
8
No changes detected with delta value of [0.0]
SQL  [9]
9
9
No changes detected with delta value of [0.0]
SQL  [10]
2
10
Access Predicate Difference detected with delta value [2100049110.8332195]
Tree 1 difference at node [22] operator > TABLE ACCESS(FULL) on object [WEB_SALES]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > HASH JOIN
                ├── 5 > NESTED LOOPS
                │   ├── 6 > NESTED LOOPS
                │   │   ├── 7 > NESTED LOOPS
                │   │   │   ├── 8 > NESTED LOOPS
                │   │   │   │   ├── 9 > VIEW (VW_SQ_1)
                │   │   │   │   │   └── 10 > HASH
                │   │   │   │   │       └── 11 > UNION-ALL
                │   │   │   │   │           ├── 12 > HASH JOIN
                │   │   │   │   │           │   ├── 13 > TABLE ACCESS | FULL (DATE_DIM)
                │   │   │   │   │           │   └── 14 > TABLE ACCESS | FULL (CATALOG_SALES)
                │   │   │   │   │           └── 15 > HASH JOIN
                │   │   │   │   │               ├── 16 > NESTED LOOPS
                │   │   │   │   │               │   ├── 17 > NESTED LOOPS
                │   │   │   │   │               │   │   ├── 18 > STATISTICS COLLECTOR
                │   │   │   │   │               │   │   │   └── 19 > TABLE ACCESS | FULL (DATE_DIM)
                │   │   │   │   │               │   │   └── 20 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                │   │   │   │   │               │   └── 21 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                │   │   │   │   │               └── 22 > TABLE ACCESS | FULL (WEB_SALES)
                │   │   │   │   └── 23 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER)
                │   │   │   │       └── 24 > INDEX | UNIQUE SCAN (SYS_C0021431)
                │   │   │   └── 25 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER_ADDRESS)
                │   │   │       └── 26 > INDEX | UNIQUE SCAN (SYS_C0021400)
                │   │   └── 27 > INDEX | UNIQUE SCAN (SYS_C0021402)
                │   └── 28 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER_DEMOGRAPHICS)
                └── 29 > VIEW (VW_SQ_2)
                    └── 30 > HASH JOIN
                        ├── 31 > TABLE ACCESS | FULL (DATE_DIM)
                        └── 32 > TABLE ACCESS | FULL (STORE_SALES)
0 > SELECT STATEMENT
└── 1 > SORT
    └── 2 > PX COORDINATOR
        └── 3 > PX SEND | QC (RANDOM) (:TQ10001)
            └── 4 > SORT
                └── 5 > PX RECEIVE
                    └── 6 > PX SEND | HASH (:TQ10000)
                        └── 7 > SORT
                            └── 8 > PX BLOCK
                                └── 9 > INDEX | FAST FULL SCAN (CS_SHIP_ADDR_SK_INDEX)
SQL  [11]
11
11
No changes detected with delta value of [0.0]
SQL  [12]
12
12
No changes detected with delta value of [0.0]
SQL  [13]
13
13
No changes detected with delta value of [0.0]
SQL  [14]
3
14
Access Predicate Difference detected with delta value [1859541101.9690514]
Tree 1 difference at node [18] operator > TABLE ACCESS(FULL) on object [ITEM]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > TEMP TABLE TRANSFORMATION
    ├── 2 > LOAD AS SELECT (SYS_TEMP_0FD9F16E1_141942F5)
    │   └── 3 > HASH JOIN
    │       ├── 4 > TABLE ACCESS | FULL (ITEM)
    │       └── 5 > VIEW
    │           └── 6 > INTERSECTION
    │               ├── 7 > INTERSECTION
    │               │   ├── 8 > SORT
    │               │   │   └── 9 > HASH JOIN
    │               │   │       ├── 10 > TABLE ACCESS | FULL (ITEM)
    │               │   │       └── 11 > NESTED LOOPS
    │               │   │           ├── 12 > NESTED LOOPS
    │               │   │           │   ├── 13 > TABLE ACCESS | FULL (DATE_DIM)
    │               │   │           │   └── 14 > INDEX | RANGE SCAN (SS_SOLD_DATE_SK_INDEX)
    │               │   │           └── 15 > TABLE ACCESS | BY INDEX ROWID (STORE_SALES)
    │               │   └── 16 > SORT
    │               │       └── 17 > HASH JOIN
    │               │           ├── 18 > TABLE ACCESS | FULL (ITEM)
    │               │           └── 19 > NESTED LOOPS
    │               │               ├── 20 > NESTED LOOPS
    │               │               │   ├── 21 > TABLE ACCESS | FULL (DATE_DIM)
    │               │               │   └── 22 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
    │               │               └── 23 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
    │               └── 24 > SORT
    │                   └── 25 > HASH JOIN
    │                       ├── 26 > TABLE ACCESS | FULL (ITEM)
    │                       └── 27 > NESTED LOOPS
    │                           ├── 28 > NESTED LOOPS
    │                           │   ├── 29 > TABLE ACCESS | FULL (DATE_DIM)
    │                           │   └── 30 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
    │                           └── 31 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
    ├── 32 > LOAD AS SELECT (SYS_TEMP_0FD9F16E2_141942F5)
    │   └── 33 > SORT
    │       └── 34 > VIEW
    │           └── 35 > UNION-ALL
    │               ├── 36 > HASH JOIN
    │               │   ├── 37 > TABLE ACCESS | FULL (DATE_DIM)
    │               │   └── 38 > TABLE ACCESS | FULL (STORE_SALES)
    │               ├── 39 > NESTED LOOPS
    │               │   ├── 40 > NESTED LOOPS
    │               │   │   ├── 41 > TABLE ACCESS | FULL (DATE_DIM)
    │               │   │   └── 42 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
    │               │   └── 43 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)

    │               └── 44 > NESTED LOOPS
    │                   ├── 45 > NESTED LOOPS
    │                   │   ├── 46 > TABLE ACCESS | FULL (DATE_DIM)
    │                   │   └── 47 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
    │                   └── 48 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
    └── 49 > COUNT
        └── 50 > VIEW
            └── 51 > SORT
                └── 52 > VIEW
                    └── 53 > UNION-ALL
                        ├── 54 > FILTER
                        │   ├── 55 > HASH
                        │   │   └── 56 > HASH JOIN
                        │   │       ├── 57 > VIEW (VW_NSO_1)
                        │   │       │   └── 58 > VIEW
                        │   │       │       └── 59 > TABLE ACCESS | FULL (SYS_TEMP_0FD9F16E1_141942F5)
                        │   │       └── 60 > HASH JOIN
                        │   │           ├── 61 > TABLE ACCESS | FULL (ITEM)
                        │   │           └── 62 > HASH JOIN
                        │   │               ├── 63 > NESTED LOOPS
                        │   │               │   ├── 64 > NESTED LOOPS
                        │   │               │   │   ├── 65 > STATISTICS COLLECTOR
                        │   │               │   │   │   └── 66 > TABLE ACCESS | FULL (DATE_DIM)
                        │   │               │   │   └── 67 > INDEX | RANGE SCAN (SS_SOLD_DATE_SK_INDEX)
                        │   │               │   └── 68 > TABLE ACCESS | BY INDEX ROWID (STORE_SALES)
                        │   │               └── 69 > TABLE ACCESS | FULL (STORE_SALES)
                        │   └── 70 > VIEW
                        │       └── 71 > TABLE ACCESS | FULL (SYS_TEMP_0FD9F16E2_141942F5)
                        ├── 72 > FILTER
                        │   ├── 73 > HASH
                        │   │   └── 74 > HASH JOIN
                        │   │       ├── 75 > VIEW (VW_NSO_2)
                        │   │       │   └── 76 > VIEW
                        │   │       │       └── 77 > TABLE ACCESS | FULL (SYS_TEMP_0FD9F16E1_141942F5)
                        │   │       └── 78 > HASH JOIN
                        │   │           ├── 79 > TABLE ACCESS | FULL (ITEM)
                        │   │           └── 80 > HASH JOIN
                        │   │               ├── 81 > NESTED LOOPS
                        │   │               │   ├── 82 > NESTED LOOPS
                        │   │               │   │   ├── 83 > STATISTICS COLLECTOR
                        │   │               │   │   │   └── 84 > TABLE ACCESS | FULL (DATE_DIM)
                        │   │               │   │   └── 85 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
                        │   │               │   └── 86 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
                        │   │               └── 87 > TABLE ACCESS | FULL (CATALOG_SALES)
                        │   └── 88 > VIEW
                        │       └── 89 > TABLE ACCESS | FULL (SYS_TEMP_0FD9F16E2_141942F5)
                        └── 90 > FILTER
                            ├── 91 > HASH
                            │   └── 92 > HASH JOIN
                            │       ├── 93 > VIEW (VW_NSO_3)
                            │       │   └── 94 > VIEW
                            │       │       └── 95 > TABLE ACCESS | FULL (SYS_TEMP_0FD9F16E1_141942F5)
                            │       └── 96 > HASH JOIN
                            │           ├── 97 > TABLE ACCESS | FULL (ITEM)
                            │           └── 98 > HASH JOIN
                            │               ├── 99 > NESTED LOOPS
                            │               │   ├── 100 > NESTED LOOPS
                            │               │   │   ├── 101 > STATISTICS COLLECTOR
                            │               │   │   │   └── 102 > TABLE ACCESS | FULL (DATE_DIM)
                            │               │   │   └── 103 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                            │               │   └── 104 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                            │               └── 105 > TABLE ACCESS | FULL (WEB_SALES)
                            └── 106 > VIEW
                                └── 107 > TABLE ACCESS | FULL (SYS_TEMP_0FD9F16E2_141942F5)
0 > SELECT STATEMENT
└── 1 > SORT
    └── 2 > PX COORDINATOR
        └── 3 > PX SEND | QC (RANDOM) (:TQ10001)
            └── 4 > SORT
                └── 5 > PX RECEIVE
                    └── 6 > PX SEND | HASH (:TQ10000)
                        └── 7 > SORT
                            └── 8 > PX BLOCK
                                └── 9 > INDEX | FAST FULL SCAN (CS_ORDER_NUMBER_INDEX)
SQL  [15]
15
15
No changes detected with delta value of [0.0]
SQL  [16]
16
16
No changes detected with delta value of [0.0]
SQL  [17]
17
17
No changes detected with delta value of [0.0]
SQL  [18]
4
18
Access Predicate Difference detected with delta value [6010978043.414719]
Tree 1 difference at node [11] operator > HASH JOIN(0) on object [0]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > SORT
                └── 5 > HASH JOIN
                    ├── 6 > TABLE ACCESS | FULL (ITEM)
                    └── 7 > HASH JOIN
                        ├── 8 > TABLE ACCESS | FULL (CUSTOMER_DEMOGRAPHICS)
                        └── 9 > HASH JOIN
                            ├── 10 > TABLE ACCESS | FULL (DATE_DIM)
                            └── 11 > HASH JOIN
                                ├── 12 > HASH JOIN
                                │   ├── 13 > HASH JOIN
                                │   │   ├── 14 > TABLE ACCESS | FULL (CUSTOMER_ADDRESS)
                                │   │   └── 15 > TABLE ACCESS | FULL (CUSTOMER)
                                │   └── 16 > INDEX | FAST FULL SCAN (SYS_C0021402)
                                └── 17 > TABLE ACCESS | FULL (CATALOG_SALES)
0 > SELECT STATEMENT
└── 1 > SORT
    └── 2 > PX COORDINATOR
        └── 3 > PX SEND | QC (RANDOM) (:TQ10001)
            └── 4 > SORT
                └── 5 > PX RECEIVE
                    └── 6 > PX SEND | HASH (:TQ10000)
                        └── 7 > SORT
                            └── 8 > PX BLOCK
                                └── 9 > INDEX | SAMPLE FAST FULL SCAN (INV_ITEM_SK_INDEX)
SQL  [19]
19
19
No changes detected with delta value of [0.0]
SQL  [20]
20
20
No changes detected with delta value of [0.0]
SQL  [21]
21
21
No changes detected with delta value of [0.0]
SQL  [22]
5
22
Access Predicate Difference detected with delta value [262761361774.9174]
Tree 1 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > SORT
                └── 5 > HASH JOIN
                    ├── 6 > TABLE ACCESS | FULL (INVENTORY)
                    └── 7 > NESTED LOOPS
                        ├── 8 > TABLE ACCESS | FULL (DATE_DIM)
                        └── 9 > TABLE ACCESS | FULL (ITEM)
0 > SELECT STATEMENT
└── 1 > SORT
    └── 2 > PX COORDINATOR
        └── 3 > PX SEND | QC (RANDOM) (:TQ10001)
            └── 4 > SORT
                └── 5 > PX RECEIVE
                    └── 6 > PX SEND | HASH (:TQ10000)
                        └── 7 > SORT
                            └── 8 > PX BLOCK
                                └── 9 > INDEX | SAMPLE FAST FULL SCAN (SS_CDEMO_SK_INDEX)
SQL  [23]
23
23
No changes detected with delta value of [0.0]
SQL  [24]
24
24
No changes detected with delta value of [0.0]
SQL  [25]
25
25
No changes detected with delta value of [0.0]
SQL  [26]
26
26
No changes detected with delta value of [0.0]
SQL  [27]
6
27
Access Predicate Difference detected with delta value [19325057429.816135]
Tree 1 difference at node [3] operator > SORT(GROUP BY ROLLUP) on object [0]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > HASH JOIN
                ├── 5 > TABLE ACCESS | FULL (ITEM)
                └── 6 > HASH JOIN
                    ├── 7 > TABLE ACCESS | FULL (STORE)
                    └── 8 > HASH JOIN
                        ├── 9 > TABLE ACCESS | FULL (DATE_DIM)
                        └── 10 > HASH JOIN
                            ├── 11 > TABLE ACCESS | FULL (CUSTOMER_DEMOGRAPHICS)
                            └── 12 > TABLE ACCESS | FULL (STORE_SALES)
0 > SELECT STATEMENT
└── 1 > SORT
    └── 2 > PX COORDINATOR
        └── 3 > PX SEND | QC (RANDOM) (:TQ10001)
            └── 4 > SORT
                └── 5 > PX RECEIVE
                    └── 6 > PX SEND | HASH (:TQ10000)
                        └── 7 > SORT

                            └── 8 > PX BLOCK
                                └── 9 > INDEX | FAST FULL SCAN (WS_SHIP_DATE_SK_INDEX)
SQL  [28]
28
28
No changes detected with delta value of [0.0]
SQL  [29]
29
29
No changes detected with delta value of [0.0]
SQL  [30]
30
30
No changes detected with delta value of [0.0]
SQL  [31]
31
31
No changes detected with delta value of [0.0]
SQL  [32]
32
32
No changes detected with delta value of [0.0]
SQL  [33]
33
33
No changes detected with delta value of [0.0]
SQL  [34]
34
34
No changes detected with delta value of [0.0]
SQL  [35]
7
35
Access Predicate Difference detected with delta value [2146172847.4319715]
Tree 1 difference at node [21] operator > TABLE ACCESS(FULL) on object [WEB_SALES]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > NESTED LOOPS
                ├── 5 > NESTED LOOPS
                │   ├── 6 > NESTED LOOPS
                │   │   ├── 7 > NESTED LOOPS
                │   │   │   ├── 8 > VIEW (VW_SQ_1)
                │   │   │   │   └── 9 > HASH
                │   │   │   │       └── 10 > UNION-ALL
                │   │   │   │           ├── 11 > HASH JOIN
                │   │   │   │           │   ├── 12 > TABLE ACCESS | FULL (DATE_DIM)
                │   │   │   │           │   └── 13 > TABLE ACCESS | FULL (CATALOG_SALES)
                │   │   │   │           └── 14 > HASH JOIN
                │   │   │   │               ├── 15 > NESTED LOOPS
                │   │   │   │               │   ├── 16 > NESTED LOOPS
                │   │   │   │               │   │   ├── 17 > STATISTICS COLLECTOR
                │   │   │   │               │   │   │   └── 18 > TABLE ACCESS | FULL (DATE_DIM)
                │   │   │   │               │   │   └── 19 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                │   │   │   │               │   └── 20 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                │   │   │   │               └── 21 > TABLE ACCESS | FULL (WEB_SALES)
                │   │   │   └── 22 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER)
                │   │   │       └── 23 > INDEX | UNIQUE SCAN (SYS_C0021431)
                │   │   └── 24 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER_ADDRESS)
                │   │       └── 25 > INDEX | UNIQUE SCAN (SYS_C0021400)
                │   └── 26 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER_DEMOGRAPHICS)
                │       └── 27 > INDEX | UNIQUE SCAN (SYS_C0021402)
                └── 28 > VIEW PUSHED PREDICATE (VW_SQ_2)
                    └── 29 > NESTED LOOPS
                        ├── 30 > TABLE ACCESS | BY INDEX ROWID BATCHED (STORE_SALES)
                        │   └── 31 > INDEX | RANGE SCAN (SS_CUSTOMER_SK_INDEX)
                        └── 32 > TABLE ACCESS | BY INDEX ROWID (DATE_DIM)
                            └── 33 > INDEX | UNIQUE SCAN (SYS_C0021405)
0 > SELECT STATEMENT
└── 1 > SORT
    └── 2 > PX COORDINATOR
        └── 3 > PX SEND | QC (RANDOM) (:TQ10001)
            └── 4 > SORT
                └── 5 > PX RECEIVE
                    └── 6 > PX SEND | HASH (:TQ10000)
                        └── 7 > SORT
                            └── 8 > PX BLOCK
                                └── 9 > INDEX | FAST FULL SCAN (WS_ITEM_SK_INDEX)
SQL  [36]
8
36
Access Predicate Difference detected with delta value [22173524150.556408]
Tree 1 difference at node [3] operator > SORT(ORDER BY STOPKEY) on object [0]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > WINDOW
                └── 5 > SORT
                    └── 6 > HASH JOIN
                        ├── 7 > TABLE ACCESS | FULL (ITEM)
                        └── 8 > HASH JOIN
                            ├── 9 > TABLE ACCESS | FULL (DATE_DIM)
                            └── 10 > HASH JOIN
                                ├── 11 > TABLE ACCESS | FULL (STORE)
                                └── 12 > TABLE ACCESS | FULL (STORE_SALES)
0 > SELECT STATEMENT
└── 1 > SORT
    └── 2 > PX COORDINATOR
        └── 3 > PX SEND | QC (RANDOM) (:TQ10001)
            └── 4 > SORT
                └── 5 > PX RECEIVE
                    └── 6 > PX SEND | HASH (:TQ10000)
                        └── 7 > SORT
                            └── 8 > PX BLOCK
                                └── 9 > INDEX | FAST FULL SCAN (WS_WEB_SITE_SK_INDEX)
SQL  [37]
37
37
No changes detected with delta value of [0.0]
SQL  [38]
38
38
No changes detected with delta value of [0.0]
SQL  [39]
39
39
No changes detected with delta value of [0.0]
SQL  [40]
40
40
No changes detected with delta value of [0.0]
SQL  [41]
41
41
No changes detected with delta value of [0.0]
SQL  [42]
42
42
No changes detected with delta value of [0.0]
SQL  [43]
43
43
No changes detected with delta value of [0.0]
SQL  [44]
44
44
No changes detected with delta value of [0.0]
SQL  [45]
45
45
No changes detected with delta value of [0.0]
SQL  [46]
46
46
No changes detected with delta value of [0.0]
SQL  [47]
47
47
No changes detected with delta value of [0.0]
SQL  [48]
48
48
No changes detected with delta value of [0.0]
SQL  [49]
49
49
No changes detected with delta value of [0.0]
SQL  [50]
50
50
No changes detected with delta value of [0.0]
SQL  [51]
9
51
Access Predicate Difference detected with delta value [35795003126.86023]
Tree 1 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
Tree 2 difference at node [7] operator > TABLE ACCESS(FULL) on object [CUSTOMER_ADDRESS]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > VIEW
                └── 5 > WINDOW
                    └── 6 > VIEW (VW_FOJ_0)
                        └── 7 > HASH JOIN
                            ├── 8 > VIEW
                            │   └── 9 > WINDOW
                            │       └── 10 > SORT
                            │           └── 11 > HASH JOIN
                            │               ├── 12 > TABLE ACCESS | FULL (DATE_DIM)
                            │               └── 13 > TABLE ACCESS | FULL (STORE_SALES)
                            └── 14 > VIEW
                                └── 15 > WINDOW
                                    └── 16 > SORT
                                        └── 17 > NESTED LOOPS
                                            ├── 18 > NESTED LOOPS
                                            │   ├── 19 > TABLE ACCESS | FULL (DATE_DIM)
                                            │   └── 20 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                                            └── 21 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
0 > SELECT STATEMENT
├── 1 > COUNT
├── 1 > COUNT
├── 1 > COUNT
└── 1 > COUNT
    ├── 2 > VIEW
    ├── 2 > VIEW
    ├── 2 > VIEW
    └── 2 > VIEW
        ├── 3 > SORT
        ├── 3 > SORT
        ├── 3 > SORT
        └── 3 > SORT
            ├── 4 > NESTED LOOPS
            ├── 4 > NESTED LOOPS
            ├── 4 > NESTED LOOPS
            └── 4 > NESTED LOOPS
                ├── 5 > NESTED LOOPS
                ├── 5 > NESTED LOOPS
                ├── 5 > NESTED LOOPS
                ├── 5 > NESTED LOOPS
                │   ├── 6 > HASH JOIN
                │   ├── 6 > HASH JOIN
                │   ├── 6 > HASH JOIN
                │   ├── 6 > HASH JOIN
                │   │   ├── 7 > TABLE ACCESS | FULL (CUSTOMER_ADDRESS)
                │   │   ├── 7 > TABLE ACCESS | FULL (CUSTOMER_ADDRESS)
                │   │   ├── 7 > TABLE ACCESS | FULL (CUSTOMER_ADDRESS)
                │   │   ├── 7 > TABLE ACCESS | FULL (CUSTOMER_ADDRESS)
                │   │   ├── 8 > NESTED LOOPS
                │   │   ├── 8 > NESTED LOOPS
                │   │   ├── 8 > NESTED LOOPS
                │   │   └── 8 > NESTED LOOPS
                │   │       ├── 9 > NESTED LOOPS
                │   │       ├── 9 > NESTED LOOPS
                │   │       ├── 9 > NESTED LOOPS
                │   │       ├── 9 > NESTED LOOPS
                │   │       │   ├── 10 > VIEW (VW_SQ_1)
                │   │       │   ├── 10 > VIEW (VW_SQ_1)
                │   │       │   ├── 10 > VIEW (VW_SQ_1)
                │   │       │   ├── 10 > VIEW (VW_SQ_1)
                │   │       │   │   ├── 11 > HASH

                │   │       │   │   ├── 11 > HASH
                │   │       │   │   ├── 11 > HASH
                │   │       │   │   └── 11 > HASH
                │   │       │   │       ├── 12 > UNION-ALL
                │   │       │   │       ├── 12 > UNION-ALL
                │   │       │   │       ├── 12 > UNION-ALL
                │   │       │   │       └── 12 > UNION-ALL
                │   │       │   │           ├── 13 > HASH JOIN
                │   │       │   │           ├── 13 > HASH JOIN
                │   │       │   │           ├── 13 > HASH JOIN
                │   │       │   │           ├── 13 > HASH JOIN
                │   │       │   │           │   ├── 14 > NESTED LOOPS
                │   │       │   │           │   ├── 14 > NESTED LOOPS
                │   │       │   │           │   ├── 14 > NESTED LOOPS
                │   │       │   │           │   ├── 14 > NESTED LOOPS
                │   │       │   │           │   │   ├── 15 > NESTED LOOPS
                │   │       │   │           │   │   ├── 15 > NESTED LOOPS
                │   │       │   │           │   │   ├── 15 > NESTED LOOPS
                │   │       │   │           │   │   ├── 15 > NESTED LOOPS
                │   │       │   │           │   │   │   ├── 16 > STATISTICS COLLECTOR
                │   │       │   │           │   │   │   ├── 16 > STATISTICS COLLECTOR
                │   │       │   │           │   │   │   ├── 16 > STATISTICS COLLECTOR
                │   │       │   │           │   │   │   ├── 16 > STATISTICS COLLECTOR
                │   │       │   │           │   │   │   │   ├── 17 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       │   │           │   │   │   │   ├── 17 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       │   │           │   │   │   │   ├── 17 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       │   │           │   │   │   │   └── 17 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       │   │           │   │   │   ├── 18 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
                │   │       │   │           │   │   │   ├── 18 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
                │   │       │   │           │   │   │   ├── 18 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
                │   │       │   │           │   │   │   └── 18 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
                │   │       │   │           │   │   ├── 19 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
                │   │       │   │           │   │   ├── 19 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
                │   │       │   │           │   │   ├── 19 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
                │   │       │   │           │   │   └── 19 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
                │   │       │   │           │   ├── 20 > TABLE ACCESS | FULL (CATALOG_SALES)
                │   │       │   │           │   ├── 20 > TABLE ACCESS | FULL (CATALOG_SALES)
                │   │       │   │           │   ├── 20 > TABLE ACCESS | FULL (CATALOG_SALES)
                │   │       │   │           │   └── 20 > TABLE ACCESS | FULL (CATALOG_SALES)
                │   │       │   │           ├── 21 > HASH JOIN
                │   │       │   │           ├── 21 > HASH JOIN
                │   │       │   │           ├── 21 > HASH JOIN
                │   │       │   │           └── 21 > HASH JOIN
                │   │       │   │               ├── 22 > NESTED LOOPS
                │   │       │   │               ├── 22 > NESTED LOOPS
                │   │       │   │               ├── 22 > NESTED LOOPS
                │   │       │   │               ├── 22 > NESTED LOOPS
                │   │       │   │               │   ├── 23 > NESTED LOOPS
                │   │       │   │               │   ├── 23 > NESTED LOOPS
                │   │       │   │               │   ├── 23 > NESTED LOOPS
                │   │       │   │               │   ├── 23 > NESTED LOOPS
                │   │       │   │               │   │   ├── 24 > STATISTICS COLLECTOR
                │   │       │   │               │   │   ├── 24 > STATISTICS COLLECTOR
                │   │       │   │               │   │   ├── 24 > STATISTICS COLLECTOR
                │   │       │   │               │   │   ├── 24 > STATISTICS COLLECTOR
                │   │       │   │               │   │   │   ├── 25 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       │   │               │   │   │   ├── 25 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       │   │               │   │   │   ├── 25 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       │   │               │   │   │   └── 25 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       │   │               │   │   ├── 26 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                │   │       │   │               │   │   ├── 26 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                │   │       │   │               │   │   ├── 26 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                │   │       │   │               │   │   └── 26 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                │   │       │   │               │   ├── 27 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                │   │       │   │               │   ├── 27 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                │   │       │   │               │   ├── 27 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                │   │       │   │               │   └── 27 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                │   │       │   │               ├── 28 > TABLE ACCESS | FULL (WEB_SALES)
                │   │       │   │               ├── 28 > TABLE ACCESS | FULL (WEB_SALES)
                │   │       │   │               ├── 28 > TABLE ACCESS | FULL (WEB_SALES)
                │   │       │   │               └── 28 > TABLE ACCESS | FULL (WEB_SALES)
                │   │       │   ├── 29 > INDEX | UNIQUE SCAN (SYS_C0021431)
                │   │       │   ├── 29 > INDEX | UNIQUE SCAN (SYS_C0021431)
                │   │       │   ├── 29 > INDEX | UNIQUE SCAN (SYS_C0021431)
                │   │       │   └── 29 > INDEX | UNIQUE SCAN (SYS_C0021431)
                │   │       ├── 30 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER)
                │   │       ├── 30 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER)
                │   │       ├── 30 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER)
                │   │       └── 30 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER)
                │   ├── 31 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER_DEMOGRAPHICS)
                │   ├── 31 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER_DEMOGRAPHICS)
                │   ├── 31 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER_DEMOGRAPHICS)
                │   └── 31 > TABLE ACCESS | BY INDEX ROWID (CUSTOMER_DEMOGRAPHICS)
                │       ├── 32 > INDEX | UNIQUE SCAN (SYS_C0021402)
                │       ├── 32 > INDEX | UNIQUE SCAN (SYS_C0021402)
                │       ├── 32 > INDEX | UNIQUE SCAN (SYS_C0021402)
                │       └── 32 > INDEX | UNIQUE SCAN (SYS_C0021402)
                ├── 33 > VIEW PUSHED PREDICATE (VW_SQ_2)
                ├── 33 > VIEW PUSHED PREDICATE (VW_SQ_2)
                ├── 33 > VIEW PUSHED PREDICATE (VW_SQ_2)
                └── 33 > VIEW PUSHED PREDICATE (VW_SQ_2)
                    ├── 34 > NESTED LOOPS
                    ├── 34 > NESTED LOOPS
                    ├── 34 > NESTED LOOPS
                    └── 34 > NESTED LOOPS
                        ├── 35 > TABLE ACCESS | BY INDEX ROWID BATCHED (STORE_SALES)
                        ├── 35 > TABLE ACCESS | BY INDEX ROWID BATCHED (STORE_SALES)
                        ├── 35 > TABLE ACCESS | BY INDEX ROWID BATCHED (STORE_SALES)
                        ├── 35 > TABLE ACCESS | BY INDEX ROWID BATCHED (STORE_SALES)
                        │   ├── 36 > INDEX | RANGE SCAN (SS_CUSTOMER_SK_INDEX)
                        │   ├── 36 > INDEX | RANGE SCAN (SS_CUSTOMER_SK_INDEX)
                        │   ├── 36 > INDEX | RANGE SCAN (SS_CUSTOMER_SK_INDEX)
                        │   └── 36 > INDEX | RANGE SCAN (SS_CUSTOMER_SK_INDEX)
                        ├── 37 > TABLE ACCESS | BY INDEX ROWID (DATE_DIM)
                        ├── 37 > TABLE ACCESS | BY INDEX ROWID (DATE_DIM)
                        ├── 37 > TABLE ACCESS | BY INDEX ROWID (DATE_DIM)
                        └── 37 > TABLE ACCESS | BY INDEX ROWID (DATE_DIM)
                            ├── 38 > INDEX | UNIQUE SCAN (SYS_C0021405)
                            ├── 38 > INDEX | UNIQUE SCAN (SYS_C0021405)
                            ├── 38 > INDEX | UNIQUE SCAN (SYS_C0021405)
                            └── 38 > INDEX | UNIQUE SCAN (SYS_C0021405)
SQL  [52]
52
52

No changes detected with delta value of [0.0]
SQL  [53]
53
53
No changes detected with delta value of [0.0]
SQL  [54]
54
54
No changes detected with delta value of [0.0]
SQL  [55]
55
55
No changes detected with delta value of [0.0]
SQL  [56]
56
56
No changes detected with delta value of [0.0]
SQL  [57]
57
57
No changes detected with delta value of [0.0]
SQL  [58]
58
58
No changes detected with delta value of [0.0]
SQL  [59]
59
59
No changes detected with delta value of [0.0]
SQL  [60]
60
60
No changes detected with delta value of [0.0]
SQL  [61]
61
61
No changes detected with delta value of [0.0]
SQL  [62]
62
62
No changes detected with delta value of [0.0]
SQL  [63]
63
63
No changes detected with delta value of [0.0]
SQL  [64]
64
64
No changes detected with delta value of [0.0]
SQL  [65]
65
65
No changes detected with delta value of [0.0]
SQL  [66]
66
66
No changes detected with delta value of [0.0]
SQL  [67]
10
73
Access Predicate Difference detected with delta value [40958222349.868454]
Tree 1 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
Tree 2 difference at node [11] operator > NESTED LOOPS(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > VIEW
                └── 5 > WINDOW
                    └── 6 > VIEW
                        └── 7 > SORT
                            └── 8 > HASH JOIN
                                ├── 9 > TABLE ACCESS | FULL (STORE)
                                └── 10 > HASH JOIN
                                    ├── 11 > TABLE ACCESS | FULL (ITEM)
                                    └── 12 > HASH JOIN
                                        ├── 13 > TABLE ACCESS | FULL (DATE_DIM)
                                        └── 14 > TABLE ACCESS | FULL (STORE_SALES)
0 > SELECT STATEMENT
└── 1 > TEMP TABLE TRANSFORMATION
    ├── 2 > LOAD AS SELECT
    │   └── 3 > HASH JOIN
    │       ├── 4 > TABLE ACCESS | FULL (WEB_SALES)
    │       └── 5 > TABLE ACCESS | FULL (WEB_SALES)
    └── 6 > COUNT
        └── 7 > VIEW
            └── 8 > SORT
                └── 9 > FILTER
                    ├── 10 > FILTER
                    │   └── 11 > NESTED LOOPS
                    │       ├── 12 > NESTED LOOPS
                    │       │   ├── 13 > NESTED LOOPS
                    │       │   │   ├── 14 > MERGE JOIN
                    │       │   │   │   ├── 15 > TABLE ACCESS | FULL (DATE_DIM)
                    │       │   │   │   └── 16 > BUFFER
                    │       │   │   │       └── 17 > TABLE ACCESS | FULL (CUSTOMER_ADDRESS)
                    │       │   │   └── 18 > TABLE ACCESS | BY INDEX ROWID BATCHED (WEB_SALES)
                    │       │   │       └── 19 > INDEX | RANGE SCAN (WS_SHIP_ADDR_SK_INDEX)
                    │       │   └── 20 > INDEX | UNIQUE SCAN (SYS_C0021434)
                    │       └── 21 > TABLE ACCESS | BY INDEX ROWID (WEB_SITE)
                    ├── 22 > VIEW
                    │   └── 23 > TABLE ACCESS | FULL (SYS_TEMP_0FD9D69ED_141942F5)
                    └── 24 > MERGE JOIN
                        ├── 25 > VIEW
                        │   └── 26 > TABLE ACCESS | FULL (SYS_TEMP_0FD9D69ED_141942F5)
                        └── 27 > SORT
                            └── 28 > INDEX | RANGE SCAN (WR_ORDER_NUMBER_INDEX)
SQL  [68]
74
74
No changes detected with delta value of [0.0]
SQL  [69]
75
75
No changes detected with delta value of [0.0]
SQL  [70]
11
76
Access Predicate Difference detected with delta value [37844157715.55654]
Tree 1 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
Tree 2 difference at node [24] operator > TABLE ACCESS(FULL) on object [STORE_SALES]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > WINDOW
                └── 5 > SORT
                    └── 6 > HASH JOIN
                        ├── 7 > VIEW (VW_NSO_1)
                        │   └── 8 > VIEW
                        │       └── 9 > WINDOW
                        │           └── 10 > HASH
                        │               └── 11 > HASH JOIN
                        │                   ├── 12 > TABLE ACCESS | FULL (STORE)
                        │                   └── 13 > NESTED LOOPS
                        │                       ├── 14 > NESTED LOOPS
                        │                       │   ├── 15 > TABLE ACCESS | FULL (DATE_DIM)
                        │                       │   └── 16 > INDEX | RANGE SCAN (SS_SOLD_DATE_SK_INDEX)
                        │                       └── 17 > TABLE ACCESS | BY INDEX ROWID (STORE_SALES)
                        └── 18 > HASH JOIN
                            ├── 19 > TABLE ACCESS | FULL (STORE)
                            └── 20 > HASH JOIN
                                ├── 21 > TABLE ACCESS | FULL (DATE_DIM)
                                └── 22 > TABLE ACCESS | FULL (STORE_SALES)
0 > SELECT STATEMENT
├── 1 > SORT
│   └── 2 > TABLE ACCESS | FULL (STORE_SALES)
├── 3 > SORT
│   └── 4 > TABLE ACCESS | FULL (STORE_SALES)
├── 5 > SORT
│   └── 6 > TABLE ACCESS | FULL (STORE_SALES)
├── 7 > SORT
│   └── 8 > TABLE ACCESS | FULL (STORE_SALES)
├── 9 > SORT
│   └── 10 > TABLE ACCESS | FULL (STORE_SALES)
├── 11 > SORT
│   └── 12 > TABLE ACCESS | FULL (STORE_SALES)
├── 13 > SORT
│   └── 14 > TABLE ACCESS | FULL (STORE_SALES)
├── 15 > SORT
│   └── 16 > TABLE ACCESS | FULL (STORE_SALES)
├── 17 > SORT
│   └── 18 > TABLE ACCESS | FULL (STORE_SALES)
├── 19 > SORT
│   └── 20 > TABLE ACCESS | FULL (STORE_SALES)
├── 21 > SORT
│   └── 22 > TABLE ACCESS | FULL (STORE_SALES)
├── 23 > SORT
│   └── 24 > TABLE ACCESS | FULL (STORE_SALES)
├── 25 > SORT
│   └── 26 > TABLE ACCESS | FULL (STORE_SALES)
├── 27 > SORT
│   └── 28 > TABLE ACCESS | FULL (STORE_SALES)
├── 29 > SORT
│   └── 30 > TABLE ACCESS | FULL (STORE_SALES)
└── 31 > INDEX | UNIQUE SCAN (SYS_C0021417)
SQL  [71]
77
77
No changes detected with delta value of [0.0]
SQL  [72]
78
78
No changes detected with delta value of [0.0]
SQL  [73]
79
79
No changes detected with delta value of [0.0]
SQL  [74]
80
80
No changes detected with delta value of [0.0]
SQL  [75]
81
81
No changes detected with delta value of [0.0]
SQL  [76]
82
82
No changes detected with delta value of [0.0]
SQL  [77]
12
83
Access Predicate Difference detected with delta value [12694880475.90292]
Tree 1 difference at node [39] operator > HASH(GROUP BY) on object [0]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > VIEW
                └── 5 > UNION-ALL
                    ├── 6 > HASH JOIN
                    │   ├── 7 > VIEW
                    │   │   └── 8 > HASH
                    │   │       └── 9 > HASH JOIN
                    │   │           ├── 10 > INDEX | FULL SCAN (SYS_C0021425)
                    │   │           └── 11 > NESTED LOOPS
                    │   │               ├── 12 > NESTED LOOPS
                    │   │               │   ├── 13 > TABLE ACCESS | FULL (DATE_DIM)
                    │   │               │   └── 14 > INDEX | RANGE SCAN (SS_SOLD_DATE_SK_INDEX)
                    │   │               └── 15 > TABLE ACCESS | BY INDEX ROWID (STORE_SALES)
                    │   └── 16 > VIEW
                    │       └── 17 > HASH
                    │           └── 18 > NESTED LOOPS
                    │               ├── 19 > HASH JOIN
                    │               │   ├── 20 > TABLE ACCESS | FULL (DATE_DIM)
                    │               │   └── 21 > TABLE ACCESS | FULL (STORE_RETURNS)
                    │               └── 22 > INDEX | UNIQUE SCAN (SYS_C0021425)
                    ├── 23 > MERGE JOIN
                    │   ├── 24 > VIEW
                    │   │   └── 25 > HASH
                    │   │       └── 26 > HASH JOIN
                    │   │           ├── 27 > TABLE ACCESS | FULL (DATE_DIM)
                    │   │           └── 28 > TABLE ACCESS | FULL (CATALOG_SALES)
                    │   └── 29 > BUFFER
                    │       └── 30 > VIEW
                    │           └── 31 > HASH
                    │               └── 32 > NESTED LOOPS
                    │                   ├── 33 > NESTED LOOPS
                    │                   │   ├── 34 > TABLE ACCESS | FULL (DATE_DIM)
                    │                   │   └── 35 > INDEX | RANGE SCAN (CR_RETURNED_DATE_SK_INDEX)
                    │                   └── 36 > TABLE ACCESS | BY INDEX ROWID (CATALOG_RETURNS)
                    └── 37 > HASH JOIN

                        ├── 38 > VIEW
                        │   └── 39 > HASH
                        │       └── 40 > NESTED LOOPS
                        │           ├── 41 > NESTED LOOPS
                        │           │   ├── 42 > TABLE ACCESS | FULL (DATE_DIM)
                        │           │   └── 43 > TABLE ACCESS | BY INDEX ROWID BATCHED (WEB_SALES)
                        │           │       └── 44 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                        │           └── 45 > INDEX | UNIQUE SCAN (SYS_C0021442)
                        └── 46 > VIEW
                            └── 47 > HASH
                                └── 48 > NESTED LOOPS
                                    ├── 49 > NESTED LOOPS
                                    │   ├── 50 > TABLE ACCESS | FULL (DATE_DIM)
                                    │   └── 51 > TABLE ACCESS | BY INDEX ROWID BATCHED (WEB_RETURNS)
                                    │       └── 52 > INDEX | RANGE SCAN (WR_RETURNED_DATE_SK_INDEX)
                                    └── 53 > INDEX | UNIQUE SCAN (SYS_C0021442)
0 > SELECT STATEMENT
└── 1 > TEMP TABLE TRANSFORMATION
    ├── 2 > LOAD AS SELECT
    │   └── 3 > UNION-ALL
    │       ├── 4 > HASH
    │       │   └── 5 > HASH JOIN
    │       │       ├── 6 > VIEW (VW_GBC_10)
    │       │       │   └── 7 > HASH
    │       │       │       └── 8 > NESTED LOOPS
    │       │       │           ├── 9 > NESTED LOOPS
    │       │       │           │   ├── 10 > TABLE ACCESS | FULL (DATE_DIM)
    │       │       │           │   └── 11 > INDEX | RANGE SCAN (SS_SOLD_DATE_SK_INDEX)
    │       │       │           └── 12 > TABLE ACCESS | BY INDEX ROWID (STORE_SALES)
    │       │       └── 13 > TABLE ACCESS | FULL (CUSTOMER)
    │       └── 14 > HASH
    │           └── 15 > HASH JOIN
    │               ├── 16 > VIEW (VW_GBC_20)
    │               │   └── 17 > HASH
    │               │       └── 18 > NESTED LOOPS
    │               │           ├── 19 > NESTED LOOPS
    │               │           │   ├── 20 > TABLE ACCESS | FULL (DATE_DIM)
    │               │           │   └── 21 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
    │               │           └── 22 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
    │               └── 23 > TABLE ACCESS | FULL (CUSTOMER)
    └── 24 > COUNT
        └── 25 > VIEW
            └── 26 > SORT
                └── 27 > HASH JOIN
                    ├── 28 > HASH JOIN
                    │   ├── 29 > HASH JOIN
                    │   │   ├── 30 > VIEW
                    │   │   │   └── 31 > TABLE ACCESS | FULL (SYS_TEMP_0FD9D69FF_141942F5)
                    │   │   └── 32 > VIEW
                    │   │       └── 33 > TABLE ACCESS | FULL (SYS_TEMP_0FD9D69FF_141942F5)
                    │   └── 34 > VIEW
                    │       └── 35 > TABLE ACCESS | FULL (SYS_TEMP_0FD9D69FF_141942F5)
                    └── 36 > VIEW
                        └── 37 > TABLE ACCESS | FULL (SYS_TEMP_0FD9D69FF_141942F5)
SQL  [78]
84
84
No changes detected with delta value of [0.0]
SQL  [79]
85
85
No changes detected with delta value of [0.0]
SQL  [80]
13
86
Access Predicate Difference detected with delta value [2566601260.6064596]
Tree 1 difference at node [57] operator > NESTED LOOPS(0) on object [0]
Tree 2 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > VIEW
                └── 5 > UNION-ALL
                    ├── 6 > HASH
                    │   └── 7 > HASH JOIN
                    │       ├── 8 > NESTED LOOPS
                    │       │   ├── 9 > NESTED LOOPS
                    │       │   │   ├── 10 > HASH JOIN
                    │       │   │   │   ├── 11 > TABLE ACCESS | FULL (PROMOTION)
                    │       │   │   │   └── 12 > HASH JOIN
                    │       │   │   │       ├── 13 > TABLE ACCESS | FULL (ITEM)
                    │       │   │   │       └── 14 > HASH JOIN
                    │       │   │   │           ├── 15 > NESTED LOOPS
                    │       │   │   │           │   ├── 16 > NESTED LOOPS
                    │       │   │   │           │   │   ├── 17 > STATISTICS COLLECTOR
                    │       │   │   │           │   │   │   └── 18 > TABLE ACCESS | FULL (DATE_DIM)
                    │       │   │   │           │   │   └── 19 > INDEX | RANGE SCAN (SS_SOLD_DATE_SK_INDEX)
                    │       │   │   │           │   └── 20 > TABLE ACCESS | BY INDEX ROWID (STORE_SALES)
                    │       │   │   │           └── 21 > TABLE ACCESS | FULL (STORE_SALES)
                    │       │   │   └── 22 > INDEX | UNIQUE SCAN (SYS_C0021425)
                    │       │   └── 23 > TABLE ACCESS | BY INDEX ROWID (STORE)
                    │       └── 24 > TABLE ACCESS | FULL (STORE_RETURNS)
                    ├── 25 > HASH
                    │   └── 26 > HASH JOIN
                    │       ├── 27 > NESTED LOOPS
                    │       │   ├── 28 > STATISTICS COLLECTOR
                    │       │   │   └── 29 > HASH JOIN
                    │       │   │       ├── 30 > HASH JOIN
                    │       │   │       │   ├── 31 > TABLE ACCESS | FULL (PROMOTION)
                    │       │   │       │   └── 32 > HASH JOIN
                    │       │   │       │       ├── 33 > TABLE ACCESS | FULL (ITEM)
                    │       │   │       │       └── 34 > HASH JOIN
                    │       │   │       │           ├── 35 > NESTED LOOPS
                    │       │   │       │           │   ├── 36 > NESTED LOOPS
                    │       │   │       │           │   │   ├── 37 > STATISTICS COLLECTOR
                    │       │   │       │           │   │   │   └── 38 > TABLE ACCESS | FULL (DATE_DIM)
                    │       │   │       │           │   │   └── 39 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
                    │       │   │       │           │   └── 40 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
                    │       │   │       │           └── 41 > TABLE ACCESS | FULL (CATALOG_SALES)
                    │       │   │       └── 42 > TABLE ACCESS | FULL (CATALOG_PAGE)
                    │       │   └── 43 > TABLE ACCESS | BY INDEX ROWID (CATALOG_RETURNS)
                    │       │       └── 44 > INDEX | UNIQUE SCAN (SYS_C0021455)
                    │       └── 45 > TABLE ACCESS | FULL (CATALOG_RETURNS)
                    └── 46 > HASH
                        └── 47 > HASH JOIN
                            ├── 48 > NESTED LOOPS
                            │   ├── 49 > STATISTICS COLLECTOR
                            │   │   └── 50 > HASH JOIN
                            │   │       ├── 51 > TABLE ACCESS | FULL (WEB_SITE)
                            │   │       └── 52 > HASH JOIN
                            │   │           ├── 53 > TABLE ACCESS | FULL (PROMOTION)
                            │   │           └── 54 > HASH JOIN
                            │   │               ├── 55 > TABLE ACCESS | FULL (ITEM)
                            │   │               └── 56 > HASH JOIN
                            │   │                   ├── 57 > NESTED LOOPS
                            │   │                   │   ├── 58 > NESTED LOOPS
                            │   │                   │   │   ├── 59 > STATISTICS COLLECTOR
                            │   │                   │   │   │   └── 60 > TABLE ACCESS | FULL (DATE_DIM)
                            │   │                   │   │   └── 61 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                            │   │                   │   └── 62 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                            │   │                   └── 63 > TABLE ACCESS | FULL (WEB_SALES)
                            │   └── 64 > TABLE ACCESS | BY INDEX ROWID (WEB_RETURNS)
                            │       └── 65 > INDEX | UNIQUE SCAN (SYS_C0021458)
                            └── 66 > TABLE ACCESS | FULL (WEB_RETURNS)
0 > SELECT STATEMENT
├── 1 > COUNT
└── 1 > COUNT
    ├── 2 > VIEW
    └── 2 > VIEW
        ├── 3 > SORT
        └── 3 > SORT
            ├── 4 > NESTED LOOPS
            └── 4 > NESTED LOOPS
                ├── 5 > NESTED LOOPS
                ├── 5 > NESTED LOOPS
                │   ├── 6 > HASH JOIN
                │   ├── 6 > HASH JOIN

                │   │   ├── 7 > TABLE ACCESS | FULL (STORE)
                │   │   ├── 7 > TABLE ACCESS | FULL (STORE)
                │   │   ├── 8 > HASH JOIN
                │   │   └── 8 > HASH JOIN
                │   │       ├── 9 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       ├── 9 > TABLE ACCESS | FULL (DATE_DIM)
                │   │       ├── 10 > NESTED LOOPS
                │   │       └── 10 > NESTED LOOPS
                │   │           ├── 11 > NESTED LOOPS
                │   │           ├── 11 > NESTED LOOPS
                │   │           │   ├── 12 > HASH JOIN
                │   │           │   ├── 12 > HASH JOIN
                │   │           │   │   ├── 13 > TABLE ACCESS | FULL (DATE_DIM)
                │   │           │   │   ├── 13 > TABLE ACCESS | FULL (DATE_DIM)
                │   │           │   │   ├── 14 > HASH JOIN
                │   │           │   │   └── 14 > HASH JOIN
                │   │           │   │       ├── 15 > NESTED LOOPS
                │   │           │   │       ├── 15 > NESTED LOOPS
                │   │           │   │       │   ├── 16 > NESTED LOOPS
                │   │           │   │       │   ├── 16 > NESTED LOOPS
                │   │           │   │       │   │   ├── 17 > TABLE ACCESS | FULL (DATE_DIM)
                │   │           │   │       │   │   ├── 17 > TABLE ACCESS | FULL (DATE_DIM)
                │   │           │   │       │   │   ├── 18 > INDEX | RANGE SCAN (SS_SOLD_DATE_SK_INDEX)
                │   │           │   │       │   │   └── 18 > INDEX | RANGE SCAN (SS_SOLD_DATE_SK_INDEX)
                │   │           │   │       │   ├── 19 > TABLE ACCESS | BY INDEX ROWID (STORE_SALES)
                │   │           │   │       │   └── 19 > TABLE ACCESS | BY INDEX ROWID (STORE_SALES)
                │   │           │   │       ├── 20 > TABLE ACCESS | FULL (STORE_RETURNS)
                │   │           │   │       └── 20 > TABLE ACCESS | FULL (STORE_RETURNS)
                │   │           │   ├── 21 > INDEX | RANGE SCAN (CS_BILL_CUSTOMER_SK_INDEX)
                │   │           │   └── 21 > INDEX | RANGE SCAN (CS_BILL_CUSTOMER_SK_INDEX)
                │   │           ├── 22 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
                │   │           └── 22 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
                │   ├── 23 > INDEX | UNIQUE SCAN (SYS_C0021422)
                │   └── 23 > INDEX | UNIQUE SCAN (SYS_C0021422)
                ├── 24 > TABLE ACCESS | BY INDEX ROWID (ITEM)
                └── 24 > TABLE ACCESS | BY INDEX ROWID (ITEM)
SQL  [81]
87
87
No changes detected with delta value of [0.0]
SQL  [82]
88
88
No changes detected with delta value of [0.0]
SQL  [83]
89
89
No changes detected with delta value of [0.0]
SQL  [84]
90
90
No changes detected with delta value of [0.0]
SQL  [85]
91
91
No changes detected with delta value of [0.0]
SQL  [86]
14
92
Access Predicate Difference detected with delta value [8387530011.5873375]
Tree 1 difference at node [0] operator > SELECT STATEMENT(0) on object [0]
Tree 2 difference at node [13] operator > HASH JOIN(0) on object [0]
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > WINDOW
                └── 5 > SORT
                    └── 6 > HASH JOIN
                        ├── 7 > TABLE ACCESS | FULL (ITEM)
                        └── 8 > HASH JOIN
                            ├── 9 > TABLE ACCESS | FULL (DATE_DIM)
                            └── 10 > TABLE ACCESS | FULL (WEB_SALES)
0 > SELECT STATEMENT
└── 1 > COUNT
    └── 2 > VIEW
        └── 3 > SORT
            └── 4 > VIEW
                └── 5 > UNION-ALL
                    ├── 6 > HASH
                    │   └── 7 > HASH JOIN
                    │       ├── 8 > TABLE ACCESS | FULL (WAREHOUSE)
                    │       └── 9 > HASH JOIN
                    │           ├── 10 > TABLE ACCESS | FULL (TIME_DIM)
                    │           └── 11 > HASH JOIN
                    │               ├── 12 > TABLE ACCESS | FULL (SHIP_MODE)
                    │               └── 13 > HASH JOIN
                    │                   ├── 14 > NESTED LOOPS
                    │                   │   ├── 15 > NESTED LOOPS
                    │                   │   │   ├── 16 > STATISTICS COLLECTOR
                    │                   │   │   │   └── 17 > TABLE ACCESS | FULL (DATE_DIM)
                    │                   │   │   └── 18 > INDEX | RANGE SCAN (WS_SOLD_DATE_SK_INDEX)
                    │                   │   └── 19 > TABLE ACCESS | BY INDEX ROWID (WEB_SALES)
                    │                   └── 20 > TABLE ACCESS | FULL (WEB_SALES)
                    └── 21 > HASH
                        └── 22 > HASH JOIN
                            ├── 23 > TABLE ACCESS | FULL (WAREHOUSE)
                            └── 24 > HASH JOIN
                                ├── 25 > TABLE ACCESS | FULL (TIME_DIM)
                                └── 26 > HASH JOIN
                                    ├── 27 > TABLE ACCESS | FULL (SHIP_MODE)
                                    └── 28 > HASH JOIN
                                        ├── 29 > NESTED LOOPS
                                        │   ├── 30 > NESTED LOOPS
                                        │   │   ├── 31 > STATISTICS COLLECTOR
                                        │   │   │   └── 32 > TABLE ACCESS | FULL (DATE_DIM)
                                        │   │   └── 33 > INDEX | RANGE SCAN (CS_SOLD_DATE_SK_INDEX)
                                        │   └── 34 > TABLE ACCESS | BY INDEX ROWID (CATALOG_SALES)
                                        └── 35 > TABLE ACCESS | FULL (CATALOG_SALES)
SQL  [87]
93
93
No changes detected with delta value of [0.0]
SQL  [88]
94
94
No changes detected with delta value of [0.0]
SQL  [89]
95
95
No changes detected with delta value of [0.0]
SQL  [90]
96
96
No changes detected with delta value of [0.0]
SQL  [91]
97
97
No changes detected with delta value of [0.0]
SQL  [92]
98
98
No changes detected with delta value of [0.0]
SQL  [93]
99
99

## Stream Comparison with Predicate Based Outliers

Compares the expected stream with variation stream. Variations found here will be composed of SQL optimizer hint injections to purposely skew the plan.

In [ ]:
for i, idx in enumerate(predicate_outlier_sqls):
    print('SQL  [' + str(i+1) + ']')
    if i+1 in variant_ids:
        print(idx)
        df_temp_plan = df_predicate_outliers[df_predicate_outliers['PLAN_ID'] == idx]
        df_temp_plan = df_temp_plan.sort_values(by='ID', ascending=True)
    else:
        print(idx)
        df_temp_plan = df[df['SQL_ID'] == idx]
        df_temp_plan = df_temp_plan.sort_values(by='ID', ascending=True)
    
    print(actual_sqls[i])
    df_plan = df[df['SQL_ID'] == actual_sqls[i]]
    df_plan = df_plan.sort_values(by='ID', ascending=True)
    
    # Builds Trees
    tree_temp_plan = PlanTreeModeller.build_tree(df=df_temp_plan)
    tree_plan = PlanTreeModeller.build_tree(df=df_plan)
    
    PlanTreeModeller.tree_compare(tree1=tree_temp_plan, 
                                  tree2=tree_plan, 
                                  df1=df_temp_plan, 
                                  df2=df_plan)

## Stream Comparison with Rownum Based Outliers

Compares the expected stream with variation stream. Variations found here will be composed of SQL optimizer hint injections to purposely skew the plan.

In [ ]:
for i, idx in enumerate(rownum_outlier_sqls):
    print('SQL  [' + str(i+1) + ']')
    if i+1 in variant_ids:
        print(idx)
        df_temp_plan = df_rownum_outliers[df_rownum_outliers['PLAN_ID'] == idx]
        df_temp_plan = df_temp_plan.sort_values(by='ID', ascending=True)
    else:
        print(idx)
        df_temp_plan = df[df['SQL_ID'] == idx]
        df_temp_plan = df_temp_plan.sort_values(by='ID', ascending=True)
    
    print(actual_sqls[i])
    df_plan = df[df['SQL_ID'] == actual_sqls[i]]
    df_plan = df_plan.sort_values(by='ID', ascending=True)
    
    # Builds Trees
    tree_temp_plan = PlanTreeModeller.build_tree(df=df_temp_plan)
    tree_plan = PlanTreeModeller.build_tree(df=df_plan)
    
    PlanTreeModeller.tree_compare(tree1=tree_temp_plan, 
                                  tree2=tree_plan, 
                                  df1=df_temp_plan, 
                                  df2=df_plan)